{exp:channel:categories style="linear" category_group="1" show_empty="no"}
	{if segment_2=='' OR segment_2=='index' OR segment_2=='por-escuela' OR segment_2=='P20' OR segment_2=='P40' OR segment_2=='P60' OR segment_2=='P80' OR segment_2=='P100' OR segment_2=='P120' OR segment_2=='P140' OR segment_2=='P160'}
		<dd class="belcorp">
			<a href="{site_url}catalogo/por-escuela/{category_url_title}" 
			{if segment_3==category_url_title}
			class="selected"
			{/if}
			>{category_name}</a>
		</dd>  
	{/if}	
{/exp:channel:categories}

{exp:channel:categories style="linear" category_group="4" show_empty="no"}
	{if segment_2=='innovacion'}
		{if parent_id=='19'}
		<dd class="belcorp">
			<a href="{site_url}catalogo/{segment_2}/{category_url_title}"
			{if segment_3==category_url_title}
			class="selected"
			{/if}
			>{category_name}</a>
		</dd>  
		{/if}
	{/if}
	
	{if segment_2=='ventas'}
		{if parent_id=='28'}
		<dd class="belcorp">
			<a href="{site_url}catalogo/{segment_2}/{category_url_title}"
			{if segment_3==category_url_title}
			class="selected"
			{/if}
			>{category_name}</a>
		</dd>  
		{/if}
	{/if}
	
	{if segment_2=='negocios'}
		{if parent_id=='29'}
		<dd class="belcorp">
			<a href="{site_url}catalogo/{segment_2}/{category_url_title}"
			{if segment_3==category_url_title}
			class="selected"
			{/if}
			>{category_name}</a>
		</dd>  
		{/if}
	{/if}
	
	{if segment_2=='liderazgo-cultura'}
		{if parent_id=='25'}
		<dd class="belcorp">
			<a href="{site_url}catalogo/{segment_2}/{category_url_title}"
			{if segment_3==category_url_title}
			class="selected"
			{/if}			
			>{category_name}</a>
		</dd>  
		{/if}
	{/if}		
		
{/exp:channel:categories}  