						{exp:channel:categories style="linear" category_group="15" show_empty="yes"}
								{if category_id!='164'}
								<dd>
									<a href="{site_url}catalogo/{if segment_2!=''}{last_segment}/{/if}{category_url_title}"
										{if segment_2=='category_url_title'}
										class="selected"
										{/if}		
										{if segment_3==category_url_title}
										class="selected"
										{/if}						
									>{category_name}
									</a>
								</dd>
								{/if}			
						{/exp:channel:categories}