{if segment_2!='liderazgo-cultura'}

	
{exp:channel:categories style="linear" category_group="7" show_empty="no"}
	
	{if segment_2=='' OR segment_2=='index' OR segment_2=='por-escuela'}
		<dd class="belcorp">
			<a href="{site_url}catalogo/por-escuela/{category_url_title}" 
			{if segment_3==category_url_title}
			class="selected"
			{/if}
			>{category_name}</a>
		</dd>  
	{/if}	
{/exp:channel:categories}

{exp:channel:categories style="linear" category_group="5" show_empty="no"}
		{if segment_2=='innovacion'}
			{if parent_id=='65'}
			<dd class="belcorp">
				<a href="{site_url}catalogo/{segment_2}/{category_url_title}"
				{if segment_3==category_url_title}
				class="selected"
				{/if}				
				>{category_name}</a>
			</dd>  
			{/if}
		{/if}
		
		{if segment_2=='ventas'}
			{if parent_id=='41'}
			<dd class="belcorp">
				<a href="{site_url}catalogo/{segment_2}/{category_url_title}"
				{if segment_3==category_url_title}
				class="selected"
				{/if}
				{if category_url_title=='marcas'}
				style="padding-left:3rem;"
				{/if}				
				>{category_name}</a>
			</dd>  
			{/if}
		{/if}
		
		{if segment_2=='negocios'}
			{if parent_id=='68'}
			<dd class="belcorp">
				<a href="{site_url}catalogo/{segment_2}/{category_url_title}"
				{if segment_3==category_url_title}
				class="selected"
				{/if}				
				>{category_name}</a>
			</dd>  
			{/if}
		{/if}		
			
	{/exp:channel:categories}  


{if:else}
		
		<dd class="belcorp">
			<a href="">PRINCIPIOS</a>
		</dd> 
		{exp:channel:categories style="linear" category_group="5" show_empty="no"}
			{if parent_id=='72'}
			<dd class="belcorp">
				{if segment_3!=category_url_title}
				<a class="sub_category" href="{site_url}catalogo/{segment_2}/{category_url_title}">
				{if:else}
				<a class="sub_category selected" href="{site_url}catalogo/{segment_2}/{category_url_title}">
				{/if}	
				{category_name}</a>
			</dd>  
			{/if}
		{/exp:channel:categories} 

		
		<dd class="belcorp">
			<a href="">VALORES</a>
		</dd> 
		{exp:channel:categories style="linear" category_group="5" show_empty="no"}
			{if parent_id=='73'}		
			<dd class="belcorp">
				{if segment_3!=category_url_title}
				<a class="sub_category" href="{site_url}catalogo/{segment_2}/{category_url_title}">
				{if:else}
				<a class="sub_category selected" href="{site_url}catalogo/{segment_2}/{category_url_title}">
				{/if}	
				{category_name}</a>
			</dd>  
			{/if}
		{/exp:channel:categories} 
{/if}