<!--QUE HACE LA UCB POR TI-->
{exp:channel:entries channel="secciones" limit="1" disable="pagination" entry_id="192" dynamic="off"}
	{if contenido-seccion}	
		{contenido-seccion}
	{/if}
{/exp:channel:entries}

<!--SOLICITUD DE CAPACITACION-->
{exp:channel:entries channel="secciones" limit="1" disable="pagination" entry_id="282" dynamic="off"}
	<h2 id="navsolicitud-seccion">Solicitud de Capacitación</h2>
	{if contenido-seccion}	
		{contenido-seccion}
	{/if}
{/exp:channel:entries}

<!--POLITICA DE CAPACITACION-->
{exp:channel:entries channel="secciones" limit="1" disable="pagination" entry_id="283" dynamic="off"}
	<h2 id="navpolitica-seccion">Política de Capacitación</h2>
	{if contenido-seccion}	
		{contenido-seccion}
	{/if}
{/exp:channel:entries}

<!--VIDEO-->
{exp:channel:entries channel="secciones" limit="1" disable="pagination" entry_id="284" dynamic="off"}
	<h2 id="navvideo-seccion">Video</h2>
	{if contenido-seccion}	
		{contenido-seccion}
	{/if}
{/exp:channel:entries}