<div class="fixed_menu_details large-3 columns hide-for-small hide-for-medium right_padding">
              <a href="#" id="start_course" class="explore button expand">COMENZAR</a>
              <div class="details_info">
                <h6>DETALLES</h6>
                <hr>
                <div class="details_info_item">
                  <p>Tiempo de duración:</p>
                  <span>1:30 min</span>
                </div>
                <div class="details_info_item">
                  <p>Lecciones:</p>
                  <span>4</span>
                </div>
                <div class="details_info_item">
                  <p>Videos:</p>
                  <span>2</span>
                </div>
                <div class="details_info_item">
                  <p>Quiz:</p>
                  <span>1</span>
                </div>
              </div>
            </div>