              <div class="instructor_info">
                <h6>INSTRUCTOR</h6>
                
                <div class="row">
                	<div class="large-4 columns clearfix">
                		<img src="{embed:imagen_instructor}" alt="{embed:instructor}">
                	</div>
                	<div class="large-8 columns">
                		<h6 class="text-left">{embed:instructor}</h6>
                	</div>
                </div>	
                <div class="row">
                	<div class="large-12 columns">
                		<p class="text-left">{embed:descripcion_instructor}</p>
                	</div>             	
                </div>
     
              </div> 