              <div class="details_info">
                <h6>DETALLES</h6>
                
                <div class="row">
                	<div class="large-12 columns">
                		<p>
                			{embed:tiempo-duracion-curso} min<br>
							<span>Tiempo de duración</span>
                		</p>
                	</div>
                	<div class="large-12 columns">
                		<div class="row">
                			<div class="large-4 medium-4 small-12 columns">
			                	<p>
		                			{embed:cantidad-modulos-cursos}<br>
									<span>Módulos</span>
		                		</p>
                			</div>
                			<div class="large-4 medium-4 small-12 columns">
			                	<p>
		                			{embed:cantidad-lecciones-curso}<br>
									<span>Lecciones</span>
		                		</p>
                			</div>                			
                			<div class="large-4 medium-4 small-12 columns">
			                	<p>
		                			{embed:cantidad-video-curso}<br>
									<span>Videos</span>
		                		</p>
                			</div>  
                		</div>	
                	</div>                	
                </div>
     
              </div>
                           