              <div class="details_info">
                <h6>DETALLES</h6>
                <hr>
                <div class="details_info_item">
                  <p>Tiempo de duración: <span>{embed:tiempo-duracion-curso} min</span></p>
                </div>
                <div class="details_info_item">
                  <p>Cantidad de Módulos: <span>{embed:cantidad-modulos-cursos}</span></p>
                </div>  
                <div class="details_info_item">
                  <p>Lecciones: <span>{embed:cantidad-lecciones-curso}</span></p>
                </div>
                <div class="details_info_item">
                  <p>Videos: <span>{embed:cantidad-video-curso}</span></p>
                </div>
              </div>