{exp:channel:entries channel="secciones" limit="1" disable="pagination" entry_id="234" dynamic="off"}
                  <div class="row hide-for-small">
                    <div class="large-12 columns">
	                  <div id="new_header">
	                  	<div class="new_header_title bg_{segment_2}">
		                  	<div class="row">
							  	<div class="large-12 columns">
					                <h2>{title}</h2>
					                <!--<h6>{texto-descriptivo-seccion}</h6>-->
							  	</div>
		                  	</div>
	                  	</div>
	                  	<div class="new_header_content">		
					        <div class="row">
							  	<div class="large-12 columns">   
							  	
						          	<div class="flex-vide">
						          		<p><iframe width="100%" height="420" src="//www.youtube.com/embed/q-eMePtxATw" frameborder="0" allowfullscreen=""></iframe></p>  	
						          	</div>
					  	  
							  	
								  	{contenido-seccion}
								  	
								  	<p><a href="https://performancemanager42.successfactors.com/login?company=Belcorp" id="create_course" class="publish button" style="margin-top:1.5rem;">VE A TU SUMMA</a></p>
								
								 	
							  	</div>
		                  	</div>
                        </div>
                      </div>                      
                    </div>
                  </div>
{/exp:channel:entries} 