{exp:channel:entries channel="escuelas" limit="1" disable="categories|member_data|pagination" entry_id="{embed:seccion}" dynamic="off"}

                  <div class="row hide-for-small">
                    <div class="large-12 columns">
                      
	                  <div id="new_header">
	                  	<div class="new_header_title {if segment_2=='ventas' OR  segment_2=='negocios' OR  segment_2=='liderazgo-cultura' OR  segment_2=='innovacion'}bg_{segment_2}{if:else}bg_todos {/if}">
		                  	<div class="row">
							  	<div class="large-12 columns">
				                    {if segment_2!='index' AND segment_2!='' AND segment_2!='por-escuela'}
				                    	<h6>ESCUELA DE</h6>
				                    {/if}	
					                <h2>{title}</h2>
							  	</div>
		                  	</div>
	                  	</div>
	                  	<div class="new_header_content">		
					        <div class="row">
							  	<div class="large-12 columns">     
							  	<div class="slideshow-wrapper">
      								<div class="preloader"></div>   		             
			                        <ul class="example-orbit-content" data-options="pause_on_hover:false; timer: false; timer_speed:5000;"  data-orbit>
			                         <li data-orbit-slide="headline-1">
				                        <div class="row">
				                          <div class="medium-10 medium-centered large-10 large-centered columns">
				                            <div class="row">
											  {if imagen_slide1_escuela}			                            
				                              <div class="large-4 columns">
				                              	{imagen_slide1_escuela}
				                              	<img src="{image:url:small}" alt="{title}">
				                              	{/imagen_slide1_escuela}
				                              </div>
				                              {/if}
				                              <div class="large-8 columns">
				                                <h5>{descripcion_slide1_escuela}</h5>
				                              </div>
				                            </div>
				                          </div>
				                        </div>
			                          </li>
			                         
			                         {if descripcion_slide2_escuela} 
			                          <li data-orbit-slide="headline-1">
				                        <div class="row">
				                          <div class="medium-10 medium-centered large-10 large-centered columns">
				                            <div class="row">
				                              <div class="large-8 columns">
				                                <h5>{descripcion_slide2_escuela}</h5>
				                              </div>
				                              {if imagen_slide2_escuela}
					                              <div class="large-4 columns">
					                              	{imagen_slide2_escuela}
					                              	<img src="{image:url:small}" alt="{title}">
					                              	{/imagen_slide2_escuela}
					                              </div>
				                              {/if}
				                            </div>
				                          </div>
				                        </div>
			                          </li> 
			                          {/if} 
			                          
			                          {if descripcion_slide3_escuela}
			                          <li data-orbit-slide="headline-1">
				                        <div class="row">
				                          <div class="medium-10 medium-centered large-10 large-centered columns">
				                            <div class="row">
				                              <div class="large-4 columns">
				                              	{imagen_slide3_escuela}
				                              	<img src="{image:url:small}" alt="{title}">
				                              	{/imagen_slide3_escuela}
				                              </div>
				                              <div class="large-8 columns">
				                                <h5>{descripcion_slide3_escuela}</h5>
				                              </div>
				                            </div>
				                          </div>
				                        </div>
			                          </li>  
			                          {/if}                                                  
			                        </ul>
			                        </div>  
							  	</div>
		                  	</div>
                        </div>
                      </div>                      
                    </div>
                  </div>
{/exp:channel:entries}                  