    <section id="footer">
      <div class="row">
        <div class="index_padding large-12 columns">
          <div class="row">
            <div class="large-12 columns">
              <div class="text-center">
                <img src="{site_url}img/logo_footer.png" alt="">
              </div>
            </div>
          </div>
          <div class="hide-for-small row">
            <div class="large-12 columns">
              <p>© Derechos Reservados por BELCORP</p>
            </div>
          </div>
        </div>
      </div>
    </section>
<!--     <footer>
      <div class="row">
        <div class="large-12 columns">
          <div class="text-left">
            <p>© Derechos Reservados por BELCORP</p>
          </div>
        </div>
      </div>
    </footer> -->
    
    <script src="{site_url}js/jquery.js"></script>
    <script src="{site_url}js/expanding.js"></script>
    <script src="{site_url}js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
    <script>
    $(document).ready(function(){

      $( "#down" ).click(function( event ) {
        event.preventDefault();
          $("html, body").animate({scrollTop:$("#destacados").offset().top});
      });

      $( "#destacados_menu" ).click(function( event ) {
        event.preventDefault();
          $("html, body").animate({scrollTop:$("#destacados").offset().top});
      });

      $( "#la_ucb_menu" ).click(function( event ) {
        event.preventDefault();
          $("html, body").animate({scrollTop:$("#la_ucb").offset().top});
      });

      $( "#escuelas_menu" ).click(function( event ) {
        event.preventDefault();
          $("html, body").animate({scrollTop:$("#escuelas_title").offset().top});
      });

      $("#school_panel_trigger").on("click", function () {
        if($("#school_panel").hasClass("activex")){
          $("#school_panel").slideUp();
          $("#school_panel").removeClass("activex");
          $(".icon-arrow-down").css('-webkit-transform','rotate(180deg)'); 
        }
        else {
          $("#school_panel").slideDown();
          $("#school_panel").addClass("activex");
          $(".icon-arrow-down").css('-webkit-transform','rotate(0deg)'); 
        }
      });

    });
    </script>
  </body>
</html>
