              <div id="footer">
		        <div class="row">
		          <div class="medium-12 large-12 columns">  
		            <div class="row">
		              <div class="medium-12 large-5 columns">
		                <p>© Derechos Reservados por BELCORP</p>
		              </div>
		              <div class="hide-for-small hide-for-medium medium-7 large-7 columns">
		                  <p class="text-right">Av. Canaval y Moreyra 480, San Isidro Central Telefónica: 211-3300</p>
		              </div>
		            </div>
		          </div>
		        </div>
		      </div>