    <section id="footer">
      <div class="row">
        <div class="large-12 columns">
          <div class="text-center">
            <img src="{site_url}img/logo_footer.png" alt="">
          </div>
        </div>
      </div>
      <div class="hide-for-small row">
        <div class="medium-5 large-5 columns">
          <p>© Derechos Reservados por BELCORP</p>
        </div>
        <div class="hide-for-small hide-for-medium medium-7 large-7 columns">
          <p class="text-right">Av. Canaval y Moreyra 480, San Isidro Central Telefónica: 211-3300</p>
        </div>
      </div>
    </section>
    
    <script src="{site_url}js/jquery.js"></script>
    <script src="{site_url}js/expanding.js"></script>
    <script src="{site_url}js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
    <script>
    $(document).ready(function(){      
      $("#school_panel_trigger").on("click", function () {
        if($("#school_panel").hasClass("activex")){
          $("#school_panel").slideUp();
          $("#school_panel").removeClass("activex");
          $(".icon-arrow-down").css('-webkit-transform','rotate(180deg)'); 
        }
        else {
          $("#school_panel").slideDown();
          $("#school_panel").addClass("activex");
          $(".icon-arrow-down").css('-webkit-transform','rotate(0deg)'); 
        }
      });

    });
    </script>
  </body>
</html>
