    <section id="footer">
      <div class="row">
        <div class="index_padding large-12 columns">
          <div class="row">
            <div class="large-12 columns">
              <div class="text-center">
                <img src="{site_url}img/logo_footer.png" alt="">
              </div>
            </div>
          </div>
          <div class="hide-for-small row">
            <div class="large-12 columns">
              <p>© Derechos Reservados por BELCORP</p>
            </div>
          </div>
        </div>
      </div>
    </section>
<!--     <footer>
      <div class="row">
        <div class="large-12 columns">
          <div class="text-left">
            <p>© Derechos Reservados por BELCORP</p>
          </div>
        </div>
      </div>
    </footer> -->
    
    <script src="{site_url}js/jquery.js"></script>
    <script src="{site_url}js/expanding.js"></script>
    <script src="{site_url}js/foundation.min.js"></script>
    <script src="{site_url}js/foundation/foundation.orbit.js"></script>
    <script src="{site_url}js/waypoints.min.js"></script>
    <script>
      $(document).foundation();
    </script>
    <script>
    $(document).ready(function(){
    
      //CONVENIOS
      $( "#nav-postgrados" ).click(function( event ) {
        event.preventDefault();
          $("html, body").animate({scrollTop:0}, "slow");
      });    
      $( "#nav-idiomas" ).click(function( event ) {
        event.preventDefault();
          $("html, body").animate({scrollTop:0}, "slow");
      });    
      $( "#nav-tecnologia" ).click(function( event ) {
        event.preventDefault();
          $("html, body").animate({scrollTop:0}, "slow");
      });    
      $( "#nav-otros" ).click(function( event ) {
        event.preventDefault();
          $("html, body").animate({scrollTop:0}, "slow");
      });                      
    
	  //HOMEPAGE
	  
      $( "#ucb_menu" ).click(function( event ) {
        event.preventDefault();
          $("html, body").animate({scrollTop:0}, "slow");
          $("#navbar .inline-list li a").removeClass("active");
          $(this).addClass("active");
      });

      $( "#destacados_menu" ).click(function( event ) {
        event.preventDefault();
          $("html, body").animate({scrollTop:$("#destacados").offset().top -78});
          $("#navbar .inline-list li a").removeClass("active");
          $(this).addClass("active");
      });

      $( "#escuelas_menu" ).click(function( event ) {
        event.preventDefault();
          $("html, body").animate({scrollTop:$("#escuelas").offset().top -78});
          $("#navbar .inline-list li a").removeClass("active");
          $(this).addClass("active");
      });

      $( "#summa_menu" ).click(function( event ) {
        event.preventDefault();
          $("html, body").animate({scrollTop:$("#summa").offset().top -78});
          $("#navbar .inline-list li a").removeClass("active");
          $(this).addClass("active");
      });

      $( "#convenios_menu" ).click(function( event ) {
        event.preventDefault();
          $("html, body").animate({scrollTop:$("#convenios").offset().top -78});
          $("#sub_navbar .inline-list li a").removeClass("active");
          $(this).addClass("active");
      });

      $( "#contacto_menu" ).click(function( event ) {
        event.preventDefault();
          $("html, body").animate({scrollTop:$("#contacto").offset().top -78});
          $("#navbar .inline-list li a").removeClass("active");
          $(this).addClass("active");
      });

      $("#school_panel_trigger").on("click", function () {
        if($("#school_panel").hasClass("activex")){
          $("#school_panel").slideUp();
          $("#school_panel").removeClass("activex");
          $(".icon-arrow-down").css('-webkit-transform','rotate(180deg)'); 
        }
        else {
          $("#school_panel").slideDown();
          $("#school_panel").addClass("activex");
          $(".icon-arrow-down").css('-webkit-transform','rotate(0deg)'); 
        }
      });

    });
    $(function() {
          $(".shadow_trigger").waypoint(function (d) {
            return "down" === d ? $("#sub_navbar").addClass("shadow_navbar") : $("#sub_navbar").removeClass("shadow_navbar");
          });
    });
    </script>
    <!-- Qualaroo -->
    <script type="text/javascript">

      var _kiq = _kiq || [];

      (function(){

        setTimeout(function(){

        var d = document, f = d.getElementsByTagName('script')[0], s = d.createElement('script'); s.type = 'text/javascript';

        s.async = true; s.src = '//s3.amazonaws.com/ki.js/42839/asI.js'; f.parentNode.insertBefore(s, f);

        }, 1);

      })();

    </script>
    <!-- Crazy Egg -->
    <script type="text/javascript">

    setTimeout(function(){var a=document.createElement("script");

    var b=document.getElementsByTagName("script")[0];

    a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0013/3205.js?"+Math.floor(new Date().getTime()/3600000);

    a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);

    </script>
    
	<!--Analytics-->
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-39228167-1']);
    _gaq.push(['_trackPageview']);
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; 

    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>


  </body>
</html>