
       
   {embed="includes/menu"}
    
    <script src="{site_url}js/jquery.js"></script>
    <script src="{site_url}js/expanding.js"></script>
    <script src="{site_url}js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
    <script>
    $(document).ready(function(){

      $("#more_courses").on("click", function(){
        $("#courses_hidden").css("display","block");
        $(this).css("display","none");
      });


      $("#school_panel dd a").on("click", function(){
        $("#school_panel dd a").removeClass("selected");
        $(this).addClass("selected");
        var redireccion = $(this).attr('href');
        window.location.replace(redireccion);
      });


      $("#school_panel_trigger").on("click", function () {
        if($("#school_panel").hasClass("activex")){
          $("#school_panel").slideUp();
          $("#school_panel").removeClass("activex");
          $(".icon-arrow-down").css('-webkit-transform','rotate(180deg)'); 
        }
        else {
          $("#school_panel").slideDown();
          $("#school_panel").addClass("activex");
          $(".icon-arrow-down").css('-webkit-transform','rotate(0deg)'); 
        }
      });

      $("#lesson_panel_trigger").on("click", function () {
        if($("#lesson_panel").hasClass("activex")){
          $("#lesson_panel").slideUp();
          $("#lesson_panel").removeClass("activex");
          $("#menu_arrow").css('-webkit-transform','rotate(180deg)'); 
        }
        else {
          $("#lesson_panel").slideDown();
          $("#lesson_panel").addClass("activex");
          $("#menu_arrow").css('-webkit-transform','rotate(0deg)'); 
        }
      });
      
      $("#lesson_panel dd a").on("click", function(){
        var redireccionaurl = $(this).attr('href');
		window.location.replace(redireccionaurl);
      }); 

    });
	</script>
	
	{if segment_2=='curso'}
    <script>
    /* * * DISQUS * * */
    var disqus_shortname = 'belcorp'; // required: replace example with your forum shortname
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
	    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
	    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
    </script>   
    {/if} 
  </body>
</html>
       