<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Belcorp</title>
    <link rel="stylesheet" href="{site_url}css/foundation.css" />
    <link rel="stylesheet" href="{site_url}css/custom.css">
    <script src="{site_url}js/modernizr.js"></script>
    <script type="text/javascript" src="//use.typekit.net/gqp3hja.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    {if segment_2=='foro'}
    	<link href="{path=css/_ee_channel_form_css}" type="text/css" rel="stylesheet" media="screen">
    {/if}
  </head>
  <body>
    