        <!-- close the off-canvas menu -->
        <a class="exit-off-canvas"></a>

      </div>
    </div>

    <section class="show-for-medium-up" id="menu">
      <a href="{site_url}">
        <img src="{site_url}img/logo_courses.png" alt="">  
      </a>
      <div class="menu-nav">
        <ul class="nav">
          <li>
            <span data-tooltip data-options="disable_for_touch:true;touch_close_text:'close me'" class="has-tip tip-right {if segment_1!='catalogo'} active-menu {/if}" title="CATÁLOGO UCB">
              <a href="{site_url}catalogo">
                <span class="icon-star"></span>
              </a>
            </span>
          </li>
          <!--<li>
            <span data-tooltip data-options="disable_for_touch:true;touch_close_text:'close me'" class="has-tip tip-right {if segment_1!='summa'} active-menu {/if}" title="SUMMA">
              <a href="{site_url}seccion/interno/summa-a-tu-talento">
                <span class="icon-plus"></span>
              </a>
            </span> 
          </li>-->
          <li>
            <span data-tooltip data-options="disable_for_touch:true;touch_close_text:'close me'" class="has-tip tip-right {if segment_1!='/seccion/convenios'} active-menu {/if}" title="CONVENIOS">
              <a href="{site_url}seccion/convenios">
                <span class="icon-users"></span>
              </a>
            </span> 
          </li>
<!--           <li>
            <span data-tooltip data-options="disable_for_touch:true;touch_close_text:'close me'" class="has-tip tip-right {if segment_1!='foro'} active-menu {/if}" title="FORO">
              <a href="{site_url}foro">
                <span class="icon-bubbles"></span>
              </a>
            </span> 
          </li> -->
          <li>
            <span data-tooltip data-options="disable_for_touch:true;touch_close_text:'close me'" class="has-tip tip-right {if segment_1!='contactanos'} active-menu {/if}" title="CONTACTO">
              <a href="{site_url}contactanos">
                <span class="icon-mail"></span>
              </a>
            </span> 
          </li>
        </ul>
        <ul class="social">
          <li>
            <span data-tooltip data-options="disable_for_touch:true;touch_close_text:'close me'" class="has-tip tip-right" title="FACEBOOK">
              <a href="https://www.facebook.com/aprendeconlaucb" target="_blank">
                <span class="icon-facebook"></span>
              </a>
            </span> 
          </li>
          <li>
            <span data-tooltip data-options="disable_for_touch:true;touch_close_text:'close me'" class="has-tip tip-right" title="TWITTER">
              <a href="https://twitter.com/ubelcorp" target="_blank">
                <span class="icon-twitter"></span>
              </a>
            </span> 
          </li>
        </ul>
      </div>
    </section>