        <!-- Off Canvas Menu -->
        <aside class="left-off-canvas-menu">
            <!-- whatever you want goes here -->
          <section id="menu">
            <a href="{site_url}">
              <img src="{site_url}img/logo_courses.png" alt="">  
            </a>
            <div class="menu-nav">
              <ul class="nav">
                <li>
                  <span data-tooltip class="has-tip tip-right" title="CATÁLOGO">
                    <a href="{site_url}catalogo">
                      <span class="icon-grid"></span>
                    </a>
                  </span>
                </li>
                <li>
                  <span data-tooltip class="has-tip tip-right" title="RECURSOS">
                    <a href="{site_url}recursos">
                      <span class="icon-book"></span>
                    </a>
                  </span>
                </li>
                <li>
                  <span data-tooltip class="has-tip tip-right" title="FEEDBACK">
                    <a href="{site_url}foro">
                      <span class="icon-bubbles"></span>
                    </a>
                  </span> 
                </li>
              </ul>
            </div>
          </section>
        </aside>