<section id="navbar">
	<div class="row">
		<div class="small-12 medium-12 large-12 columns">
			<div class="row">
				<div class="small-12 medium-3 large-2 columns">
					<a href="{site_url}"><img src="{site_url}img/logo_header.png" alt=""></a> 
				</div>
				<div class="small-12 medium-6 large-7 columns">
					<div class="row">
						<div class="small-10 medium-10 large-12 large-centered columns">
							<ul class="inline-list">
					            <li>
					            	{if segment_1!='seccion'}
					              	<a id='ucb_menu' href='#'>UCB</a>
					              	{if:else}
					              	<a href='{site_url}#ucb_menu'>UCB</a>
					              	{/if}
					            </li>
					            <li>
					            	{if segment_1!='seccion'}
					              	<a id="destacados_menu" href="#">Destacados</a>
					              	{if:else}
					              	<a href='{site_url}#destacados'>Destacados</a>
					              	{/if}
					            </li>
					            <li>
					            	{if segment_1!='seccion'}
									<a id="escuelas_menu" href="#">Escuelas</a>
									{if:else}
					              	<a href='{site_url}#escuelas'>Escuelas</a>
					              	{/if}
					            </li>
					            <li>
					              	{if segment_1!='seccion'}
					              	<a id="summa_menu" href="#">Convenios</a>
					              	{if:else}
					              	<a href='{site_url}#convenios'>Convenios</a>
					              	{/if}
					            </li>
					            <li><a id="contacto_menu" href="#">Contáctanos</a></li>
					          </ul>
						</div>
					</div>		
				</div>		
				<div class="small-12 medium-3 large-2 columns">
					<a href="{site_url}catalogo/temas" class="button">Ingresa a la UCB</a>
				</div>
			</div>
		</div>		
	</div>
</section>
