<div class="row">
	<div class="large-10 columns">
		<ul class="inline-list">
			<li><a href="{site_url}catalogo/ventas" {if segment_2=='ventas' OR embed:nombre-categoria=='Ventas'}class="active"{/if}>ESCUELA DE VENTAS</a></li>
			<li><a href="{site_url}catalogo/negocios" {if segment_2=='negocios' OR embed:nombre-categoria=='Negocios'}class="active"{/if}>ESCUELA DE NEGOCIOS</a></li>
			<li><a href="{site_url}catalogo/liderazgo-cultura" {if segment_2=='liderazgo-cultura' OR embed:nombre-categoria=='Liderazgo y Cultura'}class="active"{/if}>ESCUELA DE LIDERAZGO Y CULTURA</a></li>
			<li><a href="{site_url}catalogo/innovacion" {if segment_2=='innovacion' OR embed:nombre-categoria=='Innovación'}class="active"{/if}>ESCUELA DE INNOVACIÓN</a></li>
		</ul>                    
	</div>
</div>