        <!-- Off Canvas Menu -->
        <aside class="left-off-canvas-menu">
            <!-- whatever you want goes here -->
          <section id="menu">
            <a href="index.html">
              <img src="img/logo_courses.png" alt="">  
            </a>
            <div class="menu-nav">
              <ul class="nav">
                <li>
                  <span data-tooltip class="has-tip tip-right" title="CATÁLOGO UCB">
                    <a href="{site_url}catalogo">
                      <span class="icon-grid"></span>
                    </a>
                  </span>
                </li>
                <li>
                  <span data-tooltip class="has-tip tip-right" title="CATÁLOGO EXTERNO">
                    <a href="{site_url}contenidos">
                      <span class="icon-book"></span>
                    </a>
                  </span>
                </li>
                <li>
                  <span data-tooltip class="has-tip tip-right" title="FORO">
                    <a href="{site_url}foro">
                      <span class="icon-bubbles"></span>
                    </a>
                  </span> 
                </li>
                <li>
                  <span data-tooltip class="has-tip tip-right" title="CONTACTO">
                    <a href="{site_url}contactanos">
                      <span class="icon-mail"></span>
                    </a>
                  </span> 
                </li>
              </ul>
              <ul class="social">
                <li>
                  <span data-tooltip class="has-tip tip-right" title="FACEBOOK">
                    <a href="https://www.facebook.com/aprendeconlaucb" target="_blank">
                      <span class="icon-facebook"></span>
                    </a>
                  </span> 
                </li>
                <li>
                  <span data-tooltip class="has-tip tip-right" title="TWITTER">
                    <a href="https://twitter.com/ubelcorp" target="_blank">
                      <span class="icon-twitter"></span>
                    </a>
                  </span> 
                </li>
              </ul>
            </div>
          </section>
        </aside>