<div class="row">
	<div class="large-10 columns">
		<ul class="inline-list">
			<li><a href="{site_url}catalogo/ventas" {if segment_2=='ventas'}class="active"{/if}>ESCUELA DE VENTAS</a></li>
			<li><a href="{site_url}catalogo/negocios" {if segment_2=='negocios'}class="active"{/if}>ESCUELA DE NEGOCIOS</a></li>
			<li><a href="{site_url}catalogo/liderazgo-cultura" {if segment_2=='liderazgo-cultura'}class="active"{/if}>ESCUELA DE LIDERAZGO Y CULTURA</a></li>
			<li><a href="{site_url}catalogo/innovacion" {if segment_2=='innovacion'}class="active"{/if}>ESCUELA DE INNOVACIÓN</a></li>
		</ul>                    
	</div>
</div>