
    <section id="navbar">
      <div class="row">
        <div class="large-6 columns">
          <a href="{site_url}">
            <img src="{site_url}img/logo_header.png" alt="">
          </a>      
        </div>
        <div class="large-6 columns">
          <div class="text-right">
            <a href="{site_url}catalogo/todos">Ingresa a la universidad <img src="{site_url}img/enter_arrow.png" alt=""></span>
          </div>
        </div>
      </div>
    </section>

    <section id="sub_navbar">      
      <div class="row">
        <div class="large-9 large-centered columns">
          <ul class="inline-list">
            <li>
              <a id="ucb_menu active" href="{site_url}">UCB</a>
            </li>
            <li>
              <a id="destacados_menu" href="#">Cursos y Tendencias</a>
            </li>
            <li>
              <a id="escuelas_menu" href="#">Escuelas</a>
            </li>
            <li>
              <a id="summa_menu" href="#">Summa</a>
            </li>
            <li>
              <a id="convenios_menu" href="#">Convenios</a>
            </li>
            <li>
              <a id="contactanos_menu" href="{site_url}contactanos/institucional">Contáctanos</a>
            </li>
          </ul>
        </div>
      </div>
    </section>