        <!-- close the off-canvas menu -->
        <a class="exit-off-canvas"></a>

      </div>
    </div>

    <section class="show-for-medium-up" id="menu">
      <a href="{site_url}">
        <img src="{site_url}img/logo_courses.png" alt="">  
      </a>
      <div class="menu-nav">
        <ul class="nav">
          <li>
            <span data-tooltip class="has-tip tip-right {if segment_1!='catalogo'} active-menu {/if}" title="CATÁLOGO">
              <a href="{site_url}catalogo">
                <span class="icon-grid"></span>
              </a>
            </span>
          </li>
          <li>
            <span data-tooltip class="has-tip tip-right {if segment_1!='contenidos'} active-menu {/if}" title="CONTENIDOS">
              <a href="{site_url}contenidos">
                <span class="icon-book"></span>
              </a>
            </span>
          </li>
          <li>
            <span data-tooltip class="has-tip tip-right {if segment_1!='feedback'} active-menu {/if}" title="FEEDBACK">
              <a href="{site_url}feedback">
                <span class="icon-bubbles"></span>
              </a>
            </span> 
          </li>
          <li>
            <span data-tooltip class="has-tip tip-right {if segment_1!='contactanos'} active-menu {/if}" title="CONTACTO">
              <a href="{site_url}contactanos">
                <span class="icon-mail"></span>
              </a>
            </span> 
          </li>
        </ul>
        <ul class="social">
          <li>
            <span data-tooltip class="has-tip tip-right" title="FACEBOOK">
              <a href="https://www.facebook.com/fundacionbelcorp.biz" target="_blank">
                <span class="icon-facebook"></span>
              </a>
            </span> 
          </li>
          <li>
            <span data-tooltip class="has-tip tip-right" title="TWITTER">
              <a href="https://twitter.com/Fund_Belcorp" target="_blank">
                <span class="icon-twitter"></span>
              </a>
            </span> 
          </li>
        </ul>
      </div>
    </section>