                 
                  <div class="row">
                    {exp:channel:entries channel="cursos|tendencias" limit="20"  category="{embed:id_categoria}" dynamic="off"}

	                    <div class="medium-12 large-6 columns">
	                      <a href="{site_url}catalogo/curso/{url_title}">
	                        {categories limit="1"}
	                        <div class="course {category_url_title}">
	                        {/categories}
	                          <h5>{title}</h5>
	                          {if subttulo-curso}
                              <h6>{subttulo-curso}</h6>
                              {/if}
	                          <p>{descripcion-curso}</p>
	                          <div class="school">
								  <span>Ver Más »</span>
						      </div>
	                        </div>
	                      </a>
	                    </div>

  			              {paginate}  
  			              	{pagination_links}
  			              	<div class="medium-12 large-12 columns">
	  							 <div class="row">
	  				                <div class="large-12 large-centered columns vermas">
	  				                  <div class="more">                      
	  				                    <div class="text-center">
	  				                      {next_page}
	  				                      <a id="more_icon" href="{pagination_url}">
	                                </a>
	  				                      {/next_page}
	  				                    </div>
	  				                  </div>
	  				                </div>
	                            </div>
                            </div>
                        {/pagination_links}   
                      {/paginate} 
                      
                    {/exp:channel:entries}
                 </div>
