                <div class="large-3 columns hide-for-small hide-for-medium fixed_menu right_padding">

				<form method="post" action="{path='buscar/index'}" id="form_search">
				    {exp:super_search:search
				        {if segment_2 == "saved"}
				            search_id="{segment_3}"
				        {/if}
				    }
				        <input type="search" name="keywords" id="keywords" placeholder="BUSCAR">
                    <span class="icon-search"></span>
				    {/exp:super_search:search}
				</form>
                  
                  
                  
                  {if segment_1!='buscar'}
                  <dl class="accordion" data-accordion>
                    <dd>
                      <a id="school_panel_trigger" href="#school_panel">
                        ESCUELAS
                        <span id="menu_arrow" class="icon-arrow-down"></span>
                      </a>
                                      <div id="school_panel" class="activex">
                        <dl class="accordion" data-accordion>
                          <dd>
                            <a class="{if last_segment=='catalogo'}selected{/if}" href="{site_url}catalogo">TODAS</a>
                          </dd>
                          <dd class="belcorp">
                            <a href="{site_url}catalogo/belcorp" {if last_segment=='belcorp'}class="selected"{/if}>BELCORP</a>
                            <span class="icon-school"></span>
                          </dd>
                          <dd class="liderazgo">
                            <a href="{site_url}catalogo/liderazgo" {if last_segment=='liderazgo'}class="selected"{/if}>LIDERAZGO</a>
                            <span class="icon-school"></span>
                          </dd>
                          <dd class="ventas">
                            <a href="{site_url}catalogo/ventas" {if last_segment=='ventas'}class="selected"{/if}>VENTAS</a>
                            <span class="icon-school"></span>
                          </dd>
                          <dd class="comercial">
                            <a href="{site_url}catalogo/comercial" {if last_segment=='comercial'}class="selected"{/if}>COMERCIAL</a>
                            <span class="icon-school"></span>
                          </dd>
                          <!--<dd class="marcas">
                            <a href="{site_url}catalogo/marcas" {if last_segment=='marcas'}class="selected"{/if}>MARCAS</a>
                            <span class="icon-school"></span>
                          </dd>
                          <dd class="planeamiento">
                            <a href="{site_url}catalogo/planeamiento" {if last_segment=='planeamiento'}class="selected"{/if}>PLANEAMIENTO</a>
                            <span class="icon-school"></span>
                          </dd>
                          <dd class="innovacion">
                            <a href="{site_url}catalogo/innovacion" {if last_segment=='innovacion'}class="selected"{/if}>INNOVACIÓN</a>
                            <span class="icon-school"></span>
                          </dd>-->                      
                        </dl>
                 </div>
                    </dd>
                  </dl>
                 
                  <a href="{site_url}quieres-crear-un-curso" id="create_course" class="publish button expand">¿QUIERES CREAR UN CURSO?</a>
                  {/if}
                </div>
                <div class="large-3 columns hide-for-large">
                  <a href="{site_url}quieres-crear-un-curso" id="create_course" class="publish button expand">¿QUIERES CREAR UN CURSO?</a>              
                </div>