                <div class="large-3 columns hide-for-small hide-for-medium fixed_menu right_padding">

				{exp:search:simple_form channel="cursos|contenidos" form_id="form_search" status="open"  search_in="everywhere" result_page="buscar/index" no_result_page="buscar/no-resultados"}
				                <input type="search" name="keywords" id="keywords" placeholder="BUSCAR">
								<span class="icon-search"></span>
				{/exp:search:simple_form}
                  
                  
                  
                  {if segment_1!='buscar' AND segment_1!='seccion'}
                  <dl class="accordion" id="padding_accordion" data-accordion>

                    <dd>
                      <a id="school_panel_trigger" href="#school_panel">
                        ESCUELAS
                        <span id="menu_arrow" class="icon-arrow-down"></span>
                      </a>
                                      <div id="school_panel" class="activex">
                        <dl class="accordion" data-accordion>
                          <dd>
                            <a class="{if last_segment=='catalogo'}selected{/if}" href="{site_url}catalogo">TODAS</a>
                          </dd>
                          <dd class="belcorp">
                            <a href="{site_url}catalogo/belcorp" {if last_segment=='belcorp'}class="selected"{/if}>BELCORP</a>
                            <span class="icon-school"></span>
                          </dd>
                          <dd class="liderazgo">
                            <a href="{site_url}catalogo/liderazgo" {if last_segment=='liderazgo'}class="selected"{/if}>LIDERAZGO</a>
                            <span class="icon-school"></span>
                          </dd>
                          <dd class="ventas">
                            <a href="{site_url}catalogo/ventas" {if last_segment=='ventas'}class="selected"{/if}>VENTAS</a>
                            <span class="icon-school"></span>
                          </dd>
                          <dd class="comercial">
                            <a href="{site_url}catalogo/comercial" {if last_segment=='comercial'}class="selected"{/if}>COMERCIAL</a>
                            <span class="icon-school"></span>
                          </dd>                    
                        </dl>
                  </div>
                    </dd>
                  </dl>
                 {/if}
                  <a href="{site_url}quieres-crear-un-curso" id="create_course" class="publish button expand">¿QUIERES CREAR UN CURSO?</a>
                  
                  
                  
                </div>
                <div class="large-3 columns hide-for-large">
                  <a href="{site_url}quieres-crear-un-curso" id="create_course" class="publish button expand">¿QUIERES CREAR UN CURSO?</a>              
                </div>