                <div class="large-3 columns hide-for-small hide-for-medium fixed_menu right_padding">
                  {exp:search:simple_form channel="cursos|contenidos" form_id="form_search" status="open"  search_in="titles" result_page="buscar/index"}
                    <input type="search" name="keywords" id="keywords" placeholder="BUSCAR">
                    <span class="icon-search"></span>
                  {/exp:search:simple_form}
                  
                  {if segment_1!='buscar'}
                  <dl class="accordion" data-accordion>
                    <dd>
                      <a id="school_panel_trigger" href="#school_panel">
                        ESCUELAS
                        <span id="menu_arrow" class="icon-arrow-down"></span>
                      </a>
                      <div id="school_panel" class="activex">
                        <dl class="accordion" data-accordion>
                          <dd>
                            <a class="selected" href="{site_url}catalogo">TODAS</a>
                          </dd>
                          <dd class="belcorp">
                            <a href="{site_url}catalogo/belcorp">BELCORP</a>
                            <span class="icon-school"></span>
                          </dd>
                          <dd class="liderazgo">
                            <a href="{site_url}catalogo/liderazgo">LIDERAZGO</a>
                            <span class="icon-school"></span>
                          </dd>
                          <dd class="ventas">
                            <a href="{site_url}catalogo/ventas">VENTAS</a>
                            <span class="icon-school"></span>
                          </dd>
                          <dd class="marcas">
                            <a href="{site_url}catalogo/marcas">MARCAS</a>
                            <span class="icon-school"></span>
                          </dd>
                          <dd class="planeamiento">
                            <a href="{site_url}catalogo/planeamiento">PLANEAMIENTO</a>
                            <span class="icon-school"></span>
                          </dd>
                          <dd class="innovacion">
                            <a href="{site_url}catalogo/innovacion">INNOVACIÓN</a>
                            <span class="icon-school"></span>
                          </dd>                      
                        </dl>
                      </div>
                    </dd>
                  </dl>
                 
                  <a href="{site_url}quieres-crear-un-curso" id="create_course" class="publish button expand">¿QUIERES CREAR UN CURSO?</a>
                  {/if}
                </div>
                <div class="large-3 columns hide-for-large">
                  <a href="{site_url}quieres-crear-un-curso" id="create_course" class="publish button expand">¿QUIERES CREAR UN CURSO?</a>              
                </div>