          <div class="large-3 columns hide-for-small hide-for-medium fixed_menu right_padding">
          
				<form method="post" action="{path='buscar/index'}" id="form_search">
				    {exp:super_search:search
				        {if segment_2 == "saved"}
				            search_id="{segment_3}"
				        {/if}
				    }
				        <input type="search" name="keywords" id="keywords" placeholder="BUSCAR">
                    <span class="icon-search"></span>
				    {/exp:super_search:search}
				</form>
			
			{if last_segment=='ventas'}
				<a href="http://ucb.belcorp.biz/index.php/la-clave-certificacion" target="_blank" id="create_course" class="publish button expand">HERRAMIENTAS DE CERTIFICACIÓN</a><br>
			{/if}	
          
          
          	{if segment_1!='buscar'}
            <dl id="padding_accordion" class="accordion" data-accordion>
              <dd>
                <a id="school_panel_trigger" href="#school_panel">
                  SUBCATEGORIAS
                  <span id="menu_arrow" class="icon-arrow-down"></span>
                </a>
                <div id="school_panel" class="activex">
                        <dl class="accordion" data-accordion>
                          <dd>
                            <a class="#" href="{site_url}catalogo/{segment_2}">TODAS</a>
                          </dd>
                          {embed="includes/categorias-escuelas"}
           
                        </dl>
                 </div>
              </dd>
            </dl>
            <dl id="padding_accordion" class="accordion" data-accordion>
              <dd>
                <a id="school_panel_trigger" href="#school_panel">
                  TIPO DE CONTENIDO
                  <span id="menu_arrow" class="icon-arrow-down"></span>
                </a>
                <div id="school_panel" class="activex">
                        <dl class="accordion" data-accordion>
                          <dd class="belcorp">
                            <a href="#">TODOS</a>
                          </dd>
                          <dd class="belcorp">
                            <a href="{site_url}catalogo/{segment_2}/{segment_3}/cursos">CURSOS</a>
                          </dd>
                          <dd class="belcorp">
                            <a href="{site_url}catalogo/{segment_2}/{segment_3}/tendencias">TENDENCIAS</a>
                          </dd>            
                        </dl>
                 </div>
              </dd>
            </dl>
            
            {/if}
            
          </div>
        </div>