html, body {
  height: 100%;
  font-family: "museo-sans",sans-serif;
  font-style: normal;
  font-weight: 100; }

body {
  background-color: #EEEEEE; }

.row {
  max-width: 120em; }

p {
  font-family: "museo-sans",sans-serif;
  font-style: normal;
  font-weight: 100; }

.clearfix {
  padding: 0; }

form {
  margin: 0; }

h1, h2, h3, h4, h5, h6, p {
  font-family: "museo-sans",sans-serif;
  font-style: normal; }

a {
  font-family: "museo-sans",sans-serif !important;
  font-style: normal; }

button {
  outline: none;
  font-family: "museo-sans",sans-serif !important; }

input[type="search"] {
  margin: 0;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #909DA8;
  height: 3.125rem;
  font-family: "museo-sans",sans-serif !important;
  font-weight: 500;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  color: #CED2D6; }

input[type="search"]::-webkit-search-cancel-button {
  /* Remove default */
  -webkit-appearance: none;
  /* Now your own custom styles */
  display: none;
  /* Will place small red box on the right of input (positioning carries over) */ }

.contact_form label {
  margin: 0;
  line-height: 0.8em;
  text-transform: uppercase;
  color: #596c79; }
.contact_form br {
  display: none; }

textarea {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #FDFDFD;
  font-family: "museo-sans",sans-serif !important;
  font-weight: 300; }

.stripe {
  display: inline-block;
  width: 20px;
  height: 1px;
  border-top: 2px solid #999; }

textarea:focus {
  box-shadow: none;
  background: #FFFFFF;
  border-color: #AFAFAF; }

input[name="captcha"] {
  display: inline;
  margin-left: 1em; }

input[type="search"]::-webkit-input-placeholder {
  color: #FFFFFF; }

input[type="search"]::-moz-placeholder {
  color: #FFFFFF; }

input[type="search"]::-moz-placeholder {
  color: #FFFFFF; }

input[type="search"]:-ms-input-placeholder {
  color: #FFFFFF; }

input[type="search"]:focus {
  box-shadow: none;
  background: #FFFFFF;
  border: none; }

input[type="search"]:focus + .icon-search {
  color: #CED2D6; }

input[type="text"], input[type="email"], textarea {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #FDFDFD;
  font-family: "museo-sans",sans-serif !important;
  font-weight: 300; }

input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
  box-shadow: none;
  background: #FFFFFF;
  border-color: #AFAFAF; }

@font-face {
  font-family: 'cplay';
  src: url("../fonts/cplay.eot");
  src: url("../fonts/cplay.eot?#iefix") format("embedded-opentype"), url("../fonts/cplay.ttf") format("truetype"), url("../fonts/cplay.woff") format("woff"), url("../fonts/cplay.svg#cplay") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'cplay';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-search:before {
  content: "\e600"; }

.icon-school:before {
  content: "\e601"; }

.icon-play:before {
  content: "\e603"; }

.icon-list:before {
  content: "\e604"; }

.icon-arrow-down:before {
  content: "\e605"; }

.icon-arrow-up:before {
  content: "\e606"; }

.icon-arrow-right:before {
  content: "\e602"; }

.icon-bubbles:before {
  content: "\e607"; }

.icon-grid:before {
  content: "\e609"; }

.icon-book:before {
  content: "\e608"; }

.icon-mail:before {
  content: "\e60a"; }

.icon-thumbs-up:before {
  content: "\e60b"; }

.icon-thumbs-up2:before {
  content: "\e60c"; }

.icon-twitter:before {
  content: "\e60d"; }

.icon-facebook:before {
  content: "\e60e"; }

.icon-rocket:before {
  content: "\e611"; }

.icon-shield:before {
  content: "\e612"; }

.icon-trophy:before {
  content: "\e613"; }

.icon-play {
  position: relative;
  top: 2px; }

.icon-search {
  position: absolute;
  color: #FFFFFF;
  font-size: 20px;
  top: 0.65em;
  right: 0.8em; }

.icon-arrow-right {
  position: relative;
  top: 2px; }

#menu_arrow {
  position: absolute;
  top: 0.5em;
  right: 0.35em;
  font-size: 30px; }

.icon-list {
  color: #94A0AA;
  font-size: 30px;
  color: #6B1F7E; }

.icon-grid, .icon-book, .icon-bubbles, .icon-mail, .icon-facebook, .icon-twitter {
  color: #FFFFFF; }

.publish, .explore, .video {
  background-color: #6b1f7e;
  box-shadow: 0 2px 0 #4B1658;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  margin: 0 0 1.9em; }

.explore:hover, .explore:focus {
  background-color: #79268D;
  box-shadow: 0 2px 0 #4B1658; }

.explore:active {
  top: 2px;
  box-shadow: 0 -2px 0 #4B1658; }

.video {
  background-color: #94A0A9;
  box-shadow: 0 2px 0 #5B6F7B; }

.video:hover, .video:focus {
  background-color: #A0ADB6;
  box-shadow: 0 2px 0 #5B6F7B; }

.video:active {
  top: 2px;
  box-shadow: 0 -2px 0 #5B6F7B; }

.publish {
  margin: 0; }

#cover {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  background: url("../img/bg_cover_small.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  background-position: center center;
  text-align: center;
  padding: 70px 0 2.5em 0; }
  #cover h1, #cover h2, #cover h3, #cover h4, #cover h5, #cover p, #cover a {
    color: #FFFFFF;
    font-family: "museo-sans",sans-serif;
    font-style: normal; }
  #cover h1 {
    font-weight: 900;
    margin-top: 4.2em;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); }
  #cover h5 {
    font-weight: 300;
    margin-bottom: 0.5rem;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); }
  #cover a {
    font-weight: 500 !important;
    padding: 1em 0; }
  #cover .play {
    cursor: pointer;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 3px white solid;
    background-color: transparent;
    padding: 0;
    outline: none;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s; }
    #cover .play .icon-play {
      font-size: 18px;
      font-weight: normal;
      color: #ffffff;
      position: relative;
      top: 1px; }
  #cover .play:hover {
    background: #fff;
    border-color: #ffffff;
    -webkit-transform: scale(1.1); }
    #cover .play:hover .icon-play {
      color: #303336;
      top: 1px; }
  #cover .down {
    display: none;
    position: absolute;
    left: 0;
    bottom: 5%;
    width: 100%;
    text-align: center;
    padding-bottom: 6px; }
    #cover .down #down {
      background: url(../img/scroll_down.png) no-repeat;
      color: #fff;
      display: block;
      height: 49px;
      width: 49px;
      margin: auto;
      -webkit-transition: 0.4s;
      -moz-transition: 0.4s;
      -ms-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s; }
      #cover .down #down:hover {
        background: url(../img/scroll_down_hover.png) no-repeat; }

#destacados {
  padding: 2.5em 0 1.25em 0;
  background: #ECECEC; }
  #destacados .title {
    margin: 0;
    line-height: 1;
    padding-bottom: 1.25em;
    font-weight: 700; }
  #destacados .course {
    background-color: #FFFFFF; }
    #destacados .course .school {
      text-transform: uppercase; }

#la_ucb {
  padding: 2.5em 0;
  background: #FFFFFF;
  text-align: center;
  position: relative; }
  #la_ucb .title {
    margin: 0;
    line-height: 1;
    padding-bottom: 1.25em;
    font-weight: 700; }
  #la_ucb p {
    font-size: 1.1rem;
    margin-top: 1rem; }
  #la_ucb h3 {
    text-transform: uppercase;
    font-weight: 400; }
  #la_ucb:after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 48%;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #FFFFFF; }

#metodologia {
  padding: 3.5em 0 2.5em 0;
  background: #ECECEC;
  text-align: center; }
  #metodologia .title {
    margin: 0;
    line-height: 1;
    padding-bottom: 2.25em;
    font-weight: 700; }
  #metodologia h5 {
    margin-top: 1.5em;
    font-weight: 300; }
  #metodologia .icon-rocket {
    font-size: 5em;
    color: #6b1f7e; }
  #metodologia .icon-shield {
    font-size: 5em;
    color: #6b1f7e; }
  #metodologia .icon-trophy {
    font-size: 5em;
    color: #6b1f7e; }

#prev-escuelas {
  padding: 10em 0;
  background: #FAFAFA;
  text-align: center;
  background: url("../img/bg_prev_escuelas.jpg");
  border-top: 7px solid rgba(0, 0, 0, 0.16);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed; }
  #prev-escuelas .title {
    margin: 0;
    line-height: 1;
    padding-bottom: 1.25em;
    font-weight: 700; }
  #prev-escuelas h3 {
    color: #FFFFFF; }

#escuelas_title {
  padding: 2.5em 0;
  background-color: #ECECEC;
  text-align: center;
  border-top: 8px solid #DDDDDD;
  position: relative; }
  #escuelas_title .title {
    margin: 0;
    line-height: 1;
    font-weight: 700; }
  #escuelas_title:after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 48%;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #ECECEC; }

#escuelas {
  padding: 3.5em 0 2.5em 0;
  background: #FFFFFF;
  text-align: center; }
  #escuelas .title {
    margin: 0;
    line-height: 1;
    padding-bottom: 2em;
    font-weight: 700; }
  #escuelas .quote {
    margin-top: 1.5em;
    margin-bottom: 0.75em;
    font-family: "minion-pro",sans-serif;
    font-style: italic;
    font-weight: 400; }
  #escuelas h4 {
    color: #929FAA; }
  #escuelas .escuelas_box {
    border: 5px solid #ECECEC;
    margin: 0 auto;
    padding: 30px 8%;
    color: #929FAA;
    font-size: 12pt;
    position: relative;
    overflow: hidden;
    min-height: 20em;
    margin-bottom: 2em; }
  #escuelas img {
    display: block;
    margin: auto; }
  #escuelas .author {
    border-radius: 50%;
    border: 6px solid #e3e3e3;
    width: 100px;
    height: 100px; }

.orbit-container .orbit-prev, .orbit-container .orbit-next {
  background: none; }

.orbit-container .orbit-prev:hover, .orbit-container .orbit-next:hover {
  background: none; }

.orbit-prev, .orbit-next {
  background: none; }

.orbit-prev:hover, .orbit-next:hover {
  background: none; }

.orbit-container .orbit-prev > span {
  border-right-color: #6b1f7e; }

.orbit-container .orbit-prev:hover > span {
  border-right-color: #6b1f7e; }

.orbit-container .orbit-next > span {
  border-left-color: #6b1f7e; }

.orbit-container .orbit-next:hover > span {
  border-left-color: #6b1f7e; }

.orbit-container .orbit-timer {
  display: none; }

.orbit-container .orbit-slide-number {
  display: none; }

#contacto {
  padding: 2.5em 0;
  background: #ECECEC;
  text-align: center; }
  #contacto .title {
    margin: 0;
    line-height: 1;
    padding-bottom: 1.25em;
    font-weight: 700; }

.course {
  background-color: #FFFFFF;
  height: 220px;
  border-right: 25px solid transparent;
  box-shadow: 0 2px 0 #94A0AA;
  padding: 25px;
  margin-bottom: 1.25em;
  position: relative; }
  .course .school {
    text-transform: uppercase;
    position: absolute;
    left: 1.5em;
    bottom: 1.5em;
    width: 200px; }
    .course .school span {
      color: #6B1F7E;
      font-size: 0.8rem;
      font-weight: 500; }
    .course .school .icon-school {
      position: absolute;
      right: 0.5em; }
  .course h5 {
    font-weight: 700;
    text-transform: uppercase;
    color: #596c79; }
    .course h5 a {
      color: #596c79; }
      .course h5 a:hover {
        color: #596c79; }
  .course p {
    color: #929FAA; }

.liderazgo {
  border-right: 25px solid #00bced; }
  .liderazgo .school .icon-school {
    color: #00bced; }

.marcas {
  border-right: 25px solid red; }
  .marcas .school .icon-school {
    color: red; }

.comercial {
  border-right: 25px solid red; }
  .comercial .school .icon-school {
    color: red; }

.planeamiento {
  border-right: 25px solid #72d100; }
  .planeamiento .school .icon-school {
    color: #72d100; }

.ventas {
  border-right: 25px solid #f8ff00; }
  .ventas .school .icon-school {
    color: #f8ff00; }

.innovacion {
  border-right: 25px solid #ff7500; }
  .innovacion .school .icon-school {
    color: #ff7500; }

.belcorp {
  border-right: 25px solid #ff00fe; }
  .belcorp .school .icon-school {
    color: #ff00fe; }

#footer {
  background-color: #94A0AA;
  padding: 2.5em 0; }
  #footer p {
    color: #2C3945;
    font-weight: 300;
    margin: 2.5em 0 0 0;
    text-align: center; }

#courses, #details {
  background-color: #EEEEEE;
  padding-top: 8em; }
  #courses #create_course, #details #create_course {
    padding: 1em;
    margin-top: 1.9em; }
  #courses #footer, #details #footer {
    background-color: transparent; }
    #courses #footer p, #details #footer p {
      color: #596C79;
      font-weight: 300;
      margin: 0; }

#details {
  padding-top: 4.5em; }

#forum_header, #courses_header, #contact_header, #content_header {
  background-color: #FFFFFF;
  box-shadow: 0 2px 0 #94A0AA;
  padding: 25px; }
  #forum_header h3, #courses_header h3, #contact_header h3, #content_header h3 {
    font-weight: 700; }
  #forum_header h5, #courses_header h5, #contact_header h5, #content_header h5 {
    font-weight: 100;
    color: #929FAA; }
  #forum_header .icon-grid, #courses_header .icon-grid, #contact_header .icon-grid, #content_header .icon-grid {
    color: #596c79;
    font-size: 3.55em;
    line-height: 1.4em; }
  #forum_header .icon-bubbles, #courses_header .icon-bubbles, #contact_header .icon-bubbles, #content_header .icon-bubbles {
    color: #596c79;
    font-size: 3.4em;
    line-height: 1.2em; }
  #forum_header .icon-book, #courses_header .icon-book, #contact_header .icon-book, #content_header .icon-book {
    color: #596c79;
    font-size: 4em;
    line-height: 1.2em; }
  #forum_header .icon-mail, #courses_header .icon-mail, #contact_header .icon-mail, #content_header .icon-mail {
    color: #596c79;
    font-size: 3.9em;
    line-height: 1.2em; }

#form_search {
  position: relative;
  margin-top: 0.5em; }

.accordion dd > a {
  background: #6B1F7E;
  color: #FFFFFF;
  font-family: "museo-sans",sans-serif;
  font-style: normal;
  padding: 1rem;
  display: block;
  font-size: 1rem;
  position: relative; }

.accordion dd > a:hover {
  background: #6B1F7E; }

#details_lesson {
  box-shadow: 0 2px 0 #94A0AA;
  margin: 1.25em auto; }
  #details_lesson dd > a {
    background: #FFFFFF;
    color: #5D6C7D;
    font-weight: 700; }

#lesson_panel dd {
  line-height: 1;
  position: relative;
  border: none; }
  #lesson_panel dd a {
    background: #FFFFFF;
    border-bottom: 1px solid #DDDDDD;
    font-weight: 300;
    color: #939FAA; }
  #lesson_panel dd:first-child a {
    border-top: 1px solid #DDDDDD; }
  #lesson_panel dd:last-child a {
    border-bottom: none; }
  #lesson_panel dd span {
    position: absolute;
    top: 1em;
    right: 1em;
    color: #D3D8DD;
    font-weight: 500;
    font-size: 0.92em; }

.accordion .content {
  display: none;
  padding: 0; }

#school_panel dd {
  line-height: 1;
  position: relative;
  border: none; }
  #school_panel dd a {
    background: #9E79B8;
    border-bottom: 1px solid #AC89C5;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    font-size: 0.9em; }
    #school_panel dd a:hover {
      background: #AC89C5; }
    #school_panel dd a.selected {
      background: #AC89C5; }
  #school_panel dd .icon-school {
    position: absolute;
    top: 1em;
    right: 1em; }
#school_panel .liderazgo .icon-school {
  color: #00bced; }
#school_panel .marcas .icon-school {
  color: red; }
#school_panel .comercial .icon-school {
  color: red; }
#school_panel .planeamiento .icon-school {
  color: #72d100; }
#school_panel .ventas .icon-school {
  color: #f8ff00; }
#school_panel .innovacion .icon-school {
  color: #ff7500; }
#school_panel .belcorp .icon-school {
  color: #ff00fe; }

#school_panel_trigger {
  font-weight: 500; }

.details_info {
  background-color: #FFFFFF;
  box-shadow: 0 2px 0 #94A0AA;
  padding: 25px;
  margin-bottom: 1.25em; }
  .details_info h6 {
    color: #596C79;
    text-align: center;
    font-weight: 700; }
  .details_info p, .details_info span {
    color: #929FAA; }
  .details_info p {
    margin: 0;
    font-weight: 500; }
  .details_info .details_info_item {
    margin-bottom: 0.2em; }
  .details_info .details_info_item:last-child {
    margin-bottom: 0; }

#details_header {
  height: 100%; }
  #details_header p {
    padding-bottom: 3em; }
  #details_header h3 {
    padding-bottom: 2em;
    font-weight: 500;
    text-transform: uppercase; }

.instructor_info {
  background-color: #FFFFFF;
  box-shadow: 0 2px 0 #94A0AA;
  padding: 25px;
  margin-bottom: 1.25em; }
  .instructor_info h6 {
    color: #596C79;
    text-align: center;
    font-weight: 700; }
  .instructor_info h5 {
    font-size: 0.85rem;
    font-weight: 700; }
  .instructor_info p {
    font-size: 0.8rem;
    line-height: 1.2rem;
    margin-top: 0.6rem; }
  .instructor_info span {
    font-size: 0.7rem;
    font-style: italic;
    text-transform: uppercase;
    font-weight: 300; }

.requisitos_info {
  background-color: #FFFFFF;
  box-shadow: 0 2px 0 #94A0AA;
  padding: 25px;
  margin-bottom: 1.25em; }

#menu {
  background: #6B1F7E;
  width: 70px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 500; }

.menu-nav {
  padding: 12px; }

.active-menu {
  opacity: 0.4; }

.nav, .social {
  display: block;
  margin: 0;
  list-style-type: none;
  list-style-position: inside; }
  .nav li, .social li {
    text-align: center;
    height: 46px;
    width: 46px;
    background-color: transparent;
    transition: background-color 0.2s;
    -webkit-transition: background-color ease-out 0.2s; }
    .nav li:hover, .social li:hover {
      background-color: #9E79B8; }
      .nav li:hover span, .social li:hover span {
        opacity: 1; }
    .nav li a, .social li a {
      line-height: 46px;
      margin-bottom: 10px;
      font-size: 1.25em;
      padding: 11.5px; }
      .nav li a img, .social li a img {
        margin-top: -4px; }

.social {
  position: absolute;
  bottom: 8px; }

.has-tip, .has-tip:hover {
  cursor: default;
  color: #333333;
  border-bottom: none; }

#forum_header {
  margin-bottom: 1.25em;
  text-align: center; }
  #forum_header #comment_number {
    margin-bottom: 0; }
  #forum_header span {
    font-size: 0.75em; }

.contact_form, .forum_publish {
  background: #FFFFFF;
  padding: 25px; }

.contact_form {
  box-shadow: 0 2px 0 #94A0AA;
  margin-bottom: 5em; }

.forum_comments {
  background-color: #F7F7F7; }
  .forum_comments .forum_comments_item {
    padding: 1em 25px;
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE; }
    .forum_comments .forum_comments_item p {
      margin: 0; }
    .forum_comments .forum_comments_item span {
      padding-left: 1em; }

.move-right > .inner-wrap {
  -webkit-transform: translate3d(70px, 0, 0);
  -moz-transform: translate3d(70px, 0, 0);
  -ms-transform: translate3d(70px, 0, 0);
  -o-transform: translate3d(70px, 0, 0);
  transform: translate3d(70px, 0, 0); }

.left-off-canvas-menu, .right-off-canvas-menu {
  width: 70px;
  top: 0;
  bottom: 0;
  height: 100%;
  position: absolute;
  overflow-y: auto;
  background: #6B1F7E;
  z-index: 1001;
  box-sizing: content-box; }

.left-off-canvas-toggle {
  font-weight: 700;
  color: #94A0AA; }

.move-right a.exit-off-canvas {
  transition: background 300ms ease;
  cursor: pointer;
  box-shadow: none;
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1002; }

#menu_title {
  font-weight: 500;
  display: inline;
  padding-left: 0.2em;
  position: relative;
  bottom: 5px;
  color: #6B1F7E; }

.left-off-canvas-toggle:hover {
  font-weight: 700;
  color: #94A0AA; }

#courses_menu {
  background-color: #EEEEEE;
  padding-top: 1em;
  padding-bottom: 1em;
  position: fixed;
  max-width: 1430px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 300;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s; }

.more #more_courses {
  color: #596c79;
  font-size: 1.4375rem;
  font-weight: 100; }
.more #more_icon {
  font-size: 1.8em; }
.more:hover {
  cursor: pointer; }
  .more:hover #more_courses {
    color: #596c79;
    text-decoration: underline; }

#courses_hidden {
  display: none; }

.resources_list {
  background-color: #FFFFFF; }
  .resources_list h5 {
    font-weight: 400; }
  .resources_list span {
    color: #929FAA; }
  .resources_list img {
    border-radius: 50%; }

.resources_item {
  padding: 1em 25px;
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE; }
  .resources_item h5 {
    font-weight: 400; }
  .resources_item span {
    color: #929FAA; }
  .resources_item img {
    border-radius: 50%; }

.resources_item a {
  color: #596c79; }

#myModal {
  padding: 0;
  border: 2px solid #596c79; }

.like {
  position: absolute;
  top: 1em;
  right: 1em;
  cursor: pointer; }

.vermas {
  margin-top: 1rem !important; }

.heading-pocket {
  background: #edeff0;
  position: fixed;
  max-width: 1430px;
  height: 70px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s; }

.heading-pocket:before, .heading-pocket:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: -10px;
  right: -8px;
  width: 15px;
  background: #edeff0;
  z-index: 101;
  -webkit-box-shadow: -2px 0px 4px #edeff0;
  -moz-box-shadow: -2px 0px 4px #edeff0;
  box-shadow: -2px 0px 4px #edeff0; }

#clickable_div {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-decoration: none;
  /* No underlines on the link */
  z-index: 10;
  /* Places the link above everything else in the div */
  background-color: #FFF;
  /* Fix to make div clickable in IE */
  opacity: 0;
  /* Fix to make div clickable in IE */
  filter: alpha(opacity=1);
  /* Fix to make div clickable in IE */ }

.filtro-interno .inline-list {
  float: right; }
  .filtro-interno .inline-list a {
    font-weight: 400;
    color: #596c79;
    transition: border-bottom 0.4s;
    -webkit-transition: border-bottom ease-out 0.4s;
    border-bottom: 2px solid transparent; }
    .filtro-interno .inline-list a:hover {
      color: #596c79;
      border-bottom: 2px solid #6B1F7E; }
    .filtro-interno .inline-list a.selected {
      color: #596c79;
      border-bottom: 2px solid #6B1F7E; }

.filtro-externo .inline-list {
  float: right; }
  .filtro-externo .inline-list a {
    font-weight: 400;
    color: #596c79;
    transition: border-bottom 0.4s;
    -webkit-transition: border-bottom ease-out 0.4s;
    border-bottom: 2px solid transparent; }
    .filtro-externo .inline-list a:hover {
      color: #596c79;
      border-bottom: 2px solid #6B1F7E; }
    .filtro-externo .inline-list a.selected {
      color: #596c79;
      border-bottom: 2px solid #6B1F7E; }

@media only screen and (min-width: 40.063em) {
  #cover h1 {
    line-height: 1;
    font-size: 3rem;
    text-align: left; }
  #cover h5 {
    font-size: 1.45rem;
    text-align: left; }
  #cover a {
    font-size: 1.2rem; }
  #cover #view_video {
    font-size: 1.3rem;
    height: 75px;
    font-weight: 100;
    color: #F1F1F1; }
  #cover .explore {
    width: 175px;
    float: left; }
  #cover .down {
    display: block; }

  #details_header h3 {
    padding-bottom: 0;
    font-weight: 700;
    text-transform: uppercase; }

  .details_info p {
    font-size: 2rem;
    line-height: 1.25rem;
    margin-top: 1rem;
    color: #66198A;
    font-weight: 500; }
  .details_info span {
    font-size: 0.9rem;
    font-weight: 100; }

  #courses, #details {
    padding-top: 0;
    margin-left: 70px; }

  #forum_header, #details_header, #courses_header, #contact_header, #content_header {
    margin-top: 70px;
    margin-bottom: 1.9em;
    text-align: left; }

  #forum_header, #courses_header, #content_header, #contact_header {
    margin-top: 0; }

  #catalogo_content, #contenidos_content, #feedback_content, #contact_content {
    margin-top: 70px; }

  #feedback_content #create_course, #contact_content #create_course {
    margin-top: 0; }

  .fixed_menu {
    position: fixed;
    right: 0; }

  .fixed_menu_details {
    position: fixed;
    right: 0;
    top: 4.4rem; }

  #footer p {
    text-align: center; }

  #form_search {
    position: relative;
    margin-bottom: 1.9em;
    margin-top: 0; }

  .total_padding {
    padding-left: 1.9em;
    padding-right: 1.9em; }

  .index_padding {
    padding-left: 70px;
    padding-right: 70px; }

  .right_padding {
    padding-right: 1.9em; }

  .course {
    margin-bottom: 1.9em; }

  #details_lesson {
    margin: 0 auto 1.9em; }

  .contact_form {
    margin-bottom: 20em; }

  .video_curso {
    margin-bottom: 1.9em; } }
