/* line 9, custom.scss */
html, body {
  height: 100%;
  font-family: "museo-sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-style: normal;
  font-weight: 100;
}

/* line 16, custom.scss */
body {
  background-color: #EEEEEE;
}

/* line 20, custom.scss */
.row {
  max-width: 120em;
}

/* line 24, custom.scss */
p {
  font-family: "museo-sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-style: normal;
  font-weight: 100;
}

/* line 30, custom.scss */
.clearfix {
  padding: 0;
}

/* line 34, custom.scss */
form {
  margin: 0;
}

/* line 38, custom.scss */
h1, h2, h3, h4, h5, h6, p {
  font-family: "museo-sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-style: normal;
}

/* line 43, custom.scss */
a {
  font-family: "museo-sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
  font-style: normal;
}

/* line 48, custom.scss */
button {
  outline: none;
  font-family: "museo-sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
}

/* line 53, custom.scss */
input[type="search"] {
  margin: 0;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #909DA8;
  height: 3.125rem;
  font-family: "museo-sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
  font-weight: 500;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  color: #CED2D6;
}

/* line 69, custom.scss */
input[type="search"]::-webkit-search-cancel-button {
  /* Remove default */
  -webkit-appearance: none;
  /* Now your own custom styles */
  display: none;
  /* Will place small red box on the right of input (positioning carries over) */
}

/* line 81, custom.scss */
.contact_form label {
  margin: 0;
  line-height: 0.8em;
  text-transform: uppercase;
  color: #596c79;
}
/* line 87, custom.scss */
.contact_form br {
  display: none;
}

/* line 92, custom.scss */
textarea {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #FDFDFD;
  font-family: "museo-sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
  font-weight: 300;
}

/* line 100, custom.scss */
.stripe {
  display: inline-block;
  width: 20px;
  height: 1px;
  border-top: 2px solid #999;
}

/* line 107, custom.scss */
textarea:focus {
  box-shadow: none;
  background: #FFFFFF;
  border-color: #AFAFAF;
}

/* line 113, custom.scss */
input[name="captcha"] {
  display: inline;
  margin-left: 1em;
}

/* line 118, custom.scss */
input[type="search"]::-webkit-input-placeholder {
  color: #FFFFFF;
}

/* line 121, custom.scss */
input[type="search"]::-moz-placeholder {
  color: #FFFFFF;
}

/* line 124, custom.scss */
input[type="search"]::-moz-placeholder {
  color: #FFFFFF;
}

/* line 127, custom.scss */
input[type="search"]:-ms-input-placeholder {
  color: #FFFFFF;
}

/* line 132, custom.scss */
input[type="search"]:focus {
  box-shadow: none;
  background: #FFFFFF;
  border: none;
}

/* line 139, custom.scss */
input[type="search"]:focus + .icon-search {
  color: #CED2D6;
}

/* line 145, custom.scss */
input[type="text"], input[type="email"], textarea {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #FDFDFD;
  font-family: "museo-sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
  font-weight: 300;
}

/* line 153, custom.scss */
input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
  box-shadow: none;
  background: #FFFFFF;
  border-color: #AFAFAF;
}

@font-face {
  font-family: 'cplay';
  src: url("../fonts/cplay.eot");
  src: url("../fonts/cplay.eot?#iefix") format("embedded-opentype"), url("../fonts/cplay.ttf") format("truetype"), url("../fonts/cplay.woff") format("woff"), url("../fonts/cplay.svg#cplay") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 171, custom.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'cplay';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 185, custom.scss */
.icon-search:before {
  content: "\e600";
}

/* line 188, custom.scss */
.icon-school:before {
  content: "\e601";
}

/* line 191, custom.scss */
.icon-play:before {
  content: "\e602";
}

/* line 194, custom.scss */
.icon-list:before {
  content: "\e603";
}

/* line 197, custom.scss */
.icon-arrow-down:before {
  content: "\e604";
}

/* line 200, custom.scss */
.icon-arrow-up:before {
  content: "\e605";
}

/* line 203, custom.scss */
.icon-arrow-right:before {
  content: "\e606";
}

/* line 206, custom.scss */
.icon-mail:before {
  content: "\e607";
}

/* line 209, custom.scss */
.icon-twitter:before {
  content: "\e608";
}

/* line 212, custom.scss */
.icon-facebook:before {
  content: "\e609";
}

/* line 215, custom.scss */
.icon-users:before {
  content: "\e60a";
}

/* line 218, custom.scss */
.icon-grid:before {
  content: "\e60b";
}

/* line 221, custom.scss */
.icon-bubbles:before {
  content: "\e60c";
}

/* line 224, custom.scss */
.icon-book:before {
  content: "\e60d";
}

/* line 227, custom.scss */
.icon-thumbs-up:before {
  content: "\e60e";
}

/* line 230, custom.scss */
.icon-thumbs-up2:before {
  content: "\e60f";
}

/* line 233, custom.scss */
.icon-clock:before {
  content: "\e610";
}

/* line 236, custom.scss */
.icon-play2:before {
  content: "\e611";
}

/* line 239, custom.scss */
.icon-star:before {
  content: "\e612";
}

/* line 242, custom.scss */
.icon-plus:before {
  content: "\e613";
}

/* line 246, custom.scss */
.icon-rocket:before {
  content: "\e611";
}

/* line 249, custom.scss */
.icon-shield:before {
  content: "\e612";
}

/* line 252, custom.scss */
.icon-trophy:before {
  content: "\e613";
}

/* line 262, custom.scss */
.icon-play {
  position: relative;
  top: 2px;
}

/* line 267, custom.scss */
.icon-search {
  position: absolute;
  color: #FFFFFF;
  font-size: 20px;
  top: 0.65em;
  right: 0.8em;
}

/* line 275, custom.scss */
.icon-arrow-right {
  position: relative;
  top: 2px;
}

/* line 280, custom.scss */
#menu_arrow, #menu_arrow_1, #menu_arrow_2, #menu_arrow_3, #menu_arrow_4, #menu_arrow_5 {
  position: absolute;
  top: 0.5em;
  right: 0.35em;
  font-size: 30px;
}

/* line 287, custom.scss */
.icon-list {
  color: #94A0AA;
  font-size: 30px;
  color: #6C217F;
}

/* line 293, custom.scss */
.icon-grid, .icon-book, .icon-bubbles, .icon-mail, .icon-facebook, .icon-twitter {
  color: #FFFFFF;
}

/* line 298, custom.scss */
#down {
  background: url(../img/arrow_down.png) no-repeat;
  color: #fff;
  display: block;
  height: 40px;
  width: 40px;
  margin: auto;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
/* line 310, custom.scss */
#down:hover {
  background: url(../img/arrow_down_hover.png) no-repeat;
}

/* line 315, custom.scss */
.publish, .explore, .video {
  background-color: #6C217F;
  box-shadow: 0 2px 0 #4B1658;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  margin: 0 0 1.9em;
}

/* line 324, custom.scss */
.explore:hover, .explore:focus {
  background-color: #79268D;
  box-shadow: 0 2px 0 #4B1658;
}

/* line 329, custom.scss */
.explore:active {
  top: 2px;
  box-shadow: 0 -2px 0 #4b1658;
}

/* line 334, custom.scss */
.video {
  background-color: #94A0A9;
  box-shadow: 0 2px 0 #5B6F7B;
}

/* line 339, custom.scss */
.video:hover, .video:focus {
  background-color: #A0ADB6;
  box-shadow: 0 2px 0 #5B6F7B;
}

/* line 344, custom.scss */
.video:active {
  top: 2px;
  box-shadow: 0 -2px 0 #5b6f7b;
}

/* line 349, custom.scss */
.publish {
  margin: 0;
}

/* line 357, custom.scss */
#cover {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  background: url("../img/bg_cover_small.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  background-position: center center;
  text-align: center;
  padding: 70px 0 2.5em 0;
}
/* line 370, custom.scss */
#cover h1, #cover h2, #cover h3, #cover h4, #cover h5, #cover p, #cover a {
  color: #FFFFFF;
  font-family: "museo-sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-style: normal;
}
/* line 375, custom.scss */
#cover h1 {
  font-weight: 900;
  margin-top: 4.2em;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
/* line 380, custom.scss */
#cover h5 {
  font-weight: 300;
  margin-bottom: 0.5rem;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
/* line 385, custom.scss */
#cover a {
  font-weight: 500 !important;
  padding: 1em 0;
}
/* line 389, custom.scss */
#cover #home_menu {
  float: right;
}
/* line 392, custom.scss */
#cover #home_menu li a {
  color: #DDDDDD;
  font-weight: 500;
  padding: 0;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
/* line 401, custom.scss */
#cover #home_menu li a:hover {
  color: #FFFFFF;
}
/* line 407, custom.scss */
#cover .play {
  cursor: pointer;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 3px white solid;
  background-color: transparent;
  padding: 0;
  outline: none;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
/* line 423, custom.scss */
#cover .play .icon-play {
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
  position: relative;
  top: 1px;
}
/* line 431, custom.scss */
#cover .play:hover {
  background: #fff;
  border-color: #ffffff;
  -webkit-transform: scale(1.1);
}
/* line 435, custom.scss */
#cover .play:hover .icon-play {
  color: #303336;
  top: 1px;
}
/* line 440, custom.scss */
#cover .down {
  display: none;
  position: absolute;
  left: 0;
  bottom: 5%;
  width: 100%;
  text-align: center;
  padding-bottom: 6px;
}
/* line 448, custom.scss */
#cover .down #down {
  background: url(../img/scroll_down.png) no-repeat;
  color: #fff;
  display: block;
  height: 49px;
  width: 49px;
  margin: auto;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
/* line 460, custom.scss */
#cover .down #down:hover {
  background: url(../img/scroll_down_hover.png) no-repeat;
}

/* line 468, custom.scss */
#la_ucb {
  padding: 2.5em 0;
  background: #FFFFFF;
  text-align: center;
  position: relative;
}
/* line 472, custom.scss */
#la_ucb .title {
  margin: 0;
  line-height: 1;
  padding-bottom: 2.25em;
  padding-top: 2.25em;
  font-weight: 700;
  font-size: 1.5em;
}
/* line 480, custom.scss */
#la_ucb p {
  font-size: 1.1rem;
}
/* line 483, custom.scss */
#la_ucb #sub_p {
  margin-top: 1rem;
}
/* line 487, custom.scss */
#la_ucb h3 {
  text-transform: uppercase;
  font-weight: 400;
}
/* line 490, custom.scss */
#la_ucb h3 span {
  font-weight: 700;
}
/* line 506, custom.scss */
#la_ucb h6 {
  margin-top: 1.5em;
  font-weight: 300;
}
/* line 510, custom.scss */
#la_ucb .icon-rocket {
  font-size: 5em;
  color: #6C217F;
}
/* line 514, custom.scss */
#la_ucb .icon-shield {
  font-size: 5em;
  color: #6C217F;
}
/* line 518, custom.scss */
#la_ucb .icon-trophy {
  font-size: 5em;
  color: #6C217F;
}

/* line 525, custom.scss */
#metodologia {
  padding: 3.5em 0 2.5em 0;
  background: #ECECEC;
  text-align: center;
}
/* line 529, custom.scss */
#metodologia .title {
  margin: 0;
  line-height: 1;
  padding-bottom: 2.25em;
  font-weight: 700;
}
/* line 535, custom.scss */
#metodologia h6 {
  margin-top: 1.5em;
  font-weight: 300;
}
/* line 539, custom.scss */
#metodologia .icon-rocket {
  font-size: 5em;
  color: #6C217F;
}
/* line 543, custom.scss */
#metodologia .icon-shield {
  font-size: 5em;
  color: #6C217F;
}
/* line 547, custom.scss */
#metodologia .icon-trophy {
  font-size: 5em;
  color: #6C217F;
}

/* line 554, custom.scss */
#prev-escuelas {
  padding: 12em 0;
  background: #FAFAFA;
  text-align: center;
  background: url("../img/bg_prev_escuelas.jpg");
  border-top: 7px solid rgba(0, 0, 0, 0.16);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
/* line 565, custom.scss */
#prev-escuelas .title {
  margin: 0;
  line-height: 1;
  padding-bottom: 1.25em;
  font-weight: 700;
}
/* line 571, custom.scss */
#prev-escuelas h3 {
  color: #FFFFFF;
}

/* line 576, custom.scss */
#escuelas_title {
  padding: 2.5em 0;
  background-color: #ECECEC;
  text-align: center;
  border-top: 8px solid #DDDDDD;
  position: relative;
}
/* line 582, custom.scss */
#escuelas_title .title {
  margin: 0;
  line-height: 1;
  font-weight: 700;
  font-size: 1.5em;
}
/* line 588, custom.scss */
#escuelas_title:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 48%;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #ECECEC;
}

/* line 602, custom.scss */
#destacados {
  padding: 3.5em 0 2.5em 0;
  background: #FFFFFF;
  text-align: center;
}
/* line 606, custom.scss */
#destacados .title {
  margin: 0;
  line-height: 1;
  padding-bottom: 0.5em;
  font-weight: 100;
  font-size: 2.8em;
  color: #6C217F;
}
/* line 614, custom.scss */
#destacados h5 {
  color: #94A0AA;
  font-weight: 100;
  padding-bottom: 3em;
}
/* line 619, custom.scss */
#destacados .large-4 {
  padding-right: 1px;
  padding-left: 1px;
}
/* line 623, custom.scss */
#destacados .course {
  text-align: left;
  background-color: #ECECEC;
  box-shadow: none;
  border: none;
  margin-bottom: 2px;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 633, custom.scss */
#destacados .course .school {
  text-transform: uppercase;
}
/* line 636, custom.scss */
#destacados .course h3 {
  text-transform: uppercase;
  font-size: 1.2rem;
  line-height: 125%;
}
/* line 641, custom.scss */
#destacados .course p {
  color: #6C217F;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.9rem;
}
/* line 646, custom.scss */
#destacados .course p span {
  color: #929FAA;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 0.9rem;
}
/* line 653, custom.scss */
#destacados .course #enter {
  position: absolute;
  bottom: 25px;
  right: 25px;
  color: #6C217F;
  font-weight: 100;
  font-size: 0.95rem;
}
/* line 661, custom.scss */
#destacados .course:hover {
  background-color: #DADFE1;
}
/* line 665, custom.scss */
#destacados #more_index {
  background: transparent;
  border: 2px solid #94A0AA;
  color: #94A0AA;
  display: block;
  width: 120px;
  text-align: center;
  float: center;
  margin: 2rem auto 2rem;
  padding: 0.5rem 0;
}
/* line 675, custom.scss */
#destacados #more_index:hover {
  background: #94A0AA;
  color: #FFFFFF;
}

/* line 682, custom.scss */
#escuelas {
  padding: 3.5em 0 2.5em 0;
  background: #ECECEC;
  text-align: center;
}
/* line 686, custom.scss */
#escuelas .title {
  margin: 0;
  line-height: 1;
  padding-bottom: 0.5em;
  font-weight: 100;
  font-size: 2.8em;
  color: #6C217F;
}
/* line 694, custom.scss */
#escuelas h5 {
  color: #94A0AA;
  font-weight: 100;
  padding-bottom: 3em;
}
/* line 699, custom.scss */
#escuelas .course {
  height: 120px;
  text-align: left;
  text-transform: uppercase;
}
/* line 703, custom.scss */
#escuelas .course span {
  color: #94A0AA;
  font-size: 0.7rem;
}
/* line 707, custom.scss */
#escuelas .course h5 {
  color: #596c79;
  font-weight: 300;
  font-size: 1rem;
}
/* line 713, custom.scss */
#escuelas .escuelas_box {
  border: 5px solid #ECECEC;
  margin: 0 auto;
  padding: 30px 8%;
  color: #929FAA;
  font-size: 12pt;
  position: relative;
  overflow: hidden;
  min-height: 20em;
  margin-bottom: 2em;
}
/* line 724, custom.scss */
#escuelas a {
  background: transparent;
  border: 2px solid #94A0AA;
  color: #94A0AA;
  display: block;
  width: 120px;
  text-align: center;
  float: center;
  margin: auto;
  padding: 0.5rem 0;
}
/* line 734, custom.scss */
#escuelas a:hover {
  background: #94A0AA;
  color: #FFFFFF;
}
/* line 739, custom.scss */
#escuelas #down {
  margin-top: 4rem;
}

/* line 745, custom.scss */
#convenios {
  padding: 3.5em 0 2.5em 0;
  background: #ECECEC;
  text-align: center;
}
/* line 749, custom.scss */
#convenios .title {
  margin: 0;
  line-height: 1;
  padding-bottom: 0.5em;
  font-weight: 100;
  font-size: 2.8em;
  color: #6C217F;
}
/* line 757, custom.scss */
#convenios h5 {
  color: #94A0AA;
  font-weight: 100;
  padding-bottom: 3em;
}
/* line 762, custom.scss */
#convenios a {
  background: transparent;
  border: 2px solid #94A0AA;
  color: #94A0AA;
  display: block;
  width: 120px;
  text-align: center;
  float: center;
  margin: 6rem auto;
  padding: 0.5rem 0;
}
/* line 772, custom.scss */
#convenios a:hover {
  background: #94A0AA;
  color: #FFFFFF;
}

/* line 780, custom.scss */
.orbit-container .orbit-prev, .orbit-container .orbit-next {
  background: none;
}

/* line 784, custom.scss */
.orbit-container .orbit-prev:hover, .orbit-container .orbit-next:hover {
  background: none;
}

/* line 788, custom.scss */
.orbit-bullets-container {
  display: none;
}

/* line 792, custom.scss */
.orbit-prev, .orbit-next {
  background: none;
}

/* line 796, custom.scss */
.orbit-prev:hover, .orbit-next:hover {
  background: none;
}

/* line 800, custom.scss */
.orbit-container .orbit-prev > span {
  border-right-color: #6C217F;
}

/* line 804, custom.scss */
.orbit-container .orbit-prev:hover > span {
  border-right-color: #6C217F;
}

/* line 808, custom.scss */
.orbit-container .orbit-next > span {
  border-left-color: #6C217F;
}

/* line 812, custom.scss */
.orbit-container .orbit-next:hover > span {
  border-left-color: #6C217F;
}

/* line 816, custom.scss */
.orbit-container .orbit-timer {
  display: none;
}

/* line 820, custom.scss */
.orbit-container .orbit-slide-number {
  display: none;
}

/* line 827, custom.scss */
#contacto {
  padding: 2.5em 0;
  background: #ECECEC;
  text-align: center;
}
/* line 831, custom.scss */
#contacto .title {
  margin: 0;
  line-height: 1;
  padding-bottom: 1.25em;
  font-weight: 700;
}

/* line 842, custom.scss */
.course {
  background-color: #FFFFFF;
  height: auto;
  border-right: 25px solid transparent;
  box-shadow: 0 2px 0 #94A0AA;
  padding: 25px;
  margin-bottom: 1.25em;
  position: relative;
}
/* line 850, custom.scss */
.course .school {
  text-transform: uppercase;
  position: absolute;
  left: 1.5em;
  bottom: 1.5em;
  width: 200px;
}
/* line 858, custom.scss */
.course .school span {
  color: #6C217F;
  font-size: 0.8rem;
  font-weight: 500;
}
/* line 863, custom.scss */
.course .school .icon-school {
  position: absolute;
  right: 0.5em;
}
/* line 868, custom.scss */
.course h5 {
  font-weight: 700;
  text-transform: uppercase;
  color: #596c79;
  margin-bottom: 0;
}
/* line 873, custom.scss */
.course h5 a {
  color: #596c79;
}
/* line 875, custom.scss */
.course h5 a:hover {
  color: #596c79;
}
/* line 880, custom.scss */
.course h6 {
  font-weight: 400;
  text-transform: uppercase;
  color: #596c79;
  font-size: 0.95rem;
  margin-top: 0;
}
/* line 887, custom.scss */
.course p {
  color: #929FAA;
}
/* line 891, custom.scss */
.course #fuente a {
  color: #596c79;
  font-weight: 300;
  font-style: italic;
}

/* line 900, custom.scss */
.liderazgo {
  border-right: 25px solid #72d100;
}
/* line 903, custom.scss */
.liderazgo .school .icon-school {
  color: #72d100;
}

/* line 910, custom.scss */
.marcas {
  border-right: 25px solid red;
}
/* line 913, custom.scss */
.marcas .school .icon-school {
  color: red;
}

/* line 919, custom.scss */
.comercial {
  border-right: 25px solid #00bced;
}
/* line 922, custom.scss */
.comercial .school .icon-school {
  color: #00bced;
}

/* line 929, custom.scss */
.planeamiento {
  border-right: 25px solid #72d100;
}
/* line 932, custom.scss */
.planeamiento .school .icon-school {
  color: #72d100;
}

/* line 938, custom.scss */
.ventas {
  border-right: 25px solid #ff0066;
}
/* line 941, custom.scss */
.ventas .school .icon-school {
  color: #ff0066;
}

/* line 947, custom.scss */
.innovacion {
  border-right: 25px solid #6c217f;
}
/* line 950, custom.scss */
.innovacion .school .icon-school {
  color: #6c217f;
}

/* line 956, custom.scss */
.belcorp {
  border-right: 25px solid #6c217f;
}
/* line 959, custom.scss */
.belcorp .school .icon-school {
  color: #6c217f;
}

/* line 965, custom.scss */
.negocios {
  border-right: 25px solid #00bced;
}
/* line 968, custom.scss */
.negocios .school .icon-school {
  color: #6c217f;
}

/* line 974, custom.scss */
#footer {
  background-color: #94A0AA;
  padding: 2.5em 0;
}
/* line 977, custom.scss */
#footer p {
  color: #2C3945;
  font-weight: 300;
  margin: 2.5em 0 0 0;
  text-align: center;
}

/* line 985, custom.scss */
footer {
  background-color: #596c79;
  padding: 1.25em 0;
}
/* line 988, custom.scss */
footer p {
  color: white;
  margin: 0;
}

/* line 997, custom.scss */
#courses, #details {
  background-color: #EEEEEE;
}
/* line 1000, custom.scss */
#courses #create_course, #details #create_course {
  margin-top: 0;
  padding: 1.2rem;
}
/* line 1005, custom.scss */
#courses #footer, #details #footer {
  background-color: transparent;
}
/* line 1007, custom.scss */
#courses #footer p, #details #footer p {
  color: #596C79;
  font-weight: 300;
  margin: 0;
}

/* line 1016, custom.scss */
#forum_header, #courses_header, #contact_header, #content_header, #new_header {
  background-color: #FFFFFF;
  box-shadow: 0 2px 0 #94A0AA;
  padding: 25px;
}
/* line 1020, custom.scss */
#forum_header h3, #courses_header h3, #contact_header h3, #content_header h3, #new_header h3 {
  font-weight: 700;
}
/* line 1023, custom.scss */
#forum_header h5, #courses_header h5, #contact_header h5, #content_header h5, #new_header h5 {
  font-weight: 100;
  color: #929FAA;
}
/* line 1027, custom.scss */
#forum_header .icon-grid, #courses_header .icon-grid, #contact_header .icon-grid, #content_header .icon-grid, #new_header .icon-grid {
  color: #596c79;
  font-size: 3.55em;
  line-height: 1.4em;
}
/* line 1032, custom.scss */
#forum_header .icon-bubbles, #courses_header .icon-bubbles, #contact_header .icon-bubbles, #content_header .icon-bubbles, #new_header .icon-bubbles {
  color: #596c79;
  font-size: 3.4em;
  line-height: 1.2em;
}
/* line 1037, custom.scss */
#forum_header .icon-book, #courses_header .icon-book, #contact_header .icon-book, #content_header .icon-book, #new_header .icon-book {
  color: #596c79;
  font-size: 4em;
  line-height: 1.2em;
}
/* line 1042, custom.scss */
#forum_header .icon-mail, #courses_header .icon-mail, #contact_header .icon-mail, #content_header .icon-mail, #new_header .icon-mail {
  color: #596c79;
  font-size: 3.9em;
  line-height: 1.2em;
}

/* line 1049, custom.scss */
#form_search {
  position: relative;
  margin-top: 0.5em;
}

/* line 1055, custom.scss */
.accordion dd > a {
  background: #6C217F;
  color: #FFFFFF;
  font-family: "museo-sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-style: normal;
  padding: 1rem;
  display: block;
  font-size: 1rem;
  position: relative;
}

/* line 1066, custom.scss */
.accordion dd > a:hover {
  background: #6C217F;
}

/* line 1070, custom.scss */
#details_lesson {
  box-shadow: 0 2px 0 #94A0AA;
  margin: 1.25em auto;
}
/* line 1073, custom.scss */
#details_lesson dd > a {
  background: #FFFFFF;
  color: #5D6C7D;
  font-weight: 700;
}

/* line 1081, custom.scss */
#lesson_panel_1 dd, #lesson_panel_2 dd, #lesson_panel_3 dd, #lesson_panel_4 dd, #lesson_panel_5 dd, #lesson_panel_6 dd {
  line-height: 1;
  position: relative;
  border: none;
}
/* line 1085, custom.scss */
#lesson_panel_1 dd a, #lesson_panel_2 dd a, #lesson_panel_3 dd a, #lesson_panel_4 dd a, #lesson_panel_5 dd a, #lesson_panel_6 dd a {
  background: #FFFFFF;
  border-bottom: 1px solid #DDDDDD;
  font-weight: 300;
  color: #939FAA;
}
/* line 1092, custom.scss */
#lesson_panel_1 dd:first-child a, #lesson_panel_2 dd:first-child a, #lesson_panel_3 dd:first-child a, #lesson_panel_4 dd:first-child a, #lesson_panel_5 dd:first-child a, #lesson_panel_6 dd:first-child a {
  border-top: 1px solid #DDDDDD;
}
/* line 1096, custom.scss */
#lesson_panel_1 dd:last-child a, #lesson_panel_2 dd:last-child a, #lesson_panel_3 dd:last-child a, #lesson_panel_4 dd:last-child a, #lesson_panel_5 dd:last-child a, #lesson_panel_6 dd:last-child a {
  border-bottom: none;
}
/* line 1100, custom.scss */
#lesson_panel_1 dd span, #lesson_panel_2 dd span, #lesson_panel_3 dd span, #lesson_panel_4 dd span, #lesson_panel_5 dd span, #lesson_panel_6 dd span {
  position: absolute;
  top: 1em;
  right: 1em;
  color: #D3D8DD;
  font-weight: 500;
  font-size: 0.92em;
}

/* line 1111, custom.scss */
.accordion .content {
  display: none;
  padding: 0;
}

/* line 1116, custom.scss */
#padding_accordion {
  margin-bottom: 0;
}

/* line 1122, custom.scss */
#school_panel dd {
  line-height: 1;
  position: relative;
  border: none;
}
/* line 1126, custom.scss */
#school_panel dd a {
  background: #9E79B8;
  border-bottom: 1px solid #AC89C5;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  font-size: 0.9em;
}
/* line 1134, custom.scss */
#school_panel dd a:hover {
  background: #AC89C5;
}
/* line 1137, custom.scss */
#school_panel dd a.selected {
  background: #AC89C5;
}
/* line 1141, custom.scss */
#school_panel dd .icon-school {
  position: absolute;
  top: 1em;
  right: 1em;
}
/* line 1148, custom.scss */
#school_panel .liderazgo .icon-school {
  color: #72d100;
}
/* line 1153, custom.scss */
#school_panel .marcas .icon-school {
  color: red;
}
/* line 1158, custom.scss */
#school_panel .comercial .icon-school {
  color: #00bced;
}
/* line 1163, custom.scss */
#school_panel .planeamiento .icon-school {
  color: #72d100;
}
/* line 1168, custom.scss */
#school_panel .ventas .icon-school {
  color: #ff0066;
}
/* line 1173, custom.scss */
#school_panel .innovacion .icon-school {
  color: #6c217f;
}
/* line 1178, custom.scss */
#school_panel .belcorp .icon-school {
  color: #6c217f;
}

/* line 1184, custom.scss */
#school_panel_trigger {
  font-weight: 500;
}

/* line 1188, custom.scss */
.details_info {
  background-color: #FFFFFF;
  box-shadow: 0 2px 0 #94A0AA;
  padding: 25px;
  margin-bottom: 1.25em;
}
/* line 1195, custom.scss */
.details_info h6 {
  color: #596C79;
  text-align: center;
  font-weight: 700;
}
/* line 1201, custom.scss */
.details_info p, .details_info span {
  color: #929FAA;
}
/* line 1205, custom.scss */
.details_info p {
  margin: 0;
  font-weight: 500;
}
/* line 1209, custom.scss */
.details_info .details_info_item {
  margin-bottom: 0.2em;
}
/* line 1212, custom.scss */
.details_info .details_info_item:last-child {
  margin-bottom: 0;
}

/* line 1217, custom.scss */
#details_header {
  height: auto;
  margin-top: 0;
  position: fixed;
  z-index: 1;
  width: -moz-calc(75% - 105px);
  width: -webkit-calc(75% - 105px);
  width: calc(75% - 105px);
}
/* line 1225, custom.scss */
#details_header p {
  padding-bottom: 3em;
}
/* line 1228, custom.scss */
#details_header h3 {
  padding-bottom: 2em;
  font-weight: 500;
  text-transform: uppercase;
}

/* line 1236, custom.scss */
.instructor_info {
  background-color: #FFFFFF;
  box-shadow: 0 2px 0 #94A0AA;
  padding: 25px;
  margin-bottom: 1.25em;
}
/* line 1243, custom.scss */
.instructor_info h6 {
  color: #596C79;
  text-align: center;
  font-weight: 700;
}
/* line 1249, custom.scss */
.instructor_info h5 {
  font-size: 0.85rem;
  font-weight: 700;
}
/* line 1253, custom.scss */
.instructor_info p {
  font-size: 0.8rem;
  line-height: 1.2rem;
  margin-top: 0.6rem;
}
/* line 1258, custom.scss */
.instructor_info span {
  font-size: 0.7rem;
  font-style: italic;
  text-transform: uppercase;
  font-weight: 300;
}

/* line 1266, custom.scss */
.requisitos_info {
  background-color: #FFFFFF;
  box-shadow: 0 2px 0 #94A0AA;
  padding: 25px;
  margin-bottom: 1.25em;
}

/* line 1273, custom.scss */
.syllabus {
  background-color: #FFFFFF;
  box-shadow: 0 2px 0 #94A0AA;
  padding: 25px;
  margin-bottom: 1.25em;
}

/* line 1282, custom.scss */
#menu {
  background: #6C217F;
  width: 70px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 500;
}

/* line 1291, custom.scss */
.menu-nav {
  padding: 12px;
}

/* line 1295, custom.scss */
.active-menu {
  opacity: 0.4;
}

/* line 1299, custom.scss */
.nav, .social {
  display: block;
  margin: 0;
  list-style-type: none;
  list-style-position: inside;
}
/* line 1304, custom.scss */
.nav li, .social li {
  text-align: center;
  height: 46px;
  width: 46px;
  background-color: transparent;
  transition: background-color 0.2s;
  -webkit-transition: background-color ease-out 0.2s;
}
/* line 1311, custom.scss */
.nav li:hover, .social li:hover {
  background-color: #9E79B8;
}
/* line 1313, custom.scss */
.nav li:hover span, .social li:hover span {
  opacity: 1;
}
/* line 1317, custom.scss */
.nav li a, .social li a {
  line-height: 46px;
  margin-bottom: 10px;
  font-size: 1.25em;
  padding: 11.5px;
  color: #FFFFFF;
}
/* line 1323, custom.scss */
.nav li a img, .social li a img {
  margin-top: -4px;
}

/* line 1330, custom.scss */
.social {
  position: absolute;
  bottom: 8px;
}

/* line 1335, custom.scss */
.has-tip, .has-tip:hover {
  cursor: default;
  color: #333333;
  border-bottom: none;
}

/* line 1344, custom.scss */
#forum_header {
  margin-bottom: 1.25em;
  text-align: center;
}
/* line 1347, custom.scss */
#forum_header #comment_number {
  margin-bottom: 0;
}
/* line 1350, custom.scss */
#forum_header span {
  font-size: 0.75em;
}

/* line 1355, custom.scss */
.contact_form, .forum_publish {
  background: #FFFFFF;
  padding: 25px;
}

/* line 1360, custom.scss */
.contact_form {
  box-shadow: 0 2px 0 #94A0AA;
  margin-bottom: 5em;
}

/* line 1366, custom.scss */
.forum_comments {
  background-color: #F7F7F7;
}
/* line 1368, custom.scss */
.forum_comments .forum_comments_item {
  padding: 1em 25px;
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}
/* line 1372, custom.scss */
.forum_comments .forum_comments_item p {
  margin: 0;
}
/* line 1375, custom.scss */
.forum_comments .forum_comments_item span {
  padding-left: 1em;
}

/* line 1384, custom.scss */
.move-right > .inner-wrap {
  -webkit-transform: translate3d(70px, 0, 0);
  -moz-transform: translate3d(70px, 0, 0);
  -ms-transform: translate3d(70px, 0, 0);
  -o-transform: translate3d(70px, 0, 0);
  transform: translate3d(70px, 0, 0);
}

/* line 1392, custom.scss */
.left-off-canvas-menu, .right-off-canvas-menu {
  width: 70px;
  top: 0;
  bottom: 0;
  height: 100%;
  position: absolute;
  overflow-y: auto;
  background: #6C217F;
  z-index: 1001;
  box-sizing: content-box;
}

/* line 1405, custom.scss */
.left-off-canvas-toggle {
  font-weight: 700;
  color: #94A0AA;
}

/* line 1410, custom.scss */
.move-right a.exit-off-canvas {
  transition: background 300ms ease;
  cursor: pointer;
  box-shadow: none;
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1002;
}

/* line 1424, custom.scss */
#menu_title {
  font-weight: 500;
  display: inline;
  padding-left: 0.2em;
  position: relative;
  bottom: 5px;
  color: #6C217F;
}

/* line 1433, custom.scss */
.left-off-canvas-toggle:hover {
  font-weight: 700;
  color: #94A0AA;
}

/* line 1438, custom.scss */
#courses_menu {
  background-color: #EEEEEE;
  padding-top: 1em;
  padding-bottom: 1em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 300;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 1452, custom.scss */
#courses_menu select {
  height: 3.125rem;
  outline: none;
  margin: 0.5em 0 0 0;
}

/* line 1460, custom.scss */
.more #more_courses {
  color: #596c79;
  font-size: 1.4375rem;
  font-weight: 100;
}
/* line 1466, custom.scss */
.more #more_icon {
  background: url(../img/scroll_down_interno.png) no-repeat;
  color: #fff;
  display: block;
  height: 49px;
  width: 49px;
  margin: auto;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
/* line 1478, custom.scss */
.more #more_icon:hover {
  background: url(../img/scroll_down_interno_hover.png) no-repeat;
}
/* line 1483, custom.scss */
.more:hover {
  cursor: pointer;
}
/* line 1484, custom.scss */
.more:hover #more_courses {
  color: #596c79;
  text-decoration: underline;
}

/* line 1492, custom.scss */
#courses_hidden {
  display: none;
}

/* line 1496, custom.scss */
.resources_list {
  background-color: #FFFFFF;
}
/* line 1499, custom.scss */
.resources_list h5 {
  font-weight: 400;
}
/* line 1502, custom.scss */
.resources_list span {
  color: #929FAA;
}
/* line 1505, custom.scss */
.resources_list img {
  border-radius: 50%;
}

/* line 1510, custom.scss */
.resources_item {
  padding: 1em 25px;
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}
/* line 1514, custom.scss */
.resources_item h5 {
  font-weight: 400;
}
/* line 1517, custom.scss */
.resources_item span {
  color: #929FAA;
}
/* line 1520, custom.scss */
.resources_item img {
  border-radius: 50%;
}

/* line 1526, custom.scss */
.resources_item a {
  color: #596c79;
}

/* line 1532, custom.scss */
#myModal {
  padding: 1.8em;
  border: none;
  box-shadow: none;
  background: white;
}
/* line 1537, custom.scss */
#myModal .flex-video {
  margin-bottom: 0;
}

/* line 1542, custom.scss */
.like {
  position: absolute;
  top: 1em;
  right: 1em;
  cursor: pointer;
}

/* line 1549, custom.scss */
.vermas {
  margin-bottom: 1.5em;
}

/* line 1553, custom.scss */
.heading-pocket {
  background: #edeff0;
  position: fixed;
  height: 70px;
  top: 0;
  left: 70px;
  right: 0;
  z-index: 100;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 1566, custom.scss */
.heading-pocket .inline-list {
  margin-top: 25px;
}
/* line 1569, custom.scss */
.heading-pocket .inline-list li a {
  color: #596c79;
  font-weight: 300;
  font-size: 0.9rem;
  line-height: 2.5;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 1578, custom.scss */
.heading-pocket .inline-list li a:hover {
  font-weight: 600;
}

/* line 1588, custom.scss */
.back {
  padding-top: 1.5em;
}

/* line 1592, custom.scss */
.heading-pocket:before, .heading-pocket:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: -10px;
  right: -8px;
  width: 15px;
  background: #edeff0;
  z-index: 101;
  -webkit-box-shadow: -2px 0px 4px #edeff0;
  -moz-box-shadow: -2px 0px 4px #edeff0;
  box-shadow: -2px 0px 4px #edeff0;
}

/* line 1606, custom.scss */
#clickable_div {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-decoration: none;
  /* No underlines on the link */
  z-index: 10;
  /* Places the link above everything else in the div */
  background-color: #FFF;
  /* Fix to make div clickable in IE */
  opacity: 0;
  /* Fix to make div clickable in IE */
  filter: alpha(opacity=1);
  /* Fix to make div clickable in IE */
}

/* line 1620, custom.scss */
.filtro-interno .inline-list {
  margin-left: 0;
}
/* line 1623, custom.scss */
.filtro-interno .inline-list li {
  margin-left: 0.5rem;
}
/* line 1625, custom.scss */
.filtro-interno .inline-list li a {
  font-weight: 300;
  -webkit-transition: all ease-out 0.2s;
  background: #9E79B8;
  background-color: transparent;
  padding: 0.25em 0.8em;
  font-size: 0.8rem;
  text-transform: capitalize;
  color: #596c79;
}
/* line 1634, custom.scss */
.filtro-interno .inline-list li a:hover {
  color: #FFFFFF;
  background: #9E79B8;
}
/* line 1638, custom.scss */
.filtro-interno .inline-list li a.selected {
  color: #FFFFFF;
  background: #9E79B8;
}
/* line 1644, custom.scss */
.filtro-interno .inline-list li:first-child {
  margin-left: 0;
}

/* line 1651, custom.scss */
.filtro-externo .inline-list {
  margin-left: 0;
}
/* line 1654, custom.scss */
.filtro-externo .inline-list li {
  margin-left: 0.5rem;
}
/* line 1656, custom.scss */
.filtro-externo .inline-list li a {
  font-weight: 300;
  -webkit-transition: all ease-out 0.2s;
  background: #9E79B8;
  background-color: transparent;
  padding: 0.25em 0.8em;
  font-size: 0.8rem;
  text-transform: capitalize;
  color: #596c79;
}
/* line 1665, custom.scss */
.filtro-externo .inline-list li a:hover {
  color: #FFFFFF;
  background: #9E79B8;
}
/* line 1669, custom.scss */
.filtro-externo .inline-list li a.selected {
  color: #FFFFFF;
  background: #9E79B8;
}
/* line 1675, custom.scss */
.filtro-externo .inline-list li:first-child {
  margin-left: 0;
}

/* line 1681, custom.scss */
.under_fixed_header {
  margin-top: 184px;
}

/* line 1686, custom.scss */
#feedback_content .under_fixed_header, #contact_content .under_fixed_header {
  margin-top: 70px;
}

/* line 1692, custom.scss */
#details .under_fixed_header {
  margin-top: 70px;
}

/* line 1700, custom.scss */
#navbar {
  position: fixed;
  background-color: #FFFFFF;
  width: 100%;
  z-index: 2;
  top: 0;
}
/* line 1706, custom.scss */
#navbar a {
  line-height: 75px;
  font-weight: 100;
  font-size: 1.1rem;
}

/* line 1713, custom.scss */
#sub_navbar {
  background-color: #ECECEC;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 75px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
/* line 1723, custom.scss */
#sub_navbar .inline-list {
  margin-bottom: 0;
  line-height: 50px;
  margin: auto;
  width: 590px;
}
/* line 1729, custom.scss */
#sub_navbar .inline-list li a {
  color: #596c79;
  font-size: 1.1rem;
  font-weight: 100;
}
/* line 1733, custom.scss */
#sub_navbar .inline-list li a:hover {
  color: #6C217F;
}

/* line 1741, custom.scss */
.shadow_navbar {
  box-shadow: 0 1px 1px 0px #C2C2C2;
}

/* line 1745, custom.scss */
.shadow_trigger {
  position: absolute;
  left: 0;
  bottom: 122px;
  width: 100%;
  text-align: center;
  height: 1px;
}

/* line 1754, custom.scss */
#new_homepage {
  margin-top: 125px;
  min-height: 600px;
  height: auto !important;
  height: 600px;
  background: url("../img/new_bg_cover.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  background-position: center center;
  padding: 70px 0 2.5em 0;
}
/* line 1767, custom.scss */
#new_homepage .headline {
  background: rgba(102, 0, 102, 0.45);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  text-align: left;
  padding: 1em 2em;
  width: 35%;
  padding-top: 10%;
}
/* line 1777, custom.scss */
#new_homepage .headline h1, #new_homepage .headline h2, #new_homepage .headline h3, #new_homepage .headline h4, #new_homepage .headline h5, #new_homepage .headline h6 {
  color: #FFFFFF;
  font-weight: 100;
}
/* line 1781, custom.scss */
#new_homepage .headline h1 {
  font-size: 3rem;
  line-height: 100%;
  margin-bottom: 1.2rem;
  text-transform: uppercase;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
}
/* line 1789, custom.scss */
#new_homepage .headline h4 {
  color: #FFFFFF;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  line-height: 120%;
  font-size: 1.275rem;
}
/* line 1796, custom.scss */
#new_homepage .headline a {
  background: transparent;
  border: 1px solid white;
  margin-top: 3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
/* line 1802, custom.scss */
#new_homepage .headline a:hover {
  background: #FFFFFF;
  color: #6C217F;
}

/* line 1810, custom.scss */
#summa {
  min-height: 600px;
  height: auto !important;
  height: 600px;
  background: url("../img/summa_bg.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  background-position: center center;
  padding: 70px 0 2.5em 0;
}
/* line 1822, custom.scss */
#summa .headline {
  background: rgba(102, 0, 102, 0.45);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  padding: 1em 2em;
  width: 35%;
  padding-top: 2rem;
  padding-top: 10%;
}
/* line 1833, custom.scss */
#summa .headline h1, #summa .headline h2, #summa .headline h3, #summa .headline h4, #summa .headline h5, #summa .headline h6 {
  color: #FFFFFF;
  font-weight: 100;
}
/* line 1837, custom.scss */
#summa .headline h1 {
  font-size: 3rem;
  line-height: 100%;
  margin-bottom: 1.2rem;
  text-transform: uppercase;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
}
/* line 1845, custom.scss */
#summa .headline h4 {
  color: #FFFFFF;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  line-height: 120%;
  font-size: 1.275rem;
}
/* line 1852, custom.scss */
#summa .headline a {
  background: transparent;
  border: 2px solid white;
  margin-top: 3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
/* line 1858, custom.scss */
#summa .headline a:hover {
  background: #FFFFFF;
  color: #6C217F;
}

/* line 1867, custom.scss */
#article_header {
  min-height: 450px;
  height: auto !important;
  height: 450px;
  background: url("../img/article_header.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  background-position: top center;
  color: #FFFFFF;
  width: 100%;
  margin-top: 125px;
}
/* line 1879, custom.scss */
#article_header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}
/* line 1888, custom.scss */
#article_header .article_title {
  position: absolute;
  width: 100%;
  bottom: 50px;
}
/* line 1893, custom.scss */
#article_header h1 {
  color: #FFFFFF;
  font-weight: 400;
  margin-bottom: 0;
}
/* line 1898, custom.scss */
#article_header #sub_header {
  opacity: 0.65;
  font-size: 1.35rem;
  font-weight: 100;
  display: block;
  margin-bottom: 0.8rem;
}
/* line 1905, custom.scss */
#article_header p {
  opacity: 0.65;
  display: inline-block;
  font-weight: 100;
}
/* line 1909, custom.scss */
#article_header p span {
  text-decoration: underline;
}

/* line 1916, custom.scss */
#article_content {
  background-color: #FFFFFF;
  padding: 5rem 0;
}
/* line 1919, custom.scss */
#article_content p {
  margin-bottom: 30px;
  font-size: 1.25rem;
  color: #333332;
}
/* line 1924, custom.scss */
#article_content img {
  margin-bottom: 30px;
}

/* line 1929, custom.scss */
#next_article {
  min-height: 400px;
  height: auto !important;
  height: 400px;
  background: url("../img/next_article.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  background-position: top center;
  color: #FFFFFF;
  width: 100%;
}
/* line 1940, custom.scss */
#next_article .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}
/* line 1949, custom.scss */
#next_article .next_title {
  color: #FFFFFF;
  opacity: 0.65;
  position: absolute;
  top: 100px;
  width: 100%;
}
/* line 1955, custom.scss */
#next_article .next_title h6 {
  border-top: 1px solid #FFFFFF;
  color: #FFFFFF;
  opacity: 0.65;
  width: 100%;
  font-weight: 300;
}
/* line 1963, custom.scss */
#next_article .article_title {
  position: absolute;
  width: 100%;
  bottom: 50px;
}
/* line 1968, custom.scss */
#next_article h1 {
  color: #FFFFFF;
  font-weight: 400;
  margin-bottom: 0;
}
/* line 1973, custom.scss */
#next_article #sub_header {
  opacity: 0.65;
  font-size: 1.35rem;
  font-weight: 100;
  display: block;
  margin-bottom: 0.8rem;
}
/* line 1980, custom.scss */
#next_article p {
  opacity: 0.65;
  display: inline-block;
  font-weight: 100;
}
/* line 1984, custom.scss */
#next_article p span {
  text-decoration: underline;
}

/* line 1992, custom.scss */
#new_header {
  padding: 25px 15px;
}
/* line 1994, custom.scss */
#new_header h2 {
  margin-bottom: 2.5rem;
  font-weight: 400;
}

/* line 2001, custom.scss */
.menu-nav nav span {
  color: #FFFFFF;
}

@media only screen and (min-width: 40.063em) {
  /* line 2011, custom.scss */
  #cover h1 {
    line-height: 1;
    font-size: 3rem;
    text-align: left;
  }
  /* line 2016, custom.scss */
  #cover h5 {
    font-size: 1.45rem;
    text-align: left;
  }
  /* line 2020, custom.scss */
  #cover a {
    font-size: 1.2rem;
  }
  /* line 2023, custom.scss */
  #cover #view_video {
    font-size: 1.2rem;
    height: 75px;
    font-weight: 100;
    color: #F1F1F1;
  }
  /* line 2030, custom.scss */
  #cover .explore {
    width: 175px;
    float: left;
  }
  /* line 2034, custom.scss */
  #cover .down {
    display: block;
  }
  /* line 2037, custom.scss */
  #cover #logo_index {
    float: left;
  }

  /* line 2042, custom.scss */
  .course {
    height: 230px;
  }

  /* line 2046, custom.scss */
  .externo {
    height: auto;
  }

  /* line 2051, custom.scss */
  #details_header h3 {
    padding-bottom: 0;
    font-weight: 700;
    text-transform: uppercase;
  }

  /* line 2059, custom.scss */
  .details_info p {
    font-size: 2rem;
    line-height: 1.25rem;
    margin-top: 1rem;
    color: #66198A;
    font-weight: 500;
    text-align: center;
  }
  /* line 2067, custom.scss */
  .details_info span {
    font-size: 0.9rem;
    font-weight: 100;
  }

  /* line 2073, custom.scss */
  #courses, #details {
    padding-top: 0;
    margin-left: 70px;
  }

  /* line 2078, custom.scss */
  #forum_header, #details_header, #courses_header, #contact_header, #content_header, #new_header {
    margin-top: 70px;
    margin-bottom: 1.9em;
    text-align: left;
  }

  /* line 2084, custom.scss */
  #details_header {
    padding: 0.6em 25px;
  }
  /* line 2086, custom.scss */
  #details_header h3 {
    margin: 0;
    font-size: 1.5em;
  }

  /* line 2092, custom.scss */
  #forum_header, #courses_header, #content_header, #contact_header, #details_header {
    margin-top: 0;
    position: fixed;
    z-index: 1;
    width: -moz-calc(100% - 131px);
    width: -webkit-calc(100% - 131px);
    width: calc(100% - 131px);
  }

  /* line 2101, custom.scss */
  #catalogo_content, #contenidos_content, #feedback_content, #contact_content, #details_content {
    margin-top: 70px;
  }

  /* line 2106, custom.scss */
  .fixed_menu {
    position: fixed;
    right: 0;
  }

  /* line 2113, custom.scss */
  .fixed_menu_details {
    position: fixed;
    right: 0;
    top: 4.4rem;
  }

  /* line 2120, custom.scss */
  #footer p {
    text-align: center;
  }

  /* line 2125, custom.scss */
  #form_search {
    position: relative;
    margin-bottom: 1.5em;
    margin-top: 0;
  }

  /* line 2131, custom.scss */
  .total_padding {
    padding-left: 1.9em;
    padding-right: 1.9em;
  }

  /* line 2136, custom.scss */
  .index_padding {
    padding-left: 70px;
    padding-right: 70px;
  }

  /* line 2141, custom.scss */
  .right_padding {
    padding-right: 1.9em;
  }

  /* line 2145, custom.scss */
  .course {
    margin-bottom: 1.9em;
  }

  /* line 2149, custom.scss */
  #details_lesson {
    margin: 0 auto 1.9em;
  }

  /* line 2153, custom.scss */
  .contact_form {
    margin-bottom: 20em;
  }

  /* line 2157, custom.scss */
  .video_curso {
    margin-bottom: 1.9em;
  }

  /* line 2161, custom.scss */
  .under_fixed_header {
    margin-top: 150px;
  }

  /* line 2165, custom.scss */
  #feedback_content .under_fixed_header, #contact_content .under_fixed_header {
    margin-top: 150px;
  }

  /* line 2170, custom.scss */
  #details .under_fixed_header {
    margin-top: 82px;
  }
}
/* line 2177, custom.scss */
.confirmacion p {
  color: #6C217F;
  font-weight: 500;
  font-style: italic;
}

@media only screen and (min-width: 64.063em) {
  /* line 2186, custom.scss */
  #forum_header, #courses_header, #content_header, #contact_header, #details_header {
    margin-top: 0;
    position: fixed;
    z-index: 1;
    width: -moz-calc(75% - 105px);
    width: -webkit-calc(75% - 105px);
    width: calc(75% - 105px);
  }
}
