/* line 9, custom.scss */
html, body {
  height: 100%;
  font-family: "museo-sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-style: normal;
  font-weight: 100;
}

/* line 16, custom.scss */
body {
  background-color: #EEEEEE;
}

/* line 20, custom.scss */
.row {
  max-width: 120em;
}

/* line 24, custom.scss */
p {
  font-family: "museo-sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-style: normal;
  font-weight: 100;
}

/* line 30, custom.scss */
.clearfix {
  padding: 0;
}

/* line 34, custom.scss */
form {
  margin: 0;
}

/* line 38, custom.scss */
h1, h2, h3, h4, h5, h6, p {
  font-family: "museo-sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-style: normal;
}

/* line 43, custom.scss */
a {
  font-family: "museo-sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
  font-style: normal;
}

/* line 48, custom.scss */
button {
  outline: none;
  font-family: "museo-sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
}

/* line 53, custom.scss */
input[type="search"] {
  margin: 0;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #909DA8;
  height: 3.125rem;
  font-family: "museo-sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
  font-weight: 500;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  color: #CED2D6;
}

/* line 69, custom.scss */
input[type="search"]::-webkit-search-cancel-button {
  /* Remove default */
  -webkit-appearance: none;
  /* Now your own custom styles */
  display: none;
  /* Will place small red box on the right of input (positioning carries over) */
}

/* line 81, custom.scss */
.contact_form label {
  margin: 0;
  line-height: 0.8em;
  text-transform: uppercase;
  color: #596c79;
}
/* line 87, custom.scss */
.contact_form br {
  display: none;
}

/* line 92, custom.scss */
textarea {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #FDFDFD;
  font-family: "museo-sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
  font-weight: 300;
}

/* line 100, custom.scss */
.stripe {
  display: inline-block;
  width: 20px;
  height: 1px;
  border-top: 2px solid #999;
}

/* line 107, custom.scss */
textarea:focus {
  box-shadow: none;
  background: #FFFFFF;
  border-color: #AFAFAF;
}

/* line 113, custom.scss */
input[name="captcha"] {
  display: inline;
  margin-left: 1em;
}

/* line 118, custom.scss */
input[type="search"]::-webkit-input-placeholder {
  color: #FFFFFF;
}

/* line 121, custom.scss */
input[type="search"]::-moz-placeholder {
  color: #FFFFFF;
}

/* line 124, custom.scss */
input[type="search"]::-moz-placeholder {
  color: #FFFFFF;
}

/* line 127, custom.scss */
input[type="search"]:-ms-input-placeholder {
  color: #FFFFFF;
}

/* line 132, custom.scss */
input[type="search"]:focus {
  box-shadow: none;
  background: #FFFFFF;
  border: none;
}

/* line 139, custom.scss */
input[type="search"]:focus + .icon-search {
  color: #CED2D6;
}

/* line 145, custom.scss */
input[type="text"], input[type="email"], textarea {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #FDFDFD;
  font-family: "museo-sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
  font-weight: 300;
}

/* line 153, custom.scss */
input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
  box-shadow: none;
  background: #FFFFFF;
  border-color: #AFAFAF;
}

@font-face {
  font-family: 'cplay';
  src: url("../fonts/cplay.eot");
  src: url("../fonts/cplay.eot?#iefix") format("embedded-opentype"), url("../fonts/cplay.ttf") format("truetype"), url("../fonts/cplay.woff") format("woff"), url("../fonts/cplay.svg#cplay") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 171, custom.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'cplay';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 185, custom.scss */
.icon-search:before {
  content: "\e600";
}

/* line 188, custom.scss */
.icon-school:before {
  content: "\e601";
}

/* line 191, custom.scss */
.icon-play:before {
  content: "\e603";
}

/* line 194, custom.scss */
.icon-list:before {
  content: "\e604";
}

/* line 197, custom.scss */
.icon-arrow-down:before {
  content: "\e605";
}

/* line 200, custom.scss */
.icon-arrow-up:before {
  content: "\e606";
}

/* line 203, custom.scss */
.icon-arrow-right:before {
  content: "\e602";
}

/* line 206, custom.scss */
.icon-bubbles:before {
  content: "\e607";
}

/* line 209, custom.scss */
.icon-grid:before {
  content: "\e609";
}

/* line 212, custom.scss */
.icon-book:before {
  content: "\e608";
}

/* line 215, custom.scss */
.icon-mail:before {
  content: "\e60a";
}

/* line 218, custom.scss */
.icon-thumbs-up:before {
  content: "\e60b";
}

/* line 221, custom.scss */
.icon-thumbs-up2:before {
  content: "\e60c";
}

/* line 224, custom.scss */
.icon-twitter:before {
  content: "\e60d";
}

/* line 227, custom.scss */
.icon-facebook:before {
  content: "\e60e";
}

/* line 231, custom.scss */
.icon-rocket:before {
  content: "\e611";
}

/* line 234, custom.scss */
.icon-shield:before {
  content: "\e612";
}

/* line 237, custom.scss */
.icon-trophy:before {
  content: "\e613";
}

/* line 241, custom.scss */
.icon-play {
  position: relative;
  top: 2px;
}

/* line 246, custom.scss */
.icon-search {
  position: absolute;
  color: #FFFFFF;
  font-size: 20px;
  top: 0.65em;
  right: 0.8em;
}

/* line 254, custom.scss */
.icon-arrow-right {
  position: relative;
  top: 2px;
}

/* line 259, custom.scss */
#menu_arrow, #menu_arrow_1, #menu_arrow_2, #menu_arrow_3, #menu_arrow_4, #menu_arrow_5 {
  position: absolute;
  top: 0.5em;
  right: 0.35em;
  font-size: 30px;
}

/* line 266, custom.scss */
.icon-list {
  color: #94A0AA;
  font-size: 30px;
  color: #6C217F;
}

/* line 272, custom.scss */
.icon-grid, .icon-book, .icon-bubbles, .icon-mail, .icon-facebook, .icon-twitter {
  color: #FFFFFF;
}

/* line 277, custom.scss */
.publish, .explore, .video {
  background-color: #6C217F;
  box-shadow: 0 2px 0 #4B1658;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  margin: 0 0 1.9em;
}

/* line 286, custom.scss */
.explore:hover, .explore:focus {
  background-color: #79268D;
  box-shadow: 0 2px 0 #4B1658;
}

/* line 291, custom.scss */
.explore:active {
  top: 2px;
  box-shadow: 0 -2px 0 #4b1658;
}

/* line 296, custom.scss */
.video {
  background-color: #94A0A9;
  box-shadow: 0 2px 0 #5B6F7B;
}

/* line 301, custom.scss */
.video:hover, .video:focus {
  background-color: #A0ADB6;
  box-shadow: 0 2px 0 #5B6F7B;
}

/* line 306, custom.scss */
.video:active {
  top: 2px;
  box-shadow: 0 -2px 0 #5b6f7b;
}

/* line 311, custom.scss */
.publish {
  margin: 0;
}

/* line 319, custom.scss */
#cover {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  background: url("../img/bg_cover_small.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  background-position: center center;
  text-align: center;
  padding: 70px 0 2.5em 0;
}
/* line 332, custom.scss */
#cover h1, #cover h2, #cover h3, #cover h4, #cover h5, #cover p, #cover a {
  color: #FFFFFF;
  font-family: "museo-sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-style: normal;
}
/* line 337, custom.scss */
#cover h1 {
  font-weight: 900;
  margin-top: 4.2em;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
/* line 342, custom.scss */
#cover h5 {
  font-weight: 300;
  margin-bottom: 0.5rem;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
/* line 347, custom.scss */
#cover a {
  font-weight: 500 !important;
  padding: 1em 0;
}
/* line 351, custom.scss */
#cover #home_menu {
  float: right;
}
/* line 354, custom.scss */
#cover #home_menu li a {
  color: #DDDDDD;
  font-weight: 500;
  padding: 0;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
/* line 363, custom.scss */
#cover #home_menu li a:hover {
  color: #FFFFFF;
}
/* line 369, custom.scss */
#cover .play {
  cursor: pointer;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 3px white solid;
  background-color: transparent;
  padding: 0;
  outline: none;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
/* line 385, custom.scss */
#cover .play .icon-play {
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
  position: relative;
  top: 1px;
}
/* line 393, custom.scss */
#cover .play:hover {
  background: #fff;
  border-color: #ffffff;
  -webkit-transform: scale(1.1);
}
/* line 397, custom.scss */
#cover .play:hover .icon-play {
  color: #303336;
  top: 1px;
}
/* line 402, custom.scss */
#cover .down {
  display: none;
  position: absolute;
  left: 0;
  bottom: 5%;
  width: 100%;
  text-align: center;
  padding-bottom: 6px;
}
/* line 410, custom.scss */
#cover .down #down {
  background: url(../img/scroll_down.png) no-repeat;
  color: #fff;
  display: block;
  height: 49px;
  width: 49px;
  margin: auto;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
/* line 422, custom.scss */
#cover .down #down:hover {
  background: url(../img/scroll_down_hover.png) no-repeat;
}

/* line 431, custom.scss */
#destacados {
  position: relative;
  padding: 3.5em 0 2.5em 0;
  background: #ECECEC;
}
/* line 435, custom.scss */
#destacados .title {
  margin: 0;
  line-height: 1;
  padding-bottom: 1.25em;
  font-weight: 700;
}
/* line 441, custom.scss */
#destacados .course {
  background-color: #FFFFFF;
}
/* line 443, custom.scss */
#destacados .course .school {
  text-transform: uppercase;
}
/* line 447, custom.scss */
#destacados:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 48%;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #ECECEC;
}

/* line 460, custom.scss */
#la_ucb {
  padding: 2.5em 0;
  background: #FFFFFF;
  text-align: center;
  position: relative;
}
/* line 464, custom.scss */
#la_ucb .title {
  margin: 0;
  line-height: 1;
  padding-bottom: 2.25em;
  padding-top: 2.25em;
  font-weight: 700;
  font-size: 1.5em;
}
/* line 472, custom.scss */
#la_ucb p {
  font-size: 1.1rem;
}
/* line 475, custom.scss */
#la_ucb #sub_p {
  margin-top: 1rem;
}
/* line 479, custom.scss */
#la_ucb h3 {
  text-transform: uppercase;
  font-weight: 400;
}
/* line 482, custom.scss */
#la_ucb h3 span {
  font-weight: 700;
}
/* line 498, custom.scss */
#la_ucb h6 {
  margin-top: 1.5em;
  font-weight: 300;
}
/* line 502, custom.scss */
#la_ucb .icon-rocket {
  font-size: 5em;
  color: #6C217F;
}
/* line 506, custom.scss */
#la_ucb .icon-shield {
  font-size: 5em;
  color: #6C217F;
}
/* line 510, custom.scss */
#la_ucb .icon-trophy {
  font-size: 5em;
  color: #6C217F;
}

/* line 517, custom.scss */
#metodologia {
  padding: 3.5em 0 2.5em 0;
  background: #ECECEC;
  text-align: center;
}
/* line 521, custom.scss */
#metodologia .title {
  margin: 0;
  line-height: 1;
  padding-bottom: 2.25em;
  font-weight: 700;
}
/* line 527, custom.scss */
#metodologia h6 {
  margin-top: 1.5em;
  font-weight: 300;
}
/* line 531, custom.scss */
#metodologia .icon-rocket {
  font-size: 5em;
  color: #6C217F;
}
/* line 535, custom.scss */
#metodologia .icon-shield {
  font-size: 5em;
  color: #6C217F;
}
/* line 539, custom.scss */
#metodologia .icon-trophy {
  font-size: 5em;
  color: #6C217F;
}

/* line 546, custom.scss */
#prev-escuelas {
  padding: 12em 0;
  background: #FAFAFA;
  text-align: center;
  background: url("../img/bg_prev_escuelas.jpg");
  border-top: 7px solid rgba(0, 0, 0, 0.16);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
/* line 557, custom.scss */
#prev-escuelas .title {
  margin: 0;
  line-height: 1;
  padding-bottom: 1.25em;
  font-weight: 700;
}
/* line 563, custom.scss */
#prev-escuelas h3 {
  color: #FFFFFF;
}

/* line 568, custom.scss */
#escuelas_title {
  padding: 2.5em 0;
  background-color: #ECECEC;
  text-align: center;
  border-top: 8px solid #DDDDDD;
  position: relative;
}
/* line 574, custom.scss */
#escuelas_title .title {
  margin: 0;
  line-height: 1;
  font-weight: 700;
  font-size: 1.5em;
}
/* line 580, custom.scss */
#escuelas_title:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 48%;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #ECECEC;
}

/* line 593, custom.scss */
#escuelas {
  padding: 3.5em 0 2.5em 0;
  background: #FFFFFF;
  text-align: center;
}
/* line 597, custom.scss */
#escuelas .title {
  margin: 0;
  line-height: 1;
  padding-bottom: 2em;
  font-weight: 300;
  font-size: 1.4em;
}
/* line 604, custom.scss */
#escuelas .quote {
  margin-top: 1.5em;
  margin-bottom: 0.75em;
  font-family: "minion-pro",sans-serif;
  font-style: italic;
  font-weight: 400;
}
/* line 611, custom.scss */
#escuelas h4 {
  color: #929FAA;
  font-size: 1.2em;
}
/* line 615, custom.scss */
#escuelas .escuelas_box {
  border: 5px solid #ECECEC;
  margin: 0 auto;
  padding: 30px 8%;
  color: #929FAA;
  font-size: 12pt;
  position: relative;
  overflow: hidden;
  min-height: 20em;
  margin-bottom: 2em;
}
/* line 626, custom.scss */
#escuelas img {
  display: block;
  margin: auto;
}
/* line 630, custom.scss */
#escuelas .author {
  border-radius: 50%;
  border: 6px solid #e3e3e3;
  width: 100px;
  height: 100px;
}

/* line 639, custom.scss */
#convenios {
  padding: 3.5em 0 2.5em 0;
  background: #ECECEC;
  text-align: center;
}
/* line 643, custom.scss */
#convenios .title {
  margin: 0;
  line-height: 1;
  padding-bottom: 0.5em;
  font-weight: 100;
  font-size: 2.8em;
  color: #6C217F;
}
/* line 651, custom.scss */
#convenios h5 {
  color: #94A0AA;
  font-weight: 100;
  padding-bottom: 3em;
}
/* line 656, custom.scss */
#convenios a {
  background: transparent;
  border: 2px solid #94A0AA;
  color: #94A0AA;
  display: block;
  width: 120px;
  text-align: center;
  float: center;
  margin: 6rem auto;
  padding: 0.5rem 0;
}
/* line 666, custom.scss */
#convenios a:hover {
  background: #94A0AA;
  color: #FFFFFF;
}

/* line 674, custom.scss */
.orbit-container .orbit-prev, .orbit-container .orbit-next {
  background: none;
}

/* line 678, custom.scss */
.orbit-container .orbit-prev:hover, .orbit-container .orbit-next:hover {
  background: none;
}

/* line 682, custom.scss */
.orbit-bullets-container {
  display: none;
}

/* line 686, custom.scss */
.orbit-prev, .orbit-next {
  background: none;
}

/* line 690, custom.scss */
.orbit-prev:hover, .orbit-next:hover {
  background: none;
}

/* line 694, custom.scss */
.orbit-container .orbit-prev > span {
  border-right-color: #6C217F;
}

/* line 698, custom.scss */
.orbit-container .orbit-prev:hover > span {
  border-right-color: #6C217F;
}

/* line 702, custom.scss */
.orbit-container .orbit-next > span {
  border-left-color: #6C217F;
}

/* line 706, custom.scss */
.orbit-container .orbit-next:hover > span {
  border-left-color: #6C217F;
}

/* line 710, custom.scss */
.orbit-container .orbit-timer {
  display: none;
}

/* line 714, custom.scss */
.orbit-container .orbit-slide-number {
  display: none;
}

/* line 724, custom.scss */
#contacto {
  padding: 2.5em 0;
  background: #ECECEC;
  text-align: center;
}
/* line 728, custom.scss */
#contacto .title {
  margin: 0;
  line-height: 1;
  padding-bottom: 1.25em;
  font-weight: 700;
}

/* line 739, custom.scss */
.course {
  background-color: #FFFFFF;
  height: auto;
  border-right: 25px solid transparent;
  box-shadow: 0 2px 0 #94A0AA;
  padding: 25px;
  margin-bottom: 1.25em;
  position: relative;
}
/* line 747, custom.scss */
.course .school {
  text-transform: uppercase;
  position: absolute;
  left: 1.5em;
  bottom: 1.5em;
  width: 200px;
}
/* line 755, custom.scss */
.course .school span {
  color: #6C217F;
  font-size: 0.8rem;
  font-weight: 500;
}
/* line 760, custom.scss */
.course .school .icon-school {
  position: absolute;
  right: 0.5em;
}
/* line 765, custom.scss */
.course h5 {
  font-weight: 700;
  text-transform: uppercase;
  color: #596c79;
  margin-bottom: 0;
}
/* line 770, custom.scss */
.course h5 a {
  color: #596c79;
}
/* line 772, custom.scss */
.course h5 a:hover {
  color: #596c79;
}
/* line 777, custom.scss */
.course h6 {
  font-weight: 400;
  text-transform: uppercase;
  color: #596c79;
  font-size: 0.95rem;
  margin-top: 0;
}
/* line 784, custom.scss */
.course p {
  color: #929FAA;
}
/* line 788, custom.scss */
.course #fuente a {
  color: #596c79;
  font-weight: 300;
  font-style: italic;
}

/* line 797, custom.scss */
.liderazgo {
  border-right: 25px solid #72d100;
}
/* line 800, custom.scss */
.liderazgo .school .icon-school {
  color: #72d100;
}

/* line 807, custom.scss */
.marcas {
  border-right: 25px solid red;
}
/* line 810, custom.scss */
.marcas .school .icon-school {
  color: red;
}

/* line 816, custom.scss */
.comercial {
  border-right: 25px solid #00bced;
}
/* line 819, custom.scss */
.comercial .school .icon-school {
  color: #00bced;
}

/* line 826, custom.scss */
.planeamiento {
  border-right: 25px solid #72d100;
}
/* line 829, custom.scss */
.planeamiento .school .icon-school {
  color: #72d100;
}

/* line 835, custom.scss */
.ventas {
  border-right: 25px solid #ff0066;
}
/* line 838, custom.scss */
.ventas .school .icon-school {
  color: #ff0066;
}

/* line 844, custom.scss */
.innovacion {
  border-right: 25px solid #ff7500;
}
/* line 847, custom.scss */
.innovacion .school .icon-school {
  color: #ff7500;
}

/* line 853, custom.scss */
.belcorp {
  border-right: 25px solid #6c217f;
}
/* line 856, custom.scss */
.belcorp .school .icon-school {
  color: #6c217f;
}

/* line 862, custom.scss */
#footer {
  background-color: #94A0AA;
  padding: 2.5em 0;
}
/* line 865, custom.scss */
#footer p {
  color: #2C3945;
  font-weight: 300;
  margin: 2.5em 0 0 0;
  text-align: center;
}

/* line 873, custom.scss */
footer {
  background-color: #596c79;
  padding: 1.25em 0;
}
/* line 876, custom.scss */
footer p {
  color: white;
  margin: 0;
}

/* line 885, custom.scss */
#courses, #details {
  background-color: #EEEEEE;
}
/* line 888, custom.scss */
#courses #create_course, #details #create_course {
  margin-top: 0;
  padding: 1.2rem;
}
/* line 893, custom.scss */
#courses #footer, #details #footer {
  background-color: transparent;
}
/* line 895, custom.scss */
#courses #footer p, #details #footer p {
  color: #596C79;
  font-weight: 300;
  margin: 0;
}

/* line 904, custom.scss */
#forum_header, #courses_header, #contact_header, #content_header {
  background-color: #FFFFFF;
  box-shadow: 0 2px 0 #94A0AA;
  padding: 25px;
}
/* line 908, custom.scss */
#forum_header h3, #courses_header h3, #contact_header h3, #content_header h3 {
  font-weight: 700;
}
/* line 911, custom.scss */
#forum_header h5, #courses_header h5, #contact_header h5, #content_header h5 {
  font-weight: 100;
  color: #929FAA;
}
/* line 915, custom.scss */
#forum_header .icon-grid, #courses_header .icon-grid, #contact_header .icon-grid, #content_header .icon-grid {
  color: #596c79;
  font-size: 3.55em;
  line-height: 1.4em;
}
/* line 920, custom.scss */
#forum_header .icon-bubbles, #courses_header .icon-bubbles, #contact_header .icon-bubbles, #content_header .icon-bubbles {
  color: #596c79;
  font-size: 3.4em;
  line-height: 1.2em;
}
/* line 925, custom.scss */
#forum_header .icon-book, #courses_header .icon-book, #contact_header .icon-book, #content_header .icon-book {
  color: #596c79;
  font-size: 4em;
  line-height: 1.2em;
}
/* line 930, custom.scss */
#forum_header .icon-mail, #courses_header .icon-mail, #contact_header .icon-mail, #content_header .icon-mail {
  color: #596c79;
  font-size: 3.9em;
  line-height: 1.2em;
}

/* line 937, custom.scss */
#form_search {
  position: relative;
  margin-top: 0.5em;
}

/* line 943, custom.scss */
.accordion dd > a {
  background: #6C217F;
  color: #FFFFFF;
  font-family: "museo-sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-style: normal;
  padding: 1rem;
  display: block;
  font-size: 1rem;
  position: relative;
}

/* line 954, custom.scss */
.accordion dd > a:hover {
  background: #6C217F;
}

/* line 958, custom.scss */
#details_lesson {
  box-shadow: 0 2px 0 #94A0AA;
  margin: 1.25em auto;
}
/* line 961, custom.scss */
#details_lesson dd > a {
  background: #FFFFFF;
  color: #5D6C7D;
  font-weight: 700;
}

/* line 969, custom.scss */
#lesson_panel_1 dd, #lesson_panel_2 dd, #lesson_panel_3 dd, #lesson_panel_4 dd, #lesson_panel_5 dd, #lesson_panel_6 dd {
  line-height: 1;
  position: relative;
  border: none;
}
/* line 973, custom.scss */
#lesson_panel_1 dd a, #lesson_panel_2 dd a, #lesson_panel_3 dd a, #lesson_panel_4 dd a, #lesson_panel_5 dd a, #lesson_panel_6 dd a {
  background: #FFFFFF;
  border-bottom: 1px solid #DDDDDD;
  font-weight: 300;
  color: #939FAA;
}
/* line 980, custom.scss */
#lesson_panel_1 dd:first-child a, #lesson_panel_2 dd:first-child a, #lesson_panel_3 dd:first-child a, #lesson_panel_4 dd:first-child a, #lesson_panel_5 dd:first-child a, #lesson_panel_6 dd:first-child a {
  border-top: 1px solid #DDDDDD;
}
/* line 984, custom.scss */
#lesson_panel_1 dd:last-child a, #lesson_panel_2 dd:last-child a, #lesson_panel_3 dd:last-child a, #lesson_panel_4 dd:last-child a, #lesson_panel_5 dd:last-child a, #lesson_panel_6 dd:last-child a {
  border-bottom: none;
}
/* line 988, custom.scss */
#lesson_panel_1 dd span, #lesson_panel_2 dd span, #lesson_panel_3 dd span, #lesson_panel_4 dd span, #lesson_panel_5 dd span, #lesson_panel_6 dd span {
  position: absolute;
  top: 1em;
  right: 1em;
  color: #D3D8DD;
  font-weight: 500;
  font-size: 0.92em;
}

/* line 999, custom.scss */
.accordion .content {
  display: none;
  padding: 0;
}

/* line 1004, custom.scss */
#padding_accordion {
  margin-bottom: 1.9em;
}

/* line 1009, custom.scss */
#school_panel dd {
  line-height: 1;
  position: relative;
  border: none;
}
/* line 1013, custom.scss */
#school_panel dd a {
  background: #9E79B8;
  border-bottom: 1px solid #AC89C5;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  font-size: 0.9em;
}
/* line 1021, custom.scss */
#school_panel dd a:hover {
  background: #AC89C5;
}
/* line 1024, custom.scss */
#school_panel dd a.selected {
  background: #AC89C5;
}
/* line 1028, custom.scss */
#school_panel dd .icon-school {
  position: absolute;
  top: 1em;
  right: 1em;
}
/* line 1035, custom.scss */
#school_panel .liderazgo .icon-school {
  color: #72d100;
}
/* line 1040, custom.scss */
#school_panel .marcas .icon-school {
  color: red;
}
/* line 1045, custom.scss */
#school_panel .comercial .icon-school {
  color: #00bced;
}
/* line 1050, custom.scss */
#school_panel .planeamiento .icon-school {
  color: #72d100;
}
/* line 1055, custom.scss */
#school_panel .ventas .icon-school {
  color: #ff0066;
}
/* line 1060, custom.scss */
#school_panel .innovacion .icon-school {
  color: #ff7500;
}
/* line 1065, custom.scss */
#school_panel .belcorp .icon-school {
  color: #6c217f;
}

/* line 1071, custom.scss */
#school_panel_trigger {
  font-weight: 500;
}

/* line 1075, custom.scss */
.details_info {
  background-color: #FFFFFF;
  box-shadow: 0 2px 0 #94A0AA;
  padding: 25px;
  margin-bottom: 1.25em;
}
/* line 1082, custom.scss */
.details_info h6 {
  color: #596C79;
  text-align: center;
  font-weight: 700;
}
/* line 1088, custom.scss */
.details_info p, .details_info span {
  color: #929FAA;
}
/* line 1092, custom.scss */
.details_info p {
  margin: 0;
  font-weight: 500;
}
/* line 1096, custom.scss */
.details_info .details_info_item {
  margin-bottom: 0.2em;
}
/* line 1099, custom.scss */
.details_info .details_info_item:last-child {
  margin-bottom: 0;
}

/* line 1104, custom.scss */
#details_header {
  height: auto;
  margin-top: 0;
  position: fixed;
  z-index: 1;
  width: -moz-calc(75% - 105px);
  width: -webkit-calc(75% - 105px);
  width: calc(75% - 105px);
}
/* line 1112, custom.scss */
#details_header p {
  padding-bottom: 3em;
}
/* line 1115, custom.scss */
#details_header h3 {
  padding-bottom: 2em;
  font-weight: 500;
  text-transform: uppercase;
}

/* line 1123, custom.scss */
.instructor_info {
  background-color: #FFFFFF;
  box-shadow: 0 2px 0 #94A0AA;
  padding: 25px;
  margin-bottom: 1.25em;
}
/* line 1130, custom.scss */
.instructor_info h6 {
  color: #596C79;
  text-align: center;
  font-weight: 700;
}
/* line 1136, custom.scss */
.instructor_info h5 {
  font-size: 0.85rem;
  font-weight: 700;
}
/* line 1140, custom.scss */
.instructor_info p {
  font-size: 0.8rem;
  line-height: 1.2rem;
  margin-top: 0.6rem;
}
/* line 1145, custom.scss */
.instructor_info span {
  font-size: 0.7rem;
  font-style: italic;
  text-transform: uppercase;
  font-weight: 300;
}

/* line 1153, custom.scss */
.requisitos_info {
  background-color: #FFFFFF;
  box-shadow: 0 2px 0 #94A0AA;
  padding: 25px;
  margin-bottom: 1.25em;
}

/* line 1160, custom.scss */
.syllabus {
  background-color: #FFFFFF;
  box-shadow: 0 2px 0 #94A0AA;
  padding: 25px;
  margin-bottom: 1.25em;
}

/* line 1169, custom.scss */
#menu {
  background: #6C217F;
  width: 70px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 500;
}

/* line 1178, custom.scss */
.menu-nav {
  padding: 12px;
}

/* line 1182, custom.scss */
.active-menu {
  opacity: 0.4;
}

/* line 1186, custom.scss */
.nav, .social {
  display: block;
  margin: 0;
  list-style-type: none;
  list-style-position: inside;
}
/* line 1191, custom.scss */
.nav li, .social li {
  text-align: center;
  height: 46px;
  width: 46px;
  background-color: transparent;
  transition: background-color 0.2s;
  -webkit-transition: background-color ease-out 0.2s;
}
/* line 1198, custom.scss */
.nav li:hover, .social li:hover {
  background-color: #9E79B8;
}
/* line 1200, custom.scss */
.nav li:hover span, .social li:hover span {
  opacity: 1;
}
/* line 1204, custom.scss */
.nav li a, .social li a {
  line-height: 46px;
  margin-bottom: 10px;
  font-size: 1.25em;
  padding: 11.5px;
}
/* line 1209, custom.scss */
.nav li a img, .social li a img {
  margin-top: -4px;
}

/* line 1216, custom.scss */
.social {
  position: absolute;
  bottom: 8px;
}

/* line 1221, custom.scss */
.has-tip, .has-tip:hover {
  cursor: default;
  color: #333333;
  border-bottom: none;
}

/* line 1230, custom.scss */
#forum_header {
  margin-bottom: 1.25em;
  text-align: center;
}
/* line 1233, custom.scss */
#forum_header #comment_number {
  margin-bottom: 0;
}
/* line 1236, custom.scss */
#forum_header span {
  font-size: 0.75em;
}

/* line 1241, custom.scss */
.contact_form, .forum_publish {
  background: #FFFFFF;
  padding: 25px;
}

/* line 1246, custom.scss */
.contact_form {
  box-shadow: 0 2px 0 #94A0AA;
  margin-bottom: 5em;
}

/* line 1252, custom.scss */
.forum_comments {
  background-color: #F7F7F7;
}
/* line 1254, custom.scss */
.forum_comments .forum_comments_item {
  padding: 1em 25px;
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}
/* line 1258, custom.scss */
.forum_comments .forum_comments_item p {
  margin: 0;
}
/* line 1261, custom.scss */
.forum_comments .forum_comments_item span {
  padding-left: 1em;
}

/* line 1270, custom.scss */
.move-right > .inner-wrap {
  -webkit-transform: translate3d(70px, 0, 0);
  -moz-transform: translate3d(70px, 0, 0);
  -ms-transform: translate3d(70px, 0, 0);
  -o-transform: translate3d(70px, 0, 0);
  transform: translate3d(70px, 0, 0);
}

/* line 1278, custom.scss */
.left-off-canvas-menu, .right-off-canvas-menu {
  width: 70px;
  top: 0;
  bottom: 0;
  height: 100%;
  position: absolute;
  overflow-y: auto;
  background: #6C217F;
  z-index: 1001;
  box-sizing: content-box;
}

/* line 1291, custom.scss */
.left-off-canvas-toggle {
  font-weight: 700;
  color: #94A0AA;
}

/* line 1296, custom.scss */
.move-right a.exit-off-canvas {
  transition: background 300ms ease;
  cursor: pointer;
  box-shadow: none;
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1002;
}

/* line 1310, custom.scss */
#menu_title {
  font-weight: 500;
  display: inline;
  padding-left: 0.2em;
  position: relative;
  bottom: 5px;
  color: #6C217F;
}

/* line 1319, custom.scss */
.left-off-canvas-toggle:hover {
  font-weight: 700;
  color: #94A0AA;
}

/* line 1324, custom.scss */
#courses_menu {
  background-color: #EEEEEE;
  padding-top: 1em;
  padding-bottom: 1em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 300;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 1338, custom.scss */
#courses_menu select {
  height: 3.125rem;
  outline: none;
  margin: 0.5em 0 0 0;
}

/* line 1346, custom.scss */
.more #more_courses {
  color: #596c79;
  font-size: 1.4375rem;
  font-weight: 100;
}
/* line 1352, custom.scss */
.more #more_icon {
  background: url(../img/scroll_down_interno.png) no-repeat;
  color: #fff;
  display: block;
  height: 49px;
  width: 49px;
  margin: auto;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
/* line 1364, custom.scss */
.more #more_icon:hover {
  background: url(../img/scroll_down_interno_hover.png) no-repeat;
}
/* line 1369, custom.scss */
.more:hover {
  cursor: pointer;
}
/* line 1370, custom.scss */
.more:hover #more_courses {
  color: #596c79;
  text-decoration: underline;
}

/* line 1378, custom.scss */
#courses_hidden {
  display: none;
}

/* line 1382, custom.scss */
.resources_list {
  background-color: #FFFFFF;
}
/* line 1385, custom.scss */
.resources_list h5 {
  font-weight: 400;
}
/* line 1388, custom.scss */
.resources_list span {
  color: #929FAA;
}
/* line 1391, custom.scss */
.resources_list img {
  border-radius: 50%;
}

/* line 1396, custom.scss */
.resources_item {
  padding: 1em 25px;
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}
/* line 1400, custom.scss */
.resources_item h5 {
  font-weight: 400;
}
/* line 1403, custom.scss */
.resources_item span {
  color: #929FAA;
}
/* line 1406, custom.scss */
.resources_item img {
  border-radius: 50%;
}

/* line 1412, custom.scss */
.resources_item a {
  color: #596c79;
}

/* line 1418, custom.scss */
#myModal {
  padding: 1.8em;
  border: none;
  box-shadow: none;
  background: white;
}
/* line 1423, custom.scss */
#myModal .flex-video {
  margin-bottom: 0;
}

/* line 1428, custom.scss */
.like {
  position: absolute;
  top: 1em;
  right: 1em;
  cursor: pointer;
}

/* line 1435, custom.scss */
.vermas {
  margin-bottom: 1.5em;
}

/* line 1439, custom.scss */
.heading-pocket {
  background: #edeff0;
  position: fixed;
  height: 70px;
  top: 0;
  left: 70px;
  right: 0;
  z-index: 100;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

/* line 1454, custom.scss */
.back {
  padding-top: 1.5em;
}

/* line 1458, custom.scss */
.heading-pocket:before, .heading-pocket:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: -10px;
  right: -8px;
  width: 15px;
  background: #edeff0;
  z-index: 101;
  -webkit-box-shadow: -2px 0px 4px #edeff0;
  -moz-box-shadow: -2px 0px 4px #edeff0;
  box-shadow: -2px 0px 4px #edeff0;
}

/* line 1472, custom.scss */
#clickable_div {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-decoration: none;
  /* No underlines on the link */
  z-index: 10;
  /* Places the link above everything else in the div */
  background-color: #FFF;
  /* Fix to make div clickable in IE */
  opacity: 0;
  /* Fix to make div clickable in IE */
  filter: alpha(opacity=1);
  /* Fix to make div clickable in IE */
}

/* line 1486, custom.scss */
.filtro-interno .inline-list {
  margin-left: 0;
}
/* line 1489, custom.scss */
.filtro-interno .inline-list li {
  margin-left: 0.5rem;
}
/* line 1491, custom.scss */
.filtro-interno .inline-list li a {
  font-weight: 300;
  -webkit-transition: all ease-out 0.2s;
  background: #9E79B8;
  background-color: transparent;
  padding: 0.25em 0.8em;
  font-size: 0.8rem;
  text-transform: capitalize;
  color: #596c79;
}
/* line 1500, custom.scss */
.filtro-interno .inline-list li a:hover {
  color: #FFFFFF;
  background: #9E79B8;
}
/* line 1504, custom.scss */
.filtro-interno .inline-list li a.selected {
  color: #FFFFFF;
  background: #9E79B8;
}
/* line 1510, custom.scss */
.filtro-interno .inline-list li:first-child {
  margin-left: 0;
}

/* line 1517, custom.scss */
.filtro-externo .inline-list {
  margin-left: 0;
}
/* line 1520, custom.scss */
.filtro-externo .inline-list li {
  margin-left: 0.5rem;
}
/* line 1522, custom.scss */
.filtro-externo .inline-list li a {
  font-weight: 300;
  -webkit-transition: all ease-out 0.2s;
  background: #9E79B8;
  background-color: transparent;
  padding: 0.25em 0.8em;
  font-size: 0.8rem;
  text-transform: capitalize;
  color: #596c79;
}
/* line 1531, custom.scss */
.filtro-externo .inline-list li a:hover {
  color: #FFFFFF;
  background: #9E79B8;
}
/* line 1535, custom.scss */
.filtro-externo .inline-list li a.selected {
  color: #FFFFFF;
  background: #9E79B8;
}
/* line 1541, custom.scss */
.filtro-externo .inline-list li:first-child {
  margin-left: 0;
}

/* line 1547, custom.scss */
.under_fixed_header {
  margin-top: 184px;
}

/* line 1552, custom.scss */
#feedback_content .under_fixed_header, #contact_content .under_fixed_header {
  margin-top: 70px;
}

/* line 1558, custom.scss */
#details .under_fixed_header {
  margin-top: 70px;
}

/* line 1566, custom.scss */
#navbar {
  position: fixed;
  background-color: #FFFFFF;
  width: 100%;
  z-index: 1;
  top: 0;
}
/* line 1572, custom.scss */
#navbar a {
  line-height: 75px;
  font-weight: 300;
  font-size: 1.2rem;
}

/* line 1579, custom.scss */
#sub_navbar {
  background-color: #ECECEC;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 75px;
}
/* line 1585, custom.scss */
#sub_navbar .inline-list {
  padding-left: 5rem;
  margin-bottom: 0;
  line-height: 50px;
  margin-left: 0;
}

/* line 1593, custom.scss */
#new_homepage {
  margin-top: 125px;
  min-height: 600px;
  height: auto !important;
  height: 600px;
  background: url("../img/new_bg_cover.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  background-position: center center;
  padding: 70px 0 2.5em 0;
}
/* line 1606, custom.scss */
#new_homepage .headline {
  background: rgba(102, 0, 102, 0.45);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  text-align: left;
  padding: 1em 2em;
  width: 35%;
}
/* line 1615, custom.scss */
#new_homepage .headline h1, #new_homepage .headline h2, #new_homepage .headline h3, #new_homepage .headline h4, #new_homepage .headline h5, #new_homepage .headline h6 {
  color: #FFFFFF;
  font-weight: 100;
}
/* line 1619, custom.scss */
#new_homepage .headline h1 {
  font-size: 4rem;
  line-height: 1.1;
  margin-bottom: 1.2rem;
}
/* line 1624, custom.scss */
#new_homepage .headline a {
  background: transparent;
  border: 2px solid white;
  margin-top: 3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
/* line 1630, custom.scss */
#new_homepage .headline a:hover {
  background: #FFFFFF;
  color: #6C217F;
}

/* line 1638, custom.scss */
#summa {
  margin-top: 125px;
  min-height: 600px;
  height: auto !important;
  height: 600px;
  background: url("../img/summa_bg.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  background-position: center center;
  padding: 70px 0 2.5em 0;
}
/* line 1651, custom.scss */
#summa .headline {
  background: rgba(102, 0, 102, 0.45);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  padding: 1em 2em;
  width: 35%;
  padding-top: 2rem;
}
/* line 1661, custom.scss */
#summa .headline h1, #summa .headline h2, #summa .headline h3, #summa .headline h4, #summa .headline h5, #summa .headline h6 {
  color: #FFFFFF;
  font-weight: 100;
}
/* line 1665, custom.scss */
#summa .headline h1 {
  font-size: 4rem;
  line-height: 1.1;
  margin-bottom: 1.2rem;
}
/* line 1670, custom.scss */
#summa .headline a {
  background: transparent;
  border: 2px solid white;
  margin-top: 3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
/* line 1676, custom.scss */
#summa .headline a:hover {
  background: #FFFFFF;
  color: #6C217F;
}

@media only screen and (min-width: 40.063em) {
  /* line 1689, custom.scss */
  #cover h1 {
    line-height: 1;
    font-size: 3rem;
    text-align: left;
  }
  /* line 1694, custom.scss */
  #cover h5 {
    font-size: 1.45rem;
    text-align: left;
  }
  /* line 1698, custom.scss */
  #cover a {
    font-size: 1.2rem;
  }
  /* line 1701, custom.scss */
  #cover #view_video {
    font-size: 1.2rem;
    height: 75px;
    font-weight: 100;
    color: #F1F1F1;
  }
  /* line 1708, custom.scss */
  #cover .explore {
    width: 175px;
    float: left;
  }
  /* line 1712, custom.scss */
  #cover .down {
    display: block;
  }
  /* line 1715, custom.scss */
  #cover #logo_index {
    float: left;
  }

  /* line 1720, custom.scss */
  .course {
    height: 230px;
  }

  /* line 1724, custom.scss */
  .externo {
    height: auto;
  }

  /* line 1729, custom.scss */
  #details_header h3 {
    padding-bottom: 0;
    font-weight: 700;
    text-transform: uppercase;
  }

  /* line 1737, custom.scss */
  .details_info p {
    font-size: 2rem;
    line-height: 1.25rem;
    margin-top: 1rem;
    color: #66198A;
    font-weight: 500;
    text-align: center;
  }
  /* line 1745, custom.scss */
  .details_info span {
    font-size: 0.9rem;
    font-weight: 100;
  }

  /* line 1751, custom.scss */
  #courses, #details {
    padding-top: 0;
    margin-left: 70px;
  }

  /* line 1756, custom.scss */
  #forum_header, #details_header, #courses_header, #contact_header, #content_header {
    margin-top: 70px;
    margin-bottom: 1.9em;
    text-align: left;
  }

  /* line 1762, custom.scss */
  #details_header {
    padding: 0.6em 25px;
  }
  /* line 1764, custom.scss */
  #details_header h3 {
    margin: 0;
    font-size: 1.5em;
  }

  /* line 1770, custom.scss */
  #forum_header, #courses_header, #content_header, #contact_header, #details_header {
    margin-top: 0;
    position: fixed;
    z-index: 1;
    width: -moz-calc(100% - 131px);
    width: -webkit-calc(100% - 131px);
    width: calc(100% - 131px);
  }

  /* line 1779, custom.scss */
  #catalogo_content, #contenidos_content, #feedback_content, #contact_content, #details_content {
    margin-top: 70px;
  }

  /* line 1784, custom.scss */
  .fixed_menu {
    position: fixed;
    right: 0;
  }

  /* line 1791, custom.scss */
  .fixed_menu_details {
    position: fixed;
    right: 0;
    top: 4.4rem;
  }

  /* line 1798, custom.scss */
  #footer p {
    text-align: center;
  }

  /* line 1803, custom.scss */
  #form_search {
    position: relative;
    margin-bottom: 1.5em;
    margin-top: 0;
  }

  /* line 1809, custom.scss */
  .total_padding {
    padding-left: 1.9em;
    padding-right: 1.9em;
  }

  /* line 1814, custom.scss */
  .index_padding {
    padding-left: 70px;
    padding-right: 70px;
  }

  /* line 1819, custom.scss */
  .right_padding {
    padding-right: 1.9em;
  }

  /* line 1823, custom.scss */
  .course {
    margin-bottom: 1.9em;
  }

  /* line 1827, custom.scss */
  #details_lesson {
    margin: 0 auto 1.9em;
  }

  /* line 1831, custom.scss */
  .contact_form {
    margin-bottom: 20em;
  }

  /* line 1835, custom.scss */
  .video_curso {
    margin-bottom: 1.9em;
  }

  /* line 1839, custom.scss */
  .under_fixed_header {
    margin-top: 150px;
  }

  /* line 1843, custom.scss */
  #feedback_content .under_fixed_header, #contact_content .under_fixed_header {
    margin-top: 150px;
  }

  /* line 1848, custom.scss */
  #details .under_fixed_header {
    margin-top: 82px;
  }
}
/* line 1855, custom.scss */
.confirmacion p {
  color: #6C217F;
  font-weight: 500;
  font-style: italic;
}

@media only screen and (min-width: 64.063em) {
  /* line 1864, custom.scss */
  #forum_header, #courses_header, #content_header, #contact_header, #details_header {
    margin-top: 0;
    position: fixed;
    z-index: 1;
    width: -moz-calc(75% - 105px);
    width: -webkit-calc(75% - 105px);
    width: calc(75% - 105px);
  }
}
