$input-type-list: 
// select,
// textarea,
"text",
"password",
// "datetime",
// "datetime-local",
// "date",
// "month",
// "time",
// "week",
// "number",
"email";
// "url",
// "search",
// "tel",
// "color";

form {
	label {
		// color: white;
		// text-transform: uppercase;
		// font-size: $font-size-h5;
		// @include light;
	}
	@for $i from 1 through length($input-type-list) {
		input[type="#{nth($input-type-list, $i)}"] {
			@extend .form-control;
		}
	}
	select {}
	// textarea.form-control {
	// 	background-color: transparent;
	// 	border: 2px solid white;
	// }
}

// Form overrides 
.select-override {
  @include user-select(none);
  position: relative;
  text-indent: 1px;
  text-overflow: "";
  &.input-lg {
    line-height: 28px;
    // background: white url(/img/arrow-down.svg) no-repeat 98%;
  }
}

// file_existing
.file_existing {
	display: none; 
}

.form-custom {
	textarea {
		@extend .form-control;
	}
	.required {
		&:before {
			content: "*";
			margin-right: 7px;
		}
	}
}
