@font-face {
  font-family: 'icomoon-ayu';
  src: url(../n_fonts/icomoon-ayu.eot);
  src: url(../n_fonts/icomoon-ayu.eot) format("embedded-opentype"), url(../n_fonts/icomoon-ayu.woff) format("woff"), url(../n_fonts/icomoon-ayu.ttf) format("truetype"), url(../n_fonts/icomoon-ayu.svg]) format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="ayuicon-"], [class*=" ayuicon-"] {
  font-family: 'icomoon-ayu';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }


.ayuicon-newspaper:before {
  content: "\e90b"; }


.ayuicon-person:before {
  content: "\eaf4"; }


.ayuicon-grid:before {
  content: "\e737"; }


.ayuicon-left36:before {
  content: "\e600"; }

.ayuicon-square-check-fill:before {
  content: "\e601"; }

.ayuicon-square-check:before {
  content: "\e602"; }

.ayuicon-times:before {
  content: "\e603"; }

.ayuicon-tick:before {
  content: "\e604"; }

.ayuicon-plus:before {
  content: "\e605"; }

.ayuicon-minus:before {
  content: "\e606"; }

.ayuicon-equals:before {
  content: "\e607"; }

.ayuicon-divide:before {
  content: "\e608"; }

.ayuicon-chevron-right:before {
  content: "\e609"; }

.ayuicon-chevron-left:before {
  content: "\e60a"; }

.ayuicon-arrow-right-thick:before {
  content: "\e60b"; }

.ayuicon-arrow-left-thick:before {
  content: "\e60c"; }

.ayuicon-th-small:before {
  content: "\e60d"; }

.ayuicon-th-menu:before {
  content: "\e60e"; }

.ayuicon-th-list:before {
  content: "\e60f"; }

.ayuicon-th-large:before {
  content: "\e610"; }

.ayuicon-home:before {
  content: "\e611"; }

.ayuicon-arrow-forward:before {
  content: "\e612"; }

.ayuicon-arrow-back:before {
  content: "\e613"; }

.ayuicon-rss:before {
  content: "\e614"; }

.ayuicon-location:before {
  content: "\e615"; }

.ayuicon-link:before {
  content: "\e616"; }

.ayuicon-image:before {
  content: "\e617"; }

.ayuicon-arrow-up-thick:before {
  content: "\e618"; }

.ayuicon-arrow-down-thick:before {
  content: "\e619"; }

.ayuicon-starburst:before {
  content: "\e61a"; }

.ayuicon-starburst-outline:before {
  content: "\e61b"; }

.ayuicon-star:before {
  content: "\e61c"; }

.ayuicon-flow-children:before {
  content: "\e61d"; }

.ayuicon-export:before {
  content: "\e61e"; }

.ayuicon-delete:before {
  content: "\e61f"; }

.ayuicon-delete-outline:before {
  content: "\e620"; }

.ayuicon-cloud-storage:before {
  content: "\e621"; }

.ayuicon-wi-fi:before {
  content: "\e622"; }

.ayuicon-heart:before {
  content: "\e623"; }

.ayuicon-flash:before {
  content: "\e624"; }

.ayuicon-cancel:before {
  content: "\e625"; }

.ayuicon-backspace:before {
  content: "\e626"; }

.ayuicon-attachment:before {
  content: "\e627"; }

.ayuicon-arrow-move:before {
  content: "\e628"; }

.ayuicon-warning:before {
  content: "\e629"; }

.ayuicon-user:before {
  content: "\e62a"; }

.ayuicon-radar:before {
  content: "\e62b"; }

.ayuicon-lock-open:before {
  content: "\e62c"; }

.ayuicon-lock-closed:before {
  content: "\e62d"; }

.ayuicon-location-arrow:before {
  content: "\e62e"; }

.ayuicon-info:before {
  content: "\e62f"; }

.ayuicon-user-delete:before {
  content: "\e630"; }

.ayuicon-user-add:before {
  content: "\e631"; }

.ayuicon-media-pause:before {
  content: "\e632"; }

.ayuicon-group:before {
  content: "\e633"; }

.ayuicon-chart-pie:before {
  content: "\e634"; }

.ayuicon-chart-line:before {
  content: "\e635"; }

.ayuicon-chart-bar:before {
  content: "\e636"; }

.ayuicon-chart-area:before {
  content: "\e637"; }

.ayuicon-video:before {
  content: "\e638"; }

.ayuicon-point-of-interest:before {
  content: "\e639"; }

.ayuicon-infinity:before {
  content: "\e63a"; }

.ayuicon-globe:before {
  content: "\e63b"; }

.ayuicon-eye:before {
  content: "\e63c"; }

.ayuicon-cog:before {
  content: "\e63d"; }

.ayuicon-camera:before {
  content: "\e63e"; }

.ayuicon-upload:before {
  content: "\e63f"; }

.ayuicon-scissors:before {
  content: "\e640"; }

.ayuicon-refresh:before {
  content: "\e641"; }

.ayuicon-pin:before {
  content: "\e642"; }

.ayuicon-key:before {
  content: "\e643"; }

.ayuicon-info-large:before {
  content: "\e644"; }

.ayuicon-eject:before {
  content: "\e645"; }

.ayuicon-download:before {
  content: "\e646"; }

.ayuicon-zoom:before {
  content: "\e647"; }

.ayuicon-zoom-out:before {
  content: "\e648"; }

.ayuicon-zoom-in:before {
  content: "\e649"; }

.ayuicon-sort-numerically:before {
  content: "\e64a"; }

.ayuicon-sort-alphabetically:before {
  content: "\e64b"; }

.ayuicon-input-checked:before {
  content: "\e64c"; }

.ayuicon-calender:before {
  content: "\e64d"; }

.ayuicon-world:before {
  content: "\e64e"; }

.ayuicon-notes:before {
  content: "\e64f"; }

.ayuicon-code:before {
  content: "\e650"; }

.ayuicon-arrow-sync:before {
  content: "\e651"; }

.ayuicon-arrow-shuffle:before {
  content: "\e652"; }

.ayuicon-arrow-repeat:before {
  content: "\e653"; }

.ayuicon-arrow-minimise:before {
  content: "\e654"; }

.ayuicon-arrow-maximise:before {
  content: "\e655"; }

.ayuicon-arrow-loop:before {
  content: "\e656"; }

.ayuicon-anchor:before {
  content: "\e657"; }

.ayuicon-spanner:before {
  content: "\e658"; }

.ayuicon-puzzle:before {
  content: "\e659"; }

.ayuicon-power:before {
  content: "\e65a"; }

.ayuicon-plane:before {
  content: "\e65b"; }

.ayuicon-pi:before {
  content: "\e65c"; }

.ayuicon-phone:before {
  content: "\e65d"; }

.ayuicon-microphone:before {
  content: "\e65e"; }

.ayuicon-media-rewind:before {
  content: "\e65f"; }

.ayuicon-flag:before {
  content: "\e660"; }

.ayuicon-adjust-brightness:before {
  content: "\e661"; }

.ayuicon-waves:before {
  content: "\e662"; }

.ayuicon-social-twitter:before {
  content: "\e663"; }

.ayuicon-social-facebook:before {
  content: "\e664"; }

.ayuicon-social-dribbble:before {
  content: "\e665"; }

.ayuicon-media-stop:before {
  content: "\e666"; }

.ayuicon-media-record:before {
  content: "\e667"; }

.ayuicon-media-play:before {
  content: "\e668"; }

.ayuicon-media-fast-forward:before {
  content: "\e669"; }

.ayuicon-media-eject:before {
  content: "\e66a"; }

.ayuicon-social-vimeo:before {
  content: "\e66b"; }

.ayuicon-social-tumbler:before {
  content: "\e66c"; }

.ayuicon-social-skype:before {
  content: "\e66d"; }

.ayuicon-social-pinterest:before {
  content: "\e66e"; }

.ayuicon-social-linkedin:before {
  content: "\e66f"; }

.ayuicon-social-last-fm:before {
  content: "\e670"; }

.ayuicon-social-github:before {
  content: "\e671"; }

.ayuicon-social-flickr:before {
  content: "\e672"; }

.ayuicon-at:before {
  content: "\e673"; }

.ayuicon-times-outline:before {
  content: "\e674"; }

.ayuicon-plus-outline:before {
  content: "\e675"; }

.ayuicon-minus-outline:before {
  content: "\e676"; }

.ayuicon-tick-outline:before {
  content: "\e677"; }

.ayuicon-th-large-outline:before {
  content: "\e678"; }

.ayuicon-equals-outline:before {
  content: "\e679"; }

.ayuicon-divide-outline:before {
  content: "\e67a"; }

.ayuicon-chevron-right-outline:before {
  content: "\e67b"; }

.ayuicon-chevron-left-outline:before {
  content: "\e67c"; }

.ayuicon-arrow-right-outline:before {
  content: "\e67d"; }

.ayuicon-arrow-left-outline:before {
  content: "\e67e"; }

.ayuicon-th-small-outline:before {
  content: "\e67f"; }

.ayuicon-th-menu-outline:before {
  content: "\e680"; }

.ayuicon-th-list-outline:before {
  content: "\e681"; }

.ayuicon-news:before {
  content: "\e682"; }

.ayuicon-home-outline:before {
  content: "\e683"; }

.ayuicon-arrow-up-outline:before {
  content: "\e684"; }

.ayuicon-arrow-forward-outline:before {
  content: "\e685"; }

.ayuicon-arrow-down-outline:before {
  content: "\e686"; }

.ayuicon-arrow-back-outline:before {
  content: "\e687"; }

.ayuicon-trash:before {
  content: "\e688"; }

.ayuicon-rss-outline:before {
  content: "\e689"; }

.ayuicon-message:before {
  content: "\e68a"; }

.ayuicon-location-outline:before {
  content: "\e68b"; }

.ayuicon-link-outline:before {
  content: "\e68c"; }

.ayuicon-image-outline:before {
  content: "\e68d"; }

.ayuicon-export-outline:before {
  content: "\e68e"; }

.ayuicon-cross:before {
  content: "\e68f"; }

.ayuicon-wi-fi-outline:before {
  content: "\e690"; }

.ayuicon-star-outline:before {
  content: "\e691"; }

.ayuicon-media-pause-outline:before {
  content: "\e692"; }

.ayuicon-mail:before {
  content: "\e693"; }

.ayuicon-heart-outline:before {
  content: "\e694"; }

.ayuicon-flash-outline:before {
  content: "\e695"; }

.ayuicon-cancel-outline:before {
  content: "\e696"; }

.ayuicon-beaker:before {
  content: "\e697"; }

.ayuicon-arrow-move-outline:before {
  content: "\e698"; }

.ayuicon-watch:before {
  content: "\e699"; }

.ayuicon-warning-outline:before {
  content: "\e69a"; }

.ayuicon-time:before {
  content: "\e69b"; }

.ayuicon-radar-outline:before {
  content: "\e69c"; }

.ayuicon-lock-open-outline:before {
  content: "\e69d"; }

.ayuicon-location-arrow-outline:before {
  content: "\e69e"; }

.ayuicon-info-outline:before {
  content: "\e69f"; }

.ayuicon-backspace-outline:before {
  content: "\e6a0"; }

.ayuicon-attachment-outline:before {
  content: "\e6a1"; }

.ayuicon-user-outline:before {
  content: "\e6a2"; }

.ayuicon-user-delete-outline:before {
  content: "\e6a3"; }

.ayuicon-user-add-outline:before {
  content: "\e6a4"; }

.ayuicon-lock-closed-outline:before {
  content: "\e6a5"; }

.ayuicon-group-outline:before {
  content: "\e6a6"; }

.ayuicon-chart-pie-outline:before {
  content: "\e6a7"; }

.ayuicon-chart-line-outline:before {
  content: "\e6a8"; }

.ayuicon-chart-bar-outline:before {
  content: "\e6a9"; }

.ayuicon-chart-area-outline:before {
  content: "\e6aa"; }

.ayuicon-video-outline:before {
  content: "\e6ab"; }

.ayuicon-point-of-interest-outline:before {
  content: "\e6ac"; }

.ayuicon-map:before {
  content: "\e6ad"; }

.ayuicon-key-outline:before {
  content: "\e6ae"; }

.ayuicon-infinity-outline:before {
  content: "\e6af"; }

.ayuicon-globe-outline:before {
  content: "\e6b0"; }

.ayuicon-eye-outline:before {
  content: "\e6b1"; }

.ayuicon-cog-outline:before {
  content: "\e6b2"; }

.ayuicon-camera-outline:before {
  content: "\e6b3"; }

.ayuicon-upload-outline:before {
  content: "\e6b4"; }

.ayuicon-support:before {
  content: "\e6b5"; }

.ayuicon-scissors-outline:before {
  content: "\e6b6"; }

.ayuicon-refresh-outline:before {
  content: "\e6b7"; }

.ayuicon-info-large-outline:before {
  content: "\e6b8"; }

.ayuicon-eject-outline:before {
  content: "\e6b9"; }

.ayuicon-download-outline:before {
  content: "\e6ba"; }

.ayuicon-battery-mid:before {
  content: "\e6bb"; }

.ayuicon-battery-low:before {
  content: "\e6bc"; }

.ayuicon-battery-high:before {
  content: "\e6bd"; }

.ayuicon-zoom-outline:before {
  content: "\e6be"; }

.ayuicon-zoom-out-outline:before {
  content: "\e6bf"; }

.ayuicon-zoom-in-outline:before {
  content: "\e6c0"; }

.ayuicon-tag:before {
  content: "\e6c1"; }

.ayuicon-tabs-outline:before {
  content: "\e6c2"; }

.ayuicon-pin-outline:before {
  content: "\e6c3"; }

.ayuicon-message-typing:before {
  content: "\e6c4"; }

.ayuicon-directions:before {
  content: "\e6c5"; }

.ayuicon-battery-full:before {
  content: "\e6c6"; }

.ayuicon-battery-charge:before {
  content: "\e6c7"; }

.ayuicon-pipette:before {
  content: "\e6c8"; }

.ayuicon-pencil:before {
  content: "\e6c9"; }

.ayuicon-folder:before {
  content: "\e6ca"; }

.ayuicon-folder-delete:before {
  content: "\e6cb"; }

.ayuicon-folder-add:before {
  content: "\e6cc"; }

.ayuicon-edit:before {
  content: "\e6cd"; }

.ayuicon-document:before {
  content: "\e6ce"; }

.ayuicon-document-delete:before {
  content: "\e6cf"; }

.ayuicon-document-add:before {
  content: "\e6d0"; }

.ayuicon-brush:before {
  content: "\e6d1"; }

.ayuicon-thumbs-up:before {
  content: "\e6d2"; }

.ayuicon-thumbs-down:before {
  content: "\e6d3"; }

.ayuicon-pen:before {
  content: "\e6d4"; }

.ayuicon-sort-numerically-outline:before {
  content: "\e6d5"; }

.ayuicon-sort-alphabetically-outline:before {
  content: "\e6d6"; }

.ayuicon-social-last-fm-circular:before {
  content: "\e6d7"; }

.ayuicon-social-github-circular:before {
  content: "\e6d8"; }

.ayuicon-compass:before {
  content: "\e6d9"; }

.ayuicon-bookmark:before {
  content: "\e6da"; }

.ayuicon-input-checked-outline:before {
  content: "\e6db"; }

.ayuicon-code-outline:before {
  content: "\e6dc"; }

.ayuicon-calender-outline:before {
  content: "\e6dd"; }

.ayuicon-business-card:before {
  content: "\e6de"; }

.ayuicon-arrow-up:before {
  content: "\e6df"; }

.ayuicon-arrow-sync-outline:before {
  content: "\e6e0"; }

.ayuicon-arrow-right:before {
  content: "\e6e1"; }

.ayuicon-arrow-repeat-outline:before {
  content: "\e6e2"; }

.ayuicon-arrow-loop-outline:before {
  content: "\e6e3"; }

.ayuicon-arrow-left:before {
  content: "\e6e4"; }

.ayuicon-flow-switch:before {
  content: "\e6e5"; }

.ayuicon-flow-parallel:before {
  content: "\e6e6"; }

.ayuicon-flow-merge:before {
  content: "\e6e7"; }

.ayuicon-document-text:before {
  content: "\e6e8"; }

.ayuicon-clipboard:before {
  content: "\e6e9"; }

.ayuicon-calculator:before {
  content: "\e6ea"; }

.ayuicon-arrow-minimise-outline:before {
  content: "\e6eb"; }

.ayuicon-arrow-maximise-outline:before {
  content: "\e6ec"; }

.ayuicon-arrow-down:before {
  content: "\e6ed"; }

.ayuicon-gift:before {
  content: "\e6ee"; }

.ayuicon-film:before {
  content: "\e6ef"; }

.ayuicon-database:before {
  content: "\e6f0"; }

.ayuicon-bell:before {
  content: "\e6f1"; }

.ayuicon-anchor-outline:before {
  content: "\e6f2"; }

.ayuicon-adjust-contrast:before {
  content: "\e6f3"; }

.ayuicon-world-outline:before {
  content: "\e6f4"; }

.ayuicon-shopping-bag:before {
  content: "\e6f5"; }

.ayuicon-power-outline:before {
  content: "\e6f6"; }

.ayuicon-notes-outline:before {
  content: "\e6f7"; }

.ayuicon-device-tablet:before {
  content: "\e6f8"; }

.ayuicon-device-phone:before {
  content: "\e6f9"; }

.ayuicon-device-laptop:before {
  content: "\e6fa"; }

.ayuicon-device-desktop:before {
  content: "\e6fb"; }

.ayuicon-briefcase:before {
  content: "\e6fc"; }

.ayuicon-stopwatch:before {
  content: "\e6fd"; }

.ayuicon-spanner-outline:before {
  content: "\e6fe"; }

.ayuicon-puzzle-outline:before {
  content: "\e6ff"; }

.ayuicon-printer:before {
  content: "\e700"; }

.ayuicon-pi-outline:before {
  content: "\e701"; }

.ayuicon-lightbulb:before {
  content: "\e702"; }

.ayuicon-flag-outline:before {
  content: "\e703"; }

.ayuicon-contacts:before {
  content: "\e704"; }

.ayuicon-archive:before {
  content: "\e705"; }

.ayuicon-weather-stormy:before {
  content: "\e706"; }

.ayuicon-weather-shower:before {
  content: "\e707"; }

.ayuicon-weather-partly-sunny:before {
  content: "\e708"; }

.ayuicon-weather-downpour:before {
  content: "\e709"; }

.ayuicon-weather-cloudy:before {
  content: "\e70a"; }

.ayuicon-plane-outline:before {
  content: "\e70b"; }

.ayuicon-phone-outline:before {
  content: "\e70c"; }

.ayuicon-microphone-outline:before {
  content: "\e70d"; }

.ayuicon-weather-windy:before {
  content: "\e70e"; }

.ayuicon-weather-windy-cloudy:before {
  content: "\e70f"; }

.ayuicon-weather-sunny:before {
  content: "\e710"; }

.ayuicon-weather-snow:before {
  content: "\e711"; }

.ayuicon-weather-night:before {
  content: "\e712"; }

.ayuicon-media-stop-outline:before {
  content: "\e713"; }

.ayuicon-media-rewind-outline:before {
  content: "\e714"; }

.ayuicon-media-record-outline:before {
  content: "\e715"; }

.ayuicon-media-play-outline:before {
  content: "\e716"; }

.ayuicon-media-fast-forward-outline:before {
  content: "\e717"; }

.ayuicon-media-eject-outline:before {
  content: "\e718"; }

.ayuicon-wine:before {
  content: "\e719"; }

.ayuicon-waves-outline:before {
  content: "\e71a"; }

.ayuicon-ticket:before {
  content: "\e71b"; }

.ayuicon-tags:before {
  content: "\e71c"; }

.ayuicon-plug:before {
  content: "\e71d"; }

.ayuicon-headphones:before {
  content: "\e71e"; }

.ayuicon-credit-card:before {
  content: "\e71f"; }

.ayuicon-coffee:before {
  content: "\e720"; }

.ayuicon-book:before {
  content: "\e721"; }

.ayuicon-beer:before {
  content: "\e722"; }

.ayuicon-volume:before {
  content: "\e723"; }

.ayuicon-volume-up:before {
  content: "\e724"; }

.ayuicon-volume-mute:before {
  content: "\e725"; }

.ayuicon-volume-down:before {
  content: "\e726"; }

.ayuicon-social-vimeo-circular:before {
  content: "\e727"; }

.ayuicon-social-twitter-circular:before {
  content: "\e728"; }

.ayuicon-social-pinterest-circular:before {
  content: "\e729"; }

.ayuicon-social-linkedin-circular:before {
  content: "\e72a"; }

.ayuicon-social-facebook-circular:before {
  content: "\e72b"; }

.ayuicon-social-dribbble-circular:before {
  content: "\e72c"; }

.ayuicon-tree:before {
  content: "\e72d"; }

.ayuicon-thermometer:before {
  content: "\e72e"; }

.ayuicon-social-tumbler-circular:before {
  content: "\e72f"; }

.ayuicon-social-skype-outline:before {
  content: "\e730"; }

.ayuicon-social-flickr-circular:before {
  content: "\e731"; }

.ayuicon-social-at-circular:before {
  content: "\e732"; }

.ayuicon-shopping-cart:before {
  content: "\e733"; }

.ayuicon-messages:before {
  content: "\e734"; }

.ayuicon-leaf:before {
  content: "\e735"; }

.ayuicon-feather:before {
  content: "\e736"; }