{embed="n_includes/header"}

	{if logged_in}

	<div id="site-wrapper">
		<div id="content-frame">	  
	    
		<!--MENU LADO IZQUIERDO-->
	  {embed="n_includes/menu-izquierdo"}

		<div id="site-canvas">
		
	  <!--TOP BANNER-->  
	  {embed="n_includes/top-banner"} 		

		<!-- CANVAS CONTAINER -->
		<div class="large-8 large-centered columns">
				{embed="n_includes/breadcrumbs"}
	    	<div class="row escuela-block mb-7-100">
	    		<div class="small-12 medium-12 large-12 columns">
						<h1>NO SE ENCONTRARON RESULTADOS</h1> 
	    		</div>   		
	    	</div>
	    	<div class="row search-block mb-7-100">
  	    	<div class="small-8 medium-9 large-9 columns full-width-for-portrait">
  	    		{embed="n_includes/buscador"}
  	    	</div>
  	    	<div class="small-4 medium-3 large-3 columns">
  	    		<!--<a href="#" class="button expand">Ingresa</a>-->
  	    	</div>
  	    </div>	    	
				<div class="row">
  	    	<div class="small-8 medium-9 large-9 columns full-width-for-portrait">
  	    		<h6>La(s) palabra(s) {exp:search:keywords} no arrojó(aron) ningún resultado.</h6>
            <p>Te sugerimos seguir los siguientes pasos para encontrar el contenido que buscas.</p>
            <ol>
	            <li>Verifica que las palabras estén escritas correctamente</li>
	            <li>Reescribe la búsqueda usando sinónimos.</li>
	            <li>Reescribe la búsqueda usando palabras más genéricas.</li>
	            <li>Reescribe la búsqueda usando menos palabras.</li>
            </ol>
  	    	</div>
  	    	<div class="small-4 medium-3 large-3 columns hide-for-portrait"></div>
  	    </div>
		</div>
		<!-- END:CANVAS-CONTAINER -->	
			
		</div>
	
	  </div>
	</div>
	
	{if:else}		
		<div class="row">
			<div class="small-12 medium-12 large-12 columns">	
			<h3 class="text-center">Necesita ingresar al sistema. <a href="{site_url}">Regresar al inicio</a></h3>
			</div>
		</div>
	{/if}		

{embed="n_includes/footer"}