{exp:channel:entries channel="secciones|tendencias" limit="1" disable="pagination"}
{embed="includes/header"} 

    <section id="navbar">
      <div class="row">
        <div class="large-6 columns">
          <a href="{site_url}">
            <img src="{site_url}img/logo_header.png" alt="">
          </a>
        </div>
        <div class="large-6 columns">
          <div class="text-right">
            <a href="{site_url}catalogo">Ingresar <img src="{site_url}img/enter_arrow.png" alt=""></span>
          </div>
        </div>
      </div>
    </section>
    
    {embed="includes/menu-homepage"}
    {imagenes-seccion}
    <section id="article_header" style="background: url('{image:url:large}') no-repeat; background-size: cover;background-position: center center;">
    {/imagenes-seccion}
      <div class="overlay"></div>
      <div class="article_title">
        <div class="row">
          <div class="large-8 large-centered columns">
            <h1>{title}</h1>
            <span id="sub_header">{texto-descriptivo-seccion}</span>
            <!--{imagenes-seccion}
            	<img src="{image:url:large}" alt="{title}">
            {/imagenes-seccion}-->
            {if autor-recurso}
            	<p>Publicado por <span>{autor-recurso}</span></p>
            {/if}
          </div>
        </div>
      </div>
    </section>
    <section id="article_content">
      <div class="row">
        <div class="large-8 large-centered columns">
          
          {if contenido-recurso}
          	{contenido-recurso}
          {/if}
          
          {if contenido-seccion}	
          	{contenido-seccion}
          {/if}
          
        </div>
      </div>
    </section>
{/exp:channel:entries}     
    
{exp:channel:entries channel="secciones|tendencias" limit="1" disable="pagination" offset="1"}    
    <section id="next_article">
      <div class="overlay"></div>
      <div class="next_title">
        <div class="row">
          <div class="large-8 large-centered columns">
            <h6>SIGUIENTE LECTURA</h6>
          </div>
        </div>
      </div>
      <div class="article_title">
        <div class="row">
          <div class="large-8 large-centered columns">
            <h1>{title}</h1>
            <span id="sub_header">{texto-descriptivo-seccion}</span>
            {imagenes-seccion}
            	<img src="{image:url:large}" alt="{title}">
            {/imagenes-seccion}
            {if autor-recurso}
            	<p>Publicado por <span>{autor-recurso}</span></p>
            {/if}
          </div>
        </div>
      </div>
    </section>
{/exp:channel:entries}
 
{embed="includes/footer"}
