{embed="includes/header"} 

    <section id="navbar">
      <div class="row">
        <div class="large-6 columns">
          <img src="{site_url}img/logo_header.png" alt="">         
        </div>
        <div class="large-6 columns">
          <div class="text-right">
            <a href="{site_url}catalogo">Ingresar <img src="{site_url}img/enter_arrow.png" alt=""></span>
          </div>
        </div>
      </div>
    </section>
    <section id="sub_navbar">      
      <div class="row">
        <div class="large-6 large-centered columns">
          <ul class="inline-list">
            <li>
              <a href="#">UCB</a>
            </li>
            <li>
              <a href="#">Destacados</a>
            </li>
            <li>
              <a href="#">Escuelas</a>
            </li>
            <li>
              <a href="#">Summa</a>
            </li>
            <li>
              <a href="#">Convenios</a>
            </li>
            <li>
              <a href="#">Contáctanos</a>
            </li>
          </ul>
        </div>
      </div>
    </section>



{embed="includes/footer"}
