{exp:channel:entries channel="secciones" limit="1" disable="member_data|pagination|categories"}
{embed="includes/header"  titulo="{title}"}

    <div class="off-canvas-wrap">
      <div class="inner-wrap">
        <div id="courses_menu" class="hide-for-medium-up">
          <div class="row">
            <div class="large-12 columns">
              <a class="left-off-canvas-toggle" ><span class="icon-list"></span></a>
              <h3 id="menu_title">{title}</h3>
            </div>
          </div>
        </div>

	{embed="includes/menu_new"}

    <section id="courses">
      
      <div class="hide-for-small heading-pocket">
        <div class="row">
          <div class="large-12 total_padding columns">
            
            {embed="includes/menu-escuelas"}
            
          </div>
        </div>
      </div>
      
      <div class="row">

        <div class="total_padding medium-12 large-12 columns">  

        <div id="contact_content" class="row">
          <div class="large-9 columns">

          <div class="row">
            <div class="large-12 columns">
              <div id="convenios_header" style="background: url('http://54.209.167.56/images/imagenes-paginas/81/contactanos__large.jpg') no-repeat; background-size: cover;background-position: center center;">
                <div class="overlay"></div>
                <div class="row">
                  <!--<div class="show-for-large-up large-1 columns">
                    <span class="icon-mail"></span>
                  </div>-->
                  <div class="medium-12 large-11 columns"> 
                    <h3>{title}</h3>
                    <h5>{texto-descriptivo-seccion}</h5>
                  </div>
<!--                   <div class="hide-for-small medium-2 large-2 columns">
                    <div class="text-center">
                      <h3 id="comment_number">30</h3>
                      <span>COMENTARIOS</span>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
{/exp:channel:entries}



		 <div id="convenios_content">
          <div class="row">
            <div class="large-12 columns">


	          {if contenido-seccion}	
	          	{contenido-seccion}
	          {/if}
	          
	          {if segment_3=='convenios'}
	          	{embed="includes/posts-convenios"}
	          {/if}
	          
	          {if segment_3=='summa-a-tu-talento'}
	          	<div class="flex-vide">
	          		<iframe width="100%" height="420" src="//www.youtube.com/embed/q-eMePtxATw" frameborder="0" allowfullscreen=""></iframe>  	
	          	</div>
	          {/if}


            </div>
          </div>
		 </div> 

</div>

          <div class="large-3 columns hide-for-small hide-for-medium fixed_menu right_padding">
                  {exp:search:simple_form channel="cursos|contenidos" form_id="form_search" status="open"  search_in="titles" result_page="buscar/index"}
                    <input type="search" name="keywords" id="keywords" placeholder="BUSCAR">
                    <span class="icon-search"></span>
                  {/exp:search:simple_form}
              <a href="{site_url}quieres-crear-un-curso" id="create_course" class="publish button expand">¿QUIERES CREAR UN CURSO?</a>
          </div>

        </div>
      </div>

    </section>

{embed="includes/footer-interno_new"}