{exp:channel:entries channel="tendencias" limit="1" disable="pagination|member_data"}
{embed="includes/header" titulo="{title}"}

    <div class="off-canvas-wrap">
      <div class="inner-wrap">
        <div id="courses_menu" class="hide-for-medium-up">
          <div class="row">
            <div class="small-2 large-2 columns">
              <a class="left-off-canvas-toggle" ><span class="icon-list"></span></a>
	    </div>
	    <div class="small-10 large-10 columns">
              <h3 id="menu_title">{title}</h3>
            </div>
          </div>
        </div>

        {embed="includes/menu-offcanvas"}

    <section id="details">
    
      <div class="hide-for-small heading-pocket">
          <div class="hide-for-small heading-pocket">
            <div class="row">
              <div class="large-12 total_padding columns">
                {categories  show_group="10" limit='1'}
                	{embed="includes/menu-escuelas" nombre-categoria="{category_name}"}
                {/categories}
              </div>
            </div>
          </div>
      </div>
      
      <div class="row">
      	<div class="small-12 medium-9 large-9 columns">
	        
	        <!--TITULO DEL CURSO-->
	        <div class="row titulo-curso">
		        
		        {categories limit="1" show_group="not 1|2|3|4|5|6|7|8|9|11|12|13|14|15|16|17" show="not 108"}
		        <div class="small-12 medium-12 large-12 columns {category_url_title}">
				        <span>Escuela de {category_name}</span>
				{/categories}        
				        <h3>{title}</h3>
		        </div>
	        </div>
	        <!--END. TITULO DEL CURSO-->   
	        
	        <!--MAIN CONTENT-->
	        <div class="row contenido-curso">
	        	<div class="small-12 medium-12 large-12 columns">
		          
		          <!--SOLO CELULARES-->
				  <div class="row hide-for-large">
					  <div class="large-9 medium-12 small-12 columns">  				
		              {if tipo-contenido-recurso=='Video' OR tipo-contenido-recurso=='Artículo' OR tipo-contenido-recurso=='Audio'}
		              	<a href="{link-curso}" target="_blank" id="start_course" class="explore button expand">ENCUESTA</a>
		              {/if}	
		              {if tipo-contenido-recurso=='Curso Externo'}
		              	<a href="{link-curso}" target="_blank" id="start_course" class="explore button expand">COMENZAR</a>
		              	<a href="{site_url}encuesta" target="_blank" id="start_course" class="explore button expand">ENCUESTA</a>
		              {/if}
					  </div>
				  </div>
				  <!--END. SOLO CELULARES-->
		  
				  <!--SECCION VIDEO-->				
				  <div class="row">
				    <div class="large-12 medium-12 small-12 columns clearfix">
						    	{if video-tipo-contenido=='No Hay Video'}
						    		{if imagen-recurso}
							    		{imagen-recurso}
							    			<img src="{image:url:large}" alt="{title}">
							    		{/imagen-recurso}
						    		{/if}
						    	{/if}                
		
			                    {if video-tipo-contenido=='Youtube'}             
			                      <iframe width="100%" height="400" src="//www.youtube.com/embed/{videoid-contenido}" frameborder="0" allowfullscreen></iframe>
			                    {/if} 
			            
			                    {if video-tipo-contenido=='Vimeo'}             
			                      <iframe width="100%" height="400" src="//www.youtube.com/embed/{videoid-contenido}" frameborder="0" allowfullscreen></iframe>
								{/if}   
			            
			                    {if video-tipo-contenido=='Amazon'}             
			                      <iframe width="100%" height="400" src="//www.youtube.com/embed/{videoid-contenido}" frameborder="0" allowfullscreen></iframe>
								{/if}  
								
								{if video-tipo-contenido=='Ted'}
								  <iframe src="http://embed.ted.com/talks/{videoid-contenido}.html" width="100%" height="400" frameborder="0" scrolling="no" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
								{/if}                             
				     </div>
				   </div>
				   <!--END. SECCION VIDEO-->
				      
		  
				   <!--SECCION DESCRIPCIONES-->
				   <div class="row requisitos_info">
						  <div class="large-12 medium-12 small-12 columns clearfix">
							  <h3>{tipo-contenido-recurso}</h3>
							  <p>{contenido-recurso}</p>
						  </div>
				   </div>	
				   <!--END. SECCION DESCRIPCIONES-->
				     
	        	</div>
	        </div>
	           	
      	</div>
      	<!--SIDEBAR-->
      	<div class=" small-12 medium-3 large-3 columns">
              <div class="row sidebar-curso">
	              <div class="small-12 medium-12 large-12 columns">
		              {if tipo-contenido-recurso=='Video' OR tipo-contenido-recurso=='Artículo' OR tipo-contenido-recurso=='Audio'}
		              	<a href="{link-encuesta-lms}" id="start_course" class="explore button expand" onClick="_gaq.push(['_trackEvent', 'Encuesta', 'Entrar-Contenido', '{title}']);">ENCUESTA DE SATISFACCIÓN</a>
		              {/if}	
		              {if tipo-contenido-recurso=='Curso Externo'}
		              	<a href="{link-recurso}" target="_blank" id="start_course" class="explore button expand" onClick="_gaq.push(['_trackEvent', 'Encuesta', 'Entrar-Contenido', '{title}-LINKEXTERNO']);">COMENZAR CURSO</a>
		              	<a href="{link-encuesta-lms}"  id="start_course" class="explore button expand" onClick="_gaq.push(['_trackEvent', 'Encuesta', 'Entrar-Contenido', '{title}']);">ENCUESTA DE SATISFACCIÓN</a>
		              {/if}
		              
					
	              </div>
              </div>
      	</div>      	
      </div>


    </section>
{/exp:channel:entries}

	{embed="includes/footer-interno_new"}
	