{exp:channel:entries channel="secciones" limit="1" disable="member_data|pagination|categories" entry_id="77"}
{embed="includes/header" titulo="{title}"}

    <div class="off-canvas-wrap">
      <div class="inner-wrap">
        <div id="courses_menu" class="hide-for-medium-up">
          <div class="row">
            <div class="large-12 columns">
              <a class="left-off-canvas-toggle" ><span class="icon-list"></span></a>
              <h3 id="menu_title">{title}</h3>
            </div>
          </div>
        </div>

        {embed="includes/menu-offcanvas"}

    <section id="courses">
      <div class="heading-pocket"></div>
      <div class="row">

        <div class="total_padding medium-12 large-12 columns">  

        <div id="contenidos_content" class="row">
          <div class="large-9 columns">

          <div class="row">
            <div class="large-12 columns">
              <div id="content_header">
                <div class="row">
                  <div class="medium-2 large-1 columns">
                    <span class="icon-book"></span>
                  </div>
                  <div class="medium-10 large-11 columns"> 
                    <h3>{title}</h3>
                    <h5>{texto-descriptivo-seccion}</h5>
                  </div>
<!--                   <div class="hide-for-small medium-2 large-2 columns">
                    <div class="text-center">
                      <h3 id="comment_number">30</h3>
                      <span>COMENTARIOS</span>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
{/exp:channel:entries}

          <div class="row">
            <div class="large-12 columns">
              <div class="filtro-externo">
                <ul class="inline-list">
                  <li><a href="#">TED</a></li>
                  <li><a href="#">ARTICULO</a></li>
                  <li><a href="#">VIDEO</a></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="row">
          {exp:channel:entries channel="contenidos" disable="pagination|member_data" limit="10" category="{last_segment_category_id}"}
            <div class="medium-12 large-12 columns">
              <a id ="clickable_div" href="{link-recurso}" target="_blank">
                {categories}
                <div class="course {category_url_title}">
                {/categories}
                  <h5>
                    <a href="{link-recurso}" target="_blank">{title}</a>
                  </h5>
                  <span><a href="{link-recurso}" target="_blank">{fuente-recurso}</a></span>
                  <p>{descripcion-recurso}</p>
                  {categories}
                  <div class="school">
                    <span>{category_name}</span>
                    <span class="icon-school"></span>
                  </div>
                  {/categories}
                </div>
              </a>
            </div>
            
          {/exp:channel:entries}
          </div>

          <div class="row">
            <div class="large-3 large-centered columns vermas">
              <div class="more">                      
                <div class="text-center">
                  <span id="more_courses">Ver más</span>
                </div>
                <div class="text-center">
                  <span id="more_icon" class="icon-arrow-down"></span>
                </div>
              </div>
            </div>
          </div>

          </div>
          
          {embed="includes/sidebar-categorias-contenidos"}

        </div>
      </div>
    </section>

{embed="includes/footer-interno"}