/*========================================
=             APP CUSTOM                 =
========================================*/

// APP Includes
@import 

  // TYPE
  "elements/fonts-custom",
  "elements/component",
  "elements/jquery-ui",
  "elements/jquery-ui-theme",
  "elements/jquery-ui-structure",
  "elements/type-custom",
  "elements/text-responsive",
  "elements/icons",

  // BUTTONS & LINKS
  "elements/buttons-custom",

  // FORMS
  "elements/forms-custom",
  // "elements/forms-multiuser",

  // NAVS

  // PANELS
  "elements/panels-custom";

// APP Modules
@import 

  // LAYOUT
  "modules/global",
  // "modules/flexslider",
  "modules/header",
  "modules/layout-control",
  // "modules/videocover",
  "modules/footer";

// APP Views
// @import 
  // VIEW NAME

@import 
  // "foundation/settings",
  "quas/includes/utilities-custom",
  "quas/includes/type-custom",
  "quas/includes/icons-typ",
  "quas/includes/flag-icon.min.scss",
  "quas/includes/header",
  "quas/includes/footer",
  "quas/includes/breadcrumbs",
  "quas/includes/login-form",
  "quas/includes/grid-panels",
  "quas/includes/search",
  "quas/includes/list-heading",
  "quas/includes/isotope-filters",
  "quas/includes/pin-menu",
  "quas/includes/off-canvas-viejo",
  "quas/includes/bootstrapValidator.min", 
  "quas/includes/ayu-off-canvas";

// APP Views
@import 
  "quas/canvas-container",
  "quas/wall",
  "quas/cursos",
  "quas/app",
  "quas/escuelas";

@import 
  "phone-custom",
  "tablet-custom";