/*========================================
=             APP CUSTOM                 =
========================================*/

// APP Includes
@import 

  // TYPE
  "elements/fonts-custom",
  "elements/component",
  "elements/jquery-ui",
  "elements/jquery-ui-theme",
  "elements/jquery-ui-structure",
  "elements/type-custom",
  "elements/text-responsive",
  "elements/icons",

  // BUTTONS & LINKS
  "elements/buttons-custom",

  // FORMS
  // "elements/forms-custom",
  // "elements/forms-multiuser",

  // NAVS

  // PANELS
  "elements/panels-custom";

// APP Modules
@import 

  // LAYOUT
  "modules/global",
  "modules/flexslider",
  "modules/header",
  // "modules/videocover",
  "modules/footer";

@import 
  // "includes/utilities-custom",
  "includes/type-custom",
  "includes/icons-typ",
  "includes/flag-icon.min.scss",
  "includes/header",
  "includes/footer",
  "includes/breadcrumbs",
  "includes/login-form",
  "includes/grid-panels",
  "includes/search",
  "includes/list-heading",
  "includes/isotope-filters",
  "includes/pin-menu",
  "includes/off-canvas-viejo",
  "includes/bootstrapValidator.min", 
  "includes/ayu-off-canvas";

// APP Views
@import 
  // VIEW NAME
  "views/canvas-container",
  "views/wall",
  "views/cursos",
  "views/app",
  "views/escuelas";