{embed="n_includes/header"}

	{if logged_in}
	
		{redirect='n_inicio' status_code="301"}
	
	{if:else}
    <div class="container-fluid minhp-100" style="height: 100%">
      <div class="row minhp-100" style="height: 100%">
        <div class="col-md-4 minhp-100 flex-middle bg-gray-light">
          <div class="text-center pv-35">
            <img src="{site_url}n_img/logo-header-nuevo.png" style="width: 274px; height: auto;">
          </div>
          {exp:member:login_form return="{site_url}n_inicio/index" form_id="user-login-form"}
            <div class="input-group input-group-lg form-group">
              <label for="Username" class="sr-only">Username</label>
              <span class="input-group-addon bg-primary"><i class="icon-typ-user-outline"></i></span>
              <input name="username" minlength="2" placeholder="Usuario de Red" required type="text" class="form-control">
            </div>
            <div class="input-group input-group-lg form-group">
              <label for="Username" class="sr-only">Username</label>
              <span class="input-group-addon bg-primary"><i class="icon-typ-key-outline"></i></span>
              <input type="password" name="password" minlength="2" placeholder="Documento de Identidad" required class="form-control">
            </div>
            <div class="form-group">
              <input type="submit" class="btn btn-primary btn-lg form-control" value="INICIAR SESIÓN ›" name="submit">
              <input type="hidden" name="auto_login" value="1">
            </div>

            <small class="bg-gray-light"><a href="{site_url}recover">Recupera tu contraseña.</a></small>
          {/exp:member:login_form}
        </div>
        <div class="col-md-8 minhp-100 bg-img-block-center flex-middle-center hidden-sm hidden-xs" style="background-image: url({site_url}images/bg-login.jpg)">
          <h1 class="text-center text-white ph-70-sm">BIENVENIDO A LA UCB, DONDE ENCONTRARÁS TODO LO QUE NECESITAS PARA PODER DESARROLLARTE, CRECER Y CUMPLIR TUS OBJETIVOS</h1>
        </div>
      </div>
    </div>
	{/if}         
{embed="n_includes/footer"}    