{embed="n_includes/header"}

	{if logged_in}
	
		{redirect='n_muro' status_code="301"}
	
	{if:else}
    <div class="row login-formulario">
    	<div class="small-12 medium-12 large-4 columns">
    		<div class="panel">
    			<div class="row">
    				<div class="small-6 small-centered medium-4 medium-centered large-10 large-centered columns">
    					<img src="{site_url}n_img/logo-header-nuevo.png">
    				</div>
    			</div>
    			<div class="row">
    				<div class="small-12 medium-6 medium-centered large-12 columns">
    					{exp:member:login_form return="{site_url}n_muro/index"}
    						<div class="row">
    							<div class="small-2 medium-2 large-2 columns icono clearfix">
    								<div class="icon-user"></div>
    							</div>
    							<div class="small-10 medium-10 large-10 columns clearfix">
    								<input type="text" name="username" value="" placeholder="Nombre de Usuario">
    							</div>
    						</div>
    						<div class="row">
    							<div class="small-2 medium-2 large-2 columns icono clearfix">
    								<div class="icon-key"></div>
    							</div>
    							<div class="small-10 medium-10 large-10 columns clearfix">
    								<input type="password" name="password" value="" placeholder="Contraseña">
    							</div>
    						</div>
    						<div class="row">
    							<div class="small-12 medium-12 large-12 columns clearfix">    						
										<input type="submit" class="button expand" onClick="_gaq.push(['_trackEvent', 'Ingresar', 'Entrar-Homepage', 'Ingreso al Catalogo']);" value="INICIAR SESIÓN ›" name="submit">
										{if auto_login}
										<p class="text-center"><input class="checkbox" type="checkbox" name="auto_login" value="1"> Auto-login</p>
										{/if}
										<p class="text-center"><a href="{path='member/forgot_password'}">¿Olvidate tu contraseña?</a></p>
    							</div>
    						</div>
    					{/exp:member:login_form}
    				</div>
    			</div>    					
    		</div>
    	</div>
    	<div class="small-12 medium-8 large-8 columns show-for-large-up">
    		<div class="row bg-morado">
    			<div class="small-12 medium-12 large-12 columns">
	    			<h1 class="text-center">INGRESA, APRENDE Y CRECE</h1>
    			</div>
    		</div>	
    	</div>
    </div> 
	{/if}    
    
{embed="n_includes/footer"}    