{embed="n_includes/header"}

    <div class="row login-formulario">
    	<div class="small-12 medium-12 large-4 columns">
    		<div class="panel">
    			<div class="row">
    				<div class="small-6 small-centered medium-4 medium-centered large-10 large-centered columns">
    					<img src="{site_url}n_img/logo-header-nuevo.png">
    				</div>
    			</div>
    			<div class="row">
    				<div class="small-12 medium-6 medium-centered large-12 columns">
    					<form>
    						<div class="row">
    							<div class="small-2 medium-2 large-2 columns icono clearfix">
    								<div class="icon-user"></div>
    							</div>
    							<div class="small-10 medium-10 large-10 columns clearfix">
    								<input type="text" name="" value="" placeholder="Nombre de Usuario">
    							</div>
    						</div>
    						<div class="row">
    							<div class="small-2 medium-2 large-2 columns icono clearfix">
    								<div class="icon-key"></div>
    							</div>
    							<div class="small-10 medium-10 large-10 columns clearfix">
    								<input type="password" name="" value="" placeholder="Contraseña">
    							</div>
    						</div>
    						<div class="row">
    							<div class="small-12 medium-12 large-12 columns clearfix">    						
										<a href="" class="button expand">INICIAR SESIÓN ›</a>
										<p class="text-center">¿Olvidate tu contraseña?</p>
    							</div>
    						</div>
    					</form>
    				</div>
    			</div>    					
    		</div>
    	</div>
    	<div class="small-12 medium-8 large-8 columns show-for-large-up">
    		<div class="row bg-morado">
    			<div class="small-12 medium-12 large-12 columns">
	    			<h1 class="text-center">INGRESA, APRENDE Y CRECE</h1>
    			</div>
    		</div>	
    	</div>
    </div> 
    
{embed="n_includes/footer"}    