{exp:channel:entries channel="secciones" limit="1" disable="member_data|pagination|categories" entry_id="78"}
{embed="includes/header" titulo="{title}"}

    <div class="off-canvas-wrap">
      <div class="inner-wrap">
        <div id="courses_menu" class="hide-for-medium-up">
          <div class="row">
            <div class="large-12 columns">
              <a class="left-off-canvas-toggle" ><span class="icon-list"></span></a>
              <h3 id="menu_title">FORO</h3>
            </div>
          </div>
        </div>

        {embed="includes/menu-offcanvas"}

    <section id="courses">
      <div class="heading-pocket"></div>
      <div class="row">

        <div class="total_padding medium-12 large-12 columns">  

          <div id="feedback_content" class="row">
          <div class="large-9 columns">


          <div class="row">
            <div class="large-12 columns">
              <div id="forum_header">
                <div class="row">
                  <div class="medium-2 large-1 columns">
                    <span class="icon-bubbles"></span>
                  </div>
                  <div class="medium-10 large-11 columns"> 
                    <h3>{title}</h3>
                    <h5>{texto-descriptivo-seccion}</h5>
                  </div>
<!--                   <div class="hide-for-small medium-2 large-2 columns">
                    <div class="text-center">
                      <h3 id="comment_number">30</h3>
                      <span>COMENTARIOS</span>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
{/exp:channel:entries}
          <div class="row">
            <div class="large-12 columns">

              <div class="forum_publish">
                
                {exp:channel:form channel="foro" return="foro/gracias" }
                  <input name="nombre-foro" type="hidden" value="Foro">
                  <div class="row">
                    <div class="large-6 columns">
                      <input name="title" type="text" placeholder="Ingresa tu nombre" required>
                    </div>
                    <div class="large-6 columns">
                      <input type="email" name="correo-electronico-foro" placeholder="Ingresa tu correo electrónico" required>
                    </div>
                  </div>

                  <div class="row">
                    <div class="large-12 columns">
                      <textarea name="mensaje-foro" id="comment" class="expanding" placeholder="Escribe tu mensaje" required></textarea>
                    </div>
                  </div>
                  <div class="row">
                    <div class="large-offset-10 large-2 columns"> 
                    <button class="publish button expand">ENVIAR</button>
                    </div>
                  </div>                
                {/exp:channel:form}
              
              </div>

              <div class="forum_comments">
				{exp:channel:entries channel="foro" limit="10" paginate="bottom" disable="categories|member_data" }
                <div class="row">
                  <div class="large-12 columns">
                    <div class="forum_comments_item"> 
                     <p><b>{title}</b>{mensaje-foro}</p>
                    </div>
                  </div>
                </div>
              
              {paginate}  
              	{pagination_links}
		    		  <div class="row">
		                <div class="large-2 large-centered columns vermas">
		                  {next_page}	
		                  <a href="{pagination_url}" class="more button expand">VER MÁS</a>
						  {/next_page}
		                </div>
		              </div>  
              	{/pagination_links}   
              {/paginate}       
    
				{/exp:channel:entries}
              </div>
              
              <div class="row">
                <div class="large-2 large-centered columns vermas">
                  <a href="#" class="more button expand">VER MÁS</a>
                </div>
              </div>
            </div>
          </div>

          </div>
          <div class="large-3 columns hide-for-small hide-for-medium fixed_menu right_padding">
              <form action="#" id="form_search">
                <input type="search" placeholder="BUSCAR">
                <span class="icon-search"></span>
              </form>
              <a href="#" id="create_course" class="publish button expand">¿QUIERES CREAR UN CURSO?</a>
          </div>
        </div>

        </div>
      </div>
      
    </section>
    
    {embed="includes/footer-interno"}