{embed="includes/header"} 
	{exp:channel:entries channel="secciones" limit="1" disable="member_data|pagination" dynamic="off" category='13'}
	{imagenes-seccion}

    <section id="navbar">
      <div class="row">
        <div class="large-6 columns">
          <img src="{site_url}img/logo_header.png" alt="">         
        </div>
        <div class="large-6 columns">
          <div class="text-right">
            <a href="#">Ingresar</a>
          </div>
        </div>
      </div>
    </section>








    <section id="cover" style="background: url({image:url:large}); background-position: center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover">
    {/imagenes-seccion}
    {/exp:channel:entries}
      <div class="row">
        <div class="index_padding large-12 columns">
          <div class="row">
            <div class="medium-3 large-3 columns">
                <a id="logo_index" href="{site_url}">
                  <img src="{site_url}img/logo_header.png" alt="">
                </a>
            </div>
            <div class="show-for-large large-9 columns">
                <ul id="home_menu" class="inline-list">
                  <li>
                    <a id="destacados_menu" href="#destacados">LOS DESTACADOS</a>
                  </li>
                  <li>
                    <a id="la_ucb_menu" href="#la_ucb">LA UCB</a>
                  </li>
                  <li>
                    <a id="escuelas_menu" href="#escuelas_title">LAS ESCUELAS</a>
                  </li>
                </ul>
            </div>
          </div>
          {exp:channel:entries channel="secciones" limit="1" disable="member_data|pagination" dynamic="off" category='13'}
          <div class="row">
            <div class="large-12 columns">
              <h1>{title}</h1>
              <h5>{texto-descriptivo-seccion}</h5>
              <h5 id="view_video">Ver Video <button data-reveal-id="myModal" class="play"><span class="icon-play"></span></button></h5>
              <div id="myModal" class="reveal-modal small" data-reveal>
                <div class="flex-video">
                  {if video-seccion}
                  	{if proveedor-video-seccion=="Youtube"}
                  		<iframe width="640" height="360" src="http://www.youtube.com/embed/{video-seccion}" frameborder="0" allowfullscreen></iframe>
                  	{/if}
                  {/if}
                </div>
                  <a class="close-reveal-modal">×</a>
              </div>
            </div>
          </div>
          {/exp:channel:entries}
          <div class="row">
            <div class="small-6 small-centered medium-4 medium-uncentered large-2 large-uncentered columns">
              <a href="{site_url}catalogo" class="explore button expand">INGRESAR <span class="icon-arrow-right"></span>
              </a>
            </div>
            <div class="large-8 columns"></div>
          </div>
        </div>
      </div>
      <div class="down">
        <a href="#destacados" id="down">
        </a>
      </div>
    </section>
    
    <section id="destacados">
      <div class="row">
        <div class="index_padding large-12 columns">      
          <div class="row">
            <div class="large-12 columns">
              <div class="text-center">  
                <h3 class="title">LOS DESTACADOS</h3>
              </div>
            </div>
          </div>
          <div class="row">
            {exp:low_reorder:entries set="1" limit="6"}
            <div class="small-12 medium-8 medium-centered large-4 large-uncentered columns">
                      <a href="{site_url}/catalogo/curso/{url_title}">
                        {categories limit="1"}
                        <div class="course {category_url_title}">
                        {/categories}
                          <h5>{title}</h5>
                          {if subttulo-curso}
                              <h6>{subttulo-curso}</h6>
                          {/if}
                          <p>{descripcion-curso}</p>
                          {categories}
                          <div class="school">
                            <!--<span>{category_name}</span>
                            <span class="icon-school"></span>-->
                            <span>{!--category_name--}Ver Más »</span>
                          </div>
                          {/categories}
                        </div>
                      </a>
            </div>
            {/exp:low_reorder:entries }
          </div>
        </div>
      </div>
    </section>

    
    <section id="la_ucb">
      <div class="row">
        <div class="index_padding large-12 columns">
          <div class="row">
            <div class="large-10 large-centered columns">          
              <h3>La <span>Universidad Corporativa Belcorp</span> busca honrar nuestro propósito a través del desarrollo personal, profesional y colectivo.</h3>
            </div>
          </div>
          <div class="row">
            <div class="large-7 large-centered columns">
              <p id="sub_p">Aprender más rápido e incorporar en nuestra gestión diaria esos aprendizajes es nuestro mayor desafío. </p>
            </div>
          </div>
          <div class="row">
            <div class="large-7 large-centered columns">
              <p>Tenemos 5 escuelas cuya misión es llevarnos a lograr vivir nuestro backbone, generando y recolectando contenidos que nos ayuden a desarrollar comportamientos que soportan los valores y principios de la organización.</p>
            </div>
          </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="index_padding large-12 columns">
          <div class="row">
            <div class="large-12 columns">
              <h3 class="title">NUESTRA METODOLOGÍA</h3>
            </div>
          </div>
          <div class="row">
            <div class="large-8 large-centered columns">
              <div class="row">
                <div class="medium-4 large-4 columns">
                  <span class="icon-rocket"></span>
                  <h6>APRENDIZAJE EXPERIENCIAL O ACTION LEARNING</h6>
                </div>
                <div class="medium-4 large-4 columns">
                  <span class="icon-shield"></span>
                  <h6>APRENDIZAJE SIGNIFICATIVO O CONSTRUCTIVISTA</h6>
                </div>
                <div class="medium-4 large-4 columns">
                  <span class="icon-trophy"></span>
                  <h6>CERTIFICACIÓN DEL APRENDIZAJE</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
<!--     <section id="metodologia">
      <div class="row">
        <div class="index_padding large-12 columns">
          <div class="row">
            <div class="large-12 columns">
              <h3 class="title">NUESTRA METODOLOGÍA</h3>
            </div>
          </div>
          <div class="row">
            <div class="large-4 columns">
              <span class="icon-rocket"></span>
              <h5>APRENDIZAJE EXPERIENCIAL O ACTION LEARNING</h5>
            </div>
            <div class="large-4 columns">
              <span class="icon-shield"></span>
              <h5>APRENDIZAJE SIGNIFICATIVO O CONSTRUCTIVISTA</h5>
            </div>
            <div class="large-4 columns">
              <span class="icon-trophy"></span>
              <h5>CERTIFICACIÓN DEL APRENDIZAJE</h5>
            </div>
          </div>
        </div>
      </div>
    </section> -->
    <section id="prev-escuelas">
<!--       <div class="row">
        <div class="index_padding large-12 columns">
          <div class="row">
            <div class="large-8 large-centered columns">
              <h3>Tenemos 6 escuelas cuya misión es llevarnos a lograr vivir nuestro backbone, generando y recolectando contenidos que nos ayuden a desarrollar comportamientos que soportan los valores y principios de la organización.</h3>
            </div>
          </div>
        </div>
      </div>  -->
    </section>

    <section id="escuelas_title">
      <div class="row">
        <div class="index_padding large-12 columns">
          <h3 class="title">NUESTRAS ESCUELAS</h3>
        </div>
      </div> 
    </section>

    <section id="escuelas">
      <div class="row">
        <div class="index_padding large-12 columns">
          <div class="row">
            <ul class="example-orbit" data-orbit>
              {exp:channel:entries channel="escuelas" limit="10" dynamic="off"}
              <li>
                <div class="large-8 large-centered columns">
                  <h3 class="title">{title}</h3>
                  <img src="{site_url}img/quote.png" alt="">
                  <h3 class="quote">  
                  	{quote-escuela}                 
                  </h3>
                  {imagenes-seccion}
                  	<img class="author" src="{image:url:quote}" alt="{title}">
                  {/imagenes-seccion}
                  <h4>{autor-seccion}</h4>
                </div>
              </li>
              {/exp:channel:entries}
            </ul>
          </div>


        </div>
      </div>
    </section>

<!-- 
    <section id="contacto">
      <div class="row">
        <div class="index_padding large-12 columns">
          <div class="row">
            <div class="large-12 columns">
              <h3 class="title">CONTÁCTANOS</h3>
            </div>
            <div class="large-4 large-centered columns text-center">
              <input type="text" placeholder="NOMBRE" required>
              <input type="email" placeholder="CORREO" required>
              <textarea  class="expanding" cols="30" rows="10" placeholder="MENSAJE"></textarea>
              <div class="text-left">
                <button>ENVIAR</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->
        
{embed="includes/footer"}     