{embed="includes/header"} 

    <section id="navbar">
      <div class="row">
        <div class="large-6 columns">
          <img src="{site_url}img/logo_header.png" alt="">         
        </div>
        <div class="large-6 columns">
          <div class="text-right">
            <a href="{site_url}catalogo">Ingresar <span class="icon-arrow-right"></span>
          </div>
        </div>
      </div>
    </section>
    <section id="sub_navbar">      
      <div class="row">
        <div class="large-6 large-centered columns">
          <ul class="inline-list">
            <li>
              <a href="#">UCB</a>
            </li>
            <li>
              <a href="#">Destacados</a>
            </li>
            <li>
              <a href="#">Escuelas</a>
            </li>
            <li>
              <a href="#">Summa</a>
            </li>
            <li>
              <a href="#">Convenios</a>
            </li>
            <li>
              <a href="#">Contáctanos</a>
            </li>
          </ul>
        </div>
      </div>
    </section>


    <section id="new_homepage">
      <div class="headline">
        <h1>QUÉ HACEMOS POR TI</h1>
        <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, quae!</h4>
        <h4>At, facilis excepturi nihil consequatur quisquam quaerat doloribus quibusdam! Deserunt temporibus eaque beatae pariatur quia explicabo in.</h4>
        <a href="#" class="small button">LEER MÁS</a>
      </div>
    </section>

    
    <section id="destacados">
      <div class="row">
        <div class="index_padding large-12 columns">      
          <div class="row">
            <div class="large-12 columns">
              <div class="text-center">  
                <h3 class="title">DESTACADOS</h3>
              </div>
            </div>
          </div>
          <div class="row">
            {exp:low_reorder:entries set="1" limit="6"}
            <div class="small-12 medium-8 medium-centered large-4 large-uncentered columns">
                      <a href="{site_url}/catalogo/curso/{url_title}">
                        {categories limit="1"}
                        <div class="course {category_url_title}">
                        {/categories}
                          <h5>{title}</h5>
                          {if subttulo-curso}
                              <h6>{subttulo-curso}</h6>
                          {/if}
                          <p>{descripcion-curso}</p>
                          {categories}
                          <div class="school">
                            <!--<span>{category_name}</span>
                            <span class="icon-school"></span>-->
                            <span>{!--category_name--}Ver Más »</span>
                          </div>
                          {/categories}
                        </div>
                      </a>
            </div>
            {/exp:low_reorder:entries }
          </div>
        </div>
      </div>
    </section>
    
    <section id="escuelas">
      <div class="row">
        <div class="index_padding large-9 large-centered columns">
          <h3 class="title">NUESTRAS ESCUELAS</h3>
          <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet ipsum in odio tempus ornare dignissim quis risus adipiscing elit.</h5>
          <div class="row">
            <div class="large-3 columns">
                <div class="course belcorp">
                  <h5>ESCUELA DE VENTAS</h5>
                </div>
                <a href="#" class="small button">ENTRAR</a>
            </div>
            <div class="large-3 columns">
                <div class="course ventas">
                  <h5>ESCUELA DE NEGOCIOS</h5>
                </div>
                <a href="#" class="small button">ENTRAR</a>
            </div>
            <div class="large-3 columns">
                <div class="course comercial">
                  <h5>ESCUELA DE LIDERAZGO Y CULTURA</h5>
                </div>
                <a href="#" class="small button">ENTRAR</a>
            </div>
            <div class="large-3 columns">
                <div class="course innovacion">
                  <h5>ESCUELA DE INNOVACIÓN</h5>
                </div>
                <a href="#" class="small button">ENTRAR</a>
            </div>
          </div>
        </div>
      </div> 
    </section>

    <section id="summa">
      <div class="headline">
        <h1>SUMMA A TU TALENTO</h1>
        <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, quae!</h4>
        <h4>At, facilis excepturi nihil consequatur quisquam quaerat doloribus quibusdam! Deserunt temporibus eaque beatae pariatur quia explicabo in.</h4>
        <a href="#" class="small button">LEER MÁS</a>
      </div>
    </section>
    
<!--     <section id="la_ucb">
      <div class="row">
        <div class="index_padding large-12 columns">
          <div class="row">
            <div class="large-10 large-centered columns">          
              <h3>La <span>Universidad Corporativa Belcorp</span> busca honrar nuestro propósito a través del desarrollo personal, profesional y colectivo.</h3>
            </div>
          </div>
          <div class="row">
            <div class="large-7 large-centered columns">
              <p id="sub_p">Aprender más rápido e incorporar en nuestra gestión diaria esos aprendizajes es nuestro mayor desafío. </p>
            </div>
          </div>
          <div class="row">
            <div class="large-7 large-centered columns">
              <p>Tenemos 5 escuelas cuya misión es llevarnos a lograr vivir nuestro backbone, generando y recolectando contenidos que nos ayuden a desarrollar comportamientos que soportan los valores y principios de la organización.</p>
            </div>
          </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="index_padding large-12 columns">
          <div class="row">
            <div class="large-12 columns">
              <h3 class="title">NUESTRA METODOLOGÍA</h3>
            </div>
          </div>
          <div class="row">
            <div class="large-8 large-centered columns">
              <div class="row">
                <div class="medium-4 large-4 columns">
                  <span class="icon-rocket"></span>
                  <h6>APRENDIZAJE EXPERIENCIAL O ACTION LEARNING</h6>
                </div>
                <div class="medium-4 large-4 columns">
                  <span class="icon-shield"></span>
                  <h6>APRENDIZAJE SIGNIFICATIVO O CONSTRUCTIVISTA</h6>
                </div>
                <div class="medium-4 large-4 columns">
                  <span class="icon-trophy"></span>
                  <h6>CERTIFICACIÓN DEL APRENDIZAJE</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
 -->

  
<!--     <section id="escuelas_title">
      <div class="row">
        <div class="index_padding large-12 columns">
          <h3 class="title">NUESTRAS ESCUELAS</h3>
        </div>
      </div> 
    </section>

    <section id="escuelas">
      <div class="row">
        <div class="index_padding large-12 columns">
          <div class="row">
            <ul class="example-orbit" data-orbit>
              {exp:channel:entries channel="escuelas" limit="10" dynamic="off"}
              <li>
                <div class="large-8 large-centered columns">
                  <h3 class="title">{title}</h3>
                  <img src="{site_url}img/quote.png" alt="">
                  <h3 class="quote">  
                    {quote-escuela}                 
                  </h3>
                  {imagenes-seccion}
                    <img class="author" src="{image:url:quote}" alt="{title}">
                  {/imagenes-seccion}
                  <h4>{autor-seccion}</h4>
                </div>
              </li>
              {/exp:channel:entries}
            </ul>
          </div>


        </div>
      </div>
    </section> -->



    <section id="convenios">
      <div class="row">
        <div class="index_padding large-9 large-centered columns">
          <h3 class="title">CONVENIOS</h3>
          <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet ipsum in odio tempus ornare dignissim quis risus adipiscing elit.</h5>
          <img src="{site_url}img/convenios.png" alt="">
          <a href="#" class="small button">LEER MÁS</a>
        </div>
      </div> 
    </section>

{embed="includes/footer"}     