body {
	@include thin;
	position: relative;
	letter-spacing: 0.10px;
}

h1, h2, h3, h4, h5, h6, p {
	@include thin;
}

.clearfix {
	padding:0;
	margin:0;
}

.bg-gris {
	background-color: $gray-lighter;
}


// TEXT GRADIENTS
@mixin text-fill-color($color) {
  @include prefixer(text-fill-color, $color, webkit moz spec);
}

@mixin background-clip($clip) {
  @include prefixer(background-clip, $clip, webkit moz spec);
}

.text-gradient {
	@include background(linear-gradient(left, $gris, $gris-claro, $primary-color) repeat);
  @include background-clip(text);
  @include text-fill-color(transparent);
}

.escuela-block {
	h1, p {
		@include background(linear-gradient(left, $gris, $gris-claro, $primary-color) repeat);
  	@include background-clip(text);
  	@include text-fill-color(transparent);
	}
}
// TEXT GRADIENTS END

/*SECCIONES EN EL OFFCANVAS*/

.move-right .exit-off-canvas {
	-webkit-backface-visibility: hidden;
	transition: background 300ms ease;
	cursor: pointer;
	box-shadow: none;
	display: block;
	position: absolute;
	background: rgba(255, 255, 255, 0);
	top: 0;
	bottom: 0;
	left: 4rem;
	right: 0;
	z-index: 1002;
	-webkit-tap-highlight-color: none;
	&:hover {
		background: rgba(0, 0, 0, 0);
	}
}

.main-section {
	min-height: 40rem;
	position: relative;
	padding: 70px 112px 70px 147px;
	padding: rem(70) rem(112) rem(70) rem(147);
}

.tab-bar {
	left:4rem;
	background: $gray-lighter;
	color: $gray-dark;
	height: 63px;
	height: rem(63);
	.left-small {
		border-right: none;
		a {
			color: $gray-dark;
		}
	}
}

.left-off-canvas-menu {
	width: 19.625rem;
}

ul.off-canvas-list li label {
	border-top:none;
}

/*END.SECCIONES EN EL OFFCANVAS*/

.breadcrumbs {
	margin: 0 1.2rem;
}

.icono {
	background-color: $morado;
	.icon-user, .icon-key {
		color: $morado-claro;
		font-size: 2rem;
		padding: 0.5rem 1rem;;
		min-height: 3rem;
		max-height: 3rem;
	}
}


.login-formulario {
	min-height:41rem;
	background-color: $gris-background;
	.panel {
		background-color: transparent;
		border: none;
		padding:3rem;
	}
	img {
		margin:5rem 0;
	}
	h1 {
		@include thin;
		color:$blanco;
		margin-top: 18rem;
		font-size: 2rem;
	}
	p {
		color:$morado;
		@include thin;
	}
	.button.expand {
		background-color: $morado;
		@include thin;
		color: $blanco;
		&:hover {
			background-color: $morado-hover;
		}
	}
	input {
		box-shadow: none;
		border: none;
		padding:1.5rem 1rem;
		font-size: 1rem;
		@include thin;
		color: $morado;
		-moz-box-shadow: 0 0 5px #ccc;
		-webkit-box-shadow: 0 0 5px #ccc;
		box-shadow: 0 0 5px #ccc;		
	}
	.bg-morado {
		background-color: $morado;
		height:41rem;
	}	
}


.menu {
	background-color: $morado;
	left:4rem;
	.row {
		background-color: none;
		padding:0;
	}
	.logo {
		background-color: $blanco;
		img {
			padding: 0.5rem 0;			
		}
		.large {
			position:relative;
			top:0;
			left:1rem;
		}	
		.small {
			position:relative;
			top:0.2rem;
			left:1.2rem;
		}		
	}
	ul {
		li {
			@include thin;
			color: $morado-claro;
			a {
				padding:0.35rem 0;
				color: mix(white, $morado-claro, 28%);
				font-size: 18px;
				font-size: rem(18);
				border-bottom:none;
				-webkit-transition: 300ms; /* For Safari 3.1 to 6.0 */
				transition: 300ms;
				&:hover,
				&.active {
					background-color: $morado;
					color:$blanco;
				}
				[class^="icon-"], [class*=" icon-"]  {
					float:left;
					margin: -0.4rem 0.8rem 0 0.4rem;
					font-size: 1.1rem;
					cursor: pointer;
					padding-top: 3px;
					padding-top: rem(3);
				}
			}
			[class^="icon-"], [class*=" icon-"]  {
				position: relative;
				top: 0.5rem;
				left: -0.3rem;
				-webkit-transition: 300ms; /* For Safari 3.1 to 6.0 */
				transition: 300ms;	
				font-size: 1.1rem;			
				&:hover {
					background-color: $morado;
					color:$blanco;	
					cursor: pointer;
				}
			}
			label {
				background-color: $morado;
				color: $morado-claro;
				font-size: 1.1rem;
				@include thin;
				padding-top: 21px;
				padding-top: rem(21);
			}
			label:nth-child(n + 2) {
				padding-top: 21px;
				padding-top: rem(21);
			}
		}
	}
}

.off-canvas-open {
	opacity: 0;
	@include transition(all 0.3s ease);
}

.off-canvas-close {
	opacity: 1;
	@include transition(all 0.3s ease);
}

//N_Escuela.html
.escuela-block {
	h1, h4, p {
		@include thin;
	}
	h1 {
		text-transform: uppercase;
		font-size: rem(77);
		line-height: 105%;
	}
	h4 {
		font-size: rem(28);
	}
	p {
		color: $gris-medio;
	}
	div:first-child {
		padding-top: rem(21);
	}
	div:last-child {
		padding-top: rem(12);
	}
}



// N_WALL.html, N_Escuela.html
.grid-panels {
	a.link-wrapper {
		display: block;
		&:hover .panel-heading img {
			@include transform(scale(1.1));
			@include transition(all 0.3s ease);
		}
		&:hover .panel-body {
			background: $gray-light;
			@include transition(all 0.3s ease);
		}		
	}
	.panel-heading {		
		overflow: hidden;
		img {
			width: 100%;
			height: auto;
		}	
	}
	.panel-body {
		background: $gray-lighter;
		position: relative;
		padding: 14px;
		padding: rem(14);
		.panel-badge {
			position: absolute;
			top: -34px;
			left: 0;
			display: block;
			padding: 3px 7px;
			background: $gris-background;
		}
	}
	.panel-curso {
		background: $gris-background;
		padding:rem-calc(14);
		border-right:10px solid $morado;
		p {
			font-size: rem-calc(12);
			color: $gris;
			@include light;
			letter-spacing:rem-calc(0.4);
		}		
	}
	h5 {
		@include light;
		line-height: 110%;
		font-size: rem-calc(16);
		color: $morado;
	}
	h6 {
		@include light;
		color:$gris;
		font-size: rem-calc(14);
		letter-spacing:rem-calc(0.4);
	}

}

	// N_WALL Heading Block
.heading-block {
	h1, h4 {
		@include thin;
	}
	h1 {
		font-size: rem(77);
		text-transform: uppercase;
	}
	h4 {
		font-size: rem(28);
	}
	div:first-child {
		border-right: 5px solid $gris-claro;
		padding-top: rem(21);
	}
	div:last-child {
		padding-top: rem(12);
	}
}
	// Search Block
.search-block {
	form {
		input,
		.input {
			height: 52px;
			height: rem(52);
			font-size: 21px;
			font-size: rem(21);
			@include thin;
			color: $gris-claro;
		}
		button i {
			color: white;
		}
	}
}

	// list-heading
.list-heading {
	border-left: 4px solid $gris-claro;
	text-transform: uppercase;
	@include light;
}

ul.no-bullet {
	li {
		a {
			letter-spacing: 0.10px;
			@include thin;
			color: $gris-claro;
			&:hover {
				color: $morado-hover;
			}
		}
	}
}

	// ISOTOPE FILTERS
#filters {
	padding: 14px 0;
	padding: rem(14) 0;
	li:first-child {
		label {
			margin-left: 0;
		}
	}
	li:nth-child(n + 2) {
		margin-left: 21px;
		margin-left: rem(21);
	}
	li {
		float: left;
		label {
			padding: 7px 14px;
			padding: rem(7) rem(14);
			border-radius: 3px;
			border: 1px solid $gray-lighter;
			&:hover,
			&.active {
				background: $gray-lighter;
			}
		}
		input[type="checkbox"] {
			display: none;
			&:checked ~ label {
				background: $gray-lighter;
			}
		}
	}
}

// SEARCH TRIGGER Button
#search-button {
	.search-icon,
	button.search-form-trigger {		
		height: 52px;
		height: rem(52);
	}
	button.search-form-trigger {
		border: 1px solid $gray-lighter;
		background: white;
		color: $gray-light;
		width: 100%;
	}
	.search-icon {
		background: $primary-color;
		text-align: center;
		padding-top: 14px;
		padding-top: rem(14);
		color: white;
		font-size: 21px;
		font-size: rem(21);
	}
}

.search-canvas-overlay {
	display: none;
	position: absolute;
	z-index: 1002;
	background: rgba($gray, 0.9);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: auto;
	height: auto;
	overflow-y: hidden;
	overflow-x: hidden;
	@include transition(display 0.7s ease-in);
	&.searching {
		display: block;
		position: absolute;
		z-index: 1002;
		background: rgba($gray, 0.9);
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: auto;
		height: auto;
		overflow-y: hidden;
		overflow-x: hidden;
		.search-form {
			position: absolute;
			width: 100%;
			height: auto;
			top: 50%;
			left: 28%;
			form {
				input,
				button {
					height: 56px;
					height: rem(56);
					font-size: 21px;
					font-size: rem(21);
				}
			}
		}
		.close {
			font-size: 28px;
			font-size: rem(28);
			color: white;
			text-transform: uppercase;
			text-decoration: none;
			@include thin;
			position: absolute;
			right: 21px;
			top: 21px;
		}
	}	
}

// SHOW PAGE
	// Length panel
.length-panel {
	border-left: 4px solid $primary-color;
	background: $gray-lighter;
	padding: 14px 0px 12px 14px;
}

	// Menu Convenios
.menu-convenios {
	> li {		
	  padding-right: 1.5rem;
	  line-height: 100%;
		a {
			text-transform: uppercase;
	    font-weight: 300;
	    font-size: 0.9rem;
	    letter-spacing: 0.03rem;
	    -webkit-transition: 0.2s;
	    -moz-transition: 0.2s;
	    -o-transition: 0.2s;
	    transition: 0.2s;
			&:hover {
				color: darken($primary-color, 14%);
			}
			span {				
	      font-size: 0.7rem;
	      letter-spacing: 0.06rem;
	      text-rendering: optimizeLegibility;
			}
		}
		&:first-child {
			a,
			span {
				font-size: 18px;
			}			
		}
		&:last-child {
			border-right: none;
		}
		.columns {
			ul {
				margin: 0 !important;
    		list-style: none;
				li {
					border-right: none;
		      padding: 0 !important;
		      line-height: 50% !important;
					a {
						color: #596c79;
        		font-size: 0.7rem;
					}
				}
			}
		}
	}
}

.convenio-list {
	li {
		margin-bottom: 21px;
		margin-bottom: rem(21);
		p {
			line-height: 28px;
			line-height: rem(28);
		}
		h4 {
			color: $primary-color;
		}
		h5 {
			color: $gris-medio;
			span {
				color: $gray-darker;
			}
		}
	}
}






























