body {
	@include thin;
	position: relative;
	letter-spacing: 0.10px;
}

h1, h2, h3, h4, h5, h6, p, ol {
	@include thin;
}

.clearfix {
	padding:0;
	margin:0;
}

.bg-gris {
	background-color: $gray-lighter;
}

.tab-bar-section #start_course {
	padding: 0;
	font-size: 16px;
	font-size: rem(16);
	background: none;
	margin-bottom: 0;
	color: $gray;
}


// .menu {
// 	background-color: $morado;
// 	left:4rem;
// 	.row {
// 		background-color: none;
// 		padding:0;
// 	}
// 	.logo {
// 		background-color: $blanco;
// 		img {
// 			padding: 0.5rem 0;			
// 		}
// 		.large {
// 			position:relative;
// 			top:0;
// 			left:1rem;
// 		}	
// 		.small {
// 			position:relative;
// 			top:0.2rem;
// 			left:1.2rem;
// 		}		
// 	}
// 	ul {
// 		li {
// 			@include thin;
// 			color: $morado-claro;
// 			a {
// 				padding:0.35rem 0;
// 				color: mix(white, $morado-claro, 28%);
// 				font-size: 18px;
// 				font-size: rem(18);
// 				border-bottom:none;
// 				-webkit-transition: 300ms; /* For Safari 3.1 to 6.0 */
// 				transition: 300ms;
// 				text-transform: capitalize;
// 				&:hover,
// 				&.active {
// 					color:$blanco;
// 				}
// 				[class^="icon-"], [class*=" icon-"]  {
// 					float:left;
// 					margin: -0.4rem 0.8rem 0 0.4rem;
// 					font-size: 1.1rem;
// 					cursor: pointer;
// 					padding-top: 3px;
// 					padding-top: rem(3);
// 				}
// 			}
// 			[class^="icon-"], [class*=" icon-"]  {
// 				position: relative;
// 				top: 0.5rem;
// 				left: -0.3rem;
// 				-webkit-transition: 300ms; /* For Safari 3.1 to 6.0 */
// 				transition: 300ms;	
// 				font-size: 1.1rem;			
// 				&:hover {
// 					background-color: $morado;
// 					color:$blanco;	
// 					cursor: pointer;
// 				}
// 			}
// 			label {
// 				background-color: $morado;
// 				color: $morado-claro;
// 				font-size: 1.1rem;
// 				@include thin;
// 				padding-top: 21px;
// 				padding-top: rem(21);
// 			}
// 			label:nth-child(n + 2) {
// 				padding-top: 21px;
// 				padding-top: rem(21);
// 			}
// 		}
// 	}
// }

// .off-canvas-open {
// 	opacity: 0;
// 	@include transition(all 0.3s ease);
// 	[class*="icon-"].active {
// 		color: white;
// 	}
// }

// .off-canvas-close {
// 	opacity: 1;
// 	@include transition(all 0.3s ease);
// 	[class*="icon-"].active {
// 		color: white;
// 	}
// }

//Menu_Secundario
// .menu-secundario {
// 	ul {
// 		li {
// 			a.active {
// 				color:$morado;
// 			}
// 		}
// 	}
// }

// SHOW PAGE
	

	// Menu Convenios
.menu-convenios {
	> li {		
	  padding-right: 1.5rem;
	  line-height: 100%;
		a {
			text-transform: uppercase;
	    font-weight: 300;
	    font-size: 0.9rem;
	    letter-spacing: 0.03rem;
	    -webkit-transition: 0.2s;
	    -moz-transition: 0.2s;
	    -o-transition: 0.2s;
	    transition: 0.2s;
			&:hover {
				color: darken($primary-color, 14%);
			}
			span {				
	      font-size: 0.7rem;
	      letter-spacing: 0.06rem;
	      text-rendering: optimizeLegibility;
			}
		}
		&:first-child {
			a {
				font-size: 18px;
				font-size: rem(18);
				@include medium;
			}
			span {
				font-size: 16px;
			}
			span {
				&:after {
					content: "\e734";
					font-family: "icomoon-typ";
				} 
			}
		}
		&:last-child {
			border-right: none;
		}
		.columns {
			ul {
				margin: 0 !important;
    		list-style: none;
    		width:120px;
				li {
					border-right: none;
		      padding: 0 !important;
		      line-height: 50% !important;
					a {
						color: #596c79;
        		font-size: 0.7rem;
					}
				}
			}
		}
	}
}

.convenio-list {
	li {
		margin-bottom: 21px;
		margin-bottom: rem(21);
		p {
			line-height: 28px;
			line-height: rem(28);
			a {
				color:$morado;
				text-transform: none;
				font-size: 1.1rem;
			}
		}
		h4 {
			color: $primary-color;
		}
		h5 {
			color: $gris-medio;
			span {
				color: $gray-darker;
			}
		}
	}
}

ul.inline-list.username {
	li {
		min-width: 170px;
		min-width: rem(170);
		a {
			color: $gray;
		}
	}
}

.tab-bar-section.right {
	right: 77px;
	right: rem(77);
}


