@font-face {
	font-family: 'icomoon-ios';
	src:url('../n_fonts/icomoon-ios.eot?pixtsm');
	src:url('../n_fonts/icomoon-ios.eot?#iefixpixtsm') format('embedded-opentype'),
		url('../n_fonts/icomoon-ios.woff?pixtsm') format('woff'),
		url('../n_fonts/icomoon-ios.ttf?pixtsm') format('truetype'),
		url('../n_fonts/icomoon-ios.svg?pixtsm#icomoon-ios') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-ios-"], [class*=" icon-ios-"] {
	font-family: 'icomoon-ios';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-ios-zoom23:before {
	content: "\e71c";
}
.icon-ios-zoom22:before {
	content: "\e71d";
}
.icon-ios-wrong6:before {
	content: "\e71e";
}
.icon-ios-window23:before {
	content: "\e71f";
}
.icon-ios-window22:before {
	content: "\e720";
}
.icon-ios-window21:before {
	content: "\e721";
}
.icon-ios-wifi26:before {
	content: "\e722";
}
.icon-ios-weight4:before {
	content: "\e723";
}
.icon-ios-weighing7:before {
	content: "\e724";
}
.icon-ios-web11:before {
	content: "\e725";
}
.icon-ios-waste2:before {
	content: "\e726";
}
.icon-ios-volume22:before {
	content: "\e727";
}
.icon-ios-voice11:before {
	content: "\e728";
}
.icon-ios-visa2:before {
	content: "\e729";
}
.icon-ios-violin2:before {
	content: "\e72a";
}
.icon-ios-video69:before {
	content: "\e72b";
}
.icon-ios-vertical4:before {
	content: "\e72c";
}
.icon-ios-upload35:before {
	content: "\e72d";
}
.icon-ios-umbrella12:before {
	content: "\e72e";
}
.icon-ios-two114:before {
	content: "\e72f";
}
.icon-ios-trumpet4:before {
	content: "\e730";
}
.icon-ios-trumpet3:before {
	content: "\e731";
}
.icon-ios-trombone2:before {
	content: "\e732";
}
.icon-ios-treble2:before {
	content: "\e733";
}
.icon-ios-timer18:before {
	content: "\e734";
}
.icon-ios-three52:before {
	content: "\e735";
}
.icon-ios-thought4:before {
	content: "\e736";
}
.icon-ios-thin16:before {
	content: "\e737";
}
.icon-ios-thermometer19:before {
	content: "\e738";
}
.icon-ios-tag29:before {
	content: "\e739";
}
.icon-ios-tag28:before {
	content: "\e73a";
}
.icon-ios-tag27:before {
	content: "\e73b";
}
.icon-ios-tag26:before {
	content: "\e73c";
}
.icon-ios-tablet42:before {
	content: "\e73d";
}
.icon-ios-tablet41:before {
	content: "\e73e";
}
.icon-ios-tablet40:before {
	content: "\e73f";
}
.icon-ios-tablet39:before {
	content: "\e740";
}
.icon-ios-table17:before {
	content: "\e741";
}
.icon-ios-tab2:before {
	content: "\e742";
}
.icon-ios-synchronise1:before {
	content: "\e743";
}
.icon-ios-subtract1:before {
	content: "\e744";
}
.icon-ios-store2:before {
	content: "\e745";
}
.icon-ios-storage11:before {
	content: "\e746";
}
.icon-ios-star51:before {
	content: "\e747";
}
.icon-ios-stack8:before {
	content: "\e748";
}
.icon-ios-square48:before {
	content: "\e749";
}
.icon-ios-speech44:before {
	content: "\e74a";
}
.icon-ios-speech43:before {
	content: "\e74b";
}
.icon-ios-speech42:before {
	content: "\e74c";
}
.icon-ios-speech41:before {
	content: "\e74d";
}
.icon-ios-speech40:before {
	content: "\e74e";
}
.icon-ios-speech39:before {
	content: "\e74f";
}
.icon-ios-speech38:before {
	content: "\e750";
}
.icon-ios-special1:before {
	content: "\e751";
}
.icon-ios-speaker31:before {
	content: "\e752";
}
.icon-ios-speaker30:before {
	content: "\e753";
}
.icon-ios-spanner3:before {
	content: "\e754";
}
.icon-ios-smart1:before {
	content: "\e755";
}
.icon-ios-small135:before {
	content: "\e756";
}
.icon-ios-slanting1:before {
	content: "\e757";
}
.icon-ios-skype7:before {
	content: "\e758";
}
.icon-ios-silent1:before {
	content: "\e759";
}
.icon-ios-shutdown1:before {
	content: "\e75a";
}
.icon-ios-shopping60:before {
	content: "\e75b";
}
.icon-ios-shopping59:before {
	content: "\e75c";
}
.icon-ios-shopping58:before {
	content: "\e75d";
}
.icon-ios-shopping57:before {
	content: "\e75e";
}
.icon-ios-shopping56:before {
	content: "\e75f";
}
.icon-ios-settings20:before {
	content: "\e760";
}
.icon-ios-scissors13:before {
	content: "\e761";
}
.icon-ios-scaling1:before {
	content: "\e762";
}
.icon-ios-scale8:before {
	content: "\e763";
}
.icon-ios-scale7:before {
	content: "\e764";
}
.icon-ios-scale6:before {
	content: "\e765";
}
.icon-ios-saxophone2:before {
	content: "\e766";
}
.icon-ios-ruler9:before {
	content: "\e767";
}
.icon-ios-rows1:before {
	content: "\e768";
}
.icon-ios-round27:before {
	content: "\e769";
}
.icon-ios-ring8:before {
	content: "\e76a";
}
.icon-ios-right25:before {
	content: "\e76b";
}
.icon-ios-right24:before {
	content: "\e76c";
}
.icon-ios-rectangular22:before {
	content: "\e76d";
}
.icon-ios-radio17:before {
	content: "\e76e";
}
.icon-ios-purse1:before {
	content: "\e76f";
}
.icon-ios-printer37:before {
	content: "\e770";
}
.icon-ios-previous5:before {
	content: "\e771";
}
.icon-ios-portfolio7:before {
	content: "\e772";
}
.icon-ios-plus23:before {
	content: "\e773";
}
.icon-ios-plugin1:before {
	content: "\e774";
}
.icon-ios-play34:before {
	content: "\e775";
}
.icon-ios-play33:before {
	content: "\e776";
}
.icon-ios-piggy6:before {
	content: "\e777";
}
.icon-ios-pictures1:before {
	content: "\e778";
}
.icon-ios-picture9:before {
	content: "\e779";
}
.icon-ios-photo32:before {
	content: "\e77a";
}
.icon-ios-photo31:before {
	content: "\e77b";
}
.icon-ios-pause11:before {
	content: "\e77c";
}
.icon-ios-paper41:before {
	content: "\e77d";
}
.icon-ios-padlock17:before {
	content: "\e77e";
}
.icon-ios-outgoing3:before {
	content: "\e77f";
}
.icon-ios-outcoming1:before {
	content: "\e780";
}
.icon-ios-open80:before {
	content: "\e781";
}
.icon-ios-open79:before {
	content: "\e782";
}
.icon-ios-offer1:before {
	content: "\e783";
}
.icon-ios-oboe1:before {
	content: "\e784";
}
.icon-ios-not8:before {
	content: "\e785";
}
.icon-ios-no15:before {
	content: "\e786";
}
.icon-ios-next8:before {
	content: "\e787";
}
.icon-ios-newspaper7:before {
	content: "\e788";
}
.icon-ios-mute6:before {
	content: "\e789";
}
.icon-ios-music60:before {
	content: "\e78a";
}
.icon-ios-music59:before {
	content: "\e78b";
}
.icon-ios-music58:before {
	content: "\e78c";
}
.icon-ios-move13:before {
	content: "\e78d";
}
.icon-ios-mouse19:before {
	content: "\e78e";
}
.icon-ios-mouse18:before {
	content: "\e78f";
}
.icon-ios-monitor24:before {
	content: "\e790";
}
.icon-ios-minus16:before {
	content: "\e791";
}
.icon-ios-microphone25:before {
	content: "\e792";
}
.icon-ios-mic9:before {
	content: "\e793";
}
.icon-ios-mic8:before {
	content: "\e794";
}
.icon-ios-mic7:before {
	content: "\e795";
}
.icon-ios-menu19:before {
	content: "\e796";
}
.icon-ios-menu18:before {
	content: "\e797";
}
.icon-ios-medium3:before {
	content: "\e798";
}
.icon-ios-measuring3:before {
	content: "\e799";
}
.icon-ios-master2:before {
	content: "\e79a";
}
.icon-ios-male39:before {
	content: "\e79b";
}
.icon-ios-mailbox10:before {
	content: "\e79c";
}
.icon-ios-mailbox9:before {
	content: "\e79d";
}
.icon-ios-mail21:before {
	content: "\e79e";
}
.icon-ios-magnifying27:before {
	content: "\e79f";
}
.icon-ios-low16:before {
	content: "\e7a0";
}
.icon-ios-loudness1:before {
	content: "\e7a1";
}
.icon-ios-loud3:before {
	content: "\e7a2";
}
.icon-ios-lock23:before {
	content: "\e7a3";
}
.icon-ios-lock22:before {
	content: "\e7a4";
}
.icon-ios-list26:before {
	content: "\e7a5";
}
.icon-ios-lens5:before {
	content: "\e7a6";
}
.icon-ios-lens4:before {
	content: "\e7a7";
}
.icon-ios-lens3:before {
	content: "\e7a8";
}
.icon-ios-left28:before {
	content: "\e7a9";
}
.icon-ios-left27:before {
	content: "\e7aa";
}
.icon-ios-layers4:before {
	content: "\e7ab";
}
.icon-ios-laptop15:before {
	content: "\e7ac";
}
.icon-ios-keyboard11:before {
	content: "\e7ad";
}
.icon-ios-justify6:before {
	content: "\e7ae";
}
.icon-ios-joystick4:before {
	content: "\e7af";
}
.icon-ios-jcb2:before {
	content: "\e7b0";
}
.icon-ios-ios16:before {
	content: "\e7b1";
}
.icon-ios-information32:before {
	content: "\e7b2";
}
.icon-ios-incoming4:before {
	content: "\e7b3";
}
.icon-ios-incoming3:before {
	content: "\e7b4";
}
.icon-ios-id1:before {
	content: "\e7b5";
}
.icon-ios-home60:before {
	content: "\e7b6";
}
.icon-ios-high13:before {
	content: "\e7b7";
}
.icon-ios-hierarchy4:before {
	content: "\e7b8";
}
.icon-ios-help10:before {
	content: "\e7b9";
}
.icon-ios-heart64:before {
	content: "\e7ba";
}
.icon-ios-headset3:before {
	content: "\e7bb";
}
.icon-ios-headphone2:before {
	content: "\e7bc";
}
.icon-ios-harp1:before {
	content: "\e7bd";
}
.icon-ios-grocery9:before {
	content: "\e7be";
}
.icon-ios-graduates1:before {
	content: "\e7bf";
}
.icon-ios-globe14:before {
	content: "\e7c0";
}
.icon-ios-funnel5:before {
	content: "\e7c1";
}
.icon-ios-full19:before {
	content: "\e7c2";
}
.icon-ios-frame12:before {
	content: "\e7c3";
}
.icon-ios-frame11:before {
	content: "\e7c4";
}
.icon-ios-frame10:before {
	content: "\e7c5";
}
.icon-ios-forward5:before {
	content: "\e7c6";
}
.icon-ios-folder60:before {
	content: "\e7c7";
}
.icon-ios-folder59:before {
	content: "\e7c8";
}
.icon-ios-flower17:before {
	content: "\e7c9";
}
.icon-ios-floppy9:before {
	content: "\e7ca";
}
.icon-ios-flashlight5:before {
	content: "\e7cb";
}
.icon-ios-flag25:before {
	content: "\e7cc";
}
.icon-ios-film22:before {
	content: "\e7cd";
}
.icon-ios-film21:before {
	content: "\e7ce";
}
.icon-ios-female32:before {
	content: "\e7cf";
}
.icon-ios-eye45:before {
	content: "\e7d0";
}
.icon-ios-eye44:before {
	content: "\e7d1";
}
.icon-ios-equalizer2:before {
	content: "\e7d2";
}
.icon-ios-empty19:before {
	content: "\e7d3";
}
.icon-ios-drums1:before {
	content: "\e7d4";
}
.icon-ios-download57:before {
	content: "\e7d5";
}
.icon-ios-dollars17:before {
	content: "\e7d6";
}
.icon-ios-dollar78:before {
	content: "\e7d7";
}
.icon-ios-dollar77:before {
	content: "\e7d8";
}
.icon-ios-dollar76:before {
	content: "\e7d9";
}
.icon-ios-document56:before {
	content: "\e7da";
}
.icon-ios-document55:before {
	content: "\e7db";
}
.icon-ios-digital9:before {
	content: "\e7dc";
}
.icon-ios-diagonal1:before {
	content: "\e7dd";
}
.icon-ios-delivery6:before {
	content: "\e7de";
}
.icon-ios-curved6:before {
	content: "\e7df";
}
.icon-ios-cross37:before {
	content: "\e7e0";
}
.icon-ios-crop1:before {
	content: "\e7e1";
}
.icon-ios-credit21:before {
	content: "\e7e2";
}
.icon-ios-credit20:before {
	content: "\e7e3";
}
.icon-ios-correct7:before {
	content: "\e7e4";
}
.icon-ios-converging1:before {
	content: "\e7e5";
}
.icon-ios-connecting7:before {
	content: "\e7e6";
}
.icon-ios-computer43:before {
	content: "\e7e7";
}
.icon-ios-compact5:before {
	content: "\e7e8";
}
.icon-ios-columns1:before {
	content: "\e7e9";
}
.icon-ios-codings1:before {
	content: "\e7ea";
}
.icon-ios-code8:before {
	content: "\e7eb";
}
.icon-ios-code7:before {
	content: "\e7ec";
}
.icon-ios-cloud82:before {
	content: "\e7ed";
}
.icon-ios-cloud81:before {
	content: "\e7ee";
}
.icon-ios-cloud80:before {
	content: "\e7ef";
}
.icon-ios-cloud79:before {
	content: "\e7f0";
}
.icon-ios-clapper2:before {
	content: "\e7f1";
}
.icon-ios-cigarette3:before {
	content: "\e7f2";
}
.icon-ios-chronometer9:before {
	content: "\e7f3";
}
.icon-ios-check25:before {
	content: "\e7f4";
}
.icon-ios-chat26:before {
	content: "\e7f5";
}
.icon-ios-chat25:before {
	content: "\e7f6";
}
.icon-ios-charging4:before {
	content: "\e7f7";
}
.icon-ios-certificate5:before {
	content: "\e7f8";
}
.icon-ios-cents1:before {
	content: "\e7f9";
}
.icon-ios-center3:before {
	content: "\e7fa";
}
.icon-ios-cent2:before {
	content: "\e7fb";
}
.icon-ios-cello1:before {
	content: "\e7fc";
}
.icon-ios-caution2:before {
	content: "\e7fd";
}
.icon-ios-cancel9:before {
	content: "\e7fe";
}
.icon-ios-camera42:before {
	content: "\e7ff";
}
.icon-ios-camera41:before {
	content: "\e800";
}
.icon-ios-camera40:before {
	content: "\e801";
}
.icon-ios-camera39:before {
	content: "\e802";
}
.icon-ios-camcorder3:before {
	content: "\e803";
}
.icon-ios-camcorder2:before {
	content: "\e804";
}
.icon-ios-call13:before {
	content: "\e805";
}
.icon-ios-call12:before {
	content: "\e806";
}
.icon-ios-call11:before {
	content: "\e807";
}
.icon-ios-call10:before {
	content: "\e808";
}
.icon-ios-calendar49:before {
	content: "\e809";
}
.icon-ios-calendar48:before {
	content: "\e80a";
}
.icon-ios-calendar47:before {
	content: "\e80b";
}
.icon-ios-buy4:before {
	content: "\e80c";
}
.icon-ios-bullet4:before {
	content: "\e80d";
}
.icon-ios-bullet3:before {
	content: "\e80e";
}
.icon-ios-bulb11:before {
	content: "\e80f";
}
.icon-ios-briefcase9:before {
	content: "\e810";
}
.icon-ios-brain1:before {
	content: "\e811";
}
.icon-ios-box34:before {
	content: "\e812";
}
.icon-ios-box33:before {
	content: "\e813";
}
.icon-ios-bottom4:before {
	content: "\e814";
}
.icon-ios-book82:before {
	content: "\e815";
}
.icon-ios-bluetooth8:before {
	content: "\e816";
}
.icon-ios-black181:before {
	content: "\e817";
}
.icon-ios-black180:before {
	content: "\e818";
}
.icon-ios-black179:before {
	content: "\e819";
}
.icon-ios-bell6:before {
	content: "\e81a";
}
.icon-ios-battery72:before {
	content: "\e81b";
}
.icon-ios-battery71:before {
	content: "\e81c";
}
.icon-ios-battery70:before {
	content: "\e81d";
}
.icon-ios-battery69:before {
	content: "\e81e";
}
.icon-ios-basket9:before {
	content: "\e81f";
}
.icon-ios-bars6:before {
	content: "\e820";
}
.icon-ios-backward1:before {
	content: "\e821";
}
.icon-ios-automated2:before {
	content: "\e822";
}
.icon-ios-attachment7:before {
	content: "\e823";
}
.icon-ios-arrows56:before {
	content: "\e824";
}
.icon-ios-arrows55:before {
	content: "\e825";
}
.icon-ios-arrows54:before {
	content: "\e826";
}
.icon-ios-arrows53:before {
	content: "\e827";
}
.icon-ios-arrows52:before {
	content: "\e828";
}
.icon-ios-arrows51:before {
	content: "\e829";
}
.icon-ios-arrow433:before {
	content: "\e82a";
}
.icon-ios-arrow432:before {
	content: "\e82b";
}
.icon-ios-arrow431:before {
	content: "\e82c";
}
.icon-ios-arrow430:before {
	content: "\e82d";
}
.icon-ios-arrow429:before {
	content: "\e82e";
}
.icon-ios-arrow428:before {
	content: "\e82f";
}
.icon-ios-arrow427:before {
	content: "\e830";
}
.icon-ios-arrow426:before {
	content: "\e831";
}
.icon-ios-arrow425:before {
	content: "\e832";
}
.icon-ios-arrow424:before {
	content: "\e833";
}
.icon-ios-arrow423:before {
	content: "\e834";
}
.icon-ios-arrow422:before {
	content: "\e835";
}
.icon-ios-arrow421:before {
	content: "\e836";
}
.icon-ios-arrow420:before {
	content: "\e837";
}
.icon-ios-arrow419:before {
	content: "\e838";
}
.icon-ios-arrow418:before {
	content: "\e839";
}
.icon-ios-arrow417:before {
	content: "\e83a";
}
.icon-ios-arrow416:before {
	content: "\e83b";
}
.icon-ios-arrow415:before {
	content: "\e83c";
}
.icon-ios-arrow414:before {
	content: "\e83d";
}
.icon-ios-arrow413:before {
	content: "\e83e";
}
.icon-ios-arrow412:before {
	content: "\e83f";
}
.icon-ios-arrow411:before {
	content: "\e840";
}
.icon-ios-arrow410:before {
	content: "\e841";
}
.icon-ios-arrow409:before {
	content: "\e842";
}
.icon-ios-arrow408:before {
	content: "\e843";
}
.icon-ios-arrow407:before {
	content: "\e844";
}
.icon-ios-arrow406:before {
	content: "\e845";
}
.icon-ios-arrow405:before {
	content: "\e846";
}
.icon-ios-arrow404:before {
	content: "\e847";
}
.icon-ios-arrow403:before {
	content: "\e848";
}
.icon-ios-arrow402:before {
	content: "\e849";
}
.icon-ios-arrow401:before {
	content: "\e84a";
}
.icon-ios-arrow400:before {
	content: "\e84b";
}
.icon-ios-arrow399:before {
	content: "\e84c";
}
.icon-ios-arrow398:before {
	content: "\e84d";
}
.icon-ios-arrow397:before {
	content: "\e84e";
}
.icon-ios-arrow396:before {
	content: "\e84f";
}
.icon-ios-arrow395:before {
	content: "\e850";
}
.icon-ios-arrow394:before {
	content: "\e851";
}
.icon-ios-arrow393:before {
	content: "\e852";
}
.icon-ios-arrow392:before {
	content: "\e853";
}
.icon-ios-anchor14:before {
	content: "\e854";
}
.icon-ios-anchor13:before {
	content: "\e855";
}
.icon-ios-amex1:before {
	content: "\e856";
}
.icon-ios-align13:before {
	content: "\e857";
}
.icon-ios-align10:before {
	content: "\e858";
}
.icon-ios-alarm17:before {
	content: "\e859";
}
.icon-ios-aim2:before {
	content: "\e85a";
}
.icon-ios-address16:before {
	content: "\e85b";
}
.icon-ios-add64:before {
	content: "\e85c";
}
.icon-ios-add63:before {
	content: "\e85d";
}
.icon-ios-add62:before {
	content: "\e85e";
}
.icon-ios-svg:before {
	content: "\e85f";
}
.icon-ios-svg2:before {
	content: "\e860";
}
