@font-face {
	font-family: 'icomoon-ios';
	src:url('../n_fonts/icomoon-ios.eot?oj29ez');
	src:url('../n_fonts/icomoon-ios.eot?#iefixoj29ez') format('embedded-opentype'),
		url('../n_fonts/icomoon-ios.woff?oj29ez') format('woff'),
		url('../n_fonts/icomoon-ios.ttf?oj29ez') format('truetype'),
		url('../n_fonts/icomoon-ios.svg?oj29ez#icomoon-ios') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon-ios';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-zoom23:before {
	content: "\e71c";
}
.icon-zoom22:before {
	content: "\e71d";
}
.icon-wrong6:before {
	content: "\e71e";
}
.icon-window23:before {
	content: "\e71f";
}
.icon-window22:before {
	content: "\e720";
}
.icon-window21:before {
	content: "\e721";
}
.icon-wifi26:before {
	content: "\e722";
}
.icon-weight4:before {
	content: "\e723";
}
.icon-weighing7:before {
	content: "\e724";
}
.icon-web11:before {
	content: "\e725";
}
.icon-waste2:before {
	content: "\e726";
}
.icon-volume22:before {
	content: "\e727";
}
.icon-voice11:before {
	content: "\e728";
}
.icon-visa2:before {
	content: "\e729";
}
.icon-violin2:before {
	content: "\e72a";
}
.icon-video69:before {
	content: "\e72b";
}
.icon-vertical4:before {
	content: "\e72c";
}
.icon-upload35:before {
	content: "\e72d";
}
.icon-umbrella12:before {
	content: "\e72e";
}
.icon-two114:before {
	content: "\e72f";
}
.icon-trumpet4:before {
	content: "\e730";
}
.icon-trumpet3:before {
	content: "\e731";
}
.icon-trombone2:before {
	content: "\e732";
}
.icon-treble2:before {
	content: "\e733";
}
.icon-timer18:before {
	content: "\e734";
}
.icon-three52:before {
	content: "\e735";
}
.icon-thought4:before {
	content: "\e736";
}
.icon-thin16:before {
	content: "\e737";
}
.icon-thermometer19:before {
	content: "\e738";
}
.icon-tag29:before {
	content: "\e739";
}
.icon-tag28:before {
	content: "\e73a";
}
.icon-tag27:before {
	content: "\e73b";
}
.icon-tag26:before {
	content: "\e73c";
}
.icon-tablet42:before {
	content: "\e73d";
}
.icon-tablet41:before {
	content: "\e73e";
}
.icon-tablet40:before {
	content: "\e73f";
}
.icon-tablet39:before {
	content: "\e740";
}
.icon-table17:before {
	content: "\e741";
}
.icon-tab2:before {
	content: "\e742";
}
.icon-synchronise1:before {
	content: "\e743";
}
.icon-subtract1:before {
	content: "\e744";
}
.icon-store2:before {
	content: "\e745";
}
.icon-storage11:before {
	content: "\e746";
}
.icon-star51:before {
	content: "\e747";
}
.icon-stack8:before {
	content: "\e748";
}
.icon-square48:before {
	content: "\e749";
}
.icon-speech44:before {
	content: "\e74a";
}
.icon-speech43:before {
	content: "\e74b";
}
.icon-speech42:before {
	content: "\e74c";
}
.icon-speech41:before {
	content: "\e74d";
}
.icon-speech40:before {
	content: "\e74e";
}
.icon-speech39:before {
	content: "\e74f";
}
.icon-speech38:before {
	content: "\e750";
}
.icon-special1:before {
	content: "\e751";
}
.icon-speaker31:before {
	content: "\e752";
}
.icon-speaker30:before {
	content: "\e753";
}
.icon-spanner3:before {
	content: "\e754";
}
.icon-smart1:before {
	content: "\e755";
}
.icon-small135:before {
	content: "\e756";
}
.icon-slanting1:before {
	content: "\e757";
}
.icon-skype7:before {
	content: "\e758";
}
.icon-silent1:before {
	content: "\e759";
}
.icon-shutdown1:before {
	content: "\e75a";
}
.icon-shopping60:before {
	content: "\e75b";
}
.icon-shopping59:before {
	content: "\e75c";
}
.icon-shopping58:before {
	content: "\e75d";
}
.icon-shopping57:before {
	content: "\e75e";
}
.icon-shopping56:before {
	content: "\e75f";
}
.icon-settings20:before {
	content: "\e760";
}
.icon-scissors13:before {
	content: "\e761";
}
.icon-scaling1:before {
	content: "\e762";
}
.icon-scale8:before {
	content: "\e763";
}
.icon-scale7:before {
	content: "\e764";
}
.icon-scale6:before {
	content: "\e765";
}
.icon-saxophone2:before {
	content: "\e766";
}
.icon-ruler9:before {
	content: "\e767";
}
.icon-rows1:before {
	content: "\e768";
}
.icon-round27:before {
	content: "\e769";
}
.icon-ring8:before {
	content: "\e76a";
}
.icon-right25:before {
	content: "\e76b";
}
.icon-right24:before {
	content: "\e76c";
}
.icon-rectangular22:before {
	content: "\e76d";
}
.icon-radio17:before {
	content: "\e76e";
}
.icon-purse1:before {
	content: "\e76f";
}
.icon-printer37:before {
	content: "\e770";
}
.icon-previous5:before {
	content: "\e771";
}
.icon-portfolio7:before {
	content: "\e772";
}
.icon-plus23:before {
	content: "\e773";
}
.icon-plugin1:before {
	content: "\e774";
}
.icon-play34:before {
	content: "\e775";
}
.icon-play33:before {
	content: "\e776";
}
.icon-piggy6:before {
	content: "\e777";
}
.icon-pictures1:before {
	content: "\e778";
}
.icon-picture9:before {
	content: "\e779";
}
.icon-photo32:before {
	content: "\e77a";
}
.icon-photo31:before {
	content: "\e77b";
}
.icon-pause11:before {
	content: "\e77c";
}
.icon-paper41:before {
	content: "\e77d";
}
.icon-padlock17:before {
	content: "\e77e";
}
.icon-outgoing3:before {
	content: "\e77f";
}
.icon-outcoming1:before {
	content: "\e780";
}
.icon-open80:before {
	content: "\e781";
}
.icon-open79:before {
	content: "\e782";
}
.icon-offer1:before {
	content: "\e783";
}
.icon-oboe1:before {
	content: "\e784";
}
.icon-not8:before {
	content: "\e785";
}
.icon-no15:before {
	content: "\e786";
}
.icon-next8:before {
	content: "\e787";
}
.icon-newspaper7:before {
	content: "\e788";
}
.icon-mute6:before {
	content: "\e789";
}
.icon-music60:before {
	content: "\e78a";
}
.icon-music59:before {
	content: "\e78b";
}
.icon-music58:before {
	content: "\e78c";
}
.icon-move13:before {
	content: "\e78d";
}
.icon-mouse19:before {
	content: "\e78e";
}
.icon-mouse18:before {
	content: "\e78f";
}
.icon-monitor24:before {
	content: "\e790";
}
.icon-minus16:before {
	content: "\e791";
}
.icon-microphone25:before {
	content: "\e792";
}
.icon-mic9:before {
	content: "\e793";
}
.icon-mic8:before {
	content: "\e794";
}
.icon-mic7:before {
	content: "\e795";
}
.icon-menu19:before {
	content: "\e796";
}
.icon-menu18:before {
	content: "\e797";
}
.icon-medium3:before {
	content: "\e798";
}
.icon-measuring3:before {
	content: "\e799";
}
.icon-master2:before {
	content: "\e79a";
}
.icon-male39:before {
	content: "\e79b";
}
.icon-mailbox10:before {
	content: "\e79c";
}
.icon-mailbox9:before {
	content: "\e79d";
}
.icon-mail21:before {
	content: "\e79e";
}
.icon-magnifying27:before {
	content: "\e79f";
}
.icon-low16:before {
	content: "\e7a0";
}
.icon-loudness1:before {
	content: "\e7a1";
}
.icon-loud3:before {
	content: "\e7a2";
}
.icon-lock23:before {
	content: "\e7a3";
}
.icon-lock22:before {
	content: "\e7a4";
}
.icon-list26:before {
	content: "\e7a5";
}
.icon-lens5:before {
	content: "\e7a6";
}
.icon-lens4:before {
	content: "\e7a7";
}
.icon-lens3:before {
	content: "\e7a8";
}
.icon-left28:before {
	content: "\e7a9";
}
.icon-left27:before {
	content: "\e7aa";
}
.icon-layers4:before {
	content: "\e7ab";
}
.icon-laptop15:before {
	content: "\e7ac";
}
.icon-keyboard11:before {
	content: "\e7ad";
}
.icon-justify6:before {
	content: "\e7ae";
}
.icon-joystick4:before {
	content: "\e7af";
}
.icon-jcb2:before {
	content: "\e7b0";
}
.icon-ios16:before {
	content: "\e7b1";
}
.icon-information32:before {
	content: "\e7b2";
}
.icon-incoming4:before {
	content: "\e7b3";
}
.icon-incoming3:before {
	content: "\e7b4";
}
.icon-id1:before {
	content: "\e7b5";
}
.icon-home60:before {
	content: "\e7b6";
}
.icon-high13:before {
	content: "\e7b7";
}
.icon-hierarchy4:before {
	content: "\e7b8";
}
.icon-help10:before {
	content: "\e7b9";
}
.icon-heart64:before {
	content: "\e7ba";
}
.icon-headset3:before {
	content: "\e7bb";
}
.icon-headphone2:before {
	content: "\e7bc";
}
.icon-harp1:before {
	content: "\e7bd";
}
.icon-grocery9:before {
	content: "\e7be";
}
.icon-graduates1:before {
	content: "\e7bf";
}
.icon-globe14:before {
	content: "\e7c0";
}
.icon-funnel5:before {
	content: "\e7c1";
}
.icon-full19:before {
	content: "\e7c2";
}
.icon-frame12:before {
	content: "\e7c3";
}
.icon-frame11:before {
	content: "\e7c4";
}
.icon-frame10:before {
	content: "\e7c5";
}
.icon-forward5:before {
	content: "\e7c6";
}
.icon-folder60:before {
	content: "\e7c7";
}
.icon-folder59:before {
	content: "\e7c8";
}
.icon-flower17:before {
	content: "\e7c9";
}
.icon-floppy9:before {
	content: "\e7ca";
}
.icon-flashlight5:before {
	content: "\e7cb";
}
.icon-flag25:before {
	content: "\e7cc";
}
.icon-film22:before {
	content: "\e7cd";
}
.icon-film21:before {
	content: "\e7ce";
}
.icon-female32:before {
	content: "\e7cf";
}
.icon-eye45:before {
	content: "\e7d0";
}
.icon-eye44:before {
	content: "\e7d1";
}
.icon-equalizer2:before {
	content: "\e7d2";
}
.icon-empty19:before {
	content: "\e7d3";
}
.icon-drums1:before {
	content: "\e7d4";
}
.icon-download57:before {
	content: "\e7d5";
}
.icon-dollars17:before {
	content: "\e7d6";
}
.icon-dollar78:before {
	content: "\e7d7";
}
.icon-dollar77:before {
	content: "\e7d8";
}
.icon-dollar76:before {
	content: "\e7d9";
}
.icon-document56:before {
	content: "\e7da";
}
.icon-document55:before {
	content: "\e7db";
}
.icon-digital9:before {
	content: "\e7dc";
}
.icon-diagonal1:before {
	content: "\e7dd";
}
.icon-delivery6:before {
	content: "\e7de";
}
.icon-curved6:before {
	content: "\e7df";
}
.icon-cross37:before {
	content: "\e7e0";
}
.icon-crop1:before {
	content: "\e7e1";
}
.icon-credit21:before {
	content: "\e7e2";
}
.icon-credit20:before {
	content: "\e7e3";
}
.icon-correct7:before {
	content: "\e7e4";
}
.icon-converging1:before {
	content: "\e7e5";
}
.icon-connecting7:before {
	content: "\e7e6";
}
.icon-computer43:before {
	content: "\e7e7";
}
.icon-compact5:before {
	content: "\e7e8";
}
.icon-columns1:before {
	content: "\e7e9";
}
.icon-codings1:before {
	content: "\e7ea";
}
.icon-code8:before {
	content: "\e7eb";
}
.icon-code7:before {
	content: "\e7ec";
}
.icon-cloud82:before {
	content: "\e7ed";
}
.icon-cloud81:before {
	content: "\e7ee";
}
.icon-cloud80:before {
	content: "\e7ef";
}
.icon-cloud79:before {
	content: "\e7f0";
}
.icon-clapper2:before {
	content: "\e7f1";
}
.icon-cigarette3:before {
	content: "\e7f2";
}
.icon-chronometer9:before {
	content: "\e7f3";
}
.icon-check25:before {
	content: "\e7f4";
}
.icon-chat26:before {
	content: "\e7f5";
}
.icon-chat25:before {
	content: "\e7f6";
}
.icon-charging4:before {
	content: "\e7f7";
}
.icon-certificate5:before {
	content: "\e7f8";
}
.icon-cents1:before {
	content: "\e7f9";
}
.icon-center3:before {
	content: "\e7fa";
}
.icon-cent2:before {
	content: "\e7fb";
}
.icon-cello1:before {
	content: "\e7fc";
}
.icon-caution2:before {
	content: "\e7fd";
}
.icon-cancel9:before {
	content: "\e7fe";
}
.icon-camera42:before {
	content: "\e7ff";
}
.icon-camera41:before {
	content: "\e800";
}
.icon-camera40:before {
	content: "\e801";
}
.icon-camera39:before {
	content: "\e802";
}
.icon-camcorder3:before {
	content: "\e803";
}
.icon-camcorder2:before {
	content: "\e804";
}
.icon-call13:before {
	content: "\e805";
}
.icon-call12:before {
	content: "\e806";
}
.icon-call11:before {
	content: "\e807";
}
.icon-call10:before {
	content: "\e808";
}
.icon-calendar49:before {
	content: "\e809";
}
.icon-calendar48:before {
	content: "\e80a";
}
.icon-calendar47:before {
	content: "\e80b";
}
.icon-buy4:before {
	content: "\e80c";
}
.icon-bullet4:before {
	content: "\e80d";
}
.icon-bullet3:before {
	content: "\e80e";
}
.icon-bulb11:before {
	content: "\e80f";
}
.icon-briefcase9:before {
	content: "\e810";
}
.icon-brain1:before {
	content: "\e811";
}
.icon-box34:before {
	content: "\e812";
}
.icon-box33:before {
	content: "\e813";
}
.icon-bottom4:before {
	content: "\e814";
}
.icon-book82:before {
	content: "\e815";
}
.icon-bluetooth8:before {
	content: "\e816";
}
.icon-black181:before {
	content: "\e817";
}
.icon-black180:before {
	content: "\e818";
}
.icon-black179:before {
	content: "\e819";
}
.icon-bell6:before {
	content: "\e81a";
}
.icon-battery72:before {
	content: "\e81b";
}
.icon-battery71:before {
	content: "\e81c";
}
.icon-battery70:before {
	content: "\e81d";
}
.icon-battery69:before {
	content: "\e81e";
}
.icon-basket9:before {
	content: "\e81f";
}
.icon-bars6:before {
	content: "\e820";
}
.icon-backward1:before {
	content: "\e821";
}
.icon-automated2:before {
	content: "\e822";
}
.icon-attachment7:before {
	content: "\e823";
}
.icon-arrows56:before {
	content: "\e824";
}
.icon-arrows55:before {
	content: "\e825";
}
.icon-arrows54:before {
	content: "\e826";
}
.icon-arrows53:before {
	content: "\e827";
}
.icon-arrows52:before {
	content: "\e828";
}
.icon-arrows51:before {
	content: "\e829";
}
.icon-arrow433:before {
	content: "\e82a";
}
.icon-arrow432:before {
	content: "\e82b";
}
.icon-arrow431:before {
	content: "\e82c";
}
.icon-arrow430:before {
	content: "\e82d";
}
.icon-arrow429:before {
	content: "\e82e";
}
.icon-arrow428:before {
	content: "\e82f";
}
.icon-arrow427:before {
	content: "\e830";
}
.icon-arrow426:before {
	content: "\e831";
}
.icon-arrow425:before {
	content: "\e832";
}
.icon-arrow424:before {
	content: "\e833";
}
.icon-arrow423:before {
	content: "\e834";
}
.icon-arrow422:before {
	content: "\e835";
}
.icon-arrow421:before {
	content: "\e836";
}
.icon-arrow420:before {
	content: "\e837";
}
.icon-arrow419:before {
	content: "\e838";
}
.icon-arrow418:before {
	content: "\e839";
}
.icon-arrow417:before {
	content: "\e83a";
}
.icon-arrow416:before {
	content: "\e83b";
}
.icon-arrow415:before {
	content: "\e83c";
}
.icon-arrow414:before {
	content: "\e83d";
}
.icon-arrow413:before {
	content: "\e83e";
}
.icon-arrow412:before {
	content: "\e83f";
}
.icon-arrow411:before {
	content: "\e840";
}
.icon-arrow410:before {
	content: "\e841";
}
.icon-arrow409:before {
	content: "\e842";
}
.icon-arrow408:before {
	content: "\e843";
}
.icon-arrow407:before {
	content: "\e844";
}
.icon-arrow406:before {
	content: "\e845";
}
.icon-arrow405:before {
	content: "\e846";
}
.icon-arrow404:before {
	content: "\e847";
}
.icon-arrow403:before {
	content: "\e848";
}
.icon-arrow402:before {
	content: "\e849";
}
.icon-arrow401:before {
	content: "\e84a";
}
.icon-arrow400:before {
	content: "\e84b";
}
.icon-arrow399:before {
	content: "\e84c";
}
.icon-arrow398:before {
	content: "\e84d";
}
.icon-arrow397:before {
	content: "\e84e";
}
.icon-arrow396:before {
	content: "\e84f";
}
.icon-arrow395:before {
	content: "\e850";
}
.icon-arrow394:before {
	content: "\e851";
}
.icon-arrow393:before {
	content: "\e852";
}
.icon-arrow392:before {
	content: "\e853";
}
.icon-anchor14:before {
	content: "\e854";
}
.icon-anchor13:before {
	content: "\e855";
}
.icon-amex1:before {
	content: "\e856";
}
.icon-align13:before {
	content: "\e857";
}
.icon-align10:before {
	content: "\e858";
}
.icon-alarm17:before {
	content: "\e859";
}
.icon-aim2:before {
	content: "\e85a";
}
.icon-address16:before {
	content: "\e85b";
}
.icon-add64:before {
	content: "\e85c";
}
.icon-add63:before {
	content: "\e85d";
}
.icon-add62:before {
	content: "\e85e";
}
.icon-svg:before {
	content: "\e85f";
}
.icon-svg2:before {
	content: "\e860";
}
