	// N_WALL Heading Block
.heading-block {
	h1, h4 {
		@include thin;
	}
	h1 {
		font-size: 70px !important;
		font-size: rem(70) !important;
		margin-top: -1rem !important;
		text-transform: uppercase;
		line-height: 100%;
		/*line-height: rem(10);*/
	} 
	h4 {
		font-size: rem(28);
	}
	div:first-child {
	}
	div:last-child {
		padding-top: 70px;
		padding-top: rem(70);
		min-height: 180px;
		border-left: 5px solid $gris-claro;		
	}
}

.heading-link {
	background: none;
	color: $primary-color;
	padding: 0 5px;
	@include transition(all 0.3s ease);
	font-size: 30px;
	font-size: rem(30);
	@include thin;
	&:hover {
		background: none;
		color: darken($primary-color, 14%);
		@include transition(all 0.3s ease);
	}	
}  