@charset "utf-8";
/* 

  Description: EBM or Easy Box Model allows you to easily edit your UI box model margins and paddings, 
  borders, backgrounds and borders through the browser inspector "elements" tab and make your elements 
  fit on their parent container without recurring to your CSS too often.
  
  Author: @MadeByGus
  Version: 1.0
  GitHub: https://github.com/netpoe/EBM.git

  sass --watch ebm.min.scss:ebm.min.css -t compressed

*/

@import 
  "src/ebm";

