	// ISOTOPE FILTERS
#filters {
	padding: 14px 0;
	padding: rem(14) 0;
	li:first-child {
		label {
			margin-left: 0;
		}
	}
	li {
		float: left;
		label {
			padding: 7px 14px;
			padding: rem(7) rem(14);
			@media #{$medium-only} {
				font-size: 10px;
				font-size: em(10);
			}
			border-radius: 3px;
			border: 1px solid $gray-lighter;
			margin-right: 0;
			&:hover,
			&.active {
				background: $gray-lighter;
			}
			&:after {
				// content: "\e600";
				margin-left: 14px;
				// font-family: "icomoon-typ";
				color: $gray;
			}
		}
		input[type="checkbox"] {
			display: none;			
			&:checked ~ label {
				background: $gray-lighter;
				&:after {
					content: "\e601";
					font-family: "icomoon-typ";
					margin-left: 14px;
				}
			}
		}
	}
}