{embed="includes/header"}

    <div class="off-canvas-wrap">
      <div class="inner-wrap">
        <div id="courses_menu" class="hide-for-medium-up">
          <div class="row">
            <div class="large-12 columns">
              <a class="left-off-canvas-toggle" ><span class="icon-list"></span></a>
              <h3 id="menu_title">DETALLES</h3>
            </div>
          </div>
        </div>

        {embed="includes/menu-offcanvas"}

    <section id="details">
      <div class="row">

        <div class="total_padding medium-12 large-12 columns">  

          <div class="row">
            <div class="large-12 columns">
              <div id="details_header" class="course liderazgo">
                <h3>COACHING PARA EL LIDERAZGO</h3>
                <p class="hide-for-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, est, adipisci, itaque, necessitatibus accusamus quasi quia voluptatibus similique dolorum ratione facere corrupti ut cumque eligendi doloribus vitae impedit amet quos.</p>
                <div class="school">
                  <span>LIDERAZGO</span>
                  <span class="icon-school"></span>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="large-9 columns">
              <div class="row">
                <div class="large-12 columns">             
                  <img src="{site_url}img/details_video.jpg" width="100%" alt="">
                  <dl id="details_lesson" class="accordion" data-accordion>
                    <dd>
                      <a id="lesson_panel_trigger" href="#lesson_panel">
                        LECCIONES
                        <span class="icon-arrow-down"></span>
                      </a>
                      <div id="lesson_panel" class="activex">
                        <dl class="accordion" data-accordion>
                          <dd>
                            <a href="#">Primera lección</a>
                            <span>4:23</span>
                          </dd>
                          <dd>
                            <a href="#">Segunda lección</a>
                            <span>1:20</span>
                          </dd>
                          <dd>
                            <a href="#">Tercera lección</a>
                            <span>2:30</span>
                          </dd>
                          <dd>
                            <a href="#">Cuarta lección</a>
                            <span>5:00</span>
                          </dd>
                        </dl>
                      </div>
                    </dd>
                  </dl>
                </div>
                <div class="medium-12 columns hide-for-large">
                  <div class="details_info">
                    <h6>DETALLES</h6>
                    <hr>
                    <div class="details_info_item">
                      <p>Tiempo de duración:</p>
                      <span>1:30 min</span>
                    </div>
                    <div class="details_info_item">
                      <p>Lecciones:</p>
                      <span>4</span>
                    </div>
                    <div class="details_info_item">
                      <p>Videos:</p>
                      <span>2</span>
                    </div>
                    <div class="details_info_item">
                      <p>Quiz:</p>
                      <span>1</span>
                    </div>
                  </div>
                  <a href="#" id="start_course" class="explore button expand">COMENZAR</a>
                </div>

                <div class="large-12 columns">
                      <div id="disqus_thread"></div>
                </div>
              </div>
            </div>
            {embed="includes/curso-detalles"}
          </div>
        </div>
      </div>
      {embed="includes/footer-direccion"}
    </section>

	{embed="includes/footer-interno"}