{exp:channel:entries channel="cursos" limit="1" disable="pagination|member_data"}
{embed="includes/header" titulo="Curso | {title}"}

    <div class="off-canvas-wrap">
      <div class="inner-wrap">
        <div id="courses_menu" class="hide-for-medium-up">
          <div class="row">
            <div class="large-12 columns">
              <a class="left-off-canvas-toggle" ><span class="icon-list"></span></a>
              <h3 id="menu_title">DETALLES</h3>
            </div>
          </div>
        </div>

        {embed="includes/menu-offcanvas"}

    <section id="details">
      <div class="heading-pocket"></div>
      <div class="row">

        <div class="total_padding medium-12 large-12 columns">  

          <div class="row">
            <div class="large-9 columns">
            {categories}
              <div id="details_header" class="course {category_url_title}">
            {/categories}  
                <h3>{title}</h3>
                <!--<p>{introduccin-curso}</p>-->
                <!--{categories}
                <div class="school">
                  <span>{category_name}</span>
                  <span class="icon-school"></span>
                </div>
                {/categories}-->
              </div>
            </div>
            
            <div class="fixed_menu_details large-3 columns hide-for-small hide-for-medium right_padding">
              <a href="{link-curso}" target="_blank" id="start_course" class="explore button expand">COMENZAR</a>
              {instructores}
              	{instructor-curso:foto-instructor}
              	{embed="includes/curso-detalles" tiempo-duracion-curso="{tiempo-duracion-curso}" cantidad-lecciones-curso="{cantidad-lecciones-curso}" cantidad-video-curso="{cantidad-video-curso}" link-curso="{link-curso}" cantidad-modulos-cursos="{cantidad-modulos-cursos}" instructor="{instructor-curso:title}" imagen="{instructor-curso:image:url:small}" descripcion="{descripcin-instructor}"}
              	{/instructor-curso:foto-instructor}
              {/instructores}
            </div>
            
          </div>
          
          

          <div class="row">
            <div class="large-9 columns">
              <div class="row">

                <div class="medium-12 columns hide-for-large">
                  <a href="{link-curso}" target="_blank" id="start_course" class="explore button expand">COMENZAR</a>
                </div>

                <div class="large-12 columns">
                  
				    <div class="video_curso">                

	                    {if proveedor-video-curso=='Youtube'}             
	                      <iframe width="100%" height="500" src="//www.youtube.com/embed/{video-introductorio-curso}" frameborder="0" allowfullscreen></iframe>
	                    {/if} 
	            
	                    {if proveedor-video-curso=='Vimeo'}             
	                      <iframe width="100%" height="500" src="//www.youtube.com/embed/{video-introductorio-curso}" frameborder="0" allowfullscreen></iframe>
						{/if}   
	            
	                    {if proveedor-video-curso=='Amazon'}             
	                      <iframe width="100%" height="500" src="//www.youtube.com/embed/{video-introductorio-curso}" frameborder="0" allowfullscreen></iframe>
						{/if}                               

                    </div>

				  <?php $contador = 1;  ?>				  
				  
				  {if nombre-modulo-1-curso}
                  <dl id="details_lesson" class="accordion" data-accordion>
                    <dd>
                      <a id="lesson_panel_trigger" href="#lesson_panel">
                        <h5>MÓDULO #1: {nombre-modulo-1-curso}</h5>
                        <span id="menu_arrow" class="icon-arrow-down"></span>
                      </a>
                      <div id="lesson_panel" class="activex">
                        <dl class="accordion" data-accordion>
                          {material-modulo-1}
                          <dd>
                          	{if material-modulo-1:archivo-material!=''}
	                            <a href="{material-modulo-1:archivo-material}" id="archivo-url">       
	                            Lección #<?php echo $contador;  ?>: {material-modulo-1:title}
	                            <?php $controlador ='{material-modulo-1:archivo-material}'; ?>
	                            <?php if ($controlador!='') { ?>
	                            	<?php $contador++;  ?>
	                            <?php } ?>	
	                            </a>
	                            <span>{material-modulo-1:tipo-material} - {material-modulo-1:tiempo-consumo-material} min</span>
                            {/if}
                            
                          	{if material-modulo-1:cdigo-material!=''}
                          		{if material-modulo-1:tipo-embed-material=="Youtube"}
	                            	<a href="http://www.youtube.com/watch?v={material-modulo-1:cdigo-material}">
	                            {/if}
                          		{if material-modulo-1:tipo-embed-material=="Vimeo"}
	                            	<a href="http://vimeo.com/{material-modulo-1:cdigo-material}">
	                            {/if}	
                          		{if material-modulo-1:tipo-embed-material=="Amazon"}
	                            	<a href="http://vimeo.com/{material-modulo-1:cdigo-material}">
	                            {/if}	
	                            Lección #<?php echo $contador;  ?>: {material-modulo-1:title}
	                            <?php $controlador ='{material-modulo-1:cdigo-material}'; ?>
	                            <?php if ($controlador!='') { ?>
	                            	<?php $contador++;  ?>
	                            <?php } ?>	
	                            </a>
	                            <span>{material-modulo-1:tipo-embed-material} - {material-modulo-1:tiempo-consumo-embed-material} min</span>
                            {/if}      
                            
                            {if material-modulo-1:link-material}
                            	<a href="{material-modulo-1:link-material}" target="_blank">
                            	Lección #<?php echo $contador;  ?>: {material-modulo-1:title}
                            	<?php $controlador ='{material-modulo-1:link-material}'; ?>
	                            <?php if ($controlador!='') { ?>
	                            <?php $contador++;  ?>
	                            <?php } ?>	
	                            </a>
	                            <span>Link - {material-modulo-1:tiempo-material} min</span>
                            {/if}
            
                          </dd>
                          {/material-modulo-1}
                        </dl>
                      </div>
                    </dd>
                  </dl>
                  {/if}

                  
                  
				  {if nombre-modulo-2-curso}
                  <dl id="details_lesson" class="accordion" data-accordion>
                    <dd>
                      <a id="lesson_panel_trigger" href="#lesson_panel">
                        <h5>MÓDULO #2: {nombre-modulo-2-curso}</h5>
                        <span id="menu_arrow" class="icon-arrow-down"></span>
                      </a>
                      <div id="lesson_panel" class="activex">
                        <dl class="accordion" data-accordion>
                          {material-modulo-2}
                          <dd>
                          	{if material-modulo-2:archivo-material!=''}
	                            <a href="{material-modulo-1:archivo-material}">       
	                            Lección #<?php echo $contador;  ?>: {material-modulo-2:title}
	                            <?php $controlador ='{material-modulo-2:archivo-material}'; ?>
	                            <?php if ($controlador!='') { ?>
	                            	<?php $contador++;  ?>
	                            <?php } ?>	
	                            </a>
	                            <span>{material-modulo-2:tipo-material} - {material-modulo-2:tiempo-consumo-material} min</span>
                            {/if}
                            
                          	{if material-modulo-2:cdigo-material!=''}
                          		{if material-modulo-2:tipo-embed-material=="Youtube"}
	                            	<a href="http://www.youtube.com/watch?v={material-modulo-2:cdigo-material}">
	                            {/if}
                          		{if material-modulo-2:tipo-embed-material=="Vimeo"}
	                            	<a href="http://vimeo.com/{material-modulo-2:cdigo-material}">
	                            {/if}	
                          		{if material-modulo-2:tipo-embed-material=="Amazon"}
	                            	<a href="http://vimeo.com/{material-modulo-2:cdigo-material}">
	                            {/if}		                                                        
	                            Lección #<?php echo $contador;  ?>: {material-modulo-2:title}
	                            <?php $controlador ='{material-modulo-2:cdigo-material}'; ?>
	                            <?php if ($controlador!='') { ?>
	                            	<?php $contador++;  ?>
	                            <?php } ?>	
	                            </a>
	                            <span>{material-modulo-2:tipo-embed-material} - {material-modulo-2:tiempo-consumo-embed-material} min</span>
                            {/if}                            
                          </dd>
                          {/material-modulo-2}
                        </dl>
                      </div>
                    </dd>
                  </dl>
                  {/if}   
                  
				  {if nombre-modulo-3-curso}
                  <dl id="details_lesson" class="accordion" data-accordion>
                    <dd>
                      <a id="lesson_panel_trigger" href="#lesson_panel">
                        <h5>MÓDULO #3: {nombre-modulo-3-curso}</h5>
                        <span id="menu_arrow" class="icon-arrow-down"></span>
                      </a>
                      <div id="lesson_panel" class="activex">
                        <dl class="accordion" data-accordion>
                          {material-modulo-3}
                          <dd>
                          	{if material-modulo-3:archivo-material!=''}
	                            <a href="{material-modulo-1:archivo-material}">       
	                            Lección #<?php echo $contador;  ?>: {material-modulo-3:title}
	                            <?php $controlador ='{material-modulo-3:archivo-material}'; ?>
	                            <?php if ($controlador!='') { ?>
	                            	<?php $contador++;  ?>
	                            <?php } ?>	
	                            </a>
	                            <span>{material-modulo-3:tipo-material} - {material-modulo-3:tiempo-consumo-material} min</span>
                            {/if}
                            
                          	{if material-modulo-3:cdigo-material!=''}
                          		{if material-modulo-3:tipo-embed-material=="Youtube"}
	                            	<a href="http://www.youtube.com/watch?v={material-modulo-3:cdigo-material}">
	                            {/if}
                          		{if material-modulo-3:tipo-embed-material=="Vimeo"}
	                            	<a href="http://vimeo.com/{material-modulo-3:cdigo-material}">
	                            {/if}	
                          		{if material-modulo-3:tipo-embed-material=="Amazon"}
	                            	<a href="http://vimeo.com/{material-modulo-3:cdigo-material}">
	                            {/if}	
	                            Lección #<?php echo $contador;  ?>: {material-modulo-3:title}
	                            <?php $controlador ='{material-modulo-3:cdigo-material}'; ?>
	                            <?php if ($controlador!='') { ?>
	                            	<?php $contador++;  ?>
	                            <?php } ?>	
	                            </a>
	                            <span>{material-modulo-3:tipo-embed-material} - {material-modulo-3:tiempo-consumo-embed-material} min</span>
                            {/if}                            
                          </dd>
                          {/material-modulo-3}
                        </dl>
                      </div>
                    </dd>
                  </dl>
                  {/if} 
                  
				  {if nombre-modulo-4-curso}
                  <dl id="details_lesson" class="accordion" data-accordion>
                    <dd>
                      <a id="lesson_panel_trigger" href="#lesson_panel">
                        <h5>MÓDULO #4: {nombre-modulo-4-curso}</h5>
                        <span id="menu_arrow" class="icon-arrow-down"></span>
                      </a>
                      <div id="lesson_panel" class="activex">
                        <dl class="accordion" data-accordion>
                          {material-modulo-4}
                          <dd>
                          	{if material-modulo-4:archivo-material!=''}
	                            <a href="{material-modulo-1:archivo-material}">       
	                            Lección #<?php echo $contador;  ?>: {material-modulo-4:title}
	                            <?php $controlador ='{material-modulo-4:archivo-material}'; ?>
	                            <?php if ($controlador!='') { ?>
	                            	<?php $contador++;  ?>
	                            <?php } ?>	
	                            </a>
	                            <span>{material-modulo-4:tipo-material} - {material-modulo-4:tiempo-consumo-material} min</span>
                            {/if}
                            
                          	{if material-modulo-4:cdigo-material!=''}
                          		{if material-modulo-4:tipo-embed-material=="Youtube"}
	                            	<a href="http://www.youtube.com/watch?v={material-modulo-4:cdigo-material}">
	                            {/if}
                          		{if material-modulo-4:tipo-embed-material=="Vimeo"}
	                            	<a href="http://vimeo.com/{material-modulo-4:cdigo-material}">
	                            {/if}	
                          		{if material-modulo-4:tipo-embed-material=="Amazon"}
	                            	<a href="http://vimeo.com/{material-modulo-4:cdigo-material}">
	                            {/if}	
	                            Lección #<?php echo $contador;  ?>: {material-modulo-4:title}
	                            <?php $controlador ='{material-modulo-4:cdigo-material}'; ?>
	                            <?php if ($controlador!='') { ?>
	                            	<?php $contador++;  ?>
	                            <?php } ?>	
	                            </a>
	                            <span>{material-modulo-4:tipo-embed-material} - {material-modulo-4:tiempo-consumo-embed-material} min</span>
                            {/if}                            
                          </dd>
                          {/material-modulo-4}
                        </dl>
                      </div>
                    </dd>
                  </dl>
                  {/if} 
                  
                  
				  {if nombre-modulo-5-curso}
                  <dl id="details_lesson" class="accordion" data-accordion>
                    <dd>
                      <a id="lesson_panel_trigger" href="#lesson_panel">
                        <h5>MÓDULO #5: {nombre-modulo-5-curso}</h5>
                        <span id="menu_arrow" class="icon-arrow-down"></span>
                      </a>
                      <div id="lesson_panel" class="activex">
                        <dl class="accordion" data-accordion>
                          {material-modulo-5}
                          <dd>
                          	{if material-modulo-5:archivo-material!=''}
	                            <a href="{material-modulo-1:archivo-material}">       
	                            Lección #<?php echo $contador;  ?>: {material-modulo5:title}
	                            <?php $controlador ='{material-modulo-5:archivo-material}'; ?>
	                            <?php if ($controlador!='') { ?>
	                            	<?php $contador++;  ?>
	                            <?php } ?>	
	                            </a>
	                            <span>{material-modulo-5:tipo-material} - {material-modulo-5:tiempo-consumo-material} min</span>
                            {/if}
                            
                          	{if material-modulo-5:cdigo-material!=''}
                          		{if material-modulo-5:tipo-embed-material=="Youtube"}
	                            	<a href="http://www.youtube.com/watch?v={material-modulo-5:cdigo-material}">
	                            {/if}
                          		{if material-modulo-5:tipo-embed-material=="Vimeo"}
	                            	<a href="http://vimeo.com/{material-modulo-5:cdigo-material}">
	                            {/if}	
                          		{if material-modulo-5:tipo-embed-material=="Amazon"}
	                            	<a href="http://vimeo.com/{material-modulo-5:cdigo-material}">
	                            {/if}	
	                            Lección #<?php echo $contador;  ?>: {material-modulo-5:title}
	                            <?php $controlador ='{material-modulo-5:cdigo-material}'; ?>
	                            <?php if ($controlador!='') { ?>
	                            	<?php $contador++;  ?>
	                            <?php } ?>	
	                            </a>
	                            <span>{material-modulo-5:tipo-embed-material} - {material-modulo-5:tiempo-consumo-embed-material} min</span>
                            {/if}                            
                          </dd>
                          {/material-modulo-5}
                        </dl>
                      </div>
                    </dd>
                  </dl>
                  {/if}                                     
                                                     
                  
                </div>

                <div class="large-12 columns">
                      <div id="disqus_thread"></div>
                </div>
                
              </div>
            </div>
            
            
            <!--<div class="fixed_menu_details large-3 columns hide-for-small hide-for-medium right_padding">
              <a href="{link-curso}" target="_blank" id="start_course" class="explore button expand">COMENZAR</a>
              {embed="includes/curso-detalles" tiempo-duracion-curso="{tiempo-duracion-curso}" cantidad-lecciones-curso="{cantidad-lecciones-curso}" cantidad-video-curso="{cantidad-video-curso}" link-curso="{link-curso}" cantidad-modulos-cursos="{cantidad-modulos-cursos}"}
            </div>-->
            
            
            
          </div>
        </div>
      </div>

    </section>
{/exp:channel:entries}

	{embed="includes/footer-interno"}
	