{exp:channel:entries channel="secciones" limit="1" disable="member_data|pagination|categories" entry_id="76"}
{embed="includes/header" titulo="{title}"}

    <div class="off-canvas-wrap">
      <div class="inner-wrap">
        <div id="courses_menu" class="hide-for-medium-up">
          <div class="row">
            <div class="large-12 columns">
              <a class="left-off-canvas-toggle" ><span class="icon-list"></span></a>
              <h3 id="menu_title">{title}</h3>
            </div>
            <div class="small-12 columns">
              <form action="#" id="form_search">
                <input type="search" placeholder="BUSCAR">
                <span class="icon-search"></span>
              </form>
            </div>
          </div>
        </div>

		{embed="includes/menu-offcanvas"}

        <section id="courses">
          <div class="heading-pocket"></div>
          <div class="row">

            <div class="total_padding medium-12 large-12 columns">

              <div id="catalogo_content" class="row">
                <div class="large-9 columns">
                  <div class="row hide-for-small">
                    <div class="large-12 columns">
                      <div id="courses_header">
                        <div class="row">
                          <div class="medium-1 large-1 columns">
                            <span class="icon-grid"></span>
                          </div>
                          <div class="medium-11 large-11 columns">
                            <h3>{title}</h3>
                            <h5>{texto-descriptivo-seccion}</h5>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

{/exp:channel:entries}
                  <div class="row">
                    <div class="large-12 columns">
                      <ul class="inline-list">
                        <li><a href="#">Retails</a></li>
                        <li><a href="#">Lean</a></li>
                        <li><a href="#">Certificación</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="row">
                  {exp:channel:entries channel="cursos" limit="10" disable="member_data" category="{last_segment_category_id}"}
                    <div class="medium-12 large-6 columns">
                      <a href="{site_url}/catalogo/curso/{url_title}">
                        {categories}
                        <div class="course {category_url_title}">
                        {/categories}
                          <h5>{title}</h5>
                          <p>{descripcion-curso}</p>
                          {categories}
                          <div class="school">
                            <span>{category_name}</span>
                            <span class="icon-school"></span>
                          </div>
                          {/categories}
                        </div>
                      </a>
                    </div>
                    
		              {paginate}  
		              	{pagination_links}
				    		  <div class="row">
				                <div class="large-2 large-centered columns">
				                  {next_page}	
				                  <a href="{pagination_url}" class="more button expand">VER MÁS</a>
								  {/next_page}
				                </div>
				              </div>  
		              	{/pagination_links}   
		              {/paginate} 
                    
                  {/exp:channel:entries}
                  </div>
                  
                  <div id="courses_hidden">
	                  <div class="row">
	                  {exp:channel:entries channel="cursos" limit="10" disable="member_data" offset="10" category="{last_segment_category_id}"}
	                    <div class="medium-6 large-6 columns">
	                      <a href="{site_url}/catalogo/curso/{url_title}">
	                        {categories}
	                        <div class="course {category_url_title}">
	                        {/categories}
	                          <h5>{title}</h5>
	                          <p>{descripcion-curso}</p>
	                          {categories}
	                          <div class="school">
	                            <span>{category_name}</span>
	                            <span class="icon-school"></span>
	                          </div>
	                          {/categories}
	                        </div>
	                      </a>
	                    </div>
	                  {/exp:channel:entries}
	                  </div>
                  </div>
                  
                  
                </div>
                {embed="includes/sidebar-categorias-catalogo"}
              </div>
            </div>
          </div>
		   
		</section>

		{embed="includes/footer-interno"}

