{embed="includes/header"}
   
    <div class="off-canvas-wrap">
      <div class="inner-wrap">
        <div id="courses_menu" class="hide-for-medium-up">
          <div class="row">
            <div class="large-12 columns">
              <a class="left-off-canvas-toggle" ><span class="icon-list"></span></a>
              <h3 id="menu_title">CATÁLOGO</h3>
            </div>
            <div class="small-12 columns">
              <form action="#" id="form_search">
                <input type="search" placeholder="BUSCAR">
                <span class="icon-search"></span>
              </form>
            </div>
          </div>
        </div>

		{embed="inbcludes/menu-offcanvas"}

        <section id="courses">
          <div class="row">

            <div class="total_padding medium-12 large-12 columns">

              <div id="catalogo_content" class="row">
                <div class="large-9 columns">
                  <div class="row hide-for-small">
                    <div class="large-12 columns">
                      <div id="courses_header">
                        <div class="row">
                          <div class="medium-1 large-1 columns">
                            <span class="icon-grid"></span>
                          </div>
                          <div class="medium-11 large-11 columns">
                            <h3>EXPLORA EL CATÁLOGO DE CURSOS</h3>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="medium-6 large-6 columns">
                      <a href="details.html">
                        <div class="course marcas">
                          <h5>DISEÑO DE MARCAS</h5>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, illo.</p>
                          <div class="school">
                            <span>MARCAS</span>
                            <span class="icon-school"></span>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="medium-6 large-6 columns">
                      <a href="details.html">
                        <div class="course ventas">
                          <h5>PLAN DE CAPACITACIÓN FUERZA DE VENTAS</h5>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, illo.</p>
                          <div class="school">
                            <span>VENTAS</span>
                            <span class="icon-school"></span>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="medium-6 large-6 columns">
                      <a href="details.html">
                        <div class="course innovacion">
                          <h5>DESIGN THINKING FOR BUSINESS INNOVATION</h5>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, illo.</p>
                          <div class="school">
                            <span>INNOVACIÓN</span>
                            <span class="icon-school"></span>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="medium-6 large-6 columns">
                      <a href="details.html">
                        <div class="course marcas">
                          <h5>GESTIÓN DE CATEGORÍAS</h5>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, illo.</p>
                          <div class="school">
                            <span>MARCAS</span>
                            <span class="icon-school"></span>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="medium-6 large-6 columns">
                      <a href="details.html">
                        <div class="course innovacion">
                          <h5>INSIGHT PODEROSOS</h5>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, illo.</p>
                          <div class="school">
                            <span>INNOVACIÓN</span>
                            <span class="icon-school"></span>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="medium-6 large-6 columns">
                      <a href="details.html">
                        <div class="course planeamiento">
                          <h5>PLANIFICACIÓN ESTRATÉGICA 1.0</h5>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, illo.</p>
                          <div class="school">
                            <span>PLANEAMIENTO</span>
                            <span class="icon-school"></span>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="medium-6 large-6 columns">
                      <a href="details.html">
                        <div class="course planeamiento">
                          <h5>CASOS DE ESTUDIO GERENCIA GENERAL</h5>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, illo.</p>
                          <div class="school">
                            <span>PLANEAMIENTO</span>
                            <span class="icon-school"></span>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="medium-6 large-6 columns">
                      <a href="details.html">
                        <div class="course liderazgo">
                          <h5>LIDERA</h5>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, illo.</p>
                          <div class="school">
                            <span>LIDERAZGO</span>
                            <span class="icon-school"></span>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="medium-6 large-6 columns">
                      <a href="details.html">
                        <div class="course marcas">
                          <h5>COMUNICACIÓN ESTRATÉGICA</h5>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, illo.</p>
                          <div class="school">
                            <span>MARCAS</span>
                            <span class="icon-school"></span>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="medium-6 large-6 columns">
                      <a href="details.html">
                        <div class="course liderazgo">
                          <h5>COACHING PARA LIDERAZGO</h5>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, illo.</p>
                          <div class="school">
                            <span>LIDERAZGO</span>
                            <span class="icon-school"></span>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="large-12 columns">
                      <div class="text-center">
                        <span id="more_courses" class"more_1">Ver más</span>
                      </div>
                    </div>
                  </div>
                  <div id="courses_hidden">
                    <div class="row">
                      <div class="medium-6 large-6 columns">
                        <a href="details.html">
                          <div class="course marcas">
                            <h5>DISEÑO DE MARCAS</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, illo.</p>
                            <div class="school">
                              <span>MARCAS</span>
                              <span class="icon-school"></span>
                            </div>
                          </div>
                        </a>
                      </div>
                      <div class="medium-6 large-6 columns">
                        <a href="details.html">
                          <div class="course ventas">
                            <h5>PLAN DE CAPACITACIÓN FUERZA DE VENTAS</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, illo.</p>
                            <div class="school">
                              <span>VENTAS</span>
                              <span class="icon-school"></span>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                  <div class="row">
                    <div class="medium-6 large-6 columns">
                      <a href="details.html">
                        <div class="course innovacion">
                          <h5>DESIGN THINKING FOR BUSINESS INNOVATION</h5>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, illo.</p>
                          <div class="school">
                            <span>INNOVACIÓN</span>
                            <span class="icon-school"></span>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="medium-6 large-6 columns">
                      <a href="details.html">
                        <div class="course marcas">
                          <h5>GESTIÓN DE CATEGORÍAS</h5>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, illo.</p>
                          <div class="school">
                            <span>MARCAS</span>
                            <span class="icon-school"></span>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                  </div>
                </div>
                {embed="includes/sidebar-categorias-catalogo"}
              </div>
            </div>
          </div>
		  {embed="includes/footer-direccion"}  
		</section>

		{embed="includes/footer-interno"}

