{exp:channel:entries channel="escuelas" limit="1" disable="categories|member_data|pagination"}
{embed="includes/header" titulo="Escuela de {title}"}

    <div class="off-canvas-wrap">
      <div class="inner-wrap">
      
        <div id="courses_menu" class="hide-for-medium-up">
          <div class="row">
            
            <div class="small-2 large-2 columns">
              <a class="left-off-canvas-toggle" ><span class="icon-list"></span></a>
			</div>
	    	
	    	<div class="small-10 large-10 columns">
              <h3 id="menu_title">{title}</h3>
            </div>
            
          </div>
        </div>
        
      </div>
    </div>
{/exp:channel:entries}

		{embed="includes/menu_new"}


    <section id="details">
      <div class="row">
        <div class="total_padding medium-12 large-12 columns">  



        </div>
      </div>
    </section>


	{embed="includes/footer-interno_new"}