{embed="includes/header" titulo="Buscar"}

    <div class="off-canvas-wrap">
      <div class="inner-wrap">
        <div id="courses_menu" class="hide-for-medium-up">
          <div class="row">
            <div class="large-12 columns">
              <a class="left-off-canvas-toggle" ><span class="icon-list"></span></a>
              <h3 id="menu_title">{title}</h3>
            </div>
            <div class="small-12 columns">
              <form action="#" id="form_search">
                <input type="search" placeholder="BUSCAR">
                <span class="icon-search"></span>
              </form>
            </div>
            
            <!--Solo para Moviles-->
            <div class="small-12 columns">
              <form action="#">
                <select>
                  <option value="-1">Seleccionar Categoría</option>
                  <option value="0">Belcorp</option>
                  <option value="1">Liderazgo</option>
                  <option value="2">Ventas</option>
                  <option value="3">Comercial</option>
                </select>
              </form>
            </div>
            
          </div>
        </div>



		{embed="includes/menu_new"}

    <section id="courses">
      <div class="heading-pocket"></div>
      <div class="row">

        <div class="total_padding medium-12 large-12 columns">  

        <div id="contenidos_content" class="row">
          <div class="large-9 columns">

          <div class="row">
            <div class="large-12 columns">
              <div id="content_header">
                <div class="row">
                  <div class="medium-2 large-1 columns">
                    <span class="icon-book"></span>
                  </div>
                  <div class="medium-10 large-11 columns"> 
                    <h3>RESULTADOS DE LA BUSQUEDA</h3>
                    
					        Encontramos {exp:search:total_results} {total_results} {/exp:search:total_results} resultado(s) para la(s) palabra(s) {exp:search:keywords}.
					

                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="large-12 columns">
              <div class="resources_list">
              
              
{exp:search:search_results}

                <div class="resources_item">
                  <div class="row">
                    <div class="medium-12 large-12 columns">  

						<h5>
                        	<a href="{auto_path}" target="_blank">{title}</a>
                        </h5>
                        
                      {if subtitulo-recurso}
                      <h6>{subtitulo-recurso}</h6>
                      {/if}
                      
                      {if descripcion-curso}
                      <p>{descripcion-curso}</p>
                      {/if}
                      
                      {if descripcion-recurso}
                      <p>{descripcion-recurso}</p>
                      {/if}  
                      
                                           
                          <div class="school">
                          	{if descripcion-curso}
                            	<span><a href="{site_url}catalogo/curso/{url_title}">Ver Más »</a></span>
                            {if:else}
                            	<span><a href="{link-recurso}" target="_blank">Ver Más »</a></span>
                            {/if}
                          </div>

    {paginate}
        <p>Page {current_page} of {total_pages} pages {pagination_links}</p>
    {/paginate}
    
                        </div>
                  </div>
                </div>

{/exp:search:search_results}
              
              
              
               <!--{exp:super_search:results channel="cursos" limit="10"}
                <div class="resources_item">
                  <div class="row">
                    <div class="medium-12 large-12 columns">  
                    
                      <h5>
                        <a href="{auto_path}" target="_blank">{title}</a>
                      </h5>
                      {if subtitulo-recurso}
                      <h6>{subtitulo-recurso}</h6>
                      {/if}
                      
                      {if descripcion-curso}
                      <p>{descripcion-curso}</p>
                      {/if}
                      
                      {if descripcion-recurso}
                      <p>{descripcion-recurso}</p>
                      {/if}                      
                      
                          <div class="school">
                            <span><a href="{auto_path}">Ver Más »</a></span>
                          </div>
                      
                      
                    </div>
                  </div>
                </div>

				
			              {paginate}  
			              	{pagination_links}
							  <div class="row">
				                <div class="large-3 large-centered columns vermas">
				                  <div class="more">                      
				                    <div class="text-center">
				                      {next_page}
  				                      <div class="text-center">
  				                      	<a href="{pagination_url}"><span id="more_icon"></span></a>
  				                      </div>
  									  {/next_page}
  									</div>
				                  </div>
				                </div>
				              </div>
			              	{/pagination_links}   
			              {/paginate}                
                
               {/exp:super_search:results} -->
               
               </div> 
              



            </div>
          </div>

          </div>
          
          {embed="includes/sidebar_new"}

        </div>
      </div>
    </section>

{embed="includes/footer-interno_new"}