{embed="includes/header"  titulo="Resultados de la Busqueda"}

    <div class="off-canvas-wrap">
      <div class="inner-wrap">
        <div id="courses_menu" class="hide-for-medium-up">
          <div class="row">
            <div class="large-12 columns">
              <a class="left-off-canvas-toggle" ><span class="icon-list"></span></a>
              <h3 id="menu_title">NO SE ENCONTRARON RESULTADOS</h3>
            </div>
          </div>
        </div>

	{embed="includes/menu_new"}

    <section id="courses">
      
      <div class="hide-for-small heading-pocket">
        <div class="row">
          <div class="large-12 total_padding columns">
            
            {embed="includes/menu-escuelas"}
            
          </div>
        </div>
      </div>

      <div class="row">

        <div class="total_padding medium-12 large-12 columns">  

        <div id="contact_content" class="row">
          <div class="large-9 columns">

          <div class="row">
            <div class="large-12 columns">
              <div id="contacto_header" style="background: url('http://54.83.45.138/images/imagenes-paginas/81/contactanos__large.jpg') no-repeat; background-size: cover;background-position: center center;">
                <div class="overlay"></div>
                <div class="row">
                  <div class="medium-12 large-11 columns"> 
                    <h3>NO SE ENCONTRARON RESULTADOS</h3>
                    <h5>La(s) palabra(s) {exp:search:keywords} no produjoeron ningún resultado.</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="large-12 columns">
              <div class="contact_form">

				                  <div class="row resultado-busqueda">
				                    <div class="medium-12 large-12 columns">  
				                        <p>Te sugerimos seguir los siguientes pasos para encontrar el contenido que buscas.</p>
				                        
				                        <ol>
				                        <li>Verifica que las palabras estén escritas correctamente</li>
				                        <li>Reescribe la búsqueda usando sinónimos.</li>
				                        <li>Reescribe la búsqueda usando palabras más genéricas.</li>
				                        <li>Reescribe la búsqueda usando menos palabras.</li>
				                        </ol>
				    
				                    </div>
				                  </div>
              </div>
            </div>
          </div>

		</div>

          <div class="large-3 columns hide-for-small hide-for-medium fixed_menu right_padding">
                  {exp:search:simple_form channel="cursos|contenidos" form_id="form_search" status="open"  search_in="everywhere" result_page="buscar/index" no_result_page="buscar/no-resultados"}
                    <input type="search" name="keywords" id="keywords" placeholder="BUSCAR">
                    <span class="icon-search"></span>
                  {/exp:search:simple_form}
				  <a href="{site_url}quieres-crear-un-curso" id="create_course" class="publish button expand">¿QUIERES CREAR UN CURSO?</a>
          </div>

        </div>
      </div>

    </section>

{embed="includes/footer-interno_new"}