{embed="n_includes/header"}

	{if logged_in}
		<div class="container">
			<div class="row">
				<div class="large-9 medium-9 medium-offset-1 columns">
					<div class="canvas-container">
						{embed="n_includes/breadcrumbs"}
			    	<div class="row escuela-block">
			    		<div class="small-12 medium-12 large-12 columns">
								<h1>Gracias por contactarte con nosotros</h1> 
			    		</div>   		
			    	</div>
						<div class="row">
		  	    	<div class="small-8 medium-9 large-9 columns full-width-for-portrait">
		  	    		<p>Tu mensaje fue enviado correctamente.<br>Si esta página no redirecciona, regresar al <a href="{site_url}n_wall">wall</a></p>
		  	    	</div>
		  	    	<div class="small-4 medium-3 large-3 columns hide-for-portrait"></div>
		  	    </div>
					</div>
				</div>
			</div>
			{embed="n_includes/footer-nav"}
		</div>
	{if:else}		
		{embed="n_includes/not-logged-in-message"}
	{/if}		

{embed="n_includes/footer"}