{embed="n_includes/header"}
	{exp:get_post_vars parse="inward"}
		{if get_username}
			{exp:logmein:now username="{get_username}" expire="{get_expire}"}
		{/if}
	{/exp:get_post_vars}
	
	{if logged_in}

	<div id="site-wrapper">
		<div id="content-frame">	  
	    
		<!--MENU LADO IZQUIERDO-->
	  {embed="n_includes/menu-izquierdo"}

	  <!--TOP BANNER-->  
	  {embed="n_includes/top-banner"} 		
		<div id="site-canvas">
		

		<!-- CANVAS CONTAINER -->
		<div class="row">
			<div class="large-9 medium-9 medium-offset-1 columns">
					{embed="n_includes/breadcrumbs"}
		    	<div class="row escuela-block">
		    		<div class="small-12 medium-12 large-9 columns">
							<h1>Quieres crear un Curso</h1> 
		    		</div>   		
		    	</div>
		    	<!--<div class="row search-block mb-7-100 mt-28">
	  	    	<div class="small-8 medium-9 large-9 columns">
	  	    		{embed="n_includes/buscador-trigger"}
	  	    	</div>
	  	    	<div class="small-4 medium-3 large-3 columns">
	  	    		<a href="#" class="button expand">Ingresa</a>
	  	    	</div>
	  	    </div>-->
					<div class="row">
	  	    	<div class="small-12 medium-9 large-6 columns">
	  	    		{embed="n_includes/form-quieres-crear-un-curso"}
	  	    	</div>
	  	    	<div class="small-4 medium-3 large-6 columns hide-for-small">
	  	    		{embed="n_includes/menu-derecho"}
	  	    	</div>
	  	    </div>
			</div>
		</div>
		<!-- END:CANVAS-CONTAINER -->	
		
		{embed="n_includes/footer-nav"}
			
		</div>
	
	  </div>
	</div>
	
	{if:else}		
		<div class="row">
			<div class="small-12 medium-12 large-12 columns">	
			<h3 class="text-center">Necesita ingresar al sistema. <a href="{site_url}">Regresar al inicio</a></h3>
			</div>
		</div>
	{/if}		

{embed="n_includes/footer"}