$header-height-control: 63px;

header.header {
	@include position(fixed, 0 0 null 0);
	@include flex-space-between;
	@include normalize-text;
	height: $header-height-control;
	background-color: white;
	width: 100%;
	// z-index: 36;
	.left,
	.center,
	.right {
		@include flex-middle;
		height: $header-height-control;
		@extend .col-xs-4;
		@include clearfix;	
	}
	.left {
		padding: 0;
		@include transition(all 0.7s ease);
	}
	.center {}
	.right {}
	.logo {
		display: block;
		text-decoration: none;
		width: $header-height-control;
		height: $header-height-control;
		background-repeat: no-repeat;
		background-size: 125px;
		background-position: 3px center;
		@include transition(width 0.7s ease);
	}
}

.center {
	ul {
		li {
			.left {}
			.center {}
			.right {
				padding-bottom: 0 !important;
				span {
					font-size: 12px !important;
				}
			}
		}
	}
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .text-gradient {
    background: -webkit-linear-gradient(left, #70327c, #5bc0de, #5cb85c) repeat;
    background: linear-gradient(to right, #70327c, #5bc0de, #5cb85c) repeat;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-fill-color: transparent; 
  } 
}

// HEADER USER
.header {
	.user {
		text-align: right;
		form {
			display: block;
			&:first-child {
				@extend .col-xs-10;
				padding: 0;
			}
			&:last-child {
				@extend .col-xs-2;
				padding: 0;
			}
		}
		button {
			background-color: transparent;
			margin: 0;
			padding: 0;
			font-size: $font-size-base;
			&:hover {
				color: $gray-darker;
			}
		}
	}
}