/* Layout Control */
$site-menu-width-wide: 248px;
$site-menu-width-narrow: 60px;
$z-index-control: 30;


#site-wrapper {}
#site-menu {
	z-index: $z-index-control - 3;
}
.header {
	z-index: $z-index-control;
}
#site-canvas {
	z-index: $z-index-control - 2;
}

#site-wrapper {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: auto;
	background-color: white;
}

#content-frame {
	position: relative;
}

#site-canvas {
  position: relative;
  @include transform(translateX($site-menu-width-narrow));
  width: 100%;
  min-height: 990px;
  padding-top: $header-height-control + 7;
  padding-right: $site-menu-width-narrow;
  &.homepage-on {
  	@include transform(translateX($site-menu-width-wide));
		padding-right: $site-menu-width-wide;
  	@media #{$sm-only} {
  		@include transform(translateX(0px));
  	}
  	@media only screen and (min-width: 40.063em) and (orientation : portrait) { 
  		@include transform(translateX(0px));
  	}
  } 
  @media #{$sm-only} {
  	@include transform(translateX(0px));
  	padding-top: 70px;
  } 
  @include transition(all 0.7s ease);
	background: white;
}

#site-menu {
  width: $site-menu-width-wide;
  @include position(fixed, 0 null null 0);
  height: 100%;
  background-color: $brand-primary;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: $header-height-control;
  .top,
  .bottom {
  	@include flex-middle;
  	min-height: $site-menu-width-narrow;
  	width: $site-menu-width-wide;
		.menu-list {
			> li {
				border: none;
			}
		}
  }
  .center {
	}
  .bottom {
		@include position(absolute, null 0 0 0);
  }
	.title {
		text-transform: uppercase;
		color: $gray;
		opacity: 0;
		padding: 14px 7px 7px 23px;
		@include transition(opacity 0.7s ease);
	}
	.menu-list {
		@include list-unstyled;
		> li {
			@include clearfix;
			color: lighten($brand-primary, 42%);
			border-bottom: 1px solid lighten($brand-primary, 7%);
			&:hover {
				color: lighten($brand-primary, 56%);
			}
			.menu-left,
			.menu-right {
				float: left;
				display: block;
				min-height: $site-menu-width-narrow / 2;
				@include flex-middle;
			}
			.menu-left {
				width: $site-menu-width-narrow;
				text-align: center;
			}
			.menu-right {
				text-align: left;
				padding-left: $container-fluid / 2;
				padding-bottom: 0;
				@include calc(width, "100% - #{$site-menu-width-narrow}");
			}
		}
	}
  // MENU INTERACTION
  &.homepage-on {
  	background-color: white;
  	z-index: $z-index-control - 1;
  	@media #{$sm-only} {
  		z-index: 0; 
  	}
  	.menu-list {
  		> li {
  			border-bottom: 1px solid $gray-lighter;
  		}
  	}
  	.title {
  		opacity: 1;
  	}
  }
}

#site-wrapper {
	&.show-nav {
		#site-canvas {
			@include transform(translateX($site-menu-width-wide));
		}
		#site-menu {
			@include transition(z-index 4.9s ease-in);
			.list-group .list-group-item:first-child {
				opacity: 1;
				@include transition(all 0.5s ease);
				&.hovered {
					background: none;
					opacity: 1;
				}
			}
			.title {
				opacity: 1;
	  		@include transition(opacity 0.7s ease);
	  	}
		}
		.header {
			.left {
				width: $site-menu-width-wide;
				padding-left: $container-fluid;
				@include transition(all 0.7s ease);
			}
		}
	}
}