// GRID PANELS for filters
.grid-panels {
	a.link-wrapper {
		display: block;
		&:hover .panel-heading img {
			@include transform(scale(1.1));
			@include transition(all 0.3s ease);
		}
		&:hover .panel-body {
			background: darken($gray-lighter, 7%);
			@include transition(all 0.3s ease);
		}		
	}
	.panel-heading {		
		overflow: hidden;
		position: relative;
		img {
			width: 100%;
			height: auto;
		}
		.video-clip {
			position: absolute;
			top: 35%;
			text-align: center;
			width: 100%;
			img {
				width: 56px;
				height: auto;
				display: inline-block;
			}
		}
	}
	.panel-body {
		background: $gray-lighter;
		position: relative;
		padding: 14px;
		padding: rem(14);
		height: 185px !important;
		@include box-shadow(inset 0 0 5px $gray-light);
		.panel-badge {
			position: absolute;
			top: -28px;
			left: 0;
			display: block;
			padding: 3px 14px;
			background: $primary-color;
			color: white;
			font-size: 14px;
			font-size: rem(14);
		}
		p {
			font-size: rem-calc(12);
			color: $gris;
			@include light;
		}
	}
	.panel-curso {
		background: $gris-background;
		padding:rem-calc(14);
		border-right:10px solid $morado;
		height: 210px;
		height: rem(210);
		p {
			font-size: rem-calc(12);
			color: $gris;
			@include light;
		}		
	}
	h5 {
		@include light;
		line-height: 130%;
		font-size: rem-calc(16);
		color: $gray-dark;
		text-transform: uppercase;
		margin-bottom:rem-cal(5);
	}
	h6 {
		@include light;
		color:$gris;
		font-size: rem-calc(14);
	}
	// ESCUELAS Colors
	.ventas-temas {
		.panel-curso {
			border-right: 10px solid rgb(30,33,107) !important;
		}
	}
	.negocios-temas {
		.panel-curso {
			border-right: 10px solid rgb(239,62,66) !important;
		}
	}
	.liderazgo-y-cultura-temas {
		.panel-curso {
			border-right: 10px solid rgb(00,188,228) !important;
		}
	}
	.innovacion-temas {
		.panel-curso {
			border-right: 10px solid rgb(141, 198, 63) !important;
		}
	}
	.tecnologia-temas {
		.panel-curso {
			border-right: 10px solid rgb(00,170,166) !important; 
		}
	}
	.operaciones-temas {
		.panel-curso {
			border-right: 10px solid rgb(255, 221, 00) !important;
		}
	}
	.gestion-humana-temas {
		.panel-curso {
			border-right: 10px solid rgb(238,43,116) !important;
		}
	}
	.induccion-belcorp-temas {
		.panel-curso {
			border-right: 10px solid rgb(75,94,170) !important;
		}
	}
}