	// ISOTOPE FILTERS
#filters {
	padding: 14px 0;
	padding: rem(14) 0;
	li:first-child {
		label {
			margin-left: 0;
		}
	}
	li {
		float: left;
		label {
			padding: 7px 14px;
			padding: rem(7) rem(14);
			line-height: 21px;
			@media #{$medium-only} {
				font-size: 10px;
				font-size: em(10);
				padding: 7px 7px;
				padding: rem(7) rem(7); 
			}
			border-radius: 3px;
			border: 1px solid $gray-lighter;
			margin: 0 7px 14px 0;
			&:hover,
			&.active {
				background: $gray-lighter;
			}
			&:after {
				// content: "\e602";
				margin-left: 14px;
				// font-family: "icomoon-typ";
				color: $gray;
				display: block;
				float: right;
				font-size: 14px;
				@media #{$medium-only} {
					margin-left: 7px;
				}
			}
		}
		input[type="checkbox"] {
			display: none;			
			&:checked ~ label {
				background: $gray;
				color: $brand-primary;
				&:after {
					// content: "\e601";
					// font-family: "icomoon-typ";
					margin-left: 14px;
					display: block;
					float: right;
					font-size: 14px;
				}
			}
		}
	}
}