{exp:channel:entries channel="secciones" limit="1" disable="member_data|pagination|categories" entry_id="83"}
{embed="includes/header"  titulo="{title}"}

    <div class="off-canvas-wrap">
      <div class="inner-wrap">
        <div id="courses_menu" class="hide-for-medium-up">
          <div class="row">
            <div class="large-12 columns">
              <a class="left-off-canvas-toggle" ><span class="icon-list"></span></a>
              <h3 id="menu_title">{title}</h3>
            </div>
          </div>
        </div>

	{embed="inbcludes/menu-offcanvas"}

    <section id="courses">
      <div class="heading-pocket"></div>
      <div class="row">

        <div class="total_padding medium-12 large-12 columns">  

        <div id="feedback_content" class="row">
          <div class="large-9 columns">

          <div class="row">
            <div class="large-12 columns">
              <div id="contact_header">
                <div class="row">
                  <div class="show-for-large-up large-10 large-centered columns">
                    <p class="icon-mail text-center"></p>
                  </div>
                  <div class="medium-12 large-10 large-centered columns"> 
                    <h3 class="text-center">GRACIAS POR CONTACTARTE CON NOSOTROS</h3>
                    <p class="text-center">Tu mensaje fue enviado correctamente.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
{/exp:channel:entries}
</div>

          <div class="large-3 columns hide-for-small hide-for-medium fixed_menu right_padding">
                  {exp:search:simple_form channel="cursos|contenidos" form_id="form_search" status="open"  search_in="titles" result_page="buscar/index"}
                    <input type="search" name="keywords" id="keywords" placeholder="BUSCAR">
                    <span class="icon-search"></span>
                  {/exp:search:simple_form}
              <a href="{site_url}quieres-crear-un-curso" id="create_course" class="publish button expand">¿QUIERES CREAR UN CURSO?</a>
          </div>

        </div>
      </div>

    </section>

{embed="includes/footer-interno_new"}