{exp:channel:entries channel="cursos|tendencias" limit="1" }
{embed="n_includes/header" titulo="{title} | Curso"}

	{if logged_in}
	
	<!--FLOAT BUTTONS-->
	<!--<div class="pin-frame hide-for-small">
		<div class="pin-content">
			<div class="pin-menu">
			</div>
		</div>
	</div>-->
	
	<div id="site-wrapper">
		<div id="content-frame">	  
	    
		<!--MENU LADO IZQUIERDO-->
	  {embed="n_includes/menu-izquierdo"}

	  <!--TOP BANNER-->  
	  {embed="n_includes/top-banner"} 		
		<div id="site-canvas">
		

		<!-- CANVAS CONTAINER -->
		<div class="row">
			<div class="large-9 medium-9 medium-offset-1 columns">
		    	{categories show_group="10" show="276|111|272|112|113|114|109|110|257" limit="1"}
						{embed="n_includes/breadcrumbs" titulo="{title}" categoria="{category_name}"}
					{/categories}
		    	<div class="row escuela-block">
		    		<div class="small-12 medium-12 large-9 columns">
							<h1>{title}</h1>						
		    		</div>   		
		    	</div>
		    	<div class="row">
		    		<div class="small-12 medium-3 large-3 columns show-for-small-only">
		          {if channel=="Cursos"}
			          {if logged_in}
				          {embed="n_includes/comenzar-curso" id_curso="{id-curso}"}
				        {/if}
				        {if logged_out}
				        	<a href="{link-curso}" target="_blank" id="start_course" class="explore button expand">Comenzar</a>
								{/if}  	
								<div class="show-for-medium-up">    
		            {embed="includes/curso-detalles" 
		            	tiempo-duracion-horas-curso="{tiempo-duracion-horas-curso}"
		            	tiempo-duracion-minutos-curso="{tiempo-duracion-minutos-curso}" 
		            	cantidad-lecciones-curso="{cantidad-lecciones-curso}" 
		            	cantidad-video-curso="{cantidad-video-curso}" link-curso="{link-curso}" 
		            	cantidad-modulos-cursos="{cantidad-modulos-cursos}" 
		            }
								</div>
	            {/if}	
	            
	            <!--CONTENIDOS-->
	            {if channel=="Contenidos"}
	              {if tipo-contenido-recurso=='Video' OR tipo-contenido-recurso=='Artículo' OR tipo-contenido-recurso=='Audio'}
	              	{embed="n_includes/comenzar-encuesta" id_curso="{id-encuesta}"}
	              {/if}	
	              {if tipo-contenido-recurso=='Curso Externo'}
	              	<a href="{link-recurso}" target="_blank" id="start_course" class="explore button expand ">COMENZAR CURSO</a>
	              	{embed="n_includes/comenzar-encuesta" id_curso="{id-encuesta}"}
	              {/if}
	            {/if}	
		    		</div>
		    		<div class="small-12 medium-9 large-9 columns">
		    			
							{if video-introductorio-curso}
							<div class="mb-7-100">
				    	{embed="n_includes/videos-cursos" video="{proveedor-video-curso}" videoid="{video-introductorio-curso}"}  
				    	</div> 
				    	{/if}             
				    	
				    	{if videoid-contenido}
				    	<div class="mb-7-100">
				    	{embed="n_includes/videos-contenidos" video="{video-tipo-contenido}" videoid="{videoid-contenido}"}     
				    	</div>
				    	{/if}
		    			  	  	    	
	  	    	
	  	    		<!--CURSO-->
	  	    		{if introduccin-curso}
	  	    		<h4 class="uppercase text-primary">Descripción del curso</h4>
	  	    		<p>{introduccin-curso}</p>
	  	    		{/if}
	  	    		{if que-voy-aprender-curso}
	  	    		<h4 class="uppercase text-primary">¿Qué voy a aprender?</h4>
	  	    		<p>{que-voy-aprender-curso}</p>
	  	    		{/if}
	  	    		{if que-debo-saber-curso}
	  	    		<h4 class="uppercase text-primary">¿Qué debo saber?</h4>
	  	    		<p>{que-debo-saber-curso}</p>
	  	    		{/if}  
	  	    		{if syllabus-curso}
	  	    		<h4 class="uppercase text-primary">Syllabus</h4>
	  	    		<p>{syllabus-curso}</p>
	  	    		{/if}
	  	    		
	  	    		<!--CONTENIDOS-->
	  	    		{if tipo-contenido-recurso}
	  	    		<h4 class="uppercase text-primary">{tipo-contenido-recurso}</h4>
							<p>{contenido-recurso}</p>
							{/if}    	    			    		  	    		
		    		</div>
		    		<div class="small-12 medium-3 large-3 columns hide-for-small">
		          {if channel=="Cursos"}
			          {if logged_in}
			         	  {id-curso}
				          {embed="n_includes/comenzar-curso" id_curso="{id-curso}"}
				        {/if}
				        {if logged_out}
				        	<a href="{link-curso}" target="_blank" id="start_course" class="explore button expand">Comenzar</a>
								{/if}  	
								<div class="show-for-medium-up">    
		            {embed="includes/curso-detalles" 
		            	tiempo-duracion-horas-curso="{tiempo-duracion-horas-curso}"
		            	tiempo-duracion-minutos-curso="{tiempo-duracion-minutos-curso}" 
		            	cantidad-lecciones-curso="{cantidad-lecciones-curso}" 
		            	cantidad-video-curso="{cantidad-video-curso}" link-curso="{link-curso}" 
		            	cantidad-modulos-cursos="{cantidad-modulos-cursos}" 
		            }
								</div>
	            {/if}	
	            
	            <!--CONTENIDOS-->
	            {if channel=="Contenidos"}
	              {if tipo-contenido-recurso=='Video' OR tipo-contenido-recurso=='Artículo' OR tipo-contenido-recurso=='Audio'}
	              	{embed="n_includes/comenzar-encuesta" id_curso="{id-encuesta}"}
	              	<!--<a href="{link-encuesta-lms}" id="start_course" class="explore button expand ">ENCUESTA DE SATISFACCIÓN</a>-->
	              {/if}	
	              {if tipo-contenido-recurso=='Curso Externo'}
	              	<a href="{link-recurso}" target="_blank" id="start_course" class="explore button expand ">COMENZAR CURSO</a>
	              	{embed="n_includes/comenzar-encuesta" id_curso="{id-encuesta}"}
	              	<!--<a href="{link-encuesta-lms}"  id="start_course" class="explore button expand ">ENCUESTA DE SATISFACCIÓN</a>-->
	              {/if}
	            {/if}	
		    		</div>
		    	</div>			  	   
			</div>
		</div>
		<!-- END:CANVAS-CONTAINER -->	
		
		{embed="n_includes/footer-nav"}
			
		</div>
	
	  </div>
	</div>
	
	{if:else}		
		<div class="row">
			<div class="small-12 medium-12 large-12 columns">	
			<h3 class="text-center">Necesita ingresar al sistema. <a href="{site_url}">Regresar al inicio</a></h3>
			</div>
		</div>
	{/if}		

{/exp:channel:entries}
{embed="n_includes/footer"}