{embed="n_includes/header"}

	{if logged_in}
	
	{embed="n_includes/buscador"}
	
	<div class="off-canvas-wrap" data-offcanvas>
	  <div class="inner-wrap">
	    
	  <!--TOP BANNER-->  
	  {embed="n_includes/top-banner"}  
	    
		<!--MENU LADO IZQUIERDO-->
	  {embed="n_includes/menu-izquierdo"}
	    
	
		<!--CONTENIDOS-->
	    <section class="main-section">
				{embed="n_includes/breadcrumbs"}
	    	<div class="row escuela-block hide-for-small">
	    		<div class="small-12 medium-12 large-9 columns">
						{embed="n_includes/escuelas-descripcion"}
	    		</div>   		
	    	</div>
	    	<div class="row search-block mb-7-100 mt-28">
  	    	<div class="small-12 medium-9 large-9 columns full-width-for-portrait">
  	    		{embed="n_includes/buscador-trigger"}
  	    	</div>
  	    	<div class="medium-3 large-3 columns hide-for-portrait">
  	    		<!--<a href="#" class="button expand">Ingresa</a>-->
  	    	</div>
  	    </div>
  	    <div class="row movil-menu-secundario">
  	    	<div class="small-12 columns show-for-small-only">
  	    		{embed="n_includes/movil-menu-secundario"}
  	    	</div>
  	    </div>
  	    <div class="row">
  	    	<div class="small-12 medium-9 large-9 columns">
  	    		{embed="n_includes/filtro-tipo-contentido"}
  	    		<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3 grid-panels" id="isotope-container">
							{embed="n_includes/loop-escuelas-contenido"}
  	    		</ul>				
  	    	</div>
  	    	<div class="hide-for-small medium-3 large-3 columns menu-secundario">
  	    		{embed="n_includes/menu-derecho"}
  	    	</div>
  	    </div>
	    </section>
		<a class="exit-off-canvas"></a>
	
	  </div>
	</div>
	
	{if:else}		
		<div class="row">
			<div class="small-12 medium-12 large-12 columns">	
			<h3 class="text-center">Necesita ingresar al sistema. <a href="{site_url}">Regresar al inicio</a></h3>
			</div>
		</div>
	{/if}		

{embed="n_includes/footer"}