	// N_WALL Heading Block
.heading-block {
	@include thin;
	h1 {
		font-size: 70px;
		font-size: rem(70);
		text-transform: uppercase;
		line-height: 100%;
		color: $gray-dark;
	} 
	div:last-child {
		border-left: 5px solid $gris-claro;
	}
}

.heading-link {
	background: none;
	color: $primary-color;
	padding: 0 5px;
	@include transition(all 0.3s ease);
	font-size: 30px;
	font-size: rem(30);
	@include thin;
	&:hover {
		background: none;
		color: darken($primary-color, 14%);
		@include transition(all 0.3s ease);
	}	
}  