@charset "UTF-8";
meta.foundation-version {
  font-family: "/5.2.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0em; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:40.063em)/";
  width: 40.063em; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:64.063em)/";
  width: 64.063em; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.063em)/";
  width: 90.063em; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.063em)/";
  width: 120.063em; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

html, body {
  height: 100%; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  font-size: 100%; }

body {
  background: white;
  color: #222222;
  padding: 0;
  margin: 0;
  font-family: "museo-sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: default; }

a:hover {
  cursor: pointer; }

img {
  max-width: 100%;
  height: auto; }

img {
  -ms-interpolation-mode: bicubic; }

#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important; }

.left {
  float: left !important; }

.right {
  float: right !important; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

.hide {
  display: none; }

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

img {
  display: inline-block;
  vertical-align: middle; }

textarea {
  height: auto;
  min-height: 50px; }

select {
  width: 100%; }

.thin {
  font-family: "museo-sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
  font-weight: 100;
  font-style: normal; }

.light {
  font-family: "museo-sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
  font-weight: 300;
  font-style: normal; }

.medium {
  font-family: "museo-sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
  font-weight: 500;
  font-style: normal; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.uppercase {
  text-transform: uppercase; }

.lowercase {
  text-transform: none !important; }

.underline {
  text-decoration: underline !important; }

a.not-underline:hover {
  text-decoration: none; }

.text-primary {
  color: #5a277d !important; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .text-gradient {
    background: -webkit-linear-gradient(left, #596c79, #909da8, #5a277d) repeat;
    background: linear-gradient(to right, #596c79, #909da8, #5a277d) repeat;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-fill-color: transparent; }

  .escuela-block h1, .escuela-block p {
    background: -webkit-linear-gradient(left, #596c79, #909da8, #5a277d) repeat;
    background: linear-gradient(to right, #596c79, #909da8, #5a277d) repeat;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-fill-color: transparent; }

  .note-blockquote, blockquote, blockquote p {
    font-family: "museo-sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
    font-weight: 100;
    font-style: normal;
    background: -webkit-linear-gradient(left, #596c79, #909da8, #5a277d) repeat;
    background: linear-gradient(to right, #596c79, #909da8, #5a277d) repeat;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-fill-color: transparent;
    line-height: 1.6; } }
/*  ==============   */
@media only screen and (min-width: 40.063em) and (orientation: portrait) {
  .main-section {
    padding: 2.3rem 2rem 1.875rem 6.1875rem;
    min-height: 65rem; }

  .heading-block h1 {
    margin: -0.5rem 0 0 0;
    font-size: 49px !important;
    font-size: 3.0625rem !important; }
  .heading-block h4 {
    font-size: 1rem; }

  .escuela-block h1 {
    margin-bottom: 0; }

  .list-heading h5 {
    font-size: 1rem; }

  .full-width-for-portrait {
    width: 100% !important; }

  .menu .logo img.large {
    height: 62px;
    margin: 0 4.5rem; }

  .grid-panels .panel-body {
    height: 265px; }

  .search-block form input {
    font-size: 1.1rem; } }
/* min-width 641px, medium screens */
@media only screen and (min-width: 40.063em) and (orientation: landscape) {
  .main-section {
    padding: 2.3rem 2rem 1.875rem 6.1875rem; }

  .heading-block h1 {
    margin: 0;
    font-size: 49px;
    font-size: 3.0625rem; }
  .heading-block h4 {
    font-size: 1.35rem; }

  .full-width-for-landscape {
    width: 100% !important; }

  .escuela-block h1 {
    margin: 0 0 2rem;
    font-size: 4rem; }

  ul.no-bullet li a {
    font-size: 0.7rem; }

  .menu .logo img.large {
    height: 62px;
    margin: 0 4.5rem; }
  .menu ul li a {
    padding: 0.2rem 0;
    font-size: 1rem; }

  .tab-bar .menu-icon:last-child {
    text-indent: 0;
    line-height: 0;
    padding: 7px 14px; }
    .tab-bar .menu-icon:last-child span:after {
      box-shadow: 0 0px 0 1px #5a277d, 0 7px 0 1px #5a277d, 0 14px 0 1px #5a277d; }
    .tab-bar .menu-icon:last-child small {
      color: #5a277d;
      position: relative;
      top: 13px;
      left: 23px;
      z-index: 1;
      font-size: 0.7rem; }

  .grid-panels .panel-body {
    height: 245px; }
  .grid-panels h5 {
    font-size: 0.85rem; }

  #filters li label {
    padding: 0.4375rem 0.2rem;
    font-size: 0.65rem; }

  .list-heading {
    font-size: 0.9rem; }

  .search-canvas-overlay .searching .search-form form input {
    height: auto;
    font-family: "museo-sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
    font-weight: 100;
    font-style: normal; }

  .user-relocate-medium {
    position: absolute;
    left: 101px; }

  .search-block form input {
    font-size: 1.1rem; }

  footer a {
    font-size: 0.8rem; } }
/* min-width 641px, medium screens */
