{embed="n_includes/header"}
  
  {if logged_in}
  <div class=" container ">
      {exp:channel:form
      	channel="noticias"
      	return="n_noticias/vista_previa/ENTRY_ID"
      	datepicker="no"
      	entry_id="{last_segment}"
      }
      <input type="hidden" name="is_preview" value="1" id="is_preview" dir="ltr" field_content_type="all" maxlength="1">
      
      <section class="minhp-100 pv-14"> <!-- MAIN CONTENT -->
        <div class=" container ">
        	<input type="hidden" name="title" value="Noticia" id="title">
          <div id="tabs" class="tabs">
            <nav>
              <h4>1. CONTENIDO</h4>
              <ul>
                <li><a href="#section-1" class=""><span>Externo</span></a></li>
                <li><a href="#section-2" class=""><span>Propio</span></a></li>
              </ul>
            </nav>
            <div class="content">
              <section id="section-1">
                <!-- LINK -->
                <div class="externo">
                  <div class="form-group">
                      <span>*</span> <label for="link" class="h4 thin">Coloca el link del contenido aquí</label>
      			  	{field:noticias_url}
                  </div>
                </div>
              </section>
              <section id="section-2">
                <div class="propio">
                  <div class="form-group">
                    <span>*</span><label for="link" class="h4 thin">Subir imagen</label>
                    {field:noticias_imagen} 
                  </div>
                  <div class="form-group">
                    <span>*</span><label for="link" class="h4 thin">Vínculo</label>
                    <input type="text" class="form-control" name="noticias_titulo" id="title" placeholder="Escribe el link de tu noticia aquí ">
                  </div>
                  <div class="form-group">
                    <span>*</span><label for="link" class="h4 thin">Texto</label>
                    {field:noticias_contenido}
                  </div>
                </div>
              </section>
            </div><!-- /content -->
          </div><!-- /tabs -->
          
          <div class="content">
            <div class="categoria">
              <hr>
              <h4>2. CATEGORIZACIÓN</h4>
              <form action="">
                <div class="form-group">
                  <h4 class="thin"><span>*</span>CATEGORÍA PRINCIPAL</h4>
                  {field:noticias_categoria_principal}
                </div>
                <div class="form-group">	
                  <h4 class="thin"><span>*</span>OTROS TAGS</h4>
                  <ul class="grid-list grid-list-5 grid-list-2-xs grid-list-3-sm">
                    {categories}
                    {if {category_group_id}=='18'}
                    <li class="grid-list-item">
                        <label class="checkbox-inline">
                          <input type="checkbox" data-group-id="{category_group_id}" id="{category_id}" name="category[]" value="{category_id}" {selected}> {category_name}
                        </label>
                    </li>
                    {/if}
                    {/categories}
                    <li class="grid-list-item">
                        <label class="checkbox-inline">
                          <input type="checkbox" id="group-id-18"> Todos
                        </label>
                    </li>
                  </ul>
                </div>
                <div class="form-group text-purple">
                  <h4 class="thin">PÚBLICO</h4>
                  <h4><span>*</span>Tipo</h4>
                  <ul class="grid-list grid-list-5 grid-list-2-xs grid-list-3-sm">
                    {categories}
                    {if {category_group_id}=='21'}
                    <li class="grid-list-item">
                        <label class="checkbox-inline">
                        	<input type="checkbox" data-group-id="{category_group_id}" id="{category_id}" name="category[]" value="{category_id}" {selected}> {category_name}
                        </label>
                    </li>
                    {/if}
        			  {/categories}
        			  <li class="grid-list-item">
                        <label class="checkbox-inline">
                          <input type="checkbox" id="group-id-21"> Todos
                        </label>
                    </li>
                  </ul>
                </div>
                <div class="form-group text-purple">
                  <h4><span>*</span>Países</h4>
                  <ul class="grid-list grid-list-5 grid-list-2-xs grid-list-3-sm">
                    {categories}
                    {if {category_group_id}=='19'}
                    <li class="grid-list-item">
                        <label class="checkbox-inline">
                          <input type="checkbox" data-group-id="{category_group_id}" id="{category_id}" name="category[]" value="{category_id}" {selected}> {category_name}
                        </label>
                    </li>
                    {/if}
                    {/categories}
                    <li class="grid-list-item">
                        <label class="checkbox-inline">
                          <input type="checkbox" id="group-id-19"> Todos
                        </label>
                    </li>
                  </ul>
                </div>
                <div class="form-group text-purple">
                  <h4><span>*</span>Grupo funcional</h4>
                  <ul class="grid-list grid-list-5 grid-list-2-xs grid-list-3-sm">
                    {categories}
                    {if {category_group_id}=='22'}
                    <li class="grid-list-item">
                        <label class="checkbox-inline">
				  <input type="checkbox" data-group-id="{category_group_id}" id="{category_id}" name="category[]" value="{category_id}"> {category_name}
                        </label>
                    </li>
                    {/if}
                    {/categories}
                    <li class="grid-list-item">
                        <label class="checkbox-inline">
                          <input type="checkbox" id="group-id-22"> Todos
                        </label>
                    </li>
                  </ul>
                </div>
                <div class="form-group text-purple">
                  <h4><span>*</span>Vicepresidencia</h4>
                  <ul class="grid-list grid-list-5 grid-list-2-xs grid-list-3-sm">
                    {categories}
                    {if {category_group_id}=='20'}
                    <li class="grid-list-item">
                        <label class="checkbox-inline">
                        <input type="checkbox" data-group-id="{category_group_id}" id="{category_id}" name="category[]" value="{category_id}" {selected}> {category_name}
                        </label>
                    </li>
                    {/if}
                    {/categories}
                    <li class="grid-list-item">
                        <label class="checkbox-inline">
                          <input type="checkbox" id="group-id-20"> Todos
                        </label>
                    </li>
                  </ul>
                </div>
                <hr>
                <div class="form-group">
                	<button type="submit" class="btn btn-gray">Continuar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section> <!-- END:Main content -->
    {/exp:channel:form}
  </div>
  {if:else}   
    {embed="n_includes/not-logged-in-message"}
  {/if}
{embed="n_includes/footer"}
<script type="text/javascript">
  	$('#publishForm').get(0).setAttribute('action', window.location.origin);
  	new CBPFWTabs( document.getElementById( 'tabs' ) );
  	$(function() {
  		var cats = '{exp:news:get_entry_categories entry_id="{last_segment}"}'.split(',');
  		cats.forEach(function(tag) {
  			$('input#' + tag).prop('checked', true);
  		});
  		
  		var cat_groups = [18, 19, 20, 21, 22];
  		cat_groups.forEach(function(el) {
  			$('#group-id-'+el).click(function() {
  				if(this.checked) {
  					$('input[data-group-id="' + el + '"]').prop('checked', true);
  				} else {
  					$('input[data-group-id="' + el + '"]').prop('checked', false);
  				}
  			});
  		});
  	});
</script>
