{embed="n_includes/header"}
	{exp:get_post_vars parse="inward"}
		{if get_username}
			{exp:logmein:now username="{get_username}" expire="{get_expire}"}
		{/if}
	{/exp:get_post_vars}
	
	{if logged_in}
	<div id="site-wrapper">
		<div id="content-frame">	  
		  {embed="n_includes/menu-izquierdo"}
		  {embed="n_includes/top-banner"} 
		  <div id="site-canvas" class="{if segment_1=='n_inicio'}homepage-on{/if}">
		  	<div class="container pv-21">
		  		<a href="{site_url}n_noticias/mis_noticias"><span class="icon-typ-chevron-left"></span> Atrás</a>
		  	</div>
			  {exp:channel:entries entry_id="{segment_3}" dynamic="off" track_views="one"}
			     {if {channel_id} == "13"}
				 	<iframe src="{noticias_portada_url}" width="100%" height="1500px"></iframe>
				 {if:else}
				 	<iframe src="{noticias_url}" width="100%" height="1500px"></iframe>
				 {/if}
			  {/exp:channel:entries}
		  </div>
		</div>
	</div>
	{if:else}		
		<div class="row">
			<div class="small-12 medium-12 large-12 columns">	
			<h3 class="text-center">Necesita ingresar al sistema. <a href="{site_url}">Regresar al inicio</a></h3>
			</div>
		</div>
	{/if}
{embed="n_includes/footer"}
