{embed="n_includes/header"}
{exp:news:get_preferences parse="inward"}
	{preferences}
	<hr>
	
	{super_search_total_results} results for the keyword search: "{super_search_keywords}"
	
	<hr>
	
	
	{exp:super_search:results search="category=326+327&channel=noticias" inclusive_categories="yes"}
		{if super_search_category_not_noticias_colombia}
			Colombia
		{/if}
		<div>
			{title}
			{noticias_link}
			{noticias_categoria_principal}
			{noticias_otros_tags}
		</div>
	{/exp:super_search:results}
{/exp:news:get_preferences}
{embed="n_includes/footer"}

<!-- search="{preferences}"  -->
<!-- search_in="noticias_categoria_principal|noticias_otros_tags" -->