{embed="n_includes/header"}

{exp:channel:form
	channel="noticias"
	return="n_noticias/testing"
	datepicker="no"
}
	<input type="hidden" name="title" value="Noticia" id="title">

	{custom_fields}
	  <label for="{field_name}">{if required}* {/if}{field_label}</label>
	  {field_instructions}
	  {formatting_buttons}
	
	  {if error}
	    <p class="error">{error}</p>
	  {/if}
	
	  {if textarea}
	    <textarea id="{field_name}" name="{field_name}" dir="{text_direction}" rows="{rows}">{field_data}</textarea>
	  {/if}
	
	  {if text}
	    <input type="text" dir="{text_direction}" id="{field_name}" name="{field_name}" value="{field_data}" maxlength="{maxlength}" size="50">
	  {/if}
	
	  {if select}
	    <select id="{field_name}" name="{field_name}">
	      {options}<option value="{option_value}"{selected}>{option_name}</option>{/options}
	    </select>
	  {/if}
	
	  {if date}
	    <input type="text" id="{field_name}" name="{field_name}" value="{field_data}" size="50">
	  {/if}
	
	  {if checkbox}
	    {options}
	      <label class="checkbox">{option_value}
	        <input type="checkbox" id="{field_name}" name="{field_name}[]" value="{option_value}"{checked}>
	      </label>
	    {/options}
	  {/if}
	
	  {if radio}
	    {options}
	      <label class="checkbox">{option_value}
	        <input type="radio" id="{field_name}" name="{field_name}" value="{option_value}"{checked}>
	      </label>
	    {/options}
	  {/if}
	
	  {if file}
	    {display_field}
	  {/if}
	
	  {if relationships}
	    {if allow_multiple}
	      <ul style="list-style: none">
	        {options}
	        <li>
	          <input type="text" name="{field_name}[sort][]" value="{option_order}" style="width: 25px">
	          <label class="checkbox">
	          <input type="checkbox" name="{field_name}[data][]" value="{option_value}"{checked}> {option_name}
	          </label>
	        </li>
	        {/options}
	      </ul>
	    {if:else}
	        <select id="{field_name}" name="{field_name}[data][]">
	        {options}
	          <option value="{option_value}"{selected}>{option_name}</option>
	        {/options}
	        </select>
	    {/if}
	  {/if}
	
	  {if grid}
	    {display_field}
	  {/if}
	
	  {if multiselect}
	    <select id="{field_name}" name="{field_name}[]" multiple="multiple">
	      {options}
	        <option value="{option_value}"{selected}>{option_name}</option>
	      {/options}
	    </select>
	  {/if}
	{/custom_fields}
	<br>
	<h3>Otros tags</h3>
	{categories}
		{if {category_group_id}=='18'}
        <label class="checkbox">{category_name}
            <input type="checkbox" id="{category_id}" name="category[]" value="{category_id}" {selected}>
        </label>
        {/if}
    {/categories}
    
    <h3>Público</h3>
	{categories}
		{if {category_group_id}=='21'}
        <label class="checkbox">{category_name}
            <input type="checkbox" id="{category_id}" name="category[]" value="{category_id}" {selected}>
        </label>
        {/if}
    {/categories}
    
    <h3>Países</h3>
	{categories}
		{if {category_group_id}=='19'}
        <label class="checkbox">{category_name}
            <input type="checkbox" id="{category_id}" name="category[]" value="{category_id}" {selected}>
        </label>
        {/if}
    {/categories}
    
    <h3>Grupo Funcional</h3>
	{categories}
		{if {category_group_id}=='22'}
        <label class="checkbox">{category_name}
            <input type="checkbox" id="{category_id}" name="category[]" value="{category_id}" {selected}>
        </label>
        {/if}
    {/categories}
    
    <h3>Vicepresidencia</h3>
	{categories}
		{if {category_group_id}=='20'}
        <label class="checkbox">{category_name}
            <input type="checkbox" id="{category_id}" name="category[]" value="{category_id}" {selected}>
        </label>
        {/if}
    {/categories}
	<input type="submit" value="Submit">
{/exp:channel:form}

<section class="minhp-100 pv-14"> <!-- MAIN CONTENT -->
  <div class="container pb-56">
    <div id="tabs" class="tabs">  
      <nav>
        <h4>1. CONTENIDO</h4>
        <ul>
          <li><a href="#section-1" class=""><span>Externo</span></a></li>
          <li><a href="#section-2" class=""><span>Propio</span></a></li>
        </ul>
      </nav>
      <div class="content">
        <section id="section-1">
          <!-- LINK -->
          <div class="externo">
            <div class="form-group">
              <span>*</span> <label for="link" class="h4 thin">Coloca el link del contenido aquí</label>
              <input type="text" class="form-control" id="">
            </div>
          </div>
        </section>
        <section id="section-2">
          <div class="propio">
            <div class="form-group">
              <span>*</span><label for="link" class="h4 thin">Subir imagen</label>
              <input type="file" id="exampleInputFile" class="thin">
            </div>
            <div class="form-group">
              <span>*</span><label for="link" class="h4 thin">Titulo</label>
              <input type="text" class="form-control" id="" placeholder="Escribe el link de tu noticia aquí ">
            </div>
            <div class="form-group">
              <span>*</span><label for="link" class="h4 thin">Texto</label>
              <textarea class="form-control textarea-publish" rows="3"></textarea>
            </div>
          </div>
        </section>
      </div><!-- /content -->
    </div><!-- /tabs -->
    <div class="content">
      <div class="categoria">
        <hr>
        <h4>2. CATEGORIZACIÓN</h4>
        <form action="">
          <div class="form-group">
            <h4 class="thin"><span>*</span>CATEGORÍA PRINCIPAL</h4>
            <select name="" id="" class="selectpicker">
              <option>Emprendimiento</option>
              <option>Innovación</option>
              <option>Ventas</option>
              <option>Creatividad</option>
              <option>Planificación y Proyectos</option>
              <option>Negocios & insights</option>
              <option>Competencia</option>
              <option>UCB</option>
            </select>
          </div>
          <div class="form-group">
            <h4 class="thin"><span>*</span>OTROS TAGS</h4>
            <div class="checkbox row">
              <div class="col-md-4">
                <label class="checkbox-inline">
                  <input type="checkbox" id="inlineCheckbox3" value="option3">Emprendimiento
                </label><br>
                <label class="checkbox-inline">
                  <input type="checkbox" id="inlineCheckbox1" value="option1">Innovación
                </label><br>
                <label class="checkbox-inline">
                  <input type="checkbox" id="inlineCheckbox1" value="option1"> Competencia
                </label>
              </div>
              <div class="col-md-4">
                <label class="checkbox-inline">
                  <input type="checkbox" id="inlineCheckbox1" value="option1">Ventas
                </label><br>
                <label class="checkbox-inline">
                  <input type="checkbox" id="inlineCheckbox3" value="option3">Creatividad
                </label><br>
                <label class="checkbox-inline">
                  <input type="checkbox" id="inlineCheckbox2" value="option2"> UCB
                </label>
              </div>
              <div class="col-md-4">                            
                <label class="checkbox-inline">
                  <input type="checkbox" id="inlineCheckbox1" value="option1">Planificación y Proyectos
                </label><br>
                <label class="checkbox-inline">
                  <input type="checkbox" id="inlineCheckbox1" value="option1">Negocios & insights
                </label>
              </div>
            </div>
          </div>
          <div class="form-group text-purple">
            <h4 class="thin">PÚBLICO</h4>
            <h4><span>*</span>Tipo</h4>
            <div class="checkbox row">
              <div class="col-md-4">
                <label class="checkbox-inline">
                  <input type="checkbox" id="inlineCheckbox3" value="option3"> Todos
                </label>                            
              </div>
              <div class="col-md-4">
                <label class="checkbox-inline">
                  <input type="checkbox" id="inlineCheckbox3" value="option3"> Corporativo
                </label>
              </div>
              <div class="col-md-4">
                <label class="checkbox-inline">
                  <input type="checkbox" id="inlineCheckbox3" value="option3"> País
                </label>
              </div>
            </div>
          </div>
          <div class="form-group text-purple">
            <h4><span>*</span>Países</h4>
            <div class="checkbox row">
              <div class="col-md-4">
                <label class="checkbox-inline">
                  <input type="checkbox" id="inlineCheckbox3" value="option3"> Todos
                </label><br>
                <label class="checkbox-inline">
                  <input type="checkbox" id="inlineCheckbox3" value="option3"> Bolivia
                </label><br>
                <label class="checkbox-inline">
                  <input type="checkbox" id="inlineCheckbox3" value="option3"> Colombia
                </label><br>
                <label class="checkbox-inline">
                  <input type="checkbox" id="inlineCheckbox3" value="option3"> Costa Rica
                </label><br>
                <label class="checkbox-inline">
                  <input type="checkbox" id="inlineCheckbox3" value="option3"> Chile
                </label>                              
              </div>
              <div class="col-md-4">
                <label class="checkbox-inline">
                  <input type="checkbox" id="inlineCheckbox3" value="option3"> Ecuador
                </label><br>
                <label class="checkbox-inline">
                  <input type="checkbox" id="inlineCheckbox3" value="option3"> El Salvador
                </label><br>  
                <label class="checkbox-inline">
                  <input type="checkbox" id="inlineCheckbox3" value="option3"> Guatemala
                </label><br>
                <label class="checkbox-inline">
                  <input type="checkbox" id="inlineCheckbox3" value="option3"> Mexico
                </label><br>
                <label class="checkbox-inline">
                  <input type="checkbox" id="inlineCheckbox3" value="option3"> Panamá
                </label><br>                              
              </div>
              <div class="col-md-4">
                <label class="checkbox-inline">
                  <input type="checkbox" id="inlineCheckbox3" value="option3"> Venezuela
                </label><br>
                <label class="checkbox-inline">
                  <input type="checkbox" id="inlineCheckbox3" value="option3"> Perú
                </label><br>  
                <label class="checkbox-inline">
                  <input type="checkbox" id="inlineCheckbox3" value="option3"> Puerto Rico
                </label><br>
                <label class="checkbox-inline">
                  <input type="checkbox" id="inlineCheckbox3" value="option3"> República Dominicana
                </label><br>
                <label class="checkbox-inline">
                  <input type="checkbox" id="inlineCheckbox3" value="option3"> EE.UU
                </label><br>                              
              </div>
            </div>
          </div>
          <div class="form-group text-purple">
            <h4><span>*</span>Grupo funcional</h4>
            <div class="checkbox row">
              <div class="col-md-4">
                <label class="checkbox-inline">
                  <input type="checkbox" id="inlineCheckbox3" value="option3"> Todos
                </label><br>  
                <label class="checkbox-inline">
                  <input type="checkbox" id="inlineCheckbox3" value="option3"> Administrativos
                </label>                        
              </div>
              <div class="col-md-4">
                <label class="checkbox-inline">
                  <input type="checkbox" id="inlineCheckbox3" value="option3"> Corporativo
                </label><br>
                <label class="checkbox-inline">
                  <input type="checkbox" id="inlineCheckbox3" value="option3"> Retail
                </label>  
              </div>
              <div class="col-md-4">
                <label class="checkbox-inline">
                  <input type="checkbox" id="inlineCheckbox3" value="option3"> País
                </label>
              </div>
            </div>
          </div>
          <div class="form-group text-purple">
            <h4><span>*</span>Vicepresidencia</h4>
            <div class="checkbox row">
              <div class="col-md-4">
                <label class="checkbox-inline">
                  <input type="checkbox" id="inlineCheckbox3" value="option3"> Todos
                </label><br>  
                <label class="checkbox-inline">
                  <input type="checkbox" id="inlineCheckbox3" value="option3"> Administrativos
                </label><br>
                <label class="checkbox-inline">
                  <input type="checkbox" id="inlineCheckbox3" value="option3"> Estrategia y finanzas
                </label><br>
                <label class="checkbox-inline">
                  <input type="checkbox" id="inlineCheckbox3" value="option3"> Gestión humana
                </label><br>
                <label class="checkbox-inline">
                  <input type="checkbox" id="inlineCheckbox3" value="option3"> Marcas e innovación
                </label><br>
                <label class="checkbox-inline">
                  <input type="checkbox" id="inlineCheckbox3" value="option3"> Operaciones
                </label>
              </div>
              <div class="col-md-4">
                <label class="checkbox-inline">
                  <input type="checkbox" id="inlineCheckbox3" value="option3"> Ventas
                </label><br>
                <label class="checkbox-inline">
                  <input type="checkbox" id="inlineCheckbox3" value="option3"> Países
                </label><br>
                <label class="checkbox-inline">
                  <input type="checkbox" id="inlineCheckbox3" value="option3"> Planeamiento Comercial
                </label><br>
                <label class="checkbox-inline">
                  <input type="checkbox" id="inlineCheckbox3" value="option3"> Tecnología
                </label>  
              </div>
            </div>
          </div>
          <hr>
          <div class="form-group">
            <h4 class="thin"><span>*</span>VIGENCIA</h4>
            <div class="radio">
              <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> 1 mes
              </label><br>
              <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> 3 meses
              </label><br>
              <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> 6 meses
              </label>
              <div class="row datepicker-home">
                <input type="text" id="date" class="form-check ml-14" placeholder="Elegir fecha">
              </div>
            </div>
          </div>
            <hr>
          <div class="form-group">
            <h4 class="thin">SELLO DE EXPERTO</h4>
            <div class="checkbox">
              <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox3" value="option3"> Agregar mi sello de experto o líder
              </label>
            </div>
          </div>
          <div class="form-group">
            <a href="vista-preliminar.html" class="btn btn-gray">Continuar</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</section> <!-- END:Main content -->

{embed="n_includes/footer"}
<script type="text/javascript">$('#publishForm').get(0).setAttribute('action', window.location.origin);</script>
