{embed="n_includes/header"}
{exp:channel:form channel="noticias"}
	<input type="hidden" name="title" value="Noticia" id="title">
	<p>Link: {field:noticias_link}</p>
	
	{field:noticias_categoria_principal}
	<!--
{field:noticias_otros_tags}
	{field:noticias_publico}
	{field:noticias_paises}
	{field:noticias_vicepresidencia}
	{field:noticias_sello_de_experto}
-->
	
	<h2>Grupo Funcional</h2>
	{categories}
		{if {category_group_id}=='19'}
        <label class="checkbox">{category_name}
            <input type="checkbox" id="{category_id}" name="category[]" value="{category_id}" {selected}>
        </label>
        {/if}
    {/categories}
   
	
	<input type="submit" value="Submit">
{/exp:channel:form}	
{embed="n_includes/footer"}