{embed="n_includes/header"}
	{exp:get_post_vars parse="inward"}
		{if get_username}
			{exp:logmein:now username="{get_username}" expire="{get_expire}"}
		{/if}
	{/exp:get_post_vars}
	
	{if logged_in}
		<div class=" container ">
			<div class="contenido-ventas pl-14 heading-block text-gradient">
			  <a href="{site_url}n_noticias/mis_noticias"><span class="icon-typ-chevron-left"></span> Atrás</a>
			  <h2 class="thin">Otro contenido que te puede interesar</h2>
			</div> 
			<ul class="grid-list grid-list-4 grid-list-1-xs grid-list-2-sm isotope-grid posts-grid mt-35">
				{exp:news:all_entries parse="inward" limit="100"}
					{if noticias_titulo==""}
					<li>
						{exp:opengraph:query url="{noticias_url}"}
						<div class="pic" style="background-image: url('{og_image}');">
							<div class="category-label">
								<span class="text-uppercase">{noticias_categoria_principal}</span>
							</div>
						</div>
						<div class="content">
							<a href="{site_url}n_noticias/iframe/{noticias_entry_id}">{og_title_resume}</a>
						</div>
						<div class="info">
							<div class="left">
								<div class="user-card user-card-round size xs">
			    				<div class="user-pic">			        					
			    					<img src="{site_url}n_img/user.jpg" alt="">
			    				</div>
			    				<div class="user-info">
			    					<span>{noticias_autor}</span>
			    				</div>
			    			</div>
							</div>
							<div class="right">
								<span class="icon-typ-eye">{noticias_vistas}</span>
							</div>								
						</div>
						{/exp:opengraph:query}
					</li>
					{if:else}
						<li>
							{exp:parse_file_paths}
							<div class="pic" style="background-image: url('{noticias_imagen}');">
								<div class="category-label">
									<span class="text-uppercase">{noticias_categoria_principal}</span>
								</div>
							</div>
							{/exp:parse_file_paths}
							<div class="content">
								<a href="{site_url}n_noticias/iframe/{noticias_entry_id}">{exp:char_limit total="50" exact="no"}{noticias_contenido}{/exp:char_limit}</a>
							</div>
							<div class="info">
								<div class="left">
									<div class="user-card user-card-round size xs">
				    				<div class="user-pic">			        					
				    					<img src="{site_url}n_img/user.jpg" alt="">
				    				</div>
				    				<div class="user-info">
				    					<span>{noticias_autor}</span>
				    				</div>
				    			</div>
								</div>
								<div class="right">
									<span class="icon-typ-eye">{noticias_vistas}</span>
								</div>								
							</div>
						</li>
					{/if}
				{/exp:news:all_entries}
			</ul>
		</div>
	{if:else}		
		{embed="n_includes/not-logged-in-message"}
	{/if}
{embed="n_includes/footer"}
