{embed="n_includes/header"}

<div class="container pb-56">
  <div class="flexslider m-0">
    <ul class="slides">
  		<li>
  			<a href="#">
        	<div class="item active">
			      <img src="assets/img/bg-slider.jpg">
			      <div class="carousel-caption pl-21 normalize-text">
					    <h1 class="text-gradient thin">POR QUÉ EL<br>
					    TRABAJO NO<br>
					    SUCEDE EN EL<br> 
					    TRABAJO</h1>
							<h4 class="thin mlp-49"><span class="icon-typ-eye h4"></span>15</h4>
					  </div>
			    </div>
      	</a>
      </li>
      <li>
      	<img src="assets/img/bg-slider2.jpg">
      </li>
      <li>
				<img src="assets/img/bg-slider3.jpg">
      </li>
      <li>
      	<img src="assets/img/bg-slider2.jpg">
      </li>
    </ul>
  </div> 
  <div class="text-right mt-14">
  	<a href="publicar-link.html"  class="pv-7 ph-14 link-edit"><img src="assets/img/edit3.png" alt=""></a> 
  	<a href="actualizar-seleccion.html" class="pv-7 ph-14 link-config"><img src="assets/img/configurar3.png" alt=""></a>	
  </div>
  <h4 class="mt-49 pl-14">CONTENIDO SEGÚN PREFERENCIAS</h4>
	<ul class="grid-list grid-list-5 grid-list-1-xs isotope-grid posts-grid">
		{exp:news:entries_by_preferences parse="inward"}
		
			<li>
				{exp:opengraph:query url="{noticias_url}"}
				<div class="pic" style="background-image: url('{og_image}');">
					<div class="category-label">
						<span class="text-uppercase">{noticias_categoria_principal}</span>
					</div>
				</div>
				<div class="content">
					<a href="{noticias_url}">{og_title}</a>
				</div>
				<div class="info">
					<div class="left">
						<div class="user-card user-card-round size xs">
	    				<div class="user-pic">			        					
	    					<img src="assets/img/user.jpg" alt="">
	    				</div>
	    				<div class="user-info">
	    					<span>Julio Rosal</span>
	    				</div>
	    			</div>
					</div>
					<div class="right">
						<span class="icon-typ-eye">15</span>
					</div>								
				</div>
				{/exp:opengraph:query}
			</li>
		
		
		{/exp:news:entries_by_preferences}					
	</ul>
	<div class="text-right mh-35">
		<a href="#" class="text-primary"> VER TODOS <span class="icon-typ-chevron-right"></span>	</a>
	</div>

	<h4 class="mt-49 pl-14">CONTENIDO RELEVANTE PARA VENTAS</h4>
	<ul class="grid-list grid-list-5 grid-list-1-xs isotope-grid posts-grid">
		{exp:news:entries_by_vp parse="inward"}
		<a href="{og_url}">
			<li>
				{exp:opengraph:query url="{noticias_url}"}
				<div class="pic" style="background-image: url('{og_image}');">
					<div class="category-label">
						<span class="text-uppercase">{noticias_categoria_principal}</span>
					</div>
				</div>
				<div class="content">
					<a href="{og_url}">{og_title}</a>
				</div>
				<div class="info">
					<div class="left">
						<div class="user-card user-card-round size xs">
	    				<div class="user-pic">			        					
	    					<img src="assets/img/user.jpg" alt="">
	    				</div>
	    				<div class="user-info">
	    					<span>Eduardo Belmont</span>
	    				</div>
	    			</div>
					</div>
					<div class="right">
						<h4 class="thin mlp-49"><span class="icon-typ-eye h4"></span>15</h4>
					</div>								
				</div>
				{/exp:opengraph:query}
			</li>
		
		{/exp:news:entries_by_vp}
	</ul>
	<div class="text-right mh-35">
		<a href="#" class="text-primary"> VER TODOS <span class="icon-typ-chevron-right"></span>	</a>
	</div>

	<h4 class="mt-49 pl-14">OTRO CONTENIDO QUE TE PUEDE INTERESAR</h4>
</div>



<!-- <h1>Entries by preferences</h1>
<ol>
{exp:news:entries_by_preferences parse="inward"}
	<li>
	{exp:opengraph:query url="{noticias_url}"}
		<p>Título: {og_title}</p>
		<p>Descripción: {og_description}</p>
		<p>Link: {og_url}</p>
		<img src="{og_image}" />
	{/exp:opengraph:query}
	<p>Categoría Principal: {noticias_categoria_principal}</p>
	</li>
{/exp:news:entries_by_preferences}
</ol>
 -->

<!-- <h1>Entries by VP</h1> -->
<!-- <ol>
{exp:news:entries_by_vp parse="inward"}
	<li>
	{exp:opengraph:query url="{noticias_url}"}
		<p>Título: {og_title}</p>
		<p>Descripción: {og_description}</p>
		<p>Link: {og_url}</p>
		<img src="{og_image}" />
	{/exp:opengraph:query}
	<p>Categoría Principal: {noticias_categoria_principal}</p>
	</li>
{/exp:news:entries_by_vp}
</ol> -->
{embed="n_includes/footer"}