				<ul class="breadcrumbs">
				  <li><a href="{site_url}n_inicio">Inicio</a></li>
				  {if segment_2!='plan-de-desarrollo-temas'}
					  {if embed:categoria}
					  <li>
					  	<a href="{site_url}n_inicio">Escuelas de {embed:categoria}</a>
					  </li>
					  {/if}	      
				  {/if}
					{if segment_2!=''AND segment_1!='n_convenios' AND segment_1!='n_buscar' AND segment_1!='n_seccion' AND segment_2!='gracias' AND segment_2!='no_resultados'}
				  <li {if segment_3==''}class="current"{/if}>
				  	<a href="{site_url}n_escuelas/{segment_2}">{if segment_2!='plan-de-desarrollo-temas'}Escuela de{/if} {segment_2_category_name}</a>
				  </li> 
				  {/if}
				  {if segment_3!='' AND segment_2!="curso"}
				  	<li {if segment_4==''}
				  				class="current"
				  			{/if}
				  	>
				  		{if segment_4!=''}
				  		<a href="{site_url}n_escuelas/{segment_2}/{segment_3}">
				  		{/if}
				  			{segment_3_category_name}
				  		{if segment_4!=''}
				  		</a>
				  		{/if}
				  	</li>	
				  {/if}
				  {if segment_4!=''}
				  	<li class="current">{segment_4_category_name}</li>
				  {/if}		
				  {if segment_1=='n_convenios'}
				  	<li><a href="{site_url}n_convenios/peru">Convenios</a></li>
				  	<li class="current">{segment_2_category_name}</li>
				  {/if}		
				  {if segment_1=='n_preguntas_frecuentes'}
				  	<li class="current">Preguntas Frecuentes</li>
				  {/if}	
				  {if segment_1=='n_seccion'}
				  	<li><a href="{site_url}n_inicio">La UCB</a></li>
				  	<li class="current">{embed:titulo}</li>
				  {/if}	
				  {if segment_1=='n_plan_de_desarrollo'}
				  	<li class="current">Plan de Desarrollo</li>
				  {/if}					  
				  {if segment_1=='n_contactos'}
				  	<li class="current">Contáctenos</li>
				  {/if}	
				  {if segment_1=='n_quieres_crear_un_curso'}
				  	<li class="current">¿Quieres crear un Curso?</li>
				  {/if}			
				  {if segment_1=='n_buscar'}
				  	<li class="current">Buscar</li>
				  {/if}			
				  {if segment_2=='curso'}
				  	<li class="current">{embed:titulo}</li>
				  {/if}					  				  				  					    
				</ul>