				<ul class="breadcrumbs">
				  <li><a href="{site_url}n_wall">Wall</a></li>
				  {if segment_2=='curso'}
				  <li><a href="{site_url}n_wall">Wall</a></li>
				  {/if}
					{if segment_2!='' AND segment_1!='n_seccion'}
				  <li>
				  	<a href="{site_url}n_escuelas/{segment_2}">{segment_2_category_name}</a>
				  </li> 
				  {/if}
				  {if segment_3!=''}
				  	<li {if segment_4==''}class="current"{/if}>{if segment_4!=''}<a href="{site_url}n_escuelas/{segment_2}/{segment_3}">{/if}{segment_3_category_name}{if segment_4!=''}</a>{/if}</li>
				  {/if}
				  {if segment_4!=''}
				  	<li class="current">{segment_4_category_name}</li>
				  {/if}		
				  {if segment_1=='n_convenios'}
				  	<li class="current">Convenios: {segment_2_category_name}</li>
				  {/if}		
				  {if segment_1=='n_preguntas_frecuentes'}
				  	<li class="current">Preguntas Frecuentes</li>
				  {/if}	
				  {if segment_1=='n_seccion'}
				  	<li class="current">{embed:titulo}</li>
				  {/if}					  					    
				</ul>