
  	    		<div id="search-button" class="row show-for-large-up">
  	    			<div class="small-9 medium-11 large-11 columns pr-0">
  	    				<button class="search-form-trigger">Encuentra los cursos de tu preferencia aquí</button>
  	    			</div>
  	    			<div class="small-3 medium-1 large-1 columns pl-0">
  	    				<div class="search-icon"><i class="icon-search"></i></div>
  	    			</div>
  	    		</div>


						<div class="row show-for-medium-down">
							<div class="large-6 columns large-centered">
								{exp:search:simple_form 
									channel="cursos|tendencias" 
									search_in="everywhere"
									form_id="form_search" 
									status="open"  
									result_page="n_buscar/index" 
									where="all"
									no_result_page="n_buscar/no_resultados"
								}
									<input type="hidden" name="XID" value="{XID_HASH}" />	
						      <div class="row collapse">
						        <div class="small-10 medium-10 large-10 columns">
						          <input type="text" name="keywords" id="keywords" autofocus="autofocus" placeholder="Encuentra los cursos de tu preferencia aquí">
						        </div>
						        <div class="small-2 medium-2 large-2 columns">
						          <button type="submit" class="input postfix"><i class="icon-search"></i></button>
						        </div>
						      </div>
				    		{/exp:search:simple_form}
							</div>
						</div>
