					{if segment_3}
						{if segment_4}
							<h1>{segment_4_category_name}</h1>
						{if:else}
							<h1>{segment_3_category_name}</h1>	
						{/if}				
					{if:else}
						{if segment_2_category_name=="Ventas"}
		    			{exp:channel:entries channel="escuelas" limit="1" disable="categories|member_data|pagination" entry_id="199" }
		    		{/if}
						{if segment_2_category_name=="Negocios"}
		    			{exp:channel:entries channel="escuelas" limit="1" disable="categories|member_data|pagination" entry_id="202" }
		    		{/if}
						{if segment_2_category_name=="Liderazgo y Cultura"}
		    			{exp:channel:entries channel="escuelas" limit="1" disable="categories|member_data|pagination" entry_id="201" }
		    		{/if}	
						{if segment_2_category_name=="Innovación"}
		    			{exp:channel:entries channel="escuelas" limit="1" disable="categories|member_data|pagination" entry_id="200" }
		    		{/if}	
						{if segment_2_category_name=="Plan de Desarrollo"}
		    			{exp:channel:entries channel="escuelas" limit="1" disable="categories|member_data|pagination" entry_id="303" }
		    			<h1>{segment_2_category_name}</h1>
		    		{/if}				
		    		{if segment_2_category_name=="Tecnología" OR segment_2_category_name=="Operaciones"} 	 
    			  	<h1>{segment_2_category_name}</h1>
    			  {if:else}
    			  	{if segment_2_category_name!="Plan de Desarrollo"}  	    				    			 				    				    		
							<h1>Escuela de {title}</h1>
							{if descripcion_slide1_escuela}
							<div class="note-blockquote">{descripcion_slide1_escuela}</div>
							{/if}
							{/exp:channel:entries}
							{/if}
						{/if}
					{/if}
		    		
					