  	    		<div class="row mb-14">
  	    			<div class="small-12 medium-12 large-12 columns">
		  	    		<ul id="filters" class="no-bullet pt-0">
		  	    			<li>
		  	    				<input type="checkbox" value=".Archivo" name="archivo" id="archivo">
		  	    				<label for="archivo">Archivo</label>
		  	    			</li>
		  	    			<li>
		  	    				<input type="checkbox" value=".Articulo" name="articulo" id="articulo">
		  	    				<label for="articulo">Articulo</label>
		  	    			</li>
		  	    			<li>
		  	    				<input type="checkbox" value=".Audio" name="audio" id="audio">
		  	    				<label for="audio">Audio</label>
		  	    			</li>
		  	    			<li>
		  	    				<input type="checkbox" value=".Curso" name="curso" id="curso">
		  	    				<label for="curso">Curso</label>
		  	    			</li>
		  	    			<li>
		  	    				<input type="checkbox" value=".Curso-externo" name="curso-externo" id="curso-externo">
		  	    				<label for="curso-externo">Curso-externo</label>
		  	    			</li>
		  	    			<li>
		  	    				<input type="checkbox" value=".Video" name="video" id="video">
		  	    				<label for="video">Video</label>
		  	    			</li>
		  	    		</ul>
		  	    	</div>
	  	    	</div>