  	    		<div class="row mb-28 hide-for-small hide-for-portrait">
  	    			<div class="small-12 medium-12 large-12 columns">
  	    				<h6 class="uppercase">Filtrar por:</h6>
		  	    		<ul id="filters" class="no-bullet pt-0">
		  	    			<!-- <li>
		  	    				<input type="checkbox" value="*" name="todos" id="todos" checked>
		  	    				<label for="todos">Todos</label> 
		  	    			</li> -->
		  	    			<li>
		  	    				<input type="checkbox" value=".archivo-temas" name="archivo" id="archivo" onclick="ga('send', 'event', 'filtro', 'archivo', '{segment_2_category_name}');">
		  	    				<label for="archivo">Archivo</label>
		  	    			</li>
		  	    			<li>
		  	    				<input type="checkbox" value=".articulo-temas" name="articulo" id="articulo" onclick="ga('send', 'event', 'filtro', 'articulo', '{segment_2_category_name}');">
		  	    				<label for="articulo">Artículo</label>
		  	    			</li>
		  	    			<li>
		  	    				<input type="checkbox" value=".audio-temas" name="audio" id="audio" onclick="ga('send', 'event', 'filtro', 'audio', '{segment_2_category_name}');">
		  	    				<label for="audio">Audio</label>
		  	    			</li>
		  	    			<li>
		  	    				<input type="checkbox" value=".curso-temas" name="curso" id="curso" onclick="ga('send', 'event', 'filtro', 'curso', '{segment_2_category_name}');">
		  	    				<label for="curso">Curso</label>
		  	    			</li>
		  	    			<li>
		  	    				<input type="checkbox" value=".curso-externo-temas" name="curso-externo" id="curso-externo" onclick="ga('send', 'event', 'filtro', 'curso-externo', '{segment_2_category_name}');">
		  	    				<label for="curso-externo">Curso-externo</label>
		  	    			</li>
		  	    			<li>
		  	    				<input type="checkbox" value=".video-temas" name="video" id="video" onclick="ga('send', 'event', 'filtro', 'video', '{segment_2_category_name}');">
		  	    				<label for="video">Video</label>
		  	    			</li>
		  	    		</ul>
		  	    	</div>
	  	    	</div>