<!-- FOOTER -->
<footer class="footer">
	<a href="{site_url}n_seccion/que-hace-la-ucb-por-ti" class="list-group-item  {if segment_2=='que-hace-la-ucb-por-ti'}active{/if}">Qué Hace la UCB Por Ti</a> | 
	<a href="{site_url}n_preguntas_frecuentes" class="list-group-item {if segment_1=='n_preguntas_frecuentes'}active{/if}">Preguntas Frecuentes</a> | <a href="{site_url}n_contactos" class="list-group-item {if segment_1=='n_contactos'}active{/if}">Contáctanos</a> | <a href="https://www.facebook.com/aprendeconlaucb" target="_blank" class="list-group-item hover-toggle">Facebook</a> | <a href="https://twitter.com/ubelcorp"  target="_blank" class="list-group-item hover-toggle">Twitter</a>
</footer>
<!-- END:FOOTER -->