		<!--HERRAMIENTA DE CERTIFICACION-->
		<div id="herramienta_de_certificacion" class="reveal-modal" data-reveal>
		  <h2>Herramienta de Certificación</h2>
		  <p class="lead">Se han realizado mejoras en el sistema:</p>
		  <p>Puede acceder desde el icono en la Tablet de Escuela de Venta o desde este portal con su usuario de red y contraseña de red.<br>
		  Cualquier consulta comuníquese con Mesa de Ayuda opción “Escuela de Venta”.</p>
		  <a href="http://ffvv.somosbelcorp.com" class="button small">Acceder</a>
		  <a class="close-reveal-modal">&#215;</a>
		</div>

    <!-- SCRIPTS-->
    <script src="{site_url}n_js/vendor/jquery.js"></script>
    <script src="{site_url}n_js/foundation.min.js"></script>
    {if segment_1=='n_escuelas'}
    	<script src="{site_url}n_js/vendor/isotope.pkgd.min.js"></script>
			<script>
		    $(document).ready(function(){
					var $container = $('#isotope-container'),
				      $checkboxes = $('#filters input');
				      $labels = $('#filters label');
				  
				  $container.isotope({
				    itemSelector: '.isotope-item'
				  });
				  
				  $checkboxes.change(function(){
				    var filters = [];
				    // get checked checkboxes values
				    $checkboxes.filter(':checked').each(function(){
				      filters.push( this.value );
				    });
				    filters = filters.join(', ');
				    $container.isotope({ filter: filters });
				  });
		
		    });
	    </script>
    {/if}
    <script>
      $(document).foundation({
			  offcanvas : {
			    open_method: 'move', // Sets method in which offcanvas opens, can also be 'overlap'
			    close_on_click : true
			  }
		  });
    </script>
    
    <!--MOUSE OVER OFF-CANVAS-->
    <script>
		  $(document).ready(function(){
		  	$('.off-canvas-trigger').on('mouseover', function(){
		  		$('.off-canvas-wrap').foundation('offcanvas', 'toggle', 'move-right');
		  	});
		  });
		  $(document).ready(function(){
		  	if($(window).width() > 420) {
			  	$('.off-canvas-list .large-2').on('mouseover', function(){
			  		$('.off-canvas-wrap').foundation('offcanvas', 'toggle', 'move-right');
			  	});
		  	}
			  $(document).on('open', '[data-offcanvas]', function() {
				  $('.off-canvas-list .large-2').addClass("off-canvas-open");
				  $('.off-canvas-trigger').addClass("off-canvas-open");
				  $('.off-canvas-list .large-2').removeClass("off-canvas-close");
				  $('.off-canvas-trigger').removeClass("off-canvas-close");
				});
				$(document).on('close', '[data-offcanvas]', function() {
				  $('.off-canvas-list .large-2').removeClass("off-canvas-open");
				  $('.off-canvas-trigger').removeClass("off-canvas-open");
				  $('.off-canvas-list .large-2').addClass("off-canvas-close");
				  $('.off-canvas-trigger').addClass("off-canvas-close");
				});
		  });		  
    </script>
    <!--END.MOUSE OVER OFF-CANVAS-->
    
		<!--BUSCADOR-->
    <script>
    $(document).ready(function(){
    	var $searchOv = $('.search-canvas-overlay');

    	$('.search-form-trigger').click(function(e) {
    		e.preventDefault();
    		$searchOv.addClass('searching fadeInDown');
    	});
    	$('.search-canvas-overlay .close').click(function(e) {
    		if($searchOv.hasClass("fadeInDown")) {
    			$searchOv.removeClass('fadeInDown');
    			$searchOv.addClass('fadeOutUpBig');
    			setTimeout(function(){
    				$searchOv.removeClass('searching fadeOutUpBig');
    			}, 1000);
    		} else {
    			$searchOv.removeClass('fadeOutUpBig');
    		}
    	});
    });
    </script>
		<!--END.BUSCADOR-->
  </body>
</html>