				{if logged_in}
					<div id="herramienta_de_certificacion" class="reveal-modal hidden" data-reveal>
					  <h2>Herramienta de Certificación</h2>
					  <p>Puede acceder desde el icono en la Tablet de Escuela de Venta o desde este portal con su usuario de red y contraseña de red. Cualquier consulta comuníquese con Mesa de Ayuda opción “Soporte Técnico”.</p>
					  <a href="http://ffvv.somosbelcorp.com/" class="button small">Acceder FFVV</a>
					  <a href="http://ev.belcorp.biz/" class="button small">Acceder Portal Administrativos</a>
					  <a class="close-reveal-modal">×</a>
					</div>
					{embed="n_includes/footer-nav"}
					</div> <!-- END:Site canvas -->
	  		{/if}
	  </div> <!-- END:Site wrapper -->
		<!-- SCRIPTS-->
		<!--[if !IE]><!--><script src="{site_url}n_js/vendor/jquery.js"></script><!--<![endif]-->
		<script src="{site_url}n_js/foundation.min.js"></script>
		<script type="text/javascript" src="{site_url}n_js/vendor/wurfl.js"></script>
		<script type="text/javascript" src="{site_url}n_js/ayu-off-canvas.js"></script>
		<script type="text/javascript" src="{site_url}n_js/vendor/jquery.validate.min.js"></script>
		{if segment_1=='n_noticias'}
		  <script src="{site_url}n_js/vendor/flickity.pkgd.min.js"></script>
			<script src="{site_url}n_js/flexslider/imagesloaded.pkgd.min.js"></script>
			<script src="{site_url}n_js/flexslider/isotope.pkgd.min.js"></script>
			<script src="{site_url}n_js/tabs/cbpFWTabs.js"></script>
			<script src="{site_url}n_js/tabs/layout-control.js"></script>
			<script src="{site_url}n_js/jquery-ui.min.js"></script>
		{/if}

		{if segment_1=='n_escuelas'}
			<script src="{site_url}n_js/vendor/isotope.pkgd.min.js"></script>
			<script src="{site_url}n_js/vendor/jquery.sticky.js"></script>
			<script>
		    $(document).ready(function(){
					var $container = $('#isotope-container'),
				      $checkboxes = $('#filters input');
				      $labels = $('#filters label');
				  
				  $container.isotope({
				    itemSelector: '.isotope-item'
				  });
				  $checkboxes.change(function(){
				    var filters = [];
				    if($('#filters #todos').prop('checked')) {
				    	$('#filters #todos').attr('checked', false);
				    } else {
				    	// get checked checkboxes values
					    $checkboxes.filter(':checked').each(function(){
					      filters.push( this.value );
					    });
					    filters = filters.join(', ');
					    console.log(filters);
					    $container.isotope({ filter: filters });
				    }
				  });
		    });
		  </script>
		{/if}

		<script>
		  $(document).foundation({
			  dropdown: {
			    // specify the class used for active dropdowns
			    active_class: 'open'
			  }
			});
		</script>


		<!-- LOGIN VALIDATOR -->
		<script>
		$(document).ready(function(){
			$("#user-login-form").validate();

			// DATA HRTEF0's
			$('[data-href]').click(function(e) {
		    var lastPath, locationArr, mainPath, pathObj;
		    locationArr = window.location.pathname.split('/');
		    lastPath = locationArr[locationArr.length - 1];
		    mainPath = locationArr[locationArr.length - 2];
		    pathObj = {};
		    pathObj[mainPath] = lastPath;
		    window.history.pushState(pathObj, '', lastPath);
		    document.location.replace($(this).data('href'));
		  });
		});
		</script>

		<!--CRAZY EGG-->
		<script type="text/javascript">
		setTimeout(function(){var a=document.createElement("script");
		var b=document.getElementsByTagName("script")[0];
		a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0013/3205.js?"+Math.floor(new Date().getTime()/3600000);
		a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
		</script>		
		<!--END. CRAZY EGG-->

		<!--GOOGLE ANALYTICS-->
		<script type="text/javascript">
		    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		            ga('create', 'UA-39228167-1', 'belcorp.biz');
		            ga('set', 'dimension1', 'Usuario-Belcorp');
		            ga('set', 'dimension2', 'Pais');
		            ga('send', 'pageview' );
		</script>
			<!--END. GOOGLE ANALYTICS-->
  </body>
</html>