					<!-- FOOTER -->
					<footer class="mt-7-100 text-center mh-140 pt-63 thin">
						<div class="large-centered large-11 columns">
							<div class="large-3 columns">
								<a href="{site_url}n_seccion/que-hace-la-ucb-por-ti" class="list-group-item  {if segment_2=='que-hace-la-ucb-por-ti'}active{/if}">La UCB Por Ti</a>
							</div>
							<div class="large-3 columns">
								<a href="{site_url}n_convenios/peru" class="list-group-item {if segment_1=='n_convenios'}active{/if}">Convenios</a>
							</div>
							<div class="large-3 columns">
								<a href="{site_url}n_preguntas_frecuentes" class="list-group-item {if segment_1=='n_preguntas_frecuentes'}active{/if}">Preguntas Frecuentes</a>
							</div>
							<div class="large-3 columns">
								<a href="{site_url}n_contactos" class="list-group-item {if segment_1=='n_contactos'}active{/if}">Contáctanos</a>
							</div>
						</div>
					</footer>
					<!-- END:FOOTER -->