{exp:freeform:form 
	form_name="contactenos" 
	return="n_contactos/gracias" 
	required="first_name|last_name|email|user_message" 
	inline_errors="yes" 
	inline_error_return="contactanos/index" 
	admin_notify="coloradomarin@gmail.com" 
	admin_notification_template="alerta_contactenos" 
	error_page="contactanos/index"
} 
				    
	 <dl>
			{if freeform:error:first_name OR freeform:error:last_name OR freeform:error:email OR freeform:error:user_message}
			<dt class="error">ERROR en los siguientes campos. </dt>
	  		<dd>
	  			<ul>
	    		{if freeform:error:first_name}
				    <li class="error">Nombre: verificar si fue ingresado correctamente</li>
				{/if}
	        	{if freeform:error:last_name}
				    <li class="error">Apellido: verificar si fue ingresado correctamente</li>
				{/if}
	        	{if freeform:error:email}
				    <li class="error">Correo Electrónico: verificar el formato, o si fue ingresado correctamente</li>
				{/if}
	        	{if freeform:error:user_message}
				    <li class="error">Mensaje: verificar si fue ingresado correctamente</li>
				{/if}	
	  			</ul>
			</dd>				    		
			{/if}
	</dl>
	  
	<dl>
	{freeform:all_form_fields}
	    <dt><label>{freeform:field_label}</label></dt>
	    <dd>
	    	{freeform:field_output}																				
	    </dd>
	    
	{/freeform:all_form_fields}
	</dl>
	
	{if freeform:captcha}
	    <p>Please enter the word you see in the image below:</p>
	    <p>{freeform:captcha}<br />
	    <input type="text" name="captcha" style="width:140px;" /></p>
	{/if}
	
	<div class="row">
	  <div class="small-12 medium-3 medium-centered large-3 large-centered columns"> 
	  	<button class="publish button expand">ENVIAR</button>
	  </div>
	</div>  
					  
{/exp:freeform:form}   