<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9"/>
    <!--[if IE]>
    <script src="{site_url}n_js/vendor/html5shiv.js"></script>
    <script src="{site_url}n_js/vendor/jquery.1x.min.js"></script>
    <![endif]-->
    <title>UCB</title>
    <script src="{site_url}n_js/vendor/modernizr.js"></script>

    <link rel="stylesheet" href="{site_url}n_stylesheets/foundation-custom.css" />
    <link rel="stylesheet" href="{site_url}n_stylesheets/main.css" />  
    <link rel="stylesheet" href="{site_url}n_stylesheets/ebm.css" />  
    <!-- <link rel="stylesheet" href="{site_url}n_css/custom.css" />   -->
    <!-- <link rel="stylesheet" href="{site_url}n_css/tablet-custom.css" />   -->
    <!-- <link rel="stylesheet" href="{site_url}n_css/phone-custom.css" /> -->
    
    <!-- REDIRECT -->
	<script type="text/javascript">
	    if(window.location.search){
// 		    window.location.href = window.location.href.split("?")[0];
			history.pushState(document.title, document.title, window.location.pathname);
	    }
    </script>

  <!-- TYPEKIT -->
  <script src="//use.typekit.net/gox4abf.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
    
	<!--TYPOEKIT-->
	<script type="text/javascript">
	  (function(d) {
	    var config = {
	      kitId: 'gqp3hja',
	      scriptTimeout: 3000
	    },
	    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
	  })(document);
	</script>    
  </head>
  <body class="{if segment_1== '' OR segment_1=='n_content'}overflow-none{/if}">
    <div class="site-wrapper menu-on">  
      {embed="n_includes/menu-izquierdo"}
      <div class="site-content">
        <header class="ph-ch-14"> <!-- HEADER -->
          <div class="left"></div>
          <div class="user-header">
            <div class="hide-for-small mr-7">  
              <span>
                {exp:member:custom_profile_data}
                  <form action="/?/test/testsoap2" method="POST">
                    <input type="hidden" name="XID" value="{XID_HASH}" /> 
                    <input type="hidden" name="username" value="{username}">
                    <input type="hidden" name="screen_name" value="{username}">
                    <button type="submit" id="start_course" class="btn-header">{screen_name}</button>
                  </form>
                {/exp:member:custom_profile_data}
                <a href="http://ucb.belcorp.biz/?ACT=15">Salir</a>
              </span>
            </div>
            <div>
            {exp:member:custom_profile_data}
              <form action="/?/test/testsoap2" method="POST">
                <input type="hidden" name="XID" value="{XID_HASH}" /> 
                <input type="hidden" name="username" value="{username}">
                <input type="hidden" name="screen_name" value="{screen_name}">
                <input type="image" id="start_course" src="{site_url}images/user.jpg" width="42" height="42">
                <!--<button type="submit" id="start_course">{screen_name}</button>-->
              </form>
            {/exp:member:custom_profile_data}
            </div>
          </div>
        </header> <!-- END:Header -->



















  	