  	    		<h5 class="uppercase mb-7 text-primary">{embed:seccion}</h5>
  	    		<ul class="grid-list grid-list-3 grid-list-1-xs grid-list-2-sm grid-panels">
							{exp:channel:entries channel="cursos|tendencias" limit="3" dynamic="off" category="257"}												
  	    			<li>
   	    				{if interna-contenido}
								  {if interna-contenido=="Pagina Interna"}
						      	<a href="{site_url}n_escuelas/curso-destacados/{url_title}" class="link-wrapper" onclick="ga('send', 'event', 'inicio', 'destacados', '{title}');">
						      {if:else}
						        <a href="{link-recurso}" target="_blank" class="link-wrapper" onclick="ga('send', 'event', 'inicio', 'destacados', '{title}');">
						      {/if}  
   	    				{if:else}
   	    				<a href="{site_url}n_escuelas/curso-destacados/{url_title}" class="link-wrapper" onclick="ga('send', 'event', 'inicio', 'destacados', '{title}');">
   	    				{/if}	    				
	  	    				<div class="panel-heading">
								  	{if imagen-recurso}
									  	{imagen-recurso limit="1"}
									    <img src="{image:url:medium}" alt="{title}"/>
									    {/imagen-recurso}
								    {/if}
								    {if foto-curso}
								    	{foto-curso limit="1"}
								    	<img src="{image:url:medium}" alt="{title}">
								    	{/foto-curso}
								    {/if}
								    {if tipo-contenido-recurso=="Video"}
											<div class="video-clip"><img src="{site_url}img/play_icon.png" alt=""></div>
								    {/if}
	  	    				</div>
	  	    				<div class="panel-body">
	  	    					{if tipo-contenido-recurso}
	  	    					<div class="panel-badge">{tipo-contenido-recurso}</div>
	  	    					{if:else}
	  	    					<div class="panel-badge">Curso</div>
	  	    					{/if}
	  	    					<h5>{title}</h5>
		                {if descripcion-curso}
			                {exp:char_limit total="100" exact="no"}	
			                <p>{descripcion-curso}</p>
			                {/exp:char_limit}
		                {/if}
		                {if descripcion-recurso}
		                	{exp:char_limit total="100" exact="no"}	
											<p>{descripcion-recurso}</p>
		                	{/exp:char_limit}
		                {/if}	
	  	    				</div>
	  	    			</a>
  	    			</li>
  	    			{/exp:channel:entries}
  	    		</ul>	