						{exp:channel:entries channel="convenios" disable="pagination" dynamic="off" category="{embed:categoria_hija}"}
						<div class="row">
							<div class="large-3 columns">
							  {imagen-convenio}
          				<img src="{image:url:small}" alt="{title}" class="th">
          			{/imagen-convenio}
							</div>
							<div class="large-9 columns">
								<ul class="no-bullet convenio-list">
									<li>
										<h4 class="uppercase">{title}</h4>
									</li>
									<li>
										<h5>PAÍSES QUE APLICAN: <span>{pais-convenios}</span></h5>
									</li>
									<li>
										<h5>BENEFICIOS</h5>
										<p>{beneficios_del_convenio}</p>
									</li>
									<li>
										<h5>ALCANCES DEL CONVENIO</h5>
										<p>{alcance-convenios}</p>
									</li>
									<li>
										<h5>CONTÁCTANOS: <span><a href="mailto:{mailto-convenios}">{contacto-convenios}</a></span></h5>
									</li>
								</ul>
							</div>
						</div>
						{/exp:channel:entries}