{exp:channel:entries channel="cursos|tendencias" limit="21" category="{last_segment_category_id}" dynamic="off" paginate="bottom"}
  <li  class="isotope-item 
  	{categories show_group='10' show='not 108|115|276|111|272|112|113|114|109|110|257'}
  	        {category_url_title}
  	{/categories}
  	{segment_2}
  	">
  	
  		{if interna-contenido}
  	  {if interna-contenido=="Pagina Interna"}
      	<a href="{site_url}n_escuelas/curso/{url_title}" class="link-wrapper">
      {if:else}
        <a href="{link-recurso}" target="_blank" class="link-wrapper">
      {/if}  
  		{if:else}
  		<a href="{site_url}n_escuelas/curso/{url_title}" class="link-wrapper">
  		{/if}

  		<div class="panel-curso">
  			<h5>
          {if tipo-contenido-recurso}
            <small>{tipo-contenido-recurso}</small>
          {if:else}
          	<small>CURSO</small>
          {/if}
  				<br>{title}
  			</h5>
        {if subttulo-curso}
        	<h6 class="mt-0">{subttulo-curso}</h6>
        {/if}
        {if fuente-recurso}
        	<h6 class="mt-0">{fuente-recurso}</h6>
        {/if}                    
        {exp:char_limit total="50" exact="no"}	
        <p>{descripcion-curso}</p>
        {/exp:char_limit}
  		</div>
  	</a>
  </li>

{/exp:channel:entries}