<h4>Encontramos {exp:search:total_results} {total_results} {/exp:search:total_results} resultado(s) para la(s) palabra(s) <i>{exp:search:keywords}</i>.</h4>
	<ul  class="small-block-grid-1 medium-block-grid-3 large-block-grid-3 grid-panels" id="isotope-container">
	{exp:search:search_results}
		<li class="isotope-item  
		{categories show_group='10' show='not 108|115'}
			        {category_url_title}
			{/categories}
	">
		{if interna-contenido}
			  {if interna-contenido=="Pagina Interna"}
	      	<a href="{site_url}n_escuelas/curso/{url_title}" class="link-wrapper" onClick="_gaq.push(['_trackEvent', 'Contenido', 'Buscar', '{title}']);">
	      {if:else}
	        <a href="{link-recurso}" target="_blank" class="link-wrapper" onClick="_gaq.push(['_trackEvent', 'Contenido', 'Buscar', '{title}-LINKEXTERNO']);">
	      {/if}  
		{if:else}
		<a href="{site_url}n_escuelas/curso/{url_title}" class="link-wrapper" onClick="_gaq.push(['_trackEvent', 'Contenido', 'Buscar', '{title}']);">
		{/if}							
			<div class="panel-curso">
				<h5>
  {if tipo-contenido-recurso}
    <small>{tipo-contenido-recurso}</small>
  {if:else}
  	<small>CURSO</small>
  {/if}
						<br>{title}
					</h5>
{if subttulo-curso}
	<h6 class="mt-0">{subttulo-curso}</h6>
{/if}
{if fuente-recurso}
	<h6 class="mt-0">{fuente-recurso}</h6>
{/if}                    
    
    {if descripcion-curso}
        {exp:char_limit total="50" exact="no"}	
        <p>{descripcion-curso}</p>
        {/exp:char_limit}
    {/if}
    
    {if descripcion-recurso}
    	{exp:char_limit total="50" exact="no"}	
						<p>{descripcion-recurso}</p>
    	{/exp:char_limit}
    {/if}	
			</div>	
		</a>				
		</li>
		{/exp:search:search_results}
	</ul>
