<div class="title"><span>Contenidos</span></div>
		<ul class="menu-list">
			<li 
				data-href="{site_url}n_noticias" 
				class=" ">
				<div class="menu-left"><span class="ayuicon-rss"></span></div>
				<div class="menu-right">
					<a href="{site_url}n_noticias">Noticias</a>
				</div>
			</li>
			<li 
				data-href="{site_url}n_escuelas/induccion-belcorp-temas" 
				class="{if segment_2=='induccion-belcorp-temas'}active{/if} " 
				onclick="ga('send', 'event', 'menu-izquierdo', 'induccion belcorp');">
				<div class="menu-left"><span class="ayuicon-user-add-outline"></span></div>
				<div class="menu-right">
					<a href="{site_url}n_escuelas/induccion-belcorp-temas">Inducción Belcorp</a>
				</div>
			</li>
			<li 
				 data-href="{site_url}n_escuelas/ventas-temas" 
				 class="{if segment_2=='ventas-temas'}active{/if} " 
				 onclick="ga('send', 'event', 'menu-izquierdo', 'ventas');">
				<div class="menu-left"><span class="ayuicon-tag"></span></div>
				<div class="menu-right">
					<a href="{site_url}n_escuelas/ventas-temas">Ventas</a>
				</div>
			</li>
			<li 
				date-href="{site_url}n_escuelas/negocios-temas" 
				class="{if segment_2=='negocios-temas'}active{/if} "  
				onclick="ga('send', 'event', 'menu-izquierdo', 'negocios');">
				<div class="menu-left"><span class="ayuicon-chart-pie"></span></div>
				<div class="menu-right">
					<a href="{site_url}n_escuelas/negocios-temas">Negocios</a>
				</div>
			</li>
			<li 
				data-href="{site_url}n_escuelas/liderazgo-y-cultura-temas" 
				class="{if segment_2=='liderazgo-y-cultura-temas'}active{/if} " 
				onclick="ga('send', 'event', 'menu-izquierdo', 'liderazgo y cultura');">
				<div class="menu-left"><span class="ayuicon-group"></span></div>
				<div class="menu-right">
					<a href="{site_url}n_escuelas/liderazgo-y-cultura-temas">Liderazgo y Cultura</a>
				</div>
			</li>
			<li 
				data-href="{site_url}n_escuelas/gestion-humana-temas" 
				class="{if segment_2=='gestion-humana-temas'}active{/if} " 
				onclick="ga('send', 'event', 'menu-izquierdo', 'gestion humana');">
				<div class="menu-left"><span class="ayuicon-flow-merge"></span></div>
				<div class="menu-right">
					<a href="{site_url}n_escuelas/gestion-humana-temas">Gestión Humana</a>
				</div>
			</li>
			<li 
				data-href="{site_url}n_escuelas/innovacion-temas" 
				class="{if segment_2=='innovacion-temas'}active{/if} " 
				onclick="ga('send', 'event', 'menu-izquierdo', 'innovacion');">
				<div class="menu-left"><span class="ayuicon-lightbulb"></span></div>
				<div class="menu-right">
					<a href="{site_url}n_escuelas/innovacion-temas">Innovación</a>
				</div>
			</li>
			<li 
				data-href="{site_url}n_escuelas/tecnologia-temas" 
				class="{if segment_2=='tecnologia-temas'}active{/if} " 
				onclick="ga('send', 'event', 'menu-izquierdo', 'tecnologia');">
				<div class="menu-left"><span class="ayuicon-device-laptop"></span></div>
				<div class="menu-right">
					<a href="{site_url}n_escuelas/tecnologia-temas">Tecnología</a>
				</div>
			</li>
			<li 
				data-href="{site_url}n_escuelas/operaciones-temas" 
				class="{if segment_2=='operaciones-temas'}active{/if} " 
				onclick="ga('send', 'event', 'menu-izquierdo', 'operaciones');">
				<div class="menu-left"><span class="ayuicon-arrow-sync-outline"></span></div>
				<div class="menu-right">
					<a href="{site_url}n_escuelas/operaciones-temas">Operaciones</a>
				</div>
			</li>
		</ul>