  	    		{if segment_2=='innovacion-temas'}
  	    		<h5 class="list-heading pl-14">Secciones</h5>
  	    		<ul class="no-bullet pl-28">
  	    			<li><a href="{site_url}n_escuelas/{segment_2}/lo-imaginamos-innovacion" {if segment_3=='lo-imaginamos-innovacion'}class="active"{/if}>Lo imaginamos</a></li>
  	    			<li><a href="{site_url}n_escuelas/{segment_2}/lo-hacemos-innovacion" {if segment_3=='lo-hacemos-innovacion'}class="active"{/if}>Lo Hacemos</a></li>
  	    			<li><a href="{site_url}n_escuelas/{segment_2}/tendencias-innovacion" {if segment_3=='tendencias-innovacion'}class="active"{/if}>Tendencias</a></li>
  	    		</ul>
  	    		{/if}

  	    		{if segment_2=='ventas-temas'}
  	    		<h5 class="list-heading pl-14">Secciones</h5>
  	    		<ul class="no-bullet pl-28">
  	    			<li><a href="{site_url}n_escuelas/{segment_2}/gerente-regional-ventas" {if segment_3=='gerente-regional-ventas'}class="active"{/if}>Gerente Regional</a></li>
  	    			<li><a href="{site_url}n_escuelas/{segment_2}/gerente-de-zona-ventas" {if segment_3=='gerente-de-zona-ventas'}class="active"{/if}>Gerente de Zona</a></li>
  	    			<li><a href="{site_url}n_escuelas/{segment_2}/retail-ventas" {if segment_3=='retail-ventas'}class="active"{/if}>Retail</a></li>
  	    			<li><a href="" target="_blank">Manual Curso #1</a></li>
  	    		</ul>
  	    		{/if}

  	    		{if segment_2=='negocios-temas'}
  	    		<h5 class="list-heading pl-14">Secciones</h5>
  	    		<ul class="no-bullet pl-28">
  	    			<li><a href="{site_url}n_escuelas/{segment_2}/marcas-negocios" {if segment_3=='marcas-negocios'}class="active"{/if}>Marcas</a></li>
  	    			<li><a href="{site_url}n_escuelas/{segment_2}/planeamiento-negocios" {if segment_3=='planeamiento-negocios'}class="active"{/if}>Planeamiento</a></li>
  	    		</ul>
  	    		{/if} 	    		
  	    		
  	    		{if segment_2=='liderazgo-y-cultura-temas'}
	  	    		{if segment_3!='principios-lide' AND segment_3!='valores-lidera'}
	  	    		<h5 class="list-heading pl-14">Secciones</h5>
	  	    		<ul class="no-bullet pl-28">
	  	    			<li><a href="{site_url}n_escuelas/{segment_2}/induccion-belcorp-lide" {if segment_3=='induccion-belcorp-lide'}class="active"{/if}>Inducción Belcorp</a></li>
	  	    			<li><a href="{site_url}n_escuelas/{segment_2}/programa-de-liderazgo-lide" {if segment_3=='programa-de-liderazgo-lide'}class="active"{/if}>Liderazgo</a></li>
	  	    			<li><a href="{site_url}n_escuelas/{segment_2}/summa-lide" {if segment_3=='summa-lide'}class="active"{/if}>SUMMA</a></li> 		    			
	  	    		</ul>
	  	    		{/if}	    	
  	    		{/if}
  	    		
  	    		{if segment_2=='tecnologia-temas'}
  	    		<h5 class="list-heading pl-14">Secciones</h5>
  	    		<ul class="no-bullet pl-28">
  	    			<li><a href="{site_url}n_escuelas/{segment_2}/app-tec" {if segment_3=='tipo-contenido-tec'}class="active"{/if}>App</a></li>
  	    			<li><a href="{site_url}n_escuelas/{segment_2}/colaboracion-tec" {if segment_3=='colaboracion-tec'}class="active"{/if}>Colaboración</a></li>
  	    			<li><a href="{site_url}n_escuelas/{segment_2}/marketing-digital-tec" {if segment_3=='marketing-digital-tec'}class="active"{/if}>Marketing Digital</a></li>
  	    			<li><a href="{site_url}n_escuelas/{segment_2}/productividad-tec" {if segment_3=='productividad-tec'}class="active"{/if}>Productividad</a></li>
  	    			<li><a href="{site_url}n_escuelas/{segment_2}/programacion-y-desarrollo-tec" {if segment_3=='programacion-y-desarrollo-tec'}class="active"{/if}>Programación y Desarrollo</a></li>
  	    			<li><a href="{site_url}n_escuelas/{segment_2}/redes-e-infraestructura-tec" {if segment_3=='redes-e-infraestructura-tec'}class="active"{/if}>Redes e Infraestructura</a></li>
  	    			<li><a href="{site_url}n_escuelas/{segment_2}/sap-tec" {if segment_3=='sap-tec'}class="active"{/if}>SAP</a></li>  	    			
  	    		</ul>
  	    		{/if}  	    		
  	    		
  	    		{if segment_2=='plan-de-desarrollo-temas'}
	  	    		<h5 class="list-heading pl-14">Principios</h5>
	  	    		<ul class="no-bullet pl-28">
	  	    			<li><a href="{site_url}n_escuelas/{segment_2}/principios-lide/enfoca-la-energia-lide" {if segment_4=='enfoca-la-energia-lide'}class="active"{/if}>Enfoca la Energía</a></li>
	  	    			<li><a href="{site_url}n_escuelas/{segment_2}/principios-lide/honra-tus-compromisos-lide" {if segment_4=='honra-tus-compromisos-lide'}class="active"{/if}>Honra tus Compromisos</a></li>
	  	    			<li><a href="{site_url}n_escuelas/{segment_2}/principios-lide/imagina-lo-extraordinario-lide" {if segment_4=='imagina-lo-extraordinario-lide'}class="active"{/if}>Imagina lo Extraordinario</a></li> 	    			
	  	    			<li><a href="{site_url}n_escuelas/{segment_2}/principios-lide/libera-el-potencial-lide" {if segment_4=='libera-el-potencial-lide'}class="active"{/if}>Libera el Potencial</a></li> 	 
	  	    		</ul>  	    		
	  	    		
	  	    		<h5 class="list-heading pl-14">Valores</h5>
	  	    		<ul class="no-bullet pl-28">
	  	    			<li><a href="{site_url}n_escuelas/{segment_2}/valores-lidera/somos-apasionados-lide" {if segment_4=='somos-apasionados-lide'}class="active"{/if}>Somos Apasionados</a></li>
	  	    			<li><a href="{site_url}n_escuelas/{segment_2}/valores-lidera/somos-autenticos-lide" {if segment_4=='somos-autenticos-lide'}class="active"{/if}>Somos Auténticos</a></li>
	  	    			<li><a href="{site_url}n_escuelas/{segment_2}/valores-lidera/somos-cercanos-lide" {if segment_4=='somos-cercanos-lide'}class="active"{/if}>Somos Cercanos</a></li>
	  	    			<li><a href="{site_url}n_escuelas/{segment_2}/valores-lidera/somos-emprendedores-lide" {if segment_4=='somos-emprendedores-lide'}class="active"{/if}>Somos Emprendedores</a></li> 	    			
	  	    		</ul>  	    			  						
  	    		{/if}  	    		
  	    		
  	    		{if segment_1=='n_convenios'}	    		
  	    		<ul class="no-bullet menu-convenios">
							<li class="pl-21 mb-14">
								<a href="#" data-dropdown="drop1">País: <span> {segment_2_category_name} </span></a>
								<div id="drop1" class="row f-dropdown content tiny clearfix">
									<div class="large-6 columns clearfix">
										<ul>
										  <li><a href="{site_url}{segment_1}/bolivia">Bolivia</a></li>
										  <li><a href="{site_url}{segment_1}/brasil">Brasil</a></li>
										  <li><a href="{site_url}{segment_1}/chile">Chile</a></li>
										  <li><a href="{site_url}{segment_1}/colombia">Colombia</a></li>
										  <li><a href="{site_url}{segment_1}/costa-rica">Costa Rica</a></li>
										  <li><a href="{site_url}{segment_1}/ecuador">Ecuador</a></li>
										  <li><a href="{site_url}{segment_1}/el-salvador">El Salvador</a></li>
										  <li><a href="{site_url}{segment_1}/guatemala">Guatemala</a></li>
										  <li><a href="{site_url}{segment_1}/mexico">México</a></li>
										  <li><a href="{site_url}{segment_1}/panama">Panamá</a></li>
										  <li><a href="{site_url}{segment_1}/peru">Perú</a></li>
										  <li><a href="{site_url}{segment_1}/puerto-rico">Puerto Rico</a></li>
										  <li><a href="{site_url}{segment_1}/republica-dominicana">Rep. Dominicana</a></li>
										  <li><a href="{site_url}{segment_1}/usa">USA</a></li>
										  <li><a href="{site_url}{segment_1}/venezuela">Venezuela</a></li>
										</ul>
									</div>								
								</div>
							</li>
							<li>
								<h5 class="uppercase list-heading pl-14">Contenidos</h5>
							</li>
							<li>
								<ul>
									<li><a href="#" id="nav_postgrados">Post-grados</a></li>
									<li><a href="#" id="nav_idiomas">Idiomas</a></li>						
									<li><a href="#" id="nav_tecnologia">Tecnología</a></li>
									<li><a href="#" id="nav_otros">Otros</a></li>						
								</ul>
							</li>
						</ul>
  	    		{/if}
  	    		
  	    		{if segment_1=='n_seccion'}
  	    		<!--<h5 class="list-heading pl-14">Contenido</h5>
  	    		<ul class="no-bullet pl-28">
  	    			<li><a href="{site_url}{segment_1}/solicitud-de-capacitacion">Solicitud de Capacitación</a></li>
  	    			<li><a href="{site_url}{segment_1}/politica-de-capacitacion">Política de Capacitación</a></li>
  	    		</ul>-->
  	    		{/if}   	    		
  	    		
  	    		{if segment_1!='n_convenios'}
  	    		<h5 class="list-heading pl-14">Links de Interés</h5>
  	    		<ul class="no-bullet pl-21">
  	    			<li><a href="{site_url}n_escuelas/plan-de-desarrollo-temas" {if segment_2=='plan-de-desarrollo-temas'}class="active"{/if}>Plan de desarrollo</a></li>
  	    			<li><a href="{site_url}images/documentos/PDF_Backbone.pdf" target="_blank">Backbone</a></li>
  	    			<li><a href="#" target="_blank" data-reveal-id="herramienta_de_certificacion">Certificación Ventas</a></li>
  	    			<li><a href="{site_url}n_quieres_crear_un_curso" {if segment_1=='n_quieres_crear_un_curso'}style="color:#5a277d;"{/if}>Crear un curso</a></li>
  	    		</ul>
  	    		{/if}