<div>
	{if segment_2=='innovacion-temas'}
	<h5 class="list-heading pl-14">Secciones</h5>
	<ul class="no-bullet pl-21">
		<li><a href="{site_url}n_escuelas/{segment_2}/lo-imaginamos-innovacion" {if segment_3=='lo-imaginamos-innovacion'}class="active"{/if} onclick="ga('send', 'event', 'menu-secundario', 'innovacion', 'lo imaginamos');">Lo imaginamos</a></li>
		<li><a href="{site_url}n_escuelas/{segment_2}/lo-hacemos-innovacion" {if segment_3=='lo-hacemos-innovacion'}class="active"{/if} onclick="ga('send', 'event', 'menu-secundario', 'innovacion', 'lo Hacemos');">Lo Hacemos</a></li>
	</ul>
	{/if}

	{if segment_2=='ventas-temas'}
	<h5 class="list-heading pl-14">Secciones</h5>
	<ul class="no-bullet pl-21">
		<li><a href="{site_url}n_escuelas/{segment_2}/gerente-regional-ventas" {if segment_3=='gerente-regional-ventas'}class="active"{/if} onclick="ga('send', 'event', 'menu-secundario', 'ventas', 'gerente regional');">Gerente Regional</a></li>
		<li><a href="{site_url}n_escuelas/{segment_2}/gerente-de-zona-ventas" {if segment_3=='gerente-de-zona-ventas'}class="active"{/if} onclick="ga('send', 'event', 'menu-secundario', 'ventas', 'gerente de zona');">Gerente de Zona</a></li>
		<li><a href="{site_url}n_escuelas/{segment_2}/retail-ventas" {if segment_3=='retail-ventas'}class="active"{/if} onclick="ga('send', 'event', 'menu-secundario', 'ventas', 'retail');">Retail</a></li>
	</ul>
	{/if}

	{if segment_2=='negocios-temas'}
	<h5 class="list-heading pl-14">Secciones</h5>
	<ul class="no-bullet pl-21">
		<li><a href="{site_url}n_escuelas/{segment_2}/marcas-negocios" {if segment_3=='marcas-negocios'}class="active"{/if} onclick="ga('send', 'event', 'menu-secundario', 'negocios', 'marcas');">Marcas</a></li>
		<li><a href="{site_url}n_escuelas/{segment_2}/planeamiento-negocios" {if segment_3=='planeamiento-negocios'}class="active"{/if} onclick="ga('send', 'event', 'menu-secundario', 'negocios', 'planeamiento');">Planeamiento</a></li>
		<li><a href="{site_url}/n_escuelas/{segment_2}/conocimiento-y-competencia-negocios" {if segment_3=='conocimiento-y-competencia-negocios'}class="active"{/if} onclick="ga('send', 'event', 'menu-secundario', 'negocios', 'conocimiento y competencia');">Conocimiento y Competencia</a></li>
		<li><a href="{site_url}n_escuelas/{segment_2}/tendencias-negocios" {if segment_3=='tendencias-negocios'}class="active"{/if} onclick="ga('send', 'event', 'menu-secundario', 'negocios', 'tendencias');">Tendencias</a></li>
	</ul>
	{/if} 	    		
	
	{if segment_2=='liderazgo-y-cultura-temas'}
		{if segment_3!='principios-lide' AND segment_3!='valores-lidera' AND segment_3!='plan-de-desarrollo-lide'}
		<h5 class="list-heading pl-14">Secciones</h5>
		<h6 class="pl-21">Liderazgo</h6>
		<ul class="no-bullet pl-21">
			<li><a href="{site_url}n_escuelas/{segment_2}/summa-lide" {if segment_3=='summa-lide'}class="active"{/if} onclick="ga('send', 'event', 'menu-secundario', 'liderazgo y cultura', 'summa');">SUMMA</a></li>
			<li><a href="{site_url}n_escuelas/{segment_2}/plan-de-desarrollo-lide" {if segment_3=='plan-de-desarrollo-lide'}class="active"{/if} onclick="ga('send', 'event', 'menu-izquierdo', 'plan de desarrollo');">Plan de Desarrollo</a></li> 		    		</ul>
		<h6 class="pl-21">Cultura</h6>
		<ul class="no-bullet pl-21">	
			<li><a href="{site_url}n_escuelas/{segment_2}/backbone-lc" onclick="ga('send', 'event', 'menu-secundario', 'liderazgo y cultura', 'backbone');">Backbone</a></li>
			<li><a href="{site_url}n_escuelas/{segment_2}/microskills-y-framework-lc" onclick="ga('send', 'event', 'menu-secundario', 'liderazgo y cultura', 'microskillsyframework');">Microskills y Frameworks</a></li>
		</ul>
		{/if}	    	
	{/if}
	
	{if segment_2=='tecnologia-temas'}
	<h5 class="list-heading pl-14">Secciones</h5>
	<ul class="no-bullet pl-21">
		<li><a href="{site_url}n_escuelas/{segment_2}/digital-tec" {if segment_3=='digital-tec'}class="active"{/if} onclick="ga('send', 'event', 'menu-secundario', 'tecnologia', 'digital');">Digital</a></li>
		<li><a href="{site_url}n_escuelas/{segment_2}/centro-soluciones-tec" {if segment_3=='centro-soluciones-tec'}class="active"{/if} onclick="ga('send', 'event', 'menu-secundario', 'tecnologia', 'centro de soluciones');">Centro de Soluciones</a></li>
		<li><a href="{site_url}n_escuelas/{segment_2}/infraestructura-tec" {if segment_3=='infraestructura-tec'}class="active"{/if} onclick="ga('send', 'event', 'menu-secundario', 'tecnologia', 'infraestructura');">Infraestructura</a></li>
		<li><a href="{site_url}n_escuelas/{segment_2}/productividad-apps-tec" {if segment_3=='productividad-apps-tec'}class="active"{/if} onclick="ga('send', 'event', 'menu-secundario', 'tecnologia', 'productividad y apps');">Productividad y Apps</a></li>	
	</ul>
	{/if}  	    		
	
	{if segment_3=='plan-de-desarrollo-lide'}
		<h5 class="list-heading pl-14">Principios</h5>
		<ul class="no-bullet pl-21">
			<li><a href="{site_url}n_escuelas/{segment_2}/{segment_3}/enfoca-la-energia-lide" {if segment_4=='enfoca-la-energia-lide'}class="active"{/if} onclick="ga('send', 'event', 'menu-secundario', 'plan de desarrollo', 'enfoca la energia');">Enfoca la Energía</a></li>
			<li><a href="{site_url}n_escuelas/{segment_2}/{segment_3}/honra-tus-compromisos-lide" {if segment_4=='honra-tus-compromisos-lide'}class="active"{/if} onclick="ga('send', 'event', 'menu-secundario', 'plan de desarrollo', 'honra tus compromisos');">Honra tus Compromisos</a></li>
			<li><a href="{site_url}n_escuelas/{segment_2}/{segment_3}/imagina-lo-extraordinario-lide" {if segment_4=='imagina-lo-extraordinario-lide'}class="active"{/if} onclick="ga('send', 'event', 'menu-secundario', 'plan de desarrollo', 'imagina lo extraordinario');">Imagina lo Extraordinario</a></li> 	    			
			<li><a href="{site_url}n_escuelas/{segment_2}/{segment_3}/libera-el-potencial-lide" {if segment_4=='libera-el-potencial-lide'}class="active"{/if} onclick="ga('send', 'event', 'menu-secundario', 'plan de desarrollo', 'libera el potencial');">Libera el Potencial</a></li> 	 
		</ul>  	    		
		
		<h5 class="list-heading pl-14">Valores</h5>
		<ul class="no-bullet pl-21">
			<li><a href="{site_url}n_escuelas/{segment_2}/{segment_3}/somos-apasionados-lide" {if segment_4=='somos-apasionados-lide'}class="active"{/if} onclick="ga('send', 'event', 'menu-secundario', 'plan de desarrollo', 'somos apasionados');">Somos Apasionados</a></li>
			<li><a href="{site_url}n_escuelas/{segment_2}/{segment_3}/somos-autenticos-lide" {if segment_4=='somos-autenticos-lide'}class="active"{/if} onclick="ga('send', 'event', 'menu-secundario', 'plan de desarrollo', 'somos autenticos');">Somos Auténticos</a></li>
			<li><a href="{site_url}n_escuelas/{segment_2}/{segment_3}/somos-cercanos-lide" {if segment_4=='somos-cercanos-lide'}class="active"{/if} onclick="ga('send', 'event', 'menu-secundario', 'plan de desarrollo', 'somos cercanos');">Somos Cercanos</a></li>
			<li><a href="{site_url}n_escuelas/{segment_2}/{segment_3}/somos-emprendedores-lide" {if segment_4=='somos-emprendedores-lide'}class="active"{/if} onclick="ga('send', 'event', 'menu-secundario', 'plan de desarrollo', 'somos emprendedores');">Somos Emprendedores</a></li> 	    			
		</ul>  	    			  						
	{/if}  	    		
	
	{if segment_1=='n_convenios'}	    		
	<ul class="no-bullet menu-convenios">
		<li>
			<h5 class="uppercase list-heading pl-14">Categorías</h5>
		</li>
		<li>
			<ul>
				<li><a href="#104" id="nav_postgrados" onclick="ga('send', 'event', 'menu-secundario', 'post-grados');">Post-grados</a></li>
				<li><a href="#105" id="nav_idiomas" onclick="ga('send', 'event', 'menu-secundario', 'idiomas');">Idiomas</a></li>						
				<li><a href="#106" id="nav_tecnologia" onclick="ga('send', 'event', 'menu-secundario', 'tecnologia');">Tecnología</a></li>
				<li><a href="#107" id="nav_otros" onclick="ga('send', 'event', 'menu-secundario', 'otros');">Otros</a></li>						
			</ul>
		</li>
	</ul>
	{/if}

	{if segment_1!='n_convenios' AND segment_3==''}
	<h5 class="list-heading pl-14">Links de Interés</h5>
	<ul class="no-bullet pl-21">
		{if segment_2!='liderazgo-y-cultura-temas'}
		<li><a href="{site_url}n_escuelas/liderazgo-y-cultura-temas/plan-de-desarrollo-lide" {if segment_3=='plan-de-desarrollo-lide'}class="active"{/if} onclick="ga('send', 'event', 'menu-secundario', 'plan de desarrollo');">Plan de desarrollo</a></li>
		<li><a href="{site_url}n_escuelas/liderazgo-y-cultura-temas/summa-lide" {if segment_3=='summa-lide'}class="active"{/if} onclick="ga('send', 'event', 'menu-secundario', 'liderazgo y cultura', 'summa');">SUMMA</a></li> 
		{/if}
		<li><a href="{site_url}images/documentos/PDF_Backbone.pdf" target="_blank" onclick="ga('send', 'event', 'menu-secundario', 'nuestro backbone');">Nuestro Backbone</a></li>
		<li><a href="{site_url}n_convenios/peru" {if segment_1=='n_convenios'}class="active"{/if} onclick="ga('send', 'event', 'menu-secundario', 'nuestros convenios');">Convenios</a></li>
		<li><a href="{site_url}n_quieres_crear_un_curso" {if segment_1=='n_quieres_crear_un_curso'}style="color:#5a277d;"{/if} onclick="ga('send', 'event', 'menu-secundario', 'crear un curso');">Crea un curso</a></li>
		<li><a href="#" target="_blank" data-reveal-id="herramienta_de_certificacion" onclick="ga('send', 'event', 'menu-secundario', 'certificacion ventas');">Certificación Ventas</a></li>
		<li><a href="http://miscursosucb.belcorp.biz/course/view.php?id=448"  onclick="ga('send', 'event', 'menu-secundario', 'politica UCB');">Políticas UCB</a></li>
	</ul>
	{/if}
</div>