<div class="pin-frame hide-for-small"> 
	<div class="pin-content">
		<div class="pin-menu">
			<!--CONTENIDOS-->
      {if channel=="Cursos"}
        {if logged_in}
          {embed="includes/comerzar-curso"}
        {/if}
        {if logged_out}
        	<a href="{link-curso}" target="_blank" id="start_course" class="explore button expand">Comenzar</a>
				{/if}  	
				<div class="show-for-medium-up">    
        {embed="includes/curso-detalles" 
        	tiempo-duracion-horas-curso="{tiempo-duracion-horas-curso}"
        	tiempo-duracion-minutos-curso="{tiempo-duracion-minutos-curso}" 
        	cantidad-lecciones-curso="{cantidad-lecciones-curso}" 
        	cantidad-video-curso="{cantidad-video-curso}" link-curso="{link-curso}" 
        	cantidad-modulos-cursos="{cantidad-modulos-cursos}" 
        }
				</div>
      {/if}	
      
      <!--CONTENIDOS-->
      {if channel=="Contenidos"}
        {if tipo-contenido-recurso=='Video' OR tipo-contenido-recurso=='Artículo' OR tipo-contenido-recurso=='Audio'}
        	<a href="{link-encuesta-lms}" id="start_course" class="explore button expand ">ENCUESTA DE SATISFACCIÓN</a>
        {/if}	
        {if tipo-contenido-recurso=='Curso Externo'}
        	<a href="{link-recurso}" target="_blank" id="start_course" class="explore button expand ">COMENZAR CURSO</a>
        	<a href="{link-encuesta-lms}"  id="start_course" class="explore button expand ">ENCUESTA DE SATISFACCIÓN</a>
        {/if}
      {/if}	
		</div>
	</div>
</div>