  	    		{if segment_2!=''}
  	    		<h4 class="list-heading pl-14">Contenido</h4>
  	    		<ul class="no-bullet pl-28">
  	    			<li><a href="#">Inducción Belcorp</a></li>
  	    			<li><a href="#">Programa de Liderazgo</a></li>
  	    			<li><a href="#">SUMMA</a></li>
  	    			<li><a href="#">Valores</a></li>
  	    			<li><a href="#">Principios</a></li>
  	    		</ul>
  	    		{/if}
  	    		
  	    		<h4 class="list-heading pl-14">Recursos</h4>
  	    		<ul class="no-bullet pl-28">
  	    			<li><a href="#">Plan de desarrollo</a></li>
  	    			<li><a href="#">Backbone</a></li>
  	    			<li><a href="#">Certificación</a></li>
  	    		</ul>