 <!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Responsiveness -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<title>UCB</title>
		<link rel="stylesheet" href="stylesheets/main.css">
	</head>
	<body>
		<div id="site-wrapper">
			<div id="content-frame">

				<!-- MENU-IZQUIERDO -->
				<div id="site-menu" class="toggle-nav">
					<div class="logo">
						<a href="#" class="hover-toggle"><img src="img/logo-header-nuevo.png"></a>
					</div>
					<div class="nav-container">
						<div class="list-group">
							<a class="list-group-item nav-title hover-toggle">ESCUELAS</a>
							<a href="#" class="list-group-item icon-typ-tag  hover-toggle">Ventas</a>
							<a href="#" class="list-group-item icon-typ-chart-pie  hover-toggle">Negocios</a>
							<a href="#" class="list-group-item icon-typ-group  hover-toggle">Liderazgo y Cultura</a>
							<a href="#" class="list-group-item icon-typ-lightbulb  hover-toggle">Innovación</a>
							<a href="#" class="list-group-item icon-typ-device-laptop  hover-toggle">Tecnología</a>
							<a href="#" class="list-group-item icon-typ-arrow-sync-outline  hover-toggle">Operaciones</a>
						</div>
						<div class="list-group">
							<a class="list-group-item nav-title hover-toggle"> </a>
							<a href="#" class="list-group-item icon-typ-social-facebook-circular  hover-toggle">Facebook</a>
							<a href="#" class="list-group-item icon-typ-social-twitter-circular   hover-toggle">Twitter</a>
						</div>
					</div>
				</div>
				<!-- END:MENU-IZQUIERDO -->

				<div id="site-canvas">
					
					<!-- HEADER -->
					<header>
						<div class="header-container small-11 small-centered">
							<div class="small-3 columns pt-14">
								<a href="#" class="toggle-nav-link hide-for-medium hide-for-large">
									<i class="icon-typ-th-menu-outline"></i>
								</a>
							</div>
							<div class="small-7 columns text-center pt-14">
								<h6 class="m-0 hide-for-medium hide-for-large">Título</h6>
							</div>
							<div class="small-2 columns p-0">
								<div class="user">
									<div class="hide-for-small hide-for-medium">
										<span>Nombre Apellido</span>
										<a href="#" onclick="ga('send', 'event', 'menu-izquierdo', 'salir');">Salir</a>
									</div>
									<div>
										<a href="#"><img src="img/user.jpg"></a>
									</div>
								</div>
							</div>
						</div>
					</header>
					<!-- END:HEADER -->

					<!-- CANVAS CONTAINER -->
					<div class="large-8 large-centered columns">
						<div class="canvas-container">
						</div>
					</div>
					<!-- END:CANVAS-CONTAINER -->

					<!-- FOOTER -->
					<footer class="large-12 columns">
						<div class="small-11 small-centered">
							<div class="small-3"></div>
							<div class="small-3"></div>
							<div class="small-3"></div>
							<div class="small-3"></div>
						</div>
					</footer>
					<!-- END:FOOTER -->

				</div>
			</div>
		</div>
		<script src="jquery.min.js"></script>
		<script type="text/javascript" src="ayu-off-canvas.js"></script>
	</body>
</html>