	<!-- MENU-IZQUIERDO -->
	<div id="site-menu" class="toggle-nav {if segment_1=='n_inicio'}homepage-on{/if}">
		<div class="logo">
			<a href="{site_url}n_inicio" class="hover-toggle"><img src="{site_url}n_img/logo-header-nuevo.png"></a>
		</div>
		<div class="nav-container">
			<div class="list-group hide-for-large hide-for-medium">
				<a class="list-group-item nav-title hover-toggle">LINKS DE INTERÉS</a>
				<a href="{site_url}n_escuelas/plan-de-desarrollo-temas" class="list-group-item icon-typ-input-checked  hover-toggle {if segment_2=='plan-de-desarrollo-temas'}active{/if}"><span>Plan de Desarrollo</span></a>
				<a href="{site_url}n_escuelas/summa-lide" class="list-group-item icon-typ-puzzle-outline  hover-toggle {if segment_3=='summa-lide'}active{/if}"><span>SUMMA</span></a>
				<a href="{site_url}images/documentos/PDF_Backbone.pdf" class="list-group-item icon-typ-database  hover-toggle"><span>Nuestra Backbone</span></a>
				<a href="{site_url}n_convenios/peru" class="list-group-item icon-typ-globe-outline  hover-toggle"><span>Convenios</span></a>
				<a href="{site_url}n_quieres_crear_un_curso" class="list-group-item icon-typ-edit  hover-toggle {if segment_1=='n_quieres_crear_un_curso'}active{/if}"><span>Crear un curso</span></a>
				<a href="#" class="list-group-item icon-typ-clipboard  hover-toggle hide-for-small"><span>Certificación Ventas</span></a>
			</div>
			<div class="list-group">
				<a class="list-group-item nav-title hover-toggle">CURSOS Y CONTENIDOS</a>
				<a href="{site_url}n_escuelas/induccion-belcorp-temas" class="list-group-item icon-typ-user-add-outline  hover-toggle {if segment_2=='induccion-belcorp-temas'}active{/if}"><span>Inducción Belcorp</span></a>
				<a href="{site_url}n_escuelas/ventas-temas" class="list-group-item icon-typ-tag  hover-toggle {if segment_2=='ventas-temas'}active{/if}"><span>Ventas</span></a>
				<a href="{site_url}n_escuelas/negocios-temas" class="list-group-item icon-typ-chart-pie  hover-toggle {if segment_2=='negocios-temas'}active{/if}"><span>Negocios</span></a>
				<a href="{site_url}n_escuelas/liderazgo-y-cultura-temas" class="list-group-item icon-typ-group  hover-toggle {if segment_2=='liderazgo-y-cultura-temas'}active{/if}"><span>Liderazgo y Cultura</span></a>
				<a href="{site_url}n_escuelas/gestion-humana-temas" class="list-group-item icon-typ-flow-merge  hover-toggle {if segment_2=='gestion-humana-temas'}active{/if}"><sapn>Gestión Humana</sapn></a>
				<a href="{site_url}n_escuelas/innovacion-temas" class="list-group-item icon-typ-lightbulb  hover-toggle {if segment_2=='innovacion-temas'}active{/if}"><span>Innovación</span></a>
				<a href="{site_url}n_escuelas/tecnologia-temas" class="list-group-item icon-typ-device-laptop  hover-toggle {if segment_2=='tecnologia-temas'}active{/if}"><span>Tecnología</span></a>
				<a href="{site_url}n_escuelas/operaciones-temas" class="list-group-item icon-typ-arrow-sync-outline  hover-toggle {if segment_2=='operaciones-temas'}active{/if}"><span>Operaciones</span></a>
			</div>
			<!--<div class="list-group">
			  <a class="list-group-item nav-title hover-toggle">REDES</a>
				<a href="https://www.facebook.com/aprendeconlaucb" target="_blank" class="list-group-item icon-typ-social-facebook-circular  hover-toggle">Facebook</a>
				<a href="https://twitter.com/ubelcorp"  target="_blank" class="list-group-item icon-typ-social-twitter-circular hover-toggle">Twitter</a>
			</div>-->

			<div class="list-group hide-for-large hide-for-medium form-button">
				<a class="list-group-item nav-title hover-toggle"><span>USUARIO</span></a>
				<a class="list-group-item icon-typ-user  hover-toggle"><span>{embed="n_includes/head_profile_lms"}</span></a>
				<a href="{path='logout'}" class="list-group-item icon-typ-eject hover-toggle"><span>Salir</span></a>
			</div>
		</div>
	</div>
	<!-- END:MENU-IZQUIERDO -->