	    <aside class="left-off-canvas-menu menu">
	      <div class="row logo">
	      	<div class="small-9 medium-9 large-9 columns clearfix">
	      		<a href="{site_url}n_muro"><img src="{site_url}n_img/logo-header-nuevo.png" class="large"></a>
	      	</div>
	        <div class="small-3 medium-3 large-3 columns clearfix">
		    		<a href="#" class="off-canvas-trigger"><img src="{site_url}n_img/logo-header-nuevo-sml.png" class="small"></a>
	        </div>	      	
	      </div>
	      <ul class="off-canvas-list">
	        <li><label>ESCUELAS</label></li>
	        <li>
	        	<div class="row clearfix">
	        		<div class="small-12 medium-10 large-10 columns">
			        	<a href="{site_url}n_escuelas/ventas-temas" {if segment_2=='ventas-temas'}class="active"{/if}>
			        		<div class="icon-typ-tag"></div>Ventas
			        	</a>
	        		</div>
	        		<div class="small-12 medium-2 large-2 columns hide-for-small">
		        		<div class="icon-typ-tag {if segment_2=='ventas-temas'}active{/if}"></div>
	        		</div>	        		
	        	</div>
	        </li>
	        <li>
	        	<div class="row clearfix">
	        		<div class="small-12 medium-10 large-10 columns">
			        	<a href="{site_url}n_escuelas/negocios-temas" {if segment_2=='negocios-temas'}class="active"{/if}>
			        		<div class="icon-typ-chart-pie"></div>Negocios
			        	</a>
	        		</div>
	        		<div class="small-12 medium-2 large-2 columns hide-for-small">
		        		<div class="icon-typ-chart-pie {if segment_2=='negocios-temas'}active{/if}"></div>
	        		</div>	        		
	        	</div>	        
	        </li>
	        <li>
	        	<div class="row clearfix">
	        		<div class="small-12 medium-10 large-10 columns">
			        	<a href="{site_url}n_escuelas/liderazgo-y-cultura-temas" {if segment_2=='liderazgo-y-cultura-temas'}class="active"{/if}>
			        		<div class="icon-typ-group"></div>Liderazgo y Cultura
			        	</a>
	        		</div>
	        		<div class="small-12 medium-2 large-2 columns hide-for-small">
		        		<div class="icon-typ-group {if segment_2=='liderazgo-y-cultura-temas'}active{/if}"></div>
	        		</div>	        		
	        	</div>		        
	        </li>
	        <li>
	        	<div class="row clearfix">
	        		<div class="small-12 medium-10 large-10 columns">
			        	<a href="{site_url}n_escuelas/innovacion-temas" {if segment_2=='innovacion-temas'}class="active"{/if}>
			        		<div class="icon-typ-lightbulb"></div>Innovación
			        	</a>
	        		</div>
	        		<div class="small-12 medium-2 large-2 columns hide-for-small">
		        		<div class="icon-typ-lightbulb {if segment_2=='innovacion-temas'}active{/if}"></div>
	        		</div>	        		
	        	</div>		        
	        </li>
	        <li>
	        	<div class="row clearfix">
	        		<div class="small-12 medium-10 large-10 columns">
			        	<a href="{site_url}n_escuelas/tecnologia-temas" {if segment_2=='tecnologia-temas'}class="active"{/if}>
			        		<div class="icon-typ-device-laptop"></div>Tecnología
			        	</a>
	        		</div>
	        		<div class="small-12 medium-2 large-2 columns hide-for-small">
		        		<div class="icon-typ-device-laptop {if segment_2=='tecnologia-temas'}active{/if}"></div>
	        		</div>	        		
	        	</div>	        
	        </li>
	        <li>
	        	<div class="row clearfix">
	        		<div class="small-12 medium-10 large-10 columns">
			        	<a href="{site_url}n_escuelas/operaciones-temas" {if segment_2=='operaciones-temas'}class="active"{/if}>
			        		<div class="icon-typ-arrow-sync-outline"></div>Operaciones
			        	</a>
	        		</div>
	        		<div class="small-12 medium-2 large-2 columns hide-for-small">
		        		<div class="icon-typ-arrow-sync-outline {if segment_2=='operaciones-temas'}active{/if}"></div>
	        		</div>	        		
	        	</div>		        
	        </li>
	      </ul>
	      
	      
	      
	      
	      <ul class="off-canvas-list show-for-medium-only hide-for-landscape">
	      	<li><label>Recursos</label></li>
	        <li>
	        	<div class="row clearfix">
	        		<div class="small-12 medium-10 large-10 columns">
			        	<a href="{site_url}n_escuelas/plan-de-desarrollo-temas" {if segment_2=='plan-de-desarrollo-temas'}class="active"{/if}>
			        		<div class="icon-typ-flag"></div>Plan de Desarrollo
			        	</a>
	        		</div>
	        		<div class="small-12 medium-2 large-2 columns hide-for-small">
		        		<div class="icon-typ-flag {if segment_2=='plan-de-desarrollo-temas'}active{/if}"></div>
	        		</div>	        		
	        	</div>		        
	        </li>	
	        <li>
	        	<div class="row clearfix">
	        		<div class="small-12 medium-10 large-10 columns">
			        	<a href="{site_url}images/documentos/PDF_Backbone.pdf" {if segment_2=='plan-de-desarrollo-temas'}class="active"{/if}>
			        		<div class="icon-typ-database"></div>Descarga el Backbone
			        	</a>
	        		</div>
	        		<div class="small-12 medium-2 large-2 columns hide-for-small">
		        		<div class="icon-typ-database {if segment_2=='plan-de-desarrollo-temas'}active{/if}"></div>
	        		</div>	        		
	        	</div>		        
	        </li>		              	
	        <li>
	        	<div class="row clearfix">
	        		<div class="small-12 medium-10 large-10 columns">
			        	<a href="#" target="_blank" data-reveal-id="herramienta_de_certificacion">
			        		<div class="icon-typ-clipboard"></div>Herramienta de Cert.
			        	</a>
	        		</div>
	        		<div class="small-12 medium-2 large-2 columns hide-for-small">
		        		<div class="icon-typ-clipboard"></div>
	        		</div>	        		
	        	</div>		        
	        </li>	
	        <li>
	        	<div class="row clearfix">
	        		<div class="small-12 medium-10 large-10 columns">
			        	<a href="{site_url}n_quieres_crear_un_curso"  {if segment_1=='n_quieres_crear_un_curso'}class="active"{/if}>
			        		<div class="icon-typ-pencil"></div>Crear un curso
			        	</a>
	        		</div>
	        		<div class="small-12 medium-2 large-2 columns hide-for-small">
		        		<div class="icon-typ-pencil {if segment_1=='n_quieres_crear_un_curso'}active{/if}"></div>
	        		</div>	        		
	        	</div>		        
	        </li>		        	        
	      </ul>
	      <ul class="off-canvas-list">
	        <li><label>LA UCB</label></li>
	        <li>
	        	<div class="row clearfix">
	        		<div class="small-12 medium-10 large-10 columns">
			        	<a href="{site_url}n_seccion/que-hace-la-ucb-por-ti" {if segment_2=='que-hace-la-ucb-por-ti'}class="active"{/if}>
			        		<div class="icon-typ-support"></div>Qué hace la UCB por ti
			        	</a>
	        		</div>
	        		<div class="small-12 medium-2 large-2 columns hide-for-small">
		        		<div class="icon-typ-support {if segment_2=='que-hace-la-ucb-por-ti'}active{/if}"></div>
	        		</div>	        		
	        	</div>		        
	        </li>
	        <li>
	        	<div class="row clearfix">
	        		<div class="small-12 medium-10 large-10 columns">
			        	<a href="{site_url}n_convenios/peru" {if segment_1=='n_convenios'}class="active"{/if}>
			        		<div class="icon-typ-globe-outline {if segment_1=='n_convenios'}active{/if}"></div>Convenios
			        	</a>
	        		</div>
	        		<div class="small-12 medium-2 large-2 columns hide-for-small">
		        		<div class="icon-typ-globe-outline"></div>
	        		</div>	        		
	        	</div>		        
	        </li>
	        <li>
	        	<div class="row clearfix">
	        		<div class="small-12 medium-10 large-10 columns">
			        	<a href="{site_url}n_preguntas_frecuentes" {if segment_1=='n_preguntas_frecuentes'}class="active"{/if}>
			        		<div class="icon-typ-info-large-outline"></div>Preguntas frecuentes
			        	</a>
	        		</div>
	        		<div class="small-12 medium-2 large-2 columns hide-for-small">
		        		<div class="icon-typ-info-large-outline {if segment_1=='n_preguntas_frecuentes'}active{/if}"></div>
	        		</div>	        		
	        	</div>	        
	        </li>
	        <li>
	        	<div class="row clearfix">
	        		<div class="small-12 medium-10 large-10 columns">
			        	<a href="{site_url}n_contactos" {if segment_1=='n_contactos'}class="active"{/if}>
			        		<div class="icon-typ-mail"></div>Contáctanos
			        	</a>
	        		</div>
	        		<div class="small-12 medium-2 large-2 columns hide-for-small">
		        		<div class="icon-typ-mail {if segment_1=='n_contactos'}active{/if}"></div>
	        		</div>	        		
	        	</div>	        
	        </li>
	      </ul>	 
	      <ul class="off-canvas-list">
	        <li><label></label></li>
	        <li>
	        	<div class="row clearfix">
	        		<div class="small-12 medium-10 large-10 columns">
			        	<a href="https://www.facebook.com/aprendeconlaucb" target="_blank">
			        		<div class="icon-typ-social-facebook-circular"></div>Facebook
			        	</a>
	        		</div>
	        		<div class="small-12 medium-2 large-2 columns hide-for-small">
		        		<div class="icon-typ-social-facebook-circular"></div>
	        		</div>	        		
	        	</div>		        
	        </li>
	        <li>
	        	<div class="row clearfix">
	        		<div class="small-12 medium-10 large-10 columns">
			        	<a href="https://twitter.com/ubelcorp" target="_blank">
			        		<div class="icon-typ-social-twitter-circular"></div>Twitter
			        	</a>
	        		</div>
	        		<div class="small-12 medium-2 large-2 columns hide-for-small">
		        		<div class="icon-typ-social-twitter-circular"></div>
	        		</div>	        		
	        	</div>		        
	        </li>
	      </ul>
	      <ul class="off-canvas-list hide-for-large">
	        <li><label>USUARIO</label></li>
	        <li>
	        	<div class="row clearfix">
	        		<div class="small-12 medium-12 large-10 columns">
	        			<a href="http://54.243.186.233/moodle/my/">
	        				<div class="icon-typ-user"></div>{screen_name}
	        			</a>
	        		</div>	
	        		<div class="small-12 medium-12 large-10 columns">
	        			<a href="{path='logout'}">
	        				<div class="icon-typ-eject"></div>Salir
	        			</a>
	        		</div>       		
	        	</div>		        
	        </li>
	      </ul>	        
	    </aside>