<!-- MENU-IZQUIERDO -->
<div id="site-menu" class="{if segment_1=='n_inicio'}homepage-on{/if}">
	<div class="top">
		<ul class="menu-list">
			{if segment_1!='n_inicio'}
				<li class="hidden-xs hidden-sm">
					<div class="menu-left">
						<span class="toggle-nav-link icon-typ-th-menu"></span>
					</div>
					<div class="menu-right">
						<span>MENÚ</span>
					</div>
				</li>
			{/if}
		</ul>
	</div>
	<div class="center">
		<div class="title hidden"><span>Links de interés</span></div>
		<ul class="menu-list hidden">
			<li 
				data-href="{site_url}n_escuelas/plan-de-desarrollo-temas" 
				class="{if segment_2=='plan-de-desarrollo-temas'}active{/if} " 
				onclick="ga('send', 'event', 'menu-izquierdo', 'plan de desarrollo');">
				<div class="menu-left"><span class="icon-typ-input-checked"></span></div>
				<div class="menu-right">
					<a href="{site_url}n_escuelas/plan-de-desarrollo-temas">Plan de desarrollo</a>
				</div>
			</li>
			<li 
				data-href="{site_url}n_escuelas/summa-lide" 
				class="{if segment_3=='summa-lide'}active{/if} " 
				onclick="ga('send', 'event', 'menu-izquierdo', 'summa');">
				<div class="menu-left"><span class="icon-typ-puzzle-outline"></span></div>
				<div class="menu-right">
					<a href="{site_url}n_escuelas/summa-lide">SUMMA</a>
				</div>
			</li>
			<li 
				data-href="{site_url}images/documentos/PDF_Backbone.pdf" 
				class=" " 
				onclick="ga('send', 'event', 'menu-izquierdo', 'nuestro backbone');">
				<div class="menu-left"><span class="icon-typ-database"></span></div>
				<div class="menu-right">
					<a href="{site_url}images/documentos/PDF_Backbone.pdf">Nuestro Backbone</a>
				</div>
			</li>
			<li 
				data-href="{site_url}n_convenios/peru" 
				class=" " 
				onclick="ga('send', 'event', 'menu-izquierdo', 'nuestros convenios');">
				<div class="menu-left"><span class="icon-typ-globe-outline"></span></div>
				<div class="menu-right">
					<a href="{site_url}n_convenios/peru">Convenios</a>
				</div>
			</li>
			<li 
				data-href="{site_url}n_quieres_crear_un_curso" 
				class="{if segment_1=='n_quieres_crear_un_curso'}active{/if} "  
				onclick="ga('send', 'event', 'menu-izquierdo', 'crea un curso');">
				<div class="menu-left"><span class="icon-typ-edit"></span></div>
				<div class="menu-right">
					<a href="{site_url}n_quieres_crear_un_curso">Crea un curso</a>
				</div>
			</li>
			<li 
				data-href="#" 
				class=" "
				onclick="ga('send', 'event', 'menu-izquierdo', 'certificacion ventas');">
				<div class="menu-left"><span class="icon-typ-clipboard"></span></div>
				<div class="menu-right">
					<a href="#">Certificación Ventas</a>
				</div>
			</li>
		</ul>
		<div class="title"><span>Contenidos</span></div>
		<ul class="menu-list">
			<li 
				data-href="{site_url}n_noticias" 
				class=" ">
				<div class="menu-left"><span class="icon-typ-rss"></span></div>
				<div class="menu-right">
					<a href="{site_url}n_noticias">Noticias</a>
				</div>
			</li>
			<li 
				data-href="{site_url}n_escuelas/induccion-belcorp-temas" 
				class="{if segment_2=='induccion-belcorp-temas'}active{/if} " 
				onclick="ga('send', 'event', 'menu-izquierdo', 'induccion belcorp');">
				<div class="menu-left"><span class="icon-typ-user-add-outline"></span></div>
				<div class="menu-right">
					<a href="{site_url}n_escuelas/induccion-belcorp-temas">Inducción Belcorp</a>
				</div>
			</li>
			<li 
				 data-href="{site_url}n_escuelas/ventas-temas" 
				 class="{if segment_2=='ventas-temas'}active{/if} " 
				 onclick="ga('send', 'event', 'menu-izquierdo', 'ventas');">
				<div class="menu-left"><span class="icon-typ-tag"></span></div>
				<div class="menu-right">
					<a href="{site_url}n_escuelas/ventas-temas">Ventas</a>
				</div>
			</li>
			<li 
				date-href="{site_url}n_escuelas/negocios-temas" 
				class="{if segment_2=='negocios-temas'}active{/if} "  
				onclick="ga('send', 'event', 'menu-izquierdo', 'negocios');">
				<div class="menu-left"><span class="icon-typ-chart-pie"></span></div>
				<div class="menu-right">
					<a href="{site_url}n_escuelas/negocios-temas">Negocios</a>
				</div>
			</li>
			<li 
				data-href="{site_url}n_escuelas/liderazgo-y-cultura-temas" 
				class="{if segment_2=='liderazgo-y-cultura-temas'}active{/if} " 
				onclick="ga('send', 'event', 'menu-izquierdo', 'liderazgo y cultura');">
				<div class="menu-left"><span class="icon-typ-group"></span></div>
				<div class="menu-right">
					<a href="{site_url}n_escuelas/liderazgo-y-cultura-temas">Liderazgo y Cultura</a>
				</div>
			</li>
			<li 
				data-href="{site_url}n_escuelas/gestion-humana-temas" 
				class="{if segment_2=='gestion-humana-temas'}active{/if} " 
				onclick="ga('send', 'event', 'menu-izquierdo', 'gestion humana');">
				<div class="menu-left"><span class="icon-typ-flow-merge"></span></div>
				<div class="menu-right">
					<a href="{site_url}n_escuelas/gestion-humana-temas">Gestión Humana</a>
				</div>
			</li>
			<li 
				data-href="{site_url}n_escuelas/innovacion-temas" 
				class="{if segment_2=='innovacion-temas'}active{/if} " 
				onclick="ga('send', 'event', 'menu-izquierdo', 'innovacion');">
				<div class="menu-left"><span class="icon-typ-lightbulb"></span></div>
				<div class="menu-right">
					<a href="{site_url}n_escuelas/innovacion-temas">Innovación</a>
				</div>
			</li>
			<li 
				data-href="{site_url}n_escuelas/tecnologia-temas" 
				class="{if segment_2=='tecnologia-temas'}active{/if} " 
				onclick="ga('send', 'event', 'menu-izquierdo', 'tecnologia');">
				<div class="menu-left"><span class="icon-typ-device-laptop"></span></div>
				<div class="menu-right">
					<a href="{site_url}n_escuelas/tecnologia-temas">Tecnología</a>
				</div>
			</li>
			<li 
				data-href="{site_url}n_escuelas/operaciones-temas" 
				class="{if segment_2=='operaciones-temas'}active{/if} " 
				onclick="ga('send', 'event', 'menu-izquierdo', 'operaciones');">
				<div class="menu-left"><span class="icon-typ-arrow-sync-outline"></span></div>
				<div class="menu-right">
					<a href="{site_url}n_escuelas/operaciones-temas">Operaciones</a>
				</div>
			</li>
		</ul>
	</div>
	<div class="bottom">
		<ul class="menu-list">
			<li data-href="{path='logout'}">
				<div class="menu-left"><span class="icon-typ-power"></span></div>
				<div class="menu-right">
					<a href="{path='logout'}">Salir</a>
				</div>
			</li>
		</ul>
	</div>
</div>
<!-- END:MENU-IZQUIERDO -->