<!-- HEADER -->
<header class="header"> <!-- HEADER -->
	<div class="left">
		<a href="{site_url}" class="hover-toggle logo" style="background-image: url({site_url}moodlecolaboradores/theme/image.php/ucbclean/theme/1424379295/logo-header-nuevo)"></a>
	</div>
	<div class="center"></div>
	<div class="right">
		<div class="user">
			{if logged_in}
				{embed="n_includes/head_profile_lms"}
					{exp:member:custom_profile_data}
				{/exp:member:custom_profile_data}
				{embed="n_includes/image_profile_lms"}
				<!-- <a href="{path='logout'}">Salir</a> -->
			{/if}
		</div>
	</div>
</header> <!-- END:Header -->
