{embed="n_includes/header"}
	{exp:get_post_vars parse="inward"}
		{if get_username}
			{exp:logmein:now username="{get_username}" expire="{get_expire}"}
		{/if}
	{/exp:get_post_vars}
	
	{if logged_in}

	<div id="site-wrapper">
		<div id="content-frame">	  
	    
		<!--MENU LADO IZQUIERDO-->
	  {embed="n_includes/menu-izquierdo"}

	  <!--TOP BANNER-->  
	  {embed="n_includes/top-banner"} 		
		<div id="site-canvas">
		

		<!-- CANVAS CONTAINER -->
		<div class="row">
			<div class="large-9 medium-9 medium-offset-1 columns">
					{embed="n_includes/breadcrumbs"}
		    	<div class="row escuela-block">
		    		<div class="small-12 medium-3 large-9 columns hide-for-small">
							<h1>Convenios</h1>						
		    		</div> 
		    		<div class="small-12 medium-3 large-3 columns hide-for-small">
							<ul class="no-bullet menu-convenios">
								<li class="mt-28">
									<a href="#" data-dropdown="drop1">País: <span> {segment_2_category_name} </span></a>
									<div id="drop1" class="row f-dropdown content tiny clearfix">
										<div class="large-6 columns clearfix hide-for-small">
											<ul>
											  <li><a href="{site_url}{segment_1}/bolivia">Bolivia</a></li>
											  <li><a href="{site_url}{segment_1}/brasil">Brasil</a></li>
											  <li><a href="{site_url}{segment_1}/chile">Chile</a></li>
											  <li><a href="{site_url}{segment_1}/colombia">Colombia</a></li>
											  <li><a href="{site_url}{segment_1}/costa-rica">Costa Rica</a></li>
											  <li><a href="{site_url}{segment_1}/ecuador">Ecuador</a></li>
											  <li><a href="{site_url}{segment_1}/el-salvador">El Salvador</a></li>
											  <li><a href="{site_url}{segment_1}/guatemala">Guatemala</a></li>
											  <li><a href="{site_url}{segment_1}/mexico">México</a></li>
											  <li><a href="{site_url}{segment_1}/panama">Panamá</a></li>
											  <li><a href="{site_url}{segment_1}/peru">Perú</a></li>
											  <li><a href="{site_url}{segment_1}/puerto-rico">Puerto Rico</a></li>
											  <li><a href="{site_url}{segment_1}/republica-dominicana">Rep. Dominicana</a></li>
											  <li><a href="{site_url}{segment_1}/usa">USA</a></li>
											  <li><a href="{site_url}{segment_1}/venezuela">Venezuela</a></li>
											</ul>
										</div>								
									</div>
								</li>
							</ul>
		    		</div>  		
		    	</div>
		    	<!--<div class="row mb-7-100 mt-28">
	  	    	<div class="small-8 medium-9 large-9 columns full-width-for-portrait">
	  	    		{embed="n_includes/buscador-trigger"}
	  	    	</div>
	  	    	<div class="small-4 medium-3 large-3 columns hide-for-portrait">
	  	    		<a href="#" class="button expand">Ingresa</a>
	  	    	</div>
	  	    </div>-->
	  	    <div class="row ">
	  	    	<div class="small-12 columns show-for-small-only">
	  	    		{embed="n_includes/movil-menu-secundario"}
	  	    	</div>
	  	    </div>  	    
	  	    <div class="row">
	  	    	<div class="small-12 medium-9 large-9 columns full-width-for-portrait">
  	    		{exp:child_categories 
						  parent="{last_segment_category_id}"
							site="1" 
							child_categories_sort_by="id" 
							child_categories_sort_direction="asc"
						}
							{child_category_start}
								<h5 class="uppercase mb-21 text-primary pt-70" id="{child_category_id}">{child_category_name}</h5>
								{embed="n_includes/loop-convenios" categoria_hija="{child_category_id}"}
							{child_category_end}
						{/exp:child_categories}
	  	    	</div>
	  	    	<div class="small-12 medium-3 large-3 columns hide-for-portrait">
							{embed="n_includes/menu-derecho"}
	  	    	</div>
	  	    </div>
			</div>
		</div>
		<!-- END:CANVAS-CONTAINER -->	
		
		{embed="n_includes/footer-nav"}
			
		</div>
	
	  </div>
	</div>
	
	{if:else}		
		<div class="row">
			<div class="small-12 medium-12 large-12 columns">	
			<h3 class="text-center">Necesita ingresar al sistema. <a href="{site_url}">Regresar al inicio</a></h3>
			</div>
		</div>
	{/if}		

{embed="n_includes/footer"}