{embed="n_includes/header"}

	{if logged_in}
	<div class="container">
		<div class="row">
			<div class="large-9 medium-9 medium-offset-1 columns">
		    	{exp:channel:entries channel="secciones" limit="1" disable="pagination"}
						{embed="n_includes/breadcrumbs" titulo="{title}"}
					{/exp:channel:entries}
		    	<div class="row escuela-block">
		    		<div class="small-12 medium-9 large-9 columns">
							<h1>Qué Hace la UCB por ti</h1> 
		    		</div>   		
		    	</div>
		    	<div class="row search-block mb-7-100 mt-28">
	  	    	<div class="small-12 medium-9 large-9 columns">
	  	    		{embed="n_includes/buscador"}
	  	    	</div>
	  	    	<div class="small-4 medium-3 large-3 columns">
	  	    		<!--<a href="#" class="button expand">Ingresa</a>-->
	  	    	</div>
	  	    </div>
					<div class="row">
	  	    	<div class="small-12 medium-9 large-9 columns">
	  	    		{embed="n_includes/loop-que-hace-por-ti"}
	  	    	</div>
	  	    	<div class="small-4 medium-3 large-3 columns show-for-medium-up">
	  	    		{embed="n_includes/menu-derecho"}
	  	    	</div>
	  	    </div>
			</div>
		</div>
		{embed="n_includes/footer-nav"}
	</div>
	{if:else}		
		{embed="n_includes/not-logged-in-message"}
	{/if}		

{embed="n_includes/footer"}