{embed="n_includes/header"}
	{exp:get_post_vars parse="inward"}
		{if get_username}
			{exp:logmein:now username="{get_username}" expire="{get_expire}"}
		{/if}
	{/exp:get_post_vars}
	
	{if logged_in}
	
	<div id="site-wrapper">
		<div id="content-frame">	  
	    
			<!--MENU LADO IZQUIERDO-->
		  {embed="n_includes/menu-izquierdo"}

		  <!--TOP BANNER-->  
		  {embed="n_includes/top-banner"} 		
			<div id="site-canvas" class="{if segment_1=='n_inicio'}homepage-on{/if}">
				<div class="container">
					<div class="row heading-block flex-row">
						<div class="col-sm-6 flex-middle minh-140">
							<h1 class="text-gradient uppercase">Bienvenido<br>a la UCB</h1>
						</div>
						<div class="col-sm-6 flex-middle minh-140">
							{exp:member:custom_profile_data}
							<h3>
								{if logged_in}
						    	{embed="n_includes/signin-lms"}
						    {/if}
							</h3>
							{/exp:member:custom_profile_data}
						</div>
					</div>
					<div class="search-block hidden">
	    			{embed="n_includes/buscador"}
					</div>		    	
					<div class="row">
						<div class="col-sm-8">
	    				{embed="n_includes/loop-wall" seccion="Destacados"}
						</div>
						<div class="col-sm-4 pt-35">
							{embed="n_includes/menu-derecho"}
						</div>
					</div>
				</div>
				{embed="n_includes/footer-nav"}
			</div>
		</div>
	</div>
	
	{if:else}		
		<div class="row">
			<div class="small-12 medium-12 large-12 columns">	
			<h3 class="text-center">Necesita ingresar al sistema. <a href="{site_url}">Regresar al inicio</a></h3>
			</div>
		</div>
	{/if}		

{embed="n_includes/footer"}