{embed="includes/header"}

    <div class="off-canvas-wrap">
      <div class="inner-wrap">
        <div id="courses_menu" class="hide-for-medium-up">
          <div class="row">
            <div class="large-12 columns">
              <a class="left-off-canvas-toggle" ><span class="icon-list"></span></a>
              <h3 id="menu_title">Recursos</h3>
            </div>
          </div>
        </div>

        {embed="inbcludes/menu-offcanvas"}

    <section id="courses">
      <div class="row">

        <div class="total_padding medium-12 large-12 columns">  

          <div class="row">
            <div class="large-12 columns">
              <div id="forum_header">
                <div class="row">
                  <div class="medium-2 large-1 columns">
                    <span class="icon-book"></span>
                  </div>
                  <div class="medium-10 large-11 columns"> 
                    <h3>LISTA DE RECURSOS</h3>
                    <h5>Usa estos recursos para complementar tu formación académica.</h5>
                  </div>
<!--                   <div class="hide-for-small medium-2 large-2 columns">
                    <div class="text-center">
                      <h3 id="comment_number">30</h3>
                      <span>COMENTARIOS</span>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="large-12 columns">
              <div class="resources_list">
                <div class="resources_item">
                  <div class="row">
                    <div class="medium-1 large-1 columns">
                      <img src="img/mit.png" alt="">
                    </div>
                    <div class="medium-11 large-11 columns">
                      <h5>Browse, download, and share patterns</h5>
                      <span>thepatternlibrary.com</span>
                    </div>
                  </div>
                </div>
                <div class="resources_item">
                  <div class="row">
                    <div class="medium-1 large-1 columns">
                      <img src="img/mit.png" alt="">
                    </div>
                    <div class="medium-11 large-11 columns">
                      <h5>Animating CSS Shapes with CSS Animations & Transitions</h5>
                      <span>thepatternlibrary.com</span>
                    </div>
                  </div>
                </div>
                <div class="resources_item">
                  <div class="row">
                    <div class="medium-1 large-1 columns">
                      <img src="img/mit.png" alt="">
                    </div>
                    <div class="medium-11 large-11 columns">
                      <h5>CSS Level 4 And More: What’s Coming In 2014</h5>
                      <span>demosthenes.info</span>
                    </div>
                  </div>
                </div>
                <div class="resources_item">
                  <div class="row">
                    <div class="medium-1 large-1 columns">
                      <img src="img/mit.png" alt="">
                    </div>
                    <div class="medium-11 large-11 columns">
                      <h5>Easily Build Code-Free iOS Prototypes With Flinto</h5>
                      <span>demosthenes.info</span>
                    </div>
                  </div>
                </div>
                <div class="resources_item">
                  <div class="row">
                    <div class="medium-1 large-1 columns">
                      <img src="img/mit.png" alt="">
                    </div>
                    <div class="medium-11 large-11 columns">
                      <h5>Browse, download, and share patterns</h5>
                      <span>thepatternlibrary.com</span>
                    </div>
                  </div>
                </div>
                <div class="resources_item">
                  <div class="row">
                    <div class="medium-1 large-1 columns">
                      <img src="img/mit.png" alt="">
                    </div>
                    <div class="medium-11 large-11 columns">
                      <h5>Animating CSS Shapes with CSS Animations & Transitions</h5>
                      <span>thepatternlibrary.com</span>
                    </div>
                  </div>
                </div>
                <div class="resources_item">
                  <div class="row">
                    <div class="medium-1 large-1 columns">
                      <img src="img/mit.png" alt="">
                    </div>
                    <div class="medium-11 large-11 columns">
                      <h5>CSS Level 4 And More: What’s Coming In 2014</h5>
                      <span>demosthenes.info</span>
                    </div>
                  </div>
                </div>
                <div class="resources_item">
                  <div class="row">
                    <div class="medium-1 large-1 columns">
                      <img src="img/mit.png" alt="">
                    </div>
                    <div class="medium-11 large-11 columns">
                      <h5>Easily Build Code-Free iOS Prototypes With Flinto</h5>
                      <span>demosthenes.info</span>
                    </div>
                  </div>
                </div>
              </div>

              
              <div class="row">
                <div class="large-2 large-centered columns">
                  <a href="#" class="more button expand">VER MÁS</a>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      {embed="includes/footer-direccion"} 
    </section>

    {embed="includes/footer-interno"}